{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "extends": [
    "eslint:recommended", 
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "eslint-plugin-prettier"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "prettier/prettier": "error",
    "no-console": "off",
    "endOfLine": "off"
  }
}
