# Build Files
Makefile
build
dist/
*.map

# CSS min files
*.min.css

# Non-CSS
*.js
*.html
*.md 
*.patch

# NPM
node_modules/
package-lock.json
yarn.lock

# yarn
yarn.lock

# Misc
.DS_Store
.*.swp
*.bak
.vscode/
