{
  "formatter": "verbose",
  "fix": true,
  "extends": ["stylelint-config-property-sort-order-smacss", "stylelint-prettier/recommended"],
  "verbose": true,
  "rules": {
    "alpha-value-notation": "number",
    "color-function-notation": null,
    "color-no-hex": true,
    "custom-property-pattern": null,
    "declaration-block-no-duplicate-custom-properties": null,
    "declaration-block-no-duplicate-properties": [true, { "ignore": ["consecutive-duplicates-with-different-values"] }],
    "declaration-colon-newline-after": null,
    "indentation": null,
    "max-line-length": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "property-no-vendor-prefix": null,
    "number-max-precision": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-not-notation": "complex",
    "unit-disallowed-list": ["px"],
    "value-list-comma-newline-after": null,
    "value-keyword-case": null
  }
}
