@@[[include :kaktuskontainer:component:newscptheme]]@@
[[/div]]

----

This theme is a work in progress.

The theme on this page is fine if you want to include it on your article. It's definitely workable.

For the latest development version of this theme, check here:

http://scptestwiki.wikidot.com/component:theme

-----

+ Examples

[[include component:image-block name= nothing.png|caption=Someone upload a sample image please|width=200px]]

A horizontal rule can be created with 4 hyphens or more "@@----@@" and extends across the whole page if it's not placed inside anything (eg a blockquote).

Titles can be created by putting between one and six plus "+" at the start of the line

[[collapsible show="+ Titles" hide="- Titles"]]
+ First Title

++ Second Title

+++ Third Title

++++ Fourth Title

+++++ Fifth Title

++++++ Sixth Title
[[/collapsible]]

@@ @@

[[tabview]]
[[tab Tabulator]]
This is a tab view.

The text you're currently reading is in a tab.
[[/tab]]
[[tab Tabulation]]
Hey look, more text here.

How quaint.
[[/tab]]
[[tab Long Tab]]
This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.

This is a long tab. It contains a lot of text.
[[/tab]]
[[tab Empty Tab]]
[[/tab]]
[[tab Empty Tab]]
[[/tab]]
[[tab Empty Tab]]
[[/tab]]
[[tab Empty Tab]]
[[/tab]]
[[tab Empty Tab]]
[[/tab]]
[[tab Empty Tab]]
[[/tab]]
[[/tabview]]

> This is a blockquote, created by putting "> " at the start of each line.
> 
> More text
> -----
> That's a horizontal rule
> 
>> Nested blockquotes

||~ This is a ||~ table ||
||You should know || how to make these ||
||||already ||

-----

+ Codebase

[[code type="css"]]
@charset "utf-8";

@import url(http://kaktuskontainer.wdfiles.com/local--files/component%3Anewscptheme/normalize.css);
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:400,700,900|PT+Mono');

/*  nu-SCP
    [2019 Wikidot Theme]
    Designed by djkaktus & Woedenaz
    Built by Woedenaz & Aers & Croquembouche 
 */

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.5;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #FCB3B3;
    text-shadow: none;
}

::selection {
    background: #FCB3B3;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 0.0625rem;
    border: 0;
    border-top: 0.0625rem solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-image: -webkit-linear-gradient(bottom left,rgba(69, 41, 36, 1) 20%, rgb(78, 0, 12) 55%, rgb(127, 0, 20) 100%), -webkit-linear-gradient(top, rgba(0,0,0,1) 7.5rem, rgba(66,66,66,1) 7.5625rem, rgba(66,66,66,1) -webkit-calc(100% - 0.125rem), rgba(0,0,0,1) -webkit-calc(100% - 0.125rem), rgba(0,0,0,1) 100%);
    background-image: -webkit-gradient(linear,left bottom, right top,color-stop(20%, rgba(69, 41, 36, 1)), color-stop(55%, rgb(78, 0, 12)), to(rgb(127, 0, 20))), -webkit-gradient(linear, left top, left bottom, color-stop(7.5rem, rgba(0,0,0,1)), color-stop(7.5625rem, rgba(66,66,66,1)), color-stop(rgba(66,66,66,1)), color-stop(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
    background-image: -o-linear-gradient(bottom left,rgba(69, 41, 36, 1) 20%, rgb(78, 0, 12) 55%, rgb(127, 0, 20) 100%), -o-linear-gradient(top, rgba(0,0,0,1) 7.5rem, rgba(66,66,66,1) 7.5625rem, rgba(66,66,66,1) calc(100% - 0.125rem), rgba(0,0,0,1) calc(100% - 0.125rem), rgba(0,0,0,1) 100%);
    background-image: linear-gradient(to top right,rgba(69, 41, 36, 1) 20%, rgb(78, 0, 12) 55%, rgb(127, 0, 20) 100%), linear-gradient(to bottom, rgba(0,0,0,1) 7.5rem, rgba(66,66,66,1) 7.5625rem, rgba(66,66,66,1) calc(100% - 0.125rem), rgba(0,0,0,1) calc(100% - 0.125rem), rgba(0,0,0,1) 100%);
    -webkit-background-size: 100% 7.5rem, 100% 9.375rem;
            background-size: 100% 7.5rem, 100% 9.375rem;
    background-repeat: no-repeat;
    color: rgb(85,85,85) !important;
}

p,
span,
div,
li {
    font-family: 'Martel Sans', sans-serif;
                    -webkit-font-kerning: auto;
                            font-kerning: auto;
    orphans: 2;
                    -webkit-hyphens: auto;
                       -moz-hyphens: auto;
                        -ms-hyphens: auto;
                            hyphens: auto;
    word-break: break-word;
    text-rendering: optimizeLegibility;
}

.code {
    background-color: #f6f6f6;
}

.code *,
pre * {
    font-family: 'PT Mono', 'Andale Mono', 'Courier New', Courier, monospace;
    max-width: 90vw;
    white-space: pre-wrap;
}

#container {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                       -moz-box-orient: vertical;
                       -moz-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

#container,#content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

#content-wrap {
    margin: 2em auto 0;
    width: inherit;
    min-height: 81.25rem;
    position: initial;
}

h1,
#page-title {
    color: #000000;
    padding: 0 0 0.25em;
    margin: 0 0 0.6em;
    font-weight: 600;
}

div#container-wrap {
    background: none;
}

sup {

    vertical-align: top;
    position: relative;
    top: -0.5em;
}

textarea {
    line-height: 1.5;
}

h1 {
    margin-top: 0.7em;
    padding: 0;
    font-weight: bold;
}

h2,
h3,
h4,
h5,
h6,
h7 {
    margin: 0.5em 0 0.4em;
    padding: 0;
    letter-spacing: 0.0625rem;
}

#page-title {
    border-color: #bbb;
}

ul {
    /* list-style-image: url(http://d3g0gp89917ko0.cloudfront.net/v--3b8418686296/common--theme/shiny/images/bullet.gif); */
    list-style: square;
}

#top-bar ul {
    /* list-style-image: none; /* IE ONLY! IF list-style-image IS SET */
}

a {
    color: rgb(218, 13, 13);
}

a,a.newpage {
    text-decoration: none;
    background: transparent;
}

a.newpage {
    color: rgb(163, 204, 199);
}

a:hover {
    text-decoration: underline;
    background-color: transparent;
}

a:visited {
    color: #2e0000;
}

text-area {
    line-height: normal;
}

.form-control {
    width: 95%;
}

.title.modal-header,.owindow {
    background-color: #fff;
}

.page-rate-widget-box {
    overflow: hidden;
    padding: 0.25rem 0 0.25rem 0;
    -webkit-border-radius: 0.3125rem;
            border-radius: 0.3125rem;
}

/* GLOBAL WIDTH */
#header,
#top-bar {
    max-width: 61.25rem;
    margin: 0.625rem auto;
    font-weight: 600;
    background: none;
}

#header > h1 > a > span {
    position: relative;
    display: inline-table;
    width: 25rem;
    height: 5.75rem;
    z-index: 9999;
    left: -23rem;
    top: -2rem;
}

.mobile-top-bar {
    position: relative;
    left: 1em;
    bottom: 0;
    z-index: 9999;
}

.mobile-top-bar,.mobile-top-bar > div > p {
    display: none;
}

.info-container .collapsible-block-link,
.info-container:hover .collapsible-block-link {
    line-height: 1.6em;
}

body {
    background-color: #fcfcfc;
    font-size: 0.80em;
    color: #000000;
}

/* HEADER */
#header {
    width: 90%;
    height: 4.375rem;
    position: relative;
    z-index: 10;
}

#header h1 {
margin-top: 0.7em;
margin-bottom: -0.7em;
}

#header h1,
#header h2 {
    font-family: 'Martel Sans', sans-serif !important;
    margin-left: 6.75rem;
    font-weight: 900;
    text-transform: uppercase;
}

#header h2 {
    margin-top: 1.5em;
    margin-bottom: -0.5em;
}

#header h1 a {
    font-family: 'Martel Sans', sans-serif !important;
}

#header-extra-div-2 {
    content: " ";
    position: absolute;
    top: 0;
    background: url(http://kaktuskontainer.wdfiles.com/local--files/component%3Anewscptheme/logo.svg) 0.625rem 2.5rem no-repeat;
    background-position: center left;
    background-clip: border-box;
    -webkit-background-size: contain;
            background-size: contain;
    z-index: 9999;
    margin-top: 0.625rem;
    height: 5rem;
    width: 100%;
    pointer-events: none;
}

#search-top-box {
    display: infline-flex;
    position: absolute;
    top: 70%;
    right: -2%;
    width: 15.625rem;
    text-align: center;
}

#search-top-box-input {
    border: solid 0.0625rem #000000;
    -webkit-border-radius: 0.0625rem;
            border-radius: 0.0625rem;
    color: #fff;
    background-color: #424242 !important;
}

#search-top-box-input:hover,
#search-top-box-input:focus {
    background: #424242 !important;
}

#search-top-box-input:hover,
#search-top-box-input:focus,#search-top-box-form input[type=submit] {
    border: solid 0.0625rem #000;
    -webkit-border-radius: 0.0625rem;
            border-radius: 0.0625rem;
    color: #fff;
}

#search-top-box-form input[type=submit] {
    padding: 0.1875rem 0.3125rem 0.125rem;
    font-size: 90%;
    cursor: pointer;
}

#search-top-box-form input[type=submit],#search-top-box-form input[type=submit]:hover,
#search-top-box-form input[type=submit]:focus {
    background: #590505 !important;
                    -webkit-box-shadow: none !important;
                            box-shadow: none !important;
}

#search-top-box-form input[type=submit]:hover,
#search-top-box-form input[type=submit]:focus {
    border: solid 0.0625rem #000;
    -webkit-border-radius: 0.0625rem;
            border-radius: 0.0625rem;
    color: #fff;
    text-shadow: 0 0 0.0625rem rgba(255, 255, 255, .25);
}

#login-status {
    color: #fff;
    font-size: 90% !important;
    z-index: 10000;
    right: 1em;
    top: 1em;
}

#login-status a {
    background-color: transparent;
    color: #fff;
}

#login-status ul a {
    color: #000;
    background-color: transparent;
}

#account-topbutton {
    background: #C0C0C0;
    color: #000000;
}

.printuser img.small {
    margin-right: 0.0625rem;
}

#header h1 {
    max-height: 5.9375rem;
}

#header h1 a {
    display: block;
    content: "The SCP Foundation";
    margin: 0;
    padding: 1.875rem 0 0;
    line-height: 0;
    max-height: 0;
    color: transparent;
    background: transparent;
    font-size: 100%;
    text-decoration: none;
    text-shadow: none;
    z-index: 9999;
}

#header h1 a::before {
    content: "The SCP Foundation";
    color: #fff;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #000000;
}

#header h2 span {
    display: block;
    padding: 1.875rem 0 0;
    padding: 1.1875rem 0;
    line-height: 0;
    max-height: 0;
    font-weight: normal;
    color: transparent;
    text-shadow: none;
}

#header h2 span::before {
    content: 'Secure, Contain, Protect';
    color: #fafafa;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #000000;
    width: 100vw;
}

/* TOP MENU */
#top-bar {
    width: 100%;
    margin: 1.875rem 0;
    padding: 0 0 0.25em 0;
    position: initial;
    z-index: 50;
    height: auto;
    line-height: 1.25rem;
    font-size: 90%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

#top-bar ul {
    float: right;
}

#top-bar li {
    margin: 0;
}

#top-bar a {
    color: #fff;
    background: transparent;
}

#top-bar ul li {
    border: 0;
    position: relative;
}

#top-bar ul li ul {
    border: solid 0.0625rem #000;
                    -webkit-box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, .5);
                            box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, .5);
    border-top: 0;
}

#top-bar ul li a {
    border-left: solid 0.0625rem rgba(64, 64, 64, .1);
    border-right: solid 0.0625rem rgba(64, 64, 64, .1);
    text-decoration: none;
    padding-top: 0.5625rem;
    padding-bottom: 0.625rem;
    line-height: 0.0625rem;
    max-height: 0.0625rem;
    overflow: hidden;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
    background: #C0C0C0;
    color: #000;
    border-left: solid 0.0625rem rgba(64, 64, 64, 1);
    border-right: solid 0.0625rem rgba(64, 64, 64, 1);
}

#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
    border-width: 0;
    width: 9.375rem;
    border-top: 0.0625rem solid #ddd;
    line-height: 160%;
    height: auto;
    max-height: none;
    padding-top: 0;
    padding-bottom: 0;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
    background: #dedede;
}

#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
    background: #C0C0C0;
    text-decoration: none;
}

#top-bar ul li ul {
    border-width: 0 0.0625rem 0.0625rem 0.0625rem;
    width: auto;
}

#top-bar ul li ul li,
#top-bar ul li ul li.sfhover,
#top-bar ul li ul li,
#top-bar ul li ul li:hover,#top-bar ul li ul li a {
    border-width: 0;
}

#top-bar ul li ul a,
#top-bar a:hover {
    color: #a01;
}

.top-bar ul li:last-of-type ul {
    right: 0;
}

/* Woedenaz Flex Boxes */

#top-bar .top-bar,
#top-bar .top-bar > ul,
#top-bar .top-bar > ul > li > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 20;
}

#top-bar .top-bar {
            -webkit-align-content: stretch;
                -ms-flex-line-pack: stretch;
                    align-content: stretch;
            -webkit-justify-content: space-around;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
}

#top-bar .top-bar > ul {
    width: 90vw;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: row;
                       -moz-box-orient: horizontal;
                       -moz-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                       -moz-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: stretch;
                    -webkit-align-items: stretch;
                       -moz-box-align: stretch;
                        -ms-flex-align: stretch;
                            align-items: stretch;
    max-width: 61.250rem;
    height: auto;
    z-index: 20;
}

#top-bar .top-bar > ul > li > a,
#top-bar .mobile-top-bar > ul > li > a {
    white-space: pre;
    padding-top: 1.25em;
}

#top-bar .top-bar > ul > li,
#top-bar .top-bar > ul > li > a,
#top-bar .mobile-top-bar > ul,
#top-bar .mobile-top-bar > ul > li,
#top-bar .mobile-top-bar > ul > li > a {
    width: auto;
                    -webkit-box-flex: 2;
                    -webkit-flex-grow: 2;
                       -moz-box-flex: 2;
                        -ms-flex-positive: 2;
                            flex-grow: 2;
            -webkit-flex-shrink: 2;
                -ms-flex-negative: 2;
                    flex-shrink: 2;
}

#top-bar .top-bar > ul > li > ul,
#top-bar .mobile-top-bar > ul > li > ul {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                       -moz-box-orient: vertical;
                       -moz-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
    margin-top: 0;
}

#top-bar .top-bar > ul > li > ul > li > a,
#top-bar .mobile-top-bar > ul > li > ul > li > a {
    white-space: pre-wrap;
    line-height: 140%;
    padding: 0.5em 1em !important;
}

/* attempt at a menu by woedenaz

#top-bar .top-bar > ul > li > ul {
    position: fixed;
    width: 60vw;
    top: 11em;
    left: 20vw;
    right: 0;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    font-size: 1.15em;
}

#top-bar ul li ul li, 
#top-bar ul li ul li.sfhover, 
#top-bar ul li ul li, 
#top-bar ul li ul li:hover {
    position: initial;
    left: 0;
    height: auto;
    align-self: center;
    border: 1px solid rgba(48, 7, 7, 1);
    box-sizing: border-box;
    display: block;
    padding: 1.5em 1em !important;
    background: #dedede;
    flex-grow: 2;
    cursor: pointer;
}

#top-bar ul li.sfhover , #top-bar ul li:hover {
    background: #C0C0C0;
    text-decoration: none;
|

#top-bar .top-bar > ul > li > ul > li > a {
    text-align: center;
    border-top: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    align-self: center;
    align-items: center;
}
 */

/* IE7 HACK */
#top-bar ul > li > ul {
    *margin-top: -0.25rem;
}

/* SIDE MENU */
#side-bar {
    clear: none;
    float: none;
    position: initial;
    width: 17em;
    padding: 2.5em 0 0 0;
    margin: 1em 0 0 1em;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                       -moz-box-orient: vertical;
                       -moz-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
    background: transparent;
            -webkit-flex-basis: 13.5rem;
                -ms-flex-preferred-size: 13.5rem;
                    flex-basis: 13.5rem;
            -webkit-flex-shrink: 0.1;
                -ms-flex-negative: 0.1;
                    flex-shrink: 0.1;
}

#side-bar img {
                    -webkit-filter: hue-rotate(210deg);
                            filter: hue-rotate(210deg);
    /* Safari 6.0 - 9.0 */
                    -webkit-filter: brightness(120%);
                            filter: brightness(120%);
}

#side-bar > div:nth-child(3) {
    background-color: rgba(178, 248, 243, 0.25) !important;
}

#side-bar > div:nth-child(5) {
    background-color: rgba(118, 97, 80, 0.2) !important;
}

#side-bar > div:nth-child(6) {
    background-color: rgba(204, 104, 104, 0.15) !important;
}

#side-bar > div:nth-child(7) {
    background-color: rgba(163, 204, 199, 0.25) !important;
}

#side-bar div.side-block:nth-child(7) > div:nth-child(1) > div:nth-child(1) img {
                    -webkit-filter: none;
                            filter: none;
}

#side-bar .side-block {
    border: 0.0625rem solid #000000;
    -webkit-border-radius: 0.25vw;
            border-radius: 0.25vw;
                    -webkit-box-shadow: 0 0.125rem 0.375rem #c0c0c0;
                            box-shadow: 0 0.125rem 0.375rem #c0c0c0;
    background: #fff;
    margin-bottom: 0.9375rem;
}

#side-bar .side-block,#side-bar .side-area {
    padding: 0.625rem;
}

#side-bar .heading {
    color: #000000;
    border-bottom: solid 0.0625rem #000000;
    padding-left: 0.9375rem;
    margin-top: 0.625rem;
    margin-bottom: 0.3125rem;
    font-size: 8pt;
    font-weight: bold;
}

#side-bar p {
    margin: 0;
}

#side-bar div.menu-item {
    margin: 0.125rem 0;
}

#side-bar div.menu-item img {
    width: 0.8125rem;
    height: 0.8125rem;
    border: 0;
    margin-right: 0.125rem;
    position: relative;
    bottom: -0.125rem;
}

#side-bar div.menu-item a {
    font-weight: bold;
}

#side-bar div.menu-item.inactive img {
    opacity: 0.25;
}

#side-bar div.menu-item.inactive a {
    color: #d20000;
}

#side-bar div.menu-item .sub-text {
    font-size: 80%;
    color: #d20000;
}

#side-bar div.menu-item.sub-item {}

#side-bar .collapsible-block-folded {
    background: none;
}

#side-bar .collapsible-block-link {
    margin-left: 0.9375rem;
    font-weight: bold;
}

#side-bar .collapsible-block-unfolded-link {
    border-bottom: solid 0.0625rem #000000;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link {
    margin-top: 0.625rem;
    margin-bottom: 0.3125rem;
    font-size: 8pt;
    color: #d20000;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
    color: #b01;
    text-decoration: none;
}

#side-bar ul {
    list-style-type: none;
    padding: 0 0.3125rem 0;
}

#side-bar a:visited {
    color: #d20000;
}

#side-bar div.side-block:nth-child(7) > div:nth-child(1) > div:nth-child(1) img {
                    -webkit-filter: none;
                            filter: none;
}

/* CONTENT */
#main-content {
    margin: 2.5em 0 0 1em;
    padding: 1em;
            -webkit-flex-basis: 47.188rem;
                -ms-flex-preferred-size: 47.188rem;
                    flex-basis: 47.188rem;
    max-width: 47.188rem
}

/* ACTUALLY HIDE HIDDEN TAGS */
#main-content .page-tags a[href^="/system:page-tags/tag/_"] {
    display: none;
}

#breadcrumbs {
    margin: -1em 0 1em;
    font-weight: 85%;
}

/* YUI-TABS */
.yui-navset .yui-content {
    background-color: #f5f5f5;
}

.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
    background-color: #d8d8d8;
    background-image: url(http://d3g0gp89917ko0.cloudfront.net/v--3b8418686296/common--theme/shiny/images/yuitabs.png);
}

.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a:focus,
/* no focus effect for selected */
.yui-navset .yui-nav .selected a:hover {
    /* no hover effect for selected */
    background: #700 url(http://d3g0gp89917ko0.cloudfront.net/v--3b8418686296/common--theme/shiny/images/yuitabs.png) repeat-x left -87.5rem;
    /* selected tab background */
    color: #fff;
}

.yui-navset .yui-nav a:hover,
.yui-navset .yui-nav a:focus {
    background: #d88 url(http://d3g0gp89917ko0.cloudfront.net/v--3b8418686296/common--theme/shiny/images/yuitabs.png) repeat-x left -81.25rem;
    text-decoration: none;
}

.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav,.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
    border-color: #444;
}

.yui-navset li {
    line-height: normal;
}

.footnote-footer {
    padding-bottom: 1em;
}

/* FOOTER */
#footer {
    clear: both;
    font-size: 77%;
    background: #444;
    color: #bbb;
    margin-top: 0.9375rem;
    padding: 0.1875rem 0.625rem;
}

#footer .options {
    visibility: visible;
    display: block;
    float: right;
    width: 50%;
    font-size: 100%;
    text-align: right;
}

#footer a {
    color: #fff;
    background: transparent;
}

/* SOME NICE BOXES */
div.sexy-box {
    background: #eee;
    border: 0.0625rem solid #ccc;
    padding: 0 0.625rem 0.75rem;
    margin: 0.4375rem 0.25rem 0.75rem;
    overflow: hidden;
}

div.sexy-box div.image-container img {
    margin: 0.3125rem;
    padding: 0.125rem;
    border: 0.0625rem solid #999;
}

/* Custom page content classes */
#page-content {
    min-height: 45rem;
    max-width: 90vw;
}

.unmargined > p {
    margin: 0;
    line-height: 100%;
}

.content-panel {
    border: solid 0.0625rem #888880;
    -webkit-border-radius: 0.625rem;
            border-radius: 0.625rem;
    background-color: #999990;
    margin: 0.625rem 0 0.9375rem;
                    -webkit-box-shadow: 0.1875rem 0.1875rem 0.375rem #bbb;
                            box-shadow: 0.1875rem 0.1875rem 0.375rem #bbb;
                    -webkit-box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.5), inset 0 0.0625rem rgba(255, 255, 255, 0.3), inset 0 0.625rem rgba(255, 255, 255, 0.2), inset 0 0.625rem 1.25rem rgba(255, 255, 255, 0.25), inset 0 -0.9375rem 1.875rem rgba(0, 0, 0, 0.1);
                            box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.5), inset 0 0.0625rem rgba(255, 255, 255, 0.3), inset 0 0.625rem rgba(255, 255, 255, 0.2), inset 0 0.625rem 1.25rem rgba(255, 255, 255, 0.25), inset 0 -0.9375rem 1.875rem rgba(0, 0, 0, 0.1);
}

.content-panel.standalone {
    background: #fcfdfb;
}

.content-panel.series {
    padding: 0 1.25rem;
    margin-bottom: 1.25rem;
}

.content-panel.centered {
    text-align: center;
}

.content-panel.left-column {
    float: left;
    width: 48%;
}

.content-panel.right-column {
    float: right;
    width: 48%;
}

.content-panel .panel-heading {
    padding: 0.125rem 0.625rem;
    color: #ffffff;
    font-size: 90%;
    font-weight: bold;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, .35);
}

.content-panel .panel-heading > p,
.content-panel .panel-footer > p {
    margin: 0;
}

.content-panel .panel-body {
    padding: 0.3125rem 0.625rem;
    background: #C0C0C0;
}

.content-panel .panel-footer {
    padding: 0.0625rem 0.625rem;
    color: #C0C0C0;
    font-size: 80%;
    font-weight: bold;
    text-align: right;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, .5);
}

.content-panel .panel-footer a {
    color: #C0C0C0;
}

.content-panel .content-toc {
    float: right;
    padding: 0 1.25rem;
    background-color: #C0C0C0;
    border: solid 0.0625rem #ccc;
    -webkit-border-radius: 0.625rem;
            border-radius: 0.625rem;
    margin: 1.25rem 0 0.3125rem 0.3125rem;
    white-space: nowrap;
                    -webkit-box-shadow: inset 0.0625rem 0.125rem 0.375rem rgba(0, 0, 0, .15);
                            box-shadow: inset 0.0625rem 0.125rem 0.375rem rgba(0, 0, 0, .15)
}

.alternate:nth-child(even) {
    background-color: rgba(255, 255, 255, .9);
}

/* Page Rating Module Customizations */
.page-rate-widget-box {
    display: inline-block;
    -webkit-border-radius: 0;
            border-radius: 0;
                    -webkit-box-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, .5);
                            box-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, .5);
    margin-bottom: 0.625rem;
    margin-right: 2em;
}

.page-rate-widget-box .rate-points {
    background-color: #590505 !important;
    border: solid 0.0625rem #000;
    border-right: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    color: #fff;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
    background-color: #590505;
    border-top: solid 0.0625rem #000;
    border-bottom: solid 0.0625rem #000;
    font-weight: bold;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
    background-color: #590505;
    color: #fff;
    padding: 0 0.25rem;
    margin: 0 0.0625rem;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
    background-color: #6c1616;
    color: #fff;
    text-decoration: none;
}

.page-rate-widget-box .cancel {
    background-color: #590505;
    border: solid 0.0625rem #000;
    border-left: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
}

.page-rate-widget-box .cancel a {
    background: transparent;
    text-transform: uppercase;
    color: #fff;
}

.page-rate-widget-box .cancel a:hover {
    -webkit-border-radius: 0 0.1875rem 0.1875rem 0;
            border-radius: 0 0.1875rem 0.1875rem 0;
    background-color: #6c1616;
    color: #fff;
    text-decoration: none;
}

/* Heritage Collection Rating Module */
.heritage-rating-module {
    display: inline-block;
    background-color: #633;
    padding: 0.125rem 0.5rem 0.125rem 0.3125rem;
    border: solid 0.0625rem #ccc066;
    -webkit-border-radius: 0.5rem;
            border-radius: 0.5rem;
                    -webkit-box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, .25);
                            box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, .25);
    margin-right: 2em;
    margin-bottom: 0.625rem;
}

.heritage-rating-module .page-rate-widget-box {
                    -webkit-box-shadow: none;
                            box-shadow: none;
    margin-bottom: 0;
    margin-right: 0;
}

.heritage-rating-module .heritage-emblem {
    float: left;
    position: relative;
    top: -0.125rem;
    left: 0.125rem;
    height: 1rem;
    width: 1rem;
    overflow: visible;
    margin-right: 0.125rem;
}

.heritage-rating-module .heritage-emblem img {
    width: 1.25rem;
    height: 1.25rem;
    border: 0;
}

/* Fixes for multi-line page tags */

#main-content .page-tags {
    margin: 1em 0 0;
    padding: 0;
}

#main-content .page-tags span {
    display: inline-block;
    padding: 0;
    max-width: 60%;
}

#main-content .page-tags a {
    display: inline-block;
    white-space: nowrap;
}

/* Standard Image Block */
.scp-image-block {
    border: solid 0.0625rem #000;
                    -webkit-box-shadow: 0 0.0625rem 0.375rem rgba(0, 0, 0, .25);
                            box-shadow: 0 0.0625rem 0.375rem rgba(0, 0, 0, .25);
    width: 18.75rem;
}

.scp-image-block.block-right {
    float: right;
    clear: right;
    margin: 0 2em 1em 2em;
}

.scp-image-block.block-left {
    float: left;
    clear: left;
    margin: 0 2em 1em 0;
}

.scp-image-block.block-center {
    margin-right: auto;
    margin-left: auto;
}

.scp-image-block img {
    border: 0;
    min-width: 100%
}

.scp-image-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-flow: column nowrap;
                       -moz-box-orient: vertical;
                       -moz-box-direction: normal;
                        -ms-flex-flow: column nowrap;
                            flex-flow: column nowrap;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                       -moz-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
}

.scp-image-block,.scp-image-caption {
    min-width: 100%;
}

.scp-image-block .scp-image-caption {
    background-color: #C0C0C0;
    border-top: solid 0.0625rem #000;
    padding: 0.125rem 0;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
}

.scp-image-block > p {
    margin: 0;
}

.scp-image-block .scp-image-caption > p {
    margin: 0;
    padding: 0 0.625rem;
}

div.block-right,
div.block-left {
    min-width: 20%;
}

/* Wikiwalk Navigation */
.footer-wikiwalk-nav {
    font-weight: bold;
    font-size: 75%;
}

/* Forum Customizations */
.forum-thread-box .description-block {
    padding: .5em 1em;
    -webkit-border-radius: 0.625rem;
            border-radius: 0.625rem;
                    -webkit-box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, .15),
        inset 0 0.0625rem 0 rgba(255, 255, 255, .8),
        inset 0 0.625rem 0.3125rem rgba(255, 255, 255, .25),
        inset 0 -0.9375rem 1.875rem rgba(0, 0, 0, .1);
                            box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, .15),
        inset 0 0.0625rem 0 rgba(255, 255, 255, .8),
        inset 0 0.625rem 0.3125rem rgba(255, 255, 255, .25),
        inset 0 -0.9375rem 1.875rem rgba(0, 0, 0, .1)
}

.thread-container .post .head {
    padding: 0.5em 1em;
    background-color: #eee;
    background: -webkit-gradient(linear, left top, right top, from(#eee), to(#eeecec));
    background: -webkit-linear-gradient(left, #eee, #eeecec);
    background: -o-linear-gradient(left, #eee, #eeecec);
    background: linear-gradient(to right, #eee, #eeecec);
                    -webkit-box-shadow: inset 0.125rem 0.1875rem 0.375rem rgba(0, 0, 0, .15);
                            box-shadow: inset 0.125rem 0.1875rem 0.375rem rgba(0, 0, 0, .15);
    -webkit-border-radius: 0.3125rem 0.3125rem 0 0;
            border-radius: 0.3125rem 0.3125rem 0 0;
}

/* Hide Forum Signatures */
.signature {
    display: none !important;
}

/* Ruby by Nanimono Demonai */

.ruby,
ruby {
    display: inline-table;
    line-height: 1;
    height: 1em;
    vertical-align: text-bottom;
}

.ruby,
ruby,.rt,
rt {
    text-align: center;
    white-space: nowrap;
}

.rt,
rt {
    display: table-header-group;
    font-size: 0.6em;
    line-height: 1.1;
}

/* Keycap */

.keycap {
    border: 0.0625rem solid;
    border-color: #ddd #bbb #bbb #ddd;
    border-bottom-width: 0.125rem;
    -webkit-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
    background-color: #f9f9f9;
    padding: 0.0625rem 0.1875rem;
    font-family: inherit;
    font-size: 0.85em;
    white-space: nowrap;
}

/* tag style */

.tags {
    display: inline-block;
    margin: 0 0 0 0.3125rem;
    padding: 0.1875rem 0.3125rem 0.1875rem 0;
    height: 0.8125rem;
    line-height: 0.8125rem;
    font-size: 0.6875rem;
    background: #666;
    color: #fff;
    text-decoration: none;
    -webkit-border-bottom-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
    -webkit-border-top-right-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
}

.tags:before {
    padding: 0 0.0625rem 0.1875rem 0.0625rem;
    top: -0.1875rem;
    left: -0.625rem;
    width: 0;
    height: 0;
    border-color: transparent #666 transparent transparent;
    border-style: solid;
    border-width: 0.5rem 0.5rem 0.5rem 0;
}

.tags:before,.tags:after {
    content: "";
    float: left;
    position: relative;
}

.tags:after {
    top: 0.28125rem;
    left: -0.5rem;
    width: 0.25rem;
    height: 0.25rem;
    -webkit-border-radius: 0.125rem;
            border-radius: 0.125rem;
    background: #fff;
                    -webkit-box-shadow: -0.0625rem -0.0625rem 0.125rem #333;
                            box-shadow: -0.0625rem -0.0625rem 0.125rem #333;
}

/* Display Black Block by Nanimono Demonai */
.bblock {
    color: #000000;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.bblock,.bblock:hover {
    background-color: #000000;
    text-decoration: none;
}

.bblock:hover {
    color: #006600;
}

.dblock {
    color: #000000;
    background-color: #000000;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.dblock,.dblock:hover {
    text-decoration: none;
}

.dblock:hover {
    background-color: transparent;
}

/*
    2011-11-13 Minobe Hiroyuki @ Marguerite Site
    www.marguerite.jp/Nihongo/WWW/CSSTips/EmphasizeDots-CSS3.html
    Edited for the SCP Foundation by Nanimono_Demonai
*/

.emph {
                    -webkit-text-emphasis-style: dot;
                            text-emphasis-style: dot;
}

/* For FireFox */
@document url-prefix() {
    .emph {
        /* For the environments which comply with CSS3. */
        font-family: monospace;
        font-style: normal;
        font-weight: normal;
        background-image: url(http://www.kaktuskontainer.wikidot.com/local--files/component%3Atheme/dot.png), none;
        background-repeat: repeat-x;
        padding: 0.5em 0 0;
        background-color: transparent;
        background-clip: padding-box, content-box;
        -webkit-background-size: 1em 1.3em, auto;
                background-size: 1em 1.3em, auto;
    }
}

/* For IE10 */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .emph {
        /* For the environments which comply with CSS3. */
        font-family: monospace;
        font-style: normal;
        font-weight: normal;
        background-image: url(http://www.kaktuskontainer.wikidot.com/local--files/component%3Atheme/dot.png), none;
        background-repeat: repeat-x;
        padding: 0.5em 0 0;
        background-color: transparent;
        background-clip: padding-box, content-box;
        -webkit-background-size: 1em 1.3em, auto;
                background-size: 1em 1.3em, auto;
    }
}

/* viewport */

@-ms-viewport {
    width: device-width;
    zoom: 1.0;
}

@-o-viewport {
    width: device-width;
    zoom: 1.0;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

/* IE viewport */

/* opera viewport */

/* chrome viewport - maybe it isn't work... */

/* firefox viewport - maybe it isn't work too... */

/* webkit scrollbar */
::-webkit-scrollbar {
    width: 0.5625rem;
    /* for vertical scrollbars */
    height: 0.5625rem;
    /* for horizontal scrollbars */
    border: solid 0.0625rem rgba(0, 0, 0, 0.1);
    border-round: 0.03125rem;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(175, 175, 175, 0.4);
}

.page-source {
    word-break: break-all;
}

/* Responsive Web Design */

img,
embed,
video,
object,
iframe,
table,#page-content div,
#page-content div table {
    max-width: 100%;
}

#edit-page-comments {
    width: 100%;
}

/* Phones */

@media (max-width: 767px)  {
    #search-top-box-input {
        display: none;
    }

    #page-content {
        font-size: 0.9em;
    }

    #main-content {
        margin: 0;
    }

    #recent-posts-category {
        width: 100%;
    }

    #header,
    .mobile-top-bar {
        max-width: 90vw;
    }
    #search-top-box {
        display: none;
    }

    .top-bar {
        display: none !important;
    }

    .mobile-top-bar {
        top: 0.9375rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        padding: 0;
        width: 100vw;
    }

    .mobile-top-bar > div > p {
        display: block
    }

    .page-options-bottom a {
        padding: 0 0.25rem;
    }

    blockquote {
        margin: 1em 0;
    }

    .license-area {
        font-size: 0.8em;
    }

    .page-history tbody tr td:last-child {
        width: 35%;
        font-side: 1.5rem;
    }

    #header h1 {
        font-size: 1.5em;
        margin-top: 1em !important;
        margin-bottom: -1em !important;
    }

    #header h2 {
        margin-top: 1.5em !important;
        margin-bottom: -1.5em !important;
    }

    #header h1,
    #header h2 {
        margin-left: 6.5rem;
    }

    #header h2 span::before {
        display: inline-block;
        width: 100vw;
    }

    #header > h1 > a > span {
        top: -3.2rem;
    }

    #login-status {
        font-size: 70%;
    }

    .owindow {
        min-width: 80%;
        max-width: 99%;
    }

    .modal-body .table,
    .modal-body .table ~ div {
        float: left;
    }

    .owindow .button-bar {
        float: right;
    }

    .owindow div .btn-primary {
        width: 100%;
        float: left;
    }

    .owindow div .btn-primary ~ div {
        width: 100%;
    }

    .yui-navset {
        z-index: 1;
    }

    #navi-bar,
    #navi-bar-shadow {
        display: none;
    }

    .open-menu a {
        position: fixed;
        top: 12%;
        left: 85%;
        z-index: 150;
        font-family: 'Nanum Gothic', san-serif;
        font-size: 1.875rem;
        font-weight: 700;
        width: 1.875rem;
        height: 1.875rem;
        line-height: 0.9em;
        text-align: center;
        border: 0.2em solid #888 !important;
        background-color: #fff !important;
        -webkit-border-radius: 3em;
                border-radius: 3em;
        color: #888 !important;
    }

    .open-menu a:hover {
        text-decoration: none !important;
                        -webkit-box-shadow: 0 0 1.25rem 0.1875rem rgba(153, 153, 153, 1);
                                box-shadow: 0 0 1.25rem 0.1875rem rgba(153, 153, 153, 1);
    }

    #main-content {
        max-width: 90vw;
        margin: 0 5%;
        padding: 0;
        -webkit-transition: 0.5s ease-in-out 0.1s;
        -o-transition: 0.5s ease-in-out 0.1s;
        transition: 0.5s ease-in-out 0.1s;
    }

    #side-bar {
        width: 80%;
        display: block;
        position: fixed;
        left: -25em;
        width: 17em;
        background-color: rgb(184, 134, 134);
        overflow-y: auto;
        z-index: 10;
        padding: 1em 1em 0 1em;
        -webkit-transition: left 0.5s ease-in-out 0.1s;
        -o-transition: left 0.5s ease-in-out 0.1s;
        transition: left 0.5s ease-in-out 0.1s;
    }

    #side-bar,#side-bar:after {
        top: 0;
        height: 100%;

    }

    #side-bar:after {
        content: "";
        position: absolute;
        width: 0;
        background-color: rgba(0, 0, 0, 0.2);

    }

    #side-bar:target {
        display: block;
        left: 0;
        width: 17em;
        margin: 0;
        border: 0.0625rem solid #dedede;
        z-index: 10;
    }

    #side-bar:target + #main-content {
        left: 0;
    }

    #side-bar:target .close-menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3) 0.0625rem 0.0625rem repeat;
        z-index: -1;
    }

        #login-status {
            font-size: 70%;
        }

        table.form td,
        table.form th {
            float: left;
        }

        /*
        td.title {
            width: 30%;
        }
        */

        td.name {
            width: 15em;
        }

        table.form td,
        table.form th {
            padding: 0;
        }

        #edit-page-title {
            max-width: 90%;
        }

        .content-panel.left-column,
        .content-panel.right-column {
            width: 99%;
            float: left;
        }

        #page-content div,
        #page-content div table {
            clear: both;
        }

        #page-content div.title {
            word-break: keep-all;
        }

        #content-wrap {
            margin: 3.5em auto 0;
        }

}

@media (max-width: 450px) {
        div.block-right,
        div.block-left {
                min-width: 100%;
                margin: 0 auto;
        }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.0625rem;
    margin: -0.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.0625rem;
    white-space: nowrap;
    /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
                        -webkit-box-shadow: none !important;
                                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 0.0625rem solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

