/* INT ELEMENTS STYLING
   ============================= */

/* Styling specific to Int Branches' Elements

/* ===DIRECTORY===
	1.  =SIMPLIFIED CHINESE BRANCH
	2.  =ITALIAN BRANCH
	3.  =JAPANESE BRANCH
	4.  =KOREAN BRANCH
	5.  =POLISH BRANCH
	6.  =PORTUGESE BRANCH
	7.  =RUSSIAN BRANCH
	8.  =THAI BRANCH
	9.  =TRADITIONAL CHINESE BRANCH
	10. =UKRAINIAN BRANCH
	11. =SPANISH BRANCH
	12. =GERMAN BRANCH
	13. =CZECH BRANCH
	14. =FRENCH BRANCH
*/

/* ===SIMPLIFIED CHINESE BRANCH=== */
[id*="u-credit"]:lang(cn) div.credit-back::before {
	content: "返回";
}

#toc:lang(cn) #toc-action-bar a::after {
	content: "目录";
}

/* ===ITALIAN BRANCH=== */

/* ===JAPANESE BRANCH=== */

/* ===KOREAN BRANCH=== */
[id*="u-credit"]:lang(ko) div.credit-back::before {
	content: "뒤로";
}

#toc:lang(ko) #toc-action-bar a::after {
	content: "목차";
}

/* ===POLISH BRANCH=== */
[id*="u-credit"]:lang(po) div.credit-back::before {
	content: "Powrót";
}

#toc:lang(po) #toc-action-bar a::after {
	content: "Spis Treści";
}

/* ===PORTUGESE BRANCH=== */
[id*="u-credit"]:lang(pt-br) div.credit-back::before {
	content: "Voltar";
}

#toc:lang(pt-br) #toc-action-bar a::after {
	content: "Índice";
}

/* ===RUSSIAN BRANCH=== */

/* ===THAI BRANCH=== */

/* ===TRADITIONAL CHINESE BRANCH=== */
[id*="u-credit"]:lang(zh-tr) div.credit-back::before {
	content: "返回";
}

/* ===UKRAINIAN BRANCH=== */

/* ===FRENCH BRANCH=== */

/* ===SPANISH BRANCH=== */

/* ===GERMAN BRANCH=== */

/* ===GREEK BRANCH=== */

/* ===CZECH BRANCH=== */

/* ===FRENCH BRANCH=== */
[id*="u-credit"]:lang(fr) div.credit-back::before {
	content: "Retour";
}

#toc:lang(fr) #toc-action-bar a::after {
	content: "Sommaire";
}

