/* INT ELEMENTS STYLING
   ============================= */

/* Styling specific to Int Branches' Elements

/* ===DIRECTORY===
	1.  =CZECH BRANCH
	2.  =FRENCH BRANCH
	3.  =GERMAN BRANCH
	4.  =GREEK BRANCH
	5.  =ITALIAN BRANCH
	6.  =JAPANESE BRANCH
	7.  =KOREAN BRANCH
	8.  =POLISH BRANCH
	9.  =PORTUGESE BRANCH
	10. =RUSSIAN BRANCH
	11. =SIMPLIFIED CHINESE BRANCH
	12. =SPANISH BRANCH
	13. =THAI BRANCH
	14. =TRADITIONAL CHINESE BRANCH
	15. =UKRAINIAN BRANCH	
*/

/* ===CZECH BRANCH=== */
[id*="u-credit"]:lang(cs) div.credit-back::before {
	content: "Zpět";
}

#toc:lang(cs) #toc-action-bar a::after {
	content: "Obsah";
}

/* ===FRENCH BRANCH=== */
[id*="u-credit"]:lang(fr) div.credit-back::before {
	content: "Retour";
}

#toc:lang(fr) #toc-action-bar a::after {
	content: "Sommaire";
}

/* ===GERMAN BRANCH=== */
[id*="u-credit"]:lang(de) div.credit-back::before {
	content: "Zurück";
}

#toc:lang(de) #toc-action-bar a::after {
	content: "Inhalt";
}

/* ===GREEK BRANCH=== */

/* ===ITALIAN BRANCH=== */
[id*="u-credit"]:lang(it) div.credit-back::before {
	content: "Indietro";
}

#toc:lang(it) #toc-action-bar a::after {
	content: "Indice dei contenuti";
}

/* ===JAPANESE BRANCH=== */
[id*="u-credit"]:lang(ja) div.credit-back::before {
	content: "閉じる";
}

#toc:lang(ja) #toc-action-bar a::after {
	content: "目次";
}

/* ===KOREAN BRANCH=== */
[id*="u-credit"]:lang(ko) div.credit-back::before {
	content: "뒤로";
}

#toc:lang(ko) #toc-action-bar a::after {
	content: "목차";
}

/* ===POLISH BRANCH=== */
[id*="u-credit"]:lang(po) div.credit-back::before {
	content: "Powrót";
}

#toc:lang(po) #toc-action-bar a::after {
	content: "Spis Treści";
}

/* ===PORTUGESE BRANCH=== */
[id*="u-credit"]:lang(pt-br) div.credit-back::before {
	content: "Voltar";
}

#toc:lang(pt-br) #toc-action-bar a::after {
	content: "Índice";
}

/* ===RUSSIAN BRANCH=== */

/* ===SIMPLIFIED CHINESE BRANCH=== */
[id*="u-credit"]:lang(cn) div.credit-back::before {
	content: "返回";
}

#toc:lang(cn) #toc-action-bar a::after {
	content: "目录";
}

/* ===SPANISH BRANCH=== */

/* ===THAI BRANCH=== */

/* ===TRADITIONAL CHINESE BRANCH=== */
[id*="u-credit"]:lang(zh-tr) div.credit-back::before {
	content: "返回";
}

/* ===UKRAINIAN BRANCH=== */
