/* INT SIDEBAR STYLING
   ============================= */

/* Styling specific to Int Branches' Headers

/* ===DIRECTORY===
	1.  =CZECH BRANCH
	2.  =FRENCH BRANCH
	3.  =GERMAN BRANCH
	4.  =GREEK BRANCH
	5.  =ITALIAN BRANCH
	6.  =JAPANESE BRANCH
	7.  =KOREAN BRANCH
	8.  =POLISH BRANCH
	9.  =PORTUGESE BRANCH
	10. =RUSSIAN BRANCH
	11. =SIMPLIFIED CHINESE BRANCH
	12. =SPANISH BRANCH
	13. =THAI BRANCH
	14. =TRADITIONAL CHINESE BRANCH
	15. =UKRAINIAN BRANCH	
*/

/* ===CZECH BRANCH=== */
#login-status:lang(cs) #account-options li > a[href*="/messages"]::after {
	content: "Zprávy";
}

/* ===FRENCH BRANCH=== */

/* ===GERMAN BRANCH=== */

/* ===GREEK BRANCH=== */

/* ===ITALIAN BRANCH=== */

/* ===JAPANESE BRANCH=== */
#login-status:lang(ja) #account-options li > a[href*="/messages"]::after {
	content: "メッセージ";
}

/* ===KOREAN BRANCH=== */
#login-status:lang(ko) #account-options li > a[href*="/messages"]::after {
	content: "메시지";
}

/* ===POLISH BRANCH=== */
#login-status:lang(po) #account-options li > a[href*="/messages"]::after {
	content: "Wiadomości";
}

/* ===PORTUGESE BRANCH=== */
#login-status:lang(pt-br) #account-options li > a[href*="/messages"]::after {
	content: "Mensagens";
}

/* ===RUSSIAN BRANCH=== */
#top-bar:lang(ru) .list-pages-item,
#top-bar:lang(ru) .list-pages-item .top-bar {
	height: 100%;
}

@media only screen and (max-width: 56.25rem) {
	#header:lang(ru) div[class*="top-bar"] > ul {
		height: var(--topbar-height-on-mobile);
	}

	#header:lang(ru) div[class*="top-bar"] > ul > li > a {
		font-size: 1.5em;
	}
}

/* ===SIMPLIFIED CHINESE BRANCH=== */
#login-status:lang(cn) #account-options li > a[href*="/messages"]::after {
	content: "消息";
}

/* ===SPANISH BRANCH=== */

/* ===THAI BRANCH=== */

/* ===TRADITIONAL CHINESE BRANCH=== */
#login-status:lang(zh-tr) #account-options li > a[href*="/messages"]::after {
	content: "訊息";
}

/* ===UKRAINIAN BRANCH=== */
