/* INT SIDEBAR STYLING
   ============================= */

/* Styling specific to Int Branches' Headers

/* ===DIRECTORY===
	1.  =CZECH BRANCH
	2.  =FRENCH BRANCH
	3.  =GERMAN BRANCH
	4.  =GREEK BRANCH
	5.  =ITALIAN BRANCH
	6.  =JAPANESE BRANCH
	7.  =KOREAN BRANCH
	8.  =POLISH BRANCH
	9.  =PORTUGESE BRANCH
	10. =RUSSIAN BRANCH
	11. =SIMPLIFIED CHINESE BRANCH
	12. =SPANISH BRANCH
	13. =THAI BRANCH
	14. =TRADITIONAL CHINESE BRANCH
	15. =UKRAINIAN BRANCH
	16. =VIETNAMESE BRANCH
*/

/* ===CZECH BRANCH=== */
#login-status:where(:lang(cs)) #account-options li > a[href*="/messages"]::after {
	content: "Zprávy";
}

/* ===FRENCH BRANCH=== */

/* ===GERMAN BRANCH=== */

@media only screen and (max-width:56.25rem) {
	#header:where(:lang(de)) div.open-menu {
		background-image: var(--gradient-topmenu-mobile);
	}
}

/* ===GREEK BRANCH=== */
#login-status:where(:lang(el)) #account-options li > a[href*="/messages"]::after {
	content: "Μηνύματα";
}

/* ===ITALIAN BRANCH=== */
#login-status:where(:lang(it)) #account-options li > a[href*="/messages"]::after {
	content: "Messaggi";
}

/* ===JAPANESE BRANCH=== */
#login-status:where(:lang(ja)) #account-options li > a[href*="/messages"]::after {
	content: "メッセージ";
}

/* ===KOREAN BRANCH=== */
#login-status:where(:lang(ko)) #account-options li > a[href*="/messages"]::after {
	content: "메시지";
}

/* ===POLISH BRANCH=== */
#login-status:where(:lang(po)) #account-options li > a[href*="/messages"]::after {
	content: "Wiadomości";
}

/* ===PORTUGESE BRANCH=== */
#login-status:where(:lang(pt-br)) #account-options li > a[href*="/messages"]::after {
	content: "Mensagens";
}

/* ===RUSSIAN BRANCH=== */
#top-bar:where(:lang(ru)) .list-pages-item,
#top-bar:where(:lang(ru)) .list-pages-item .top-bar {
	height: 100%;
}

@media only screen and (max-width: 56.25rem) {
	#header:where(:lang(ru)) div[class*="top-bar"] > ul {
		height: var(--topbar-height-on-mobile);
	}

	#header:where(:lang(ru)) div[class*="top-bar"] > ul > li > a {
		font-size: 1.5em;
	}
}

/* ===SIMPLIFIED CHINESE BRANCH=== */
#login-status:where(:lang(cn)) #account-options li > a[href*="/messages"]::after {
	content: "消息";
}

/* ===SPANISH BRANCH=== */
#login-status:where(:lang(es)) #account-options li > a[href*="/messages"]::after {
	content: "Mensajes";
}


/* ===THAI BRANCH=== */

/* ===TRADITIONAL CHINESE BRANCH=== */
#login-status:where(:lang(zh-tr)) #account-options li > a[href*="/messages"]::after {
	content: "訊息";
}

/* ===UKRAINIAN BRANCH=== */

/* ===VIETNAMESE BRANCH=== */
#login-status:where(:lang(vi)) #account-options li > a[href*="/messages"]::after {
	content: "Tin nhắn";
}
