/* INT SIDEBAR STYLING
   ============================= */

/* Styling specific to Int Branches' Sidebars

/* ===DIRECTORY===
	1.  =SIMPLIFIED CHINESE BRANCH
	2.  =ITALIAN BRANCH
	3.  =JAPANESE BRANCH
	4.  =KOREAN BRANCH
	5.  =POLISH BRANCH
	6.  =PORTUGESE BRANCH
	7.  =RUSSIAN BRANCH
	8.  =THAI BRANCH
	9.  =TRADITIONAL CHINESE BRANCH
	10. =UKRAINIAN BRANCH
	11. =SPANISH BRANCH
	12. =GERMAN BRANCH
	13. =CZECH BRANCH
*/

/* ===SIMPLIFIED CHINESE BRANCH=== */
#side-bar:lang(cn) {
	--bilibili-icon-color: 0,161,214;
	display: grid;
	grid-template-columns: 5rem 1fr;
}

#side-bar:lang(cn) .heading {
	margin: 0;
}

#side-bar:lang(cn) div.side-block {
	grid-column: span 2;
}

#side-bar:lang(cn) div.side-block.media {
	flex-basis: 3.6875rem;
	grid-column: 1/ span 1;
}

#side-bar:lang(cn) div.side-block.media + div[style*="#f0f0f0"] {
	flex-basis: calc(var(--sidebar-width-on-desktop) - 3.6875rem);
	grid-column: 2/ span 1;
}

#side-bar:lang(cn) div.side-block.media + div[style*="#f0f0f0"] > div {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-auto-flow: row;
}

#side-bar:lang(cn) div.side-block.media + div[style*="#f0f0f0"] > div a {
	padding: 0.5em;
}

#side-bar:lang(cn) div.side-block.media div.menu-item {
	display: contents;
}

#side-bar:lang(cn) div.side-block.media .heading {
	align-items: center;
	justify-content: center;
	padding-left: 0;
}

#side-bar:lang(cn) div.side-block.media .menu-item div {
	border: none;
	align-items: center;
}

#side-bar:lang(cn) div.side-block.media a,
#side-bar:lang(cn) div.side-block.media a:visited {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	width: 1.6875rem;
	height: 1.6875rem;
	padding: 0;
	margin: 0;
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
	font-size: var(--base-font-size);
	line-height: 1;
	justify-content: center;
}

#side-bar:lang(cn) div.side-block.media a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(cn) div.side-block.media a:hover::before,
#side-bar:lang(cn) div.side-block.media a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cn) div.side-block.media a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cn) div.side-block.media a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(cn) div.side-block.media a[href*="bilibili"] {
	--social-logo-mask: var(--bilibili-mask);
	--social-color: var(--bilibili-icon-color);
}

/* ===ITALIAN BRANCH=== */
#side-bar:lang(it) div.menu-item {
	height: auto;
}

#side-bar:lang(it) .side-block.green + div {
	display: contents;
}

#side-bar:lang(it) .side-block.blue {
    grid-auto-flow: column;
    justify-content: space-evenly;
    width: var(--sidebar-width-on-mobile);
    margin: .5rem -1rem 0 0;
    padding: .5em !important;
    background-color: rgba(var(--sidebar-media-bg-color)) !important;
    direction: ltr;
}

#side-bar:lang(it) .side-block.blue br {
	display: none;
}

#side-bar:lang(it) .side-block.blue a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(it) .side-block.blue a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(it) .side-block.blue a:hover::before,
#side-bar:lang(it) .side-block.blue a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(it) .side-block.blue a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(it) .side-block.blue a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(it) .side-block.blue a[href*="facebook"] {
	--social-logo-mask: var(--facebook-mask);
	--social-color: var(--facebook-icon-color);
}

#side-bar:lang(it) .side-block.blue a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(it) .side-block.blue a[href*="instagram"] {
	--social-logo-mask: var(--instagram-mask);
	--social-color: var(--instagram-icon-color);
	background-image: var(--instagram-icon-gradient);
	background-size: contain;
}

#side-bar:lang(it) .side-block.blue a[href*="chat"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(it) .side-block.blue a[href*="reddit"] {
	--social-logo-mask: var(--reddit-mask);
	--social-color: var(--reddit-icon-color);
}

/* ===JAPANESE BRANCH=== */
#side-bar:lang(ja) hr {
	margin-bottom: 0;
}

#side-bar:lang(ja) div.side-block:not(.sns) div.menu-item {
	display: grid;
	grid-template-columns: 50% 50%;
}

#side-bar:lang(ja) div.menu-item a:only-of-type {
	grid-row: 1;
	grid-column: 1/ span 2;
	justify-content: flex-start;
}

#side-bar:lang(ja) div.menu-item span {
	grid-row: 1;
	grid-column: 2;
	z-index: 2;
	transition:
		border-color 150ms cubic-bezier(.4,0,.2,1),
		background-color 150ms cubic-bezier(.4,0,.2,1),
		color 150ms cubic-bezier(.4,0,.2,1),
		font-weight 200ms cubic-bezier(.4,0,.2,1),
		font-variation-settings 200ms cubic-bezier(.4,0,.2,1)
}

#side-bar:lang(ja) div.menu-item a:only-of-type:hover ~ span,
#side-bar:lang(ja) div.menu-item a:only-of-type:active ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(ja) div.menu-item a:only-of-type:focus-within ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(ja) div.menu-item a[href*="sandbox2"],
#side-bar:lang(ja) div.menu-item span[style*="line-through"] a {
	text-indent: 1em;
}

#side-bar:lang(ja) div.menu-item a[href*="sandbox2"]::after,
#side-bar:lang(ja) div.menu-item span[style*="line-through"] a::after {
	content: "|";
	position: absolute;
	left: 0;
	color: rgba(var(--sidebar-links-text),0.25);
	transition:
		color 150ms cubic-bezier(.4,0,.2,1),
		font-weight 200ms cubic-bezier(.4,0,.2,1),
		font-variation-settings 200ms cubic-bezier(.4,0,.2,1)
}

#side-bar:lang(ja) div.menu-item a[href*="sandbox2"]:hover::after,
#side-bar:lang(ja) div.menu-item a[href*="sandbox2"]:active::after,
#side-bar:lang(ja) div.menu-item span[style*="line-through"] a:hover::after,
#side-bar:lang(ja) div.menu-item span[style*="line-through"] a:active::after {
	color: rgba(var(--sidebar-links-hover-text),0.25);
}

#side-bar:lang(ja) div.menu-item span[style*="line-through"] {
	display: contents;
}

#side-bar:lang(ja) div.menu-item span[style*="line-through"] a {
	text-decoration: line-through;
}

#side-bar:lang(ja) .side-block.sns {
    grid-auto-flow: column;
    justify-content: space-evenly;
    width: var(--sidebar-width-on-mobile);
    margin: .5rem 0.5rem 0 0;
    padding: .5em !important;
    background-color: rgba(var(--sidebar-media-bg-color)) !important;
    direction: ltr;
}

#side-bar:lang(ja) .side-block.sns > div,
#side-bar:lang(ja) .side-block.sns > div > div {
	display: contents !important;
}

#side-bar:lang(ja) .side-block.sns a {
	position: relative;
	width: 1.6875rem;
	height: 1.6875rem;
	border: none;
	padding: 0;
	margin: 0;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(ja) .side-block.sns a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(ja) .side-block.sns a:hover::before,
#side-bar:lang(ja) .side-block.sns a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(ja) .side-block.sns a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(ja) .side-block.sns a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(ja) .side-block.sns a[href*="discord"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(ja) .side-block.sns a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(ja) .side-block[style*="fff0f0"] div.menu-item:last-of-type {
	grid-template-columns: repeat(3, calc(100% / 3));
}

#side-bar:lang(ja) .side-block[style*="fff0f0"] div.menu-item:last-of-type a {
	grid-row: 1;
}

#side-bar:lang(ja) div.scpnet-interwiki-wrapper {
	margin-top: 1em;
}

/* ===KOREAN BRANCH=== */
#side-bar:lang(ko) {
	--youtube-icon-color: 255, 0, 0;
	--naver-icon-color: 25, 206, 96;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] + div + div  {
	margin-top: 1rem;
	grid-auto-flow: row;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] {
    grid-auto-flow: column;
    justify-content: space-evenly;
    width: var(--sidebar-width-on-mobile);
    margin: .5rem 0.5rem 0 0;
    padding: .5em !important;
    background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] > div {
	display: contents;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a:hover::before,
#side-bar:lang(ko) .side-block[style*="E5E5FF"] a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a[href*="youtube"] {
	--social-logo-mask: var(--youtube-mask);
	--social-color: var(--youtube-icon-color);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a[href*="naver"] {
	--social-logo-mask: var(--naver-mask);
	--social-color: var(--naver-icon-color);
}

/* ===POLISH BRANCH=== */

/* ===PORTUGESE BRANCH=== */

/* ===RUSSIAN BRANCH=== */

/* ===THAI BRANCH=== */

/* ===TRADITIONAL CHINESE BRANCH=== */

/* ===UKRAINIAN BRANCH=== */

/* ===FRENCH BRANCH=== */

/* ===SPANISH BRANCH=== */

/* ===GERMAN BRANCH=== */

/* ===GREEK BRANCH=== */

/* ===CZECH BRANCH=== */
#side-bar:lang(cs) div.menu-item {
	height: auto;
}

#side-bar:lang(cs) .side-block.blue {
	margin: 0.5rem 0.5rem 0 0;
	padding: 0.5rem !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(cs) .side-block.blue a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(cs) .side-block.blue a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(cs) .side-block.blue a:hover::before,
#side-bar:lang(cs) .side-block.blue a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cs) .side-block.blue a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cs) .side-block.blue a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(cs) .side-block.blue a[href*="facebook"] {
	--social-logo-mask: var(--facebook-mask);
	--social-color: var(--facebook-icon-color);
}

#side-bar:lang(cs) .side-block.blue a[href*="instagram"] {
	--social-logo-mask: var(--instagram-mask);
	--social-color: var(--instagram-icon-color);
	background-image: var(--instagram-icon-gradient);
	background-size: contain;
}

#side-bar:lang(cs) .side-block.blue a[href*="discord"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(cs) .side-block.blue a[href*="github"] {
	--social-logo-mask: var(--github-mask);
	--social-color: var(--github-icon-color);
}
