/* INT SIDEBAR STYLING
   ============================= */

/* Styling specific to Int Branches' Sidebars

/* ===DIRECTORY===
	1.  =CZECH BRANCH
	2.  =FRENCH BRANCH
	3.  =GERMAN BRANCH
	4.  =GREEK BRANCH
	5.  =ITALIAN BRANCH
	6.  =JAPANESE BRANCH
	7.  =KOREAN BRANCH
	8.  =POLISH BRANCH
	9.  =PORTUGESE BRANCH
	10. =RUSSIAN BRANCH
	11. =SIMPLIFIED CHINESE BRANCH
	12. =SPANISH BRANCH
	13. =THAI BRANCH
	14. =TRADITIONAL CHINESE BRANCH
	15. =UKRAINIAN BRANCH	
*/

/* ===CZECH BRANCH=== */
#side-bar:lang(cs) div.menu-item {
	height: auto;
}

#side-bar:lang(cs) .side-block.blue {
	margin: 0.5rem 0.5rem 0 0;
	padding: 0.5rem !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(cs) .side-block.blue a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(cs) .side-block.blue a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(cs) .side-block.blue a:hover::before,
#side-bar:lang(cs) .side-block.blue a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cs) .side-block.blue a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cs) .side-block.blue a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(cs) .side-block.blue a[href*="facebook"] {
	--social-logo-mask: var(--facebook-mask);
	--social-color: var(--facebook-icon-color);
}

#side-bar:lang(cs) .side-block.blue a[href*="instagram"] {
	--social-logo-mask: var(--instagram-mask);
	--social-color: var(--instagram-icon-color);
	background-image: var(--instagram-icon-gradient);
	background-size: contain;
}

#side-bar:lang(cs) .side-block.blue a[href*="discord"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(cs) .side-block.blue a[href*="github"] {
	--social-logo-mask: var(--github-mask);
	--social-color: var(--github-icon-color);
}

/* ===FRENCH BRANCH=== */

/* ===GERMAN BRANCH=== */
#side-bar:lang(de) *:not(.scpnet-interwiki-wrapper) {
	height: auto;
}

#side-bar:lang(de) div.side-block {
	display: grid;
	grid-auto-rows: minmax(0, auto);
	grid-template-rows: unset;
	flex-basis: 100%;
}

#side-bar:lang(de) div.side-block:not(.svg-icons) div.menu-item {
	display: grid;
	grid-template-columns: 50% 50%;
}

#side-bar:lang(de) .side-links.svg-icons a {
	width: 1.25rem;
	height: 1.25rem;
}

#side-bar:lang(de) div.side-bar-container {
	display: contents;
}

#side-bar:lang(de) div.menu-item p {
	display: contents;
}

#side-bar:lang(de) div.menu-item a:only-of-type {
	grid-column: 1/ span 2;
	grid-row: 1;
	justify-content: flex-start;
}

#side-bar:lang(de) div.menu-item a {
	grid-row: 1;
}

#side-bar:lang(de) div.menu-item span {
	z-index: 2;
	grid-column: 2;
	grid-row: 1;
	justify-content: flex-end;
	padding-right: 1em;
	transition:
		padding-right 150ms cubic-bezier(.4,0,.2,1),
		border-color 150ms cubic-bezier(.4,0,.2,1),
		background-color 150ms cubic-bezier(.4,0,.2,1),
		color 150ms cubic-bezier(.4,0,.2,1),
		font-weight 200ms cubic-bezier(.4,0,.2,1),
		font-variation-settings 200ms cubic-bezier(.4,0,.2,1)
}

#side-bar:lang(de) div.menu-item a:only-of-type:hover ~ span,
#side-bar:lang(de) div.menu-item a:only-of-type:active ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(de) div.menu-item a:only-of-type:focus-within ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(de) .collapsible-block + .collapsible-block {
	margin-top: -1.5rem;
	margin-bottom: 0.5rem;
}

#side-bar:lang(de) .collapsible-block + .collapsible-block a.collapsible-block-link {
	width: calc(100% - (var(--base-font-size)*(7.5/15)));
	padding: 0 0 0 calc(var(--base-font-size)*(7.5/15));
}

#side-bar:lang(de) .collapsible-block + .collapsible-block a.collapsible-block-link::before {
	display: none;
}

#side-bar:lang(de) .menu-item.expandable + .collapsible-block {
	display: grid;
	min-height: 1.5rem;
}

#side-bar:lang(de) .menu-item.expandable + .collapsible-block + .menu-item.expandable {
	margin-top: -1.5rem;
}

#side-bar:lang(de) .menu-item.expandable + .collapsible-block > div.collapsible-block-folded {
	margin-top: -1.5rem;
	box-shadow: unset;
}

#side-bar:lang(de) .menu-item.expandable + .collapsible-block > div.collapsible-block-unfolded {
	margin-bottom: 1.5rem;
}

#side-bar:lang(de) .menu-item.expandable + .collapsible-block > div,
#side-bar:lang(de) .menu-item.expandable + .collapsible-block > div a {
	min-height: 1.5rem;
	background-color: transparent;
}

#side-bar:lang(de) .menu-item.expandable + .collapsible-block > div a {
	width: 100%;
	max-height: 1.5rem;
}

#side-bar:lang(de) .menu-item.expandable + .collapsible-block > div a::before {
	filter: unset;
}

#side-bar:lang(de) .menu-item.expandable + .collapsible-block .collapsible-block-link {
	top: unset;
}

#side-bar:lang(de) .collapsible-block-folded .collapsible-block-link::before, 
#side-bar:lang(de) .colmod-link-top a:first-child::before {
	--text-shadow-color: var(--swatch-primary-darkest);
	content: "+";
	display: grid;
	align-items: center;
	justify-content: center;
	background-image: unset;
	color: rgba(var(--sidebar-bg-color),1);
	-webkit-text-fill-color: rgba(var(--sidebar-bg-color),1);
	-webkit-text-stroke: 0.0625rem rgb(var(--text-shadow-color));
}

@supports not (-webkit-text-stroke:initial) {
	#side-bar:lang(de) .collapsible-block-folded .collapsible-block-link::before, 
	#side-bar:lang(de) .colmod-link-top a:first-child::before {
		text-shadow: 
			rgb(var(--text-outline-color)) 0.0625rem 0rem 0rem, 
			rgb(var(--text-outline-color)) 0.0338rem 0.0526rem 0rem, 
			rgb(var(--text-outline-color)) -0.026rem 0.0568rem 0rem, 
			rgb(var(--text-outline-color)) -0.0619rem 0.0088rem 0rem, 
			rgb(var(--text-outline-color)) -0.0409rem -0.0473rem 0rem, 
			rgb(var(--text-outline-color)) 0.0177rem -0.0599rem 0rem, 
			rgb(var(--text-outline-color)) 0.06rem -0.0175rem 0rem;
	}
}

#side-bar:lang(de) div.menu-item.expandable:hover + div.collapsible-block a.collapsible-block-link::before {
	--text-outline-color: rgba(var(--sidebar-bg-color),1);
}

#side-bar:lang(de) div.side-block > div.menu-item.expandable > p > a:only-of-type {
	clip-path: polygon(-15% 0,100% 0,calc(100% - 1em) 100%,0 100%);
}

#side-bar:lang(de) div.side-block > div.menu-item.expandable > p > span {
	padding-right: 0;
}

#side-bar:lang(de) div.side-block > div.menu-item.expandable:hover > p > span,
#side-bar:lang(de) div.side-block > div.menu-item.expandable:active > p > span {
	padding-right: 1.25em;
}

#side-bar:lang(de) .menu-item.expandable + .collapsible-block .menu-item {
	margin: 0;
	padding: 0;
	border-left: none;
}

#side-bar:lang(de) .collapsible-block-content {
	border-right: var(--base-font-size) solid rgba(var(--sidebar-border-color));
}

#side-bar:lang(de) .collapsible-block-content div.menu-item {
	max-width: 100%;
}

#side-bar:lang(de) div.menu-item.expandable + .collapsible-block .collapsible-block-content .menu-item a {
	align-items: center;
	width: calc(100% - var(--base-font-size));
	margin: 0 0 0 calc(var(--base-font-size) * (1/3));
	padding: 0 0 0 calc(var(--base-font-size) * (2/3));
	border-left: 0.0625rem dashed rgb(var(--swatch-primary-darkest));
}

#side-bar:lang(de) .side-block.svg-icons {
	margin: 0.5rem 0.5rem 0.5rem 0;
	padding: 0.5rem !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(de) .side-block.svg-icons > p {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(auto-fit,minmax(1.3125rem,1fr));
	justify-content: space-evenly;
	width: 100%;
}

#side-bar:lang(de) .side-block.svg-icons a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	background-image: unset;
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(de) .side-block.svg-icons a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(de) .side-block.svg-icons a:hover::before,
#side-bar:lang(de) .side-block.svg-icons a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(de) .side-block.svg-icons a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(de) .side-block.svg-icons a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(de) .side-block.svg-icons a[href*="chat"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(de) .side-block.svg-icons a[href*="youtube"] {
	--social-logo-mask: var(--youtube-mask);
	--social-color: var(--youtube-icon-color);
}

#side-bar:lang(de) .side-block.svg-icons a[href*="facebook"] {
	--social-logo-mask: var(--facebook-mask);
	--social-color: var(--facebook-icon-color);
}

#side-bar:lang(de) .side-block.svg-icons a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(de) .side-block.svg-icons a[href*="deviantart"] {
	--social-logo-mask: var(--deviantart-mask);
	--social-color: var(--deviantart-icon-color);
}

#side-bar:lang(de) .side-block.svg-icons a[href*="instagram"] {
	--social-logo-mask: var(--instagram-mask);
	--social-color: var(--instagram-icon-color);
	background-image: var(--instagram-icon-gradient);
	background-size: contain;
}

#side-bar:lang(de) .side-block.svg-icons a[href*="reddit"] {
	--social-logo-mask: var(--reddit-mask);
	--social-color: var(--reddit-icon-color);
}

#side-bar:lang(de) .side-block.svg-icons a[href*="sandbox"] {
	--social-logo-mask: var(--sandbox-mask);
	--social-color: var(--sandbox-icon-color);
}

/* ===GREEK BRANCH=== */

/* ===ITALIAN BRANCH=== */
#side-bar:lang(it) div.menu-item {
	height: auto;
}

#side-bar:lang(it) .side-block.green + div {
	display: contents;
}

#side-bar:lang(it) .side-block.blue {
	grid-auto-flow: column;
	justify-content: space-evenly;
	width: var(--sidebar-width-on-mobile);
	margin: .5rem -1rem 0 0;
	padding: .5em !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
	direction: ltr;
}

#side-bar:lang(it) .side-block.blue br {
	display: none;
}

#side-bar:lang(it) .side-block.blue a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(it) .side-block.blue a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(it) .side-block.blue a:hover::before,
#side-bar:lang(it) .side-block.blue a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(it) .side-block.blue a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(it) .side-block.blue a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(it) .side-block.blue a[href*="facebook"] {
	--social-logo-mask: var(--facebook-mask);
	--social-color: var(--facebook-icon-color);
}

#side-bar:lang(it) .side-block.blue a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(it) .side-block.blue a[href*="instagram"] {
	--social-logo-mask: var(--instagram-mask);
	--social-color: var(--instagram-icon-color);
	background-image: var(--instagram-icon-gradient);
	background-size: contain;
}

#side-bar:lang(it) .side-block.blue a[href*="chat"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(it) .side-block.blue a[href*="reddit"] {
	--social-logo-mask: var(--reddit-mask);
	--social-color: var(--reddit-icon-color);
}

/* ===JAPANESE BRANCH=== */
#side-bar:lang(ja) hr {
	margin-bottom: 0;
}

#side-bar:lang(ja) div.side-block:not(.sns) div.menu-item {
	display: grid;
	grid-template-columns: 50% 50%;
}

#side-bar:lang(ja) div.menu-item a:only-of-type {
	grid-column: 1/ span 2;
	grid-row: 1;
	justify-content: flex-start;
}

#side-bar:lang(ja) div.menu-item span {
	z-index: 2;
	grid-column: 2;
	grid-row: 1;
	transition:
		border-color 150ms cubic-bezier(.4,0,.2,1),
		background-color 150ms cubic-bezier(.4,0,.2,1),
		color 150ms cubic-bezier(.4,0,.2,1),
		font-weight 200ms cubic-bezier(.4,0,.2,1),
		font-variation-settings 200ms cubic-bezier(.4,0,.2,1)
}

#side-bar:lang(ja) div.menu-item a:only-of-type:hover ~ span,
#side-bar:lang(ja) div.menu-item a:only-of-type:active ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(ja) div.menu-item a:only-of-type:focus-within ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(ja) div.menu-item a[href*="sandbox2"],
#side-bar:lang(ja) div.menu-item span[style*="line-through"] a {
	text-indent: 1em;
}

#side-bar:lang(ja) div.menu-item a[href*="sandbox2"]::after,
#side-bar:lang(ja) div.menu-item span[style*="line-through"] a::after {
	content: "|";
	position: absolute;
	left: 0;
	transition:
		color 150ms cubic-bezier(.4,0,.2,1),
		font-weight 200ms cubic-bezier(.4,0,.2,1),
		font-variation-settings 200ms cubic-bezier(.4,0,.2,1);
	color: rgba(var(--sidebar-links-text),0.25)
}

#side-bar:lang(ja) div.menu-item a[href*="sandbox2"]:hover::after,
#side-bar:lang(ja) div.menu-item a[href*="sandbox2"]:active::after,
#side-bar:lang(ja) div.menu-item span[style*="line-through"] a:hover::after,
#side-bar:lang(ja) div.menu-item span[style*="line-through"] a:active::after {
	color: rgba(var(--sidebar-links-hover-text),0.25);
}

#side-bar:lang(ja) div.menu-item span[style*="line-through"] {
	display: contents;
}

#side-bar:lang(ja) div.menu-item span[style*="line-through"] a {
	text-decoration: line-through;
}

#side-bar:lang(ja) .side-block.sns {
	grid-auto-flow: column;
	justify-content: space-evenly;
	width: var(--sidebar-width-on-mobile);
	margin: .5rem 0.5rem 0 0;
	padding: .5em !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
	direction: ltr;
}

#side-bar:lang(ja) .side-block.sns > div,
#side-bar:lang(ja) .side-block.sns > div > div {
	display: contents !important;
}

#side-bar:lang(ja) .side-block.sns a {
	position: relative;
	width: 1.6875rem;
	height: 1.6875rem;
	margin: 0;
	padding: 0;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	border: none;
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(ja) .side-block.sns a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(ja) .side-block.sns a:hover::before,
#side-bar:lang(ja) .side-block.sns a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(ja) .side-block.sns a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(ja) .side-block.sns a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(ja) .side-block.sns a[href*="discord"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(ja) .side-block.sns a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(ja) .side-block[style*="fff0f0"] div.menu-item:last-of-type {
	grid-template-columns: repeat(3, calc(100% / 3));
}

#side-bar:lang(ja) .side-block[style*="fff0f0"] div.menu-item:last-of-type a {
	grid-row: 1;
}

#side-bar:lang(ja) div.scpnet-interwiki-wrapper {
	margin-top: 1em;
}

/* ===KOREAN BRANCH=== */
#side-bar:lang(ko) {
	--youtube-icon-color: 255, 0, 0;
	--naver-icon-color: 25, 206, 96;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] + div + div  {
	grid-auto-flow: row;
	margin-top: 1rem;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] {
	grid-auto-flow: column;
	justify-content: space-evenly;
	width: var(--sidebar-width-on-mobile);
	margin: .5rem 0.5rem 0 0;
	padding: .5em !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] > div {
	display: contents;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a:hover::before,
#side-bar:lang(ko) .side-block[style*="E5E5FF"] a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a[href*="youtube"] {
	--social-logo-mask: var(--youtube-mask);
	--social-color: var(--youtube-icon-color);
}

#side-bar:lang(ko) .side-block[style*="E5E5FF"] a[href*="naver"] {
	--social-logo-mask: var(--naver-mask);
	--social-color: var(--naver-icon-color);
}

/* ===POLISH BRANCH=== */

#side-bar:lang(pl) div.menu-item a[href*="scp-series"]:only-of-type {
	justify-content: flex-start;
	padding: 0 0 0 calc(var(--base-font-size) * (14/15));
}

/* ===PORTUGESE BRANCH=== */
#side-bar:lang(pt-br) div.menu-item a[href*="series"] {
	justify-content: center;
}

#side-bar:lang(pt-br) div.side-block[style*="#e7e5e8"] + div[style*="center"] {
	display: contents;
}

#side-bar:lang(pt-br) div.side-block[style*="#e7e5e8"] + div[style*="center"] {
	display: contents;
}

#side-bar:lang(pt-br) .side-block.side-links {
	grid-auto-flow: column;
	justify-content: space-evenly;
	width: var(--sidebar-width-on-mobile);
	margin: .5rem 0.5rem 0 0;
	padding: .5em !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(pt-br) .side-block.side-links a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(pt-br) .side-block.side-links a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(pt-br) .side-block.side-links a:hover::before,
#side-bar:lang(pt-br) .side-block.side-links a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(pt-br) .side-block.side-links a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(pt-br) .side-block.side-links a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(pt-br) .side-block.side-links a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(pt-br) .side-block.side-links a[href*="chat"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(pt-br) .side-block.side-links a[href*="youtube"] {
	--social-logo-mask: var(--youtube-mask);
	--social-color: var(--youtube-icon-color);
}

#side-bar:lang(pt-br) .side-block.side-links a[href*="scpsandboxbr"] {
	--social-logo-mask: var(--sandbox-mask);
	--social-color: var(--sandbox-icon-color);
}

#side-bar:lang(pt-br) .side-block span[style*="font-size"] {
	display: contents;
}

#side-bar:lang(pt-br) .side-block span[style*="font-size"] a {
	font-size: calc(var(--base-font-size)*0.8);
}

/* ===RUSSIAN BRANCH=== */

 /*Normalizing Unique Sideblock Class*/
#side-bar:lang(ru) #u-become-member {
	margin-bottom: inherit;
	padding: inherit;
	border: inherit;
	border-radius: inherit;
	background-color: inherit;
	box-shadow: inherit;
}

#side-bar:lang(ru) #u-become-member {
	display: grid;
	grid-template-rows: repeat(auto-fit,minmax(1.3125rem,1fr));
	justify-content: stretch;
	margin: .5rem .5rem 0 0;
	border: 0;
	background: rgb(var(--sideblock-bg-color));
	box-shadow: 0 0.25rem rgb(var(--swatch-primary-darkest));
	direction: ltr
}

#side-bar:lang(ru) #u-become-member div.menu-item a {
	flex-grow: 2;
	justify-content: center;
	min-width: 100%;
	padding: 0;
}

#side-bar:lang(ru) hr {
	margin-bottom: 0;
}

#side-bar:lang(ru) div.side-block:not(.sns) div.menu-item {
	display: grid;
	grid-template-columns: 50% 50%;
}

#side-bar:lang(ru) div.menu-item a:only-of-type {
	grid-column: 1/ span 2;
	grid-row: 1;
	justify-content: flex-start;
}

#side-bar:lang(ru) div.menu-item a[href="/news"] {
	justify-content: center;
	padding: 0;
}

#side-bar:lang(ru) div.menu-item a[href*="scp-series"] {
	padding: 0 0 0 calc(var(--base-font-size)*(14/15));
}

#side-bar:lang(ru) div.menu-item a[href*="scp-series"] + span,
#side-bar:lang(ru) div.menu-item a[href*="scp-list"] + span{
	padding: 0 0 0 calc(var(--base-font-size)/2);
}

#side-bar:lang(ru) div.menu-item span {
	z-index: 2;
	grid-column: 2;
	grid-row: 1;
	transition:
		border-color 150ms cubic-bezier(.4,0,.2,1),
		background-color 150ms cubic-bezier(.4,0,.2,1),
		color 150ms cubic-bezier(.4,0,.2,1),
		font-weight 200ms cubic-bezier(.4,0,.2,1),
		font-variation-settings 200ms cubic-bezier(.4,0,.2,1)
}

#side-bar:lang(ru) div.menu-item a:only-of-type:hover ~ span,
#side-bar:lang(ru) div.menu-item a:only-of-type:active ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(ru) div.menu-item a:only-of-type:focus-within ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(ru) > hr + .side-block {
	grid-template-rows: unset;
}

#side-bar:lang(ru) > hr + .side-block h5 {
	display: flex;
	justify-content: center;
}

#side-bar:lang(ru) > hr + .side-block .collapsible-block-content {
	border-right: 0 solid transparent;
	text-align: center;
}

#side-bar:lang(ru) > hr + .side-block > div:last-of-type {
	padding: 0 0 0 calc(var(--base-font-size) * (14/15));
}

/* ===SIMPLIFIED CHINESE BRANCH=== */
#side-bar:lang(cn) {
	--bilibili-icon-color: 0,161,214;
	display: grid;
	grid-template-columns: 5rem 1fr;
}

#side-bar:lang(cn) .heading {
	margin: 0;
}

#side-bar:lang(cn) div.side-block {
	grid-column: span 2;
}

#side-bar:lang(cn) div.side-block.media {
	grid-column: 1/ span 1;
	flex-basis: 3.6875rem;
}

#side-bar:lang(cn) div.side-block.media + div[style*="#f0f0f0"] {
	grid-column: 2/ span 1;
	flex-basis: calc(var(--sidebar-width-on-desktop) - 3.6875rem);
}

#side-bar:lang(cn) div.side-block.media + div[style*="#f0f0f0"] > div {
	grid-auto-flow: row;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}

#side-bar:lang(cn) div.side-block.media + div[style*="#f0f0f0"] > div a {
	padding: 0.5em;
}

#side-bar:lang(cn) div.side-block.media div.menu-item {
	display: contents;
}

#side-bar:lang(cn) div.side-block.media .heading {
	align-items: center;
	justify-content: center;
	padding-left: 0;
}

#side-bar:lang(cn) div.side-block.media .menu-item div {
	align-items: center;
	border: none;
}

#side-bar:lang(cn) div.side-block.media a,
#side-bar:lang(cn) div.side-block.media a:visited {
	position: relative;
	justify-content: center;
	width: 1.6875rem;
	height: 1.6875rem;
	margin: 0;
	padding: 0;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	font-size: var(--base-font-size);
	line-height: 1;
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(cn) div.side-block.media a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(cn) div.side-block.media a:hover::before,
#side-bar:lang(cn) div.side-block.media a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cn) div.side-block.media a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cn) div.side-block.media a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(cn) div.side-block.media a[href*="bilibili"] {
	--social-logo-mask: var(--bilibili-mask);
	--social-color: var(--bilibili-icon-color);
}

/* ===SPANISH BRANCH=== */
#side-bar:lang(es) .side-block[style*="e5e5ff"] {
	margin: .5rem .5rem 0 0;
	padding: .5rem !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] > div {
	display: grid !important;
	grid-auto-flow: column;
	justify-content: space-evenly !important;
	width: 100%;
	box-shadow: unset;
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] > div > div {
	display: contents;
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] a {
	position: relative;
	justify-content: center;
	width: 1.6875rem;
	height: 1.6875rem;
	margin: 0;
	padding: 0;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	font-size: var(--base-font-size);
	line-height: 1;
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] a:hover::before,
#side-bar:lang(es) .side-block[style*="e5e5ff"] a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] a[href*="facebook"] {
	--social-logo-mask: var(--facebook-mask);
	--social-color: var(--facebook-icon-color);
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] a[href*="chat"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(es) .side-block[style*="e5e5ff"] a[href*="instagram"] {
	--social-logo-mask: var(--instagram-mask);
	--social-color: var(--instagram-icon-color);
	background-image: var(--instagram-icon-gradient);
	background-size: contain;
}

/* ===THAI BRANCH=== */

/* ===TRADITIONAL CHINESE BRANCH=== */
#side-bar:lang(zh) {
	--plurk-icon-color: 255, 87, 77;
}

#side-bar:lang(zh) .menu-item {
	height: auto;
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] {
	margin: .5rem .5rem 0 0;
	padding: .5rem !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] > div {
	display: grid !important;
	grid-auto-flow: column;
	justify-content: space-evenly !important;
	width: 100%;
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] a:hover::before,
#side-bar:lang(zh) .side-block[style*="ADD8E6"] a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] a[href*="chat"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] a[href*="plurk"] {
	--social-logo-mask: var(--plurk-mask);
	--social-color: var(--plurk-icon-color);
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(zh) .side-block[style*="ADD8E6"] a[href*="instagram"] {
	--social-logo-mask: var(--instagram-mask);
	--social-color: var(--instagram-icon-color);
	background-image: var(--instagram-icon-gradient);
	background-size: contain;
}

/* ===UKRAINIAN BRANCH=== */
/*Normalizing Unique Sideblock Class*/
#side-bar:lang(uk) {
	--telegram-icon-color: 0, 136, 204;
}

#side-bar:lang(uk) > * {
	direction: ltr;
}

#side-bar:lang(uk) hr {
	margin-bottom: 0;
}

#side-bar:lang(uk) .side-block.side-links {
	grid-auto-flow: column;
	justify-content: space-evenly;
	width: var(--sidebar-width-on-mobile);
	margin: .5rem 0.5rem 0 0;
	padding: .5em !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(uk) .side-block.side-links > div {
	display: contents;
}

#side-bar:lang(uk) .side-block.side-links a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(uk) .side-block.side-links a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(uk) .side-block.side-links a:hover::before,
#side-bar:lang(uk) .side-block.side-links a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(uk) .side-block.side-links a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(uk) .side-block.side-links a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(uk) .side-block.side-links a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(uk) .side-block.side-links a[href*="discord"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(uk) .side-block.side-links a[href*="t.me"] {
	--social-logo-mask: var(--telegram-mask);
	--social-color: var(--telegram-icon-color);
}

#side-bar:lang(uk) div.side-block:not(.side-links) div.menu-item {
	display: grid;
	grid-template-columns: 50% 50%;
}

#side-bar:lang(uk) div.menu-item a:only-of-type {
	grid-column: 1/ span 2;
	grid-row: 1;
	justify-content: flex-start;
}

#side-bar:lang(uk) div.menu-item a[href="/news"],
#side-bar:lang(uk) div.menu-item a[href="/faq"]{
	justify-content: center;
	padding: 0;
}

#side-bar:lang(uk) div.menu-item a[href*="scp-series"] {
	padding: 0 0 0 calc(var(--base-font-size)*(14/15));
}

#side-bar:lang(uk) div.menu-item a[href*="scp-series"] + span,
#side-bar:lang(uk) div.menu-item a[href*="scp-list"] + span {
	display: flex;
	padding: 0 0 0 calc(var(--base-font-size)/2);
}

#side-bar:lang(uk) div.menu-item span {
	z-index: 2;
	grid-column: 2;
	grid-row: 1;
	transition:
		border-color 150ms cubic-bezier(.4,0,.2,1),
		background-color 150ms cubic-bezier(.4,0,.2,1),
		color 150ms cubic-bezier(.4,0,.2,1),
		font-weight 200ms cubic-bezier(.4,0,.2,1),
		font-variation-settings 200ms cubic-bezier(.4,0,.2,1)
}

#side-bar:lang(uk) div.menu-item a:only-of-type:hover ~ span,
#side-bar:lang(uk) div.menu-item a:only-of-type:active ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(uk) div.menu-item a:only-of-type:focus-within ~ span {
	--wght: var(--ui-hvr-wght);
	border-color: rgb(var(--sidebar-links-hover-text-color),0.15);
	color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar:lang(uk) > hr + .side-block {
	grid-template-rows: unset;
}

#side-bar:lang(uk) div.menu-item a[href*="system:recent-changes"] {
	grid-column: 2;
	grid-row: 1;
}

#side-bar:lang(uk) > h3 {
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
}

#side-bar:lang(uk) > h2 {
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
	font-size: 1.25em;
	text-align: center;
}

#side-bar:lang(uk) div.pages-tag-cloud-box {
	overflow: visible;
	text-align: center;
}

#side-bar:lang(uk) > div[style*="80%"] > * {
	padding: 0 0 0 calc(var(--base-font-size)*(14/15));
}

#side-bar:lang(uk) > div[style*="15px"] {
	display: grid;
	justify-content: center;
	text-align: center;
	gap: 0.5rem;
} 

#side-bar:lang(uk) > div[style*="15px"] br {
	display: none;
}
