/* INT WIKIDOT STRUCTURE STYLING
   ============================= */

/* Styling specific to Int Branches' Wikidot Structure

/* ===DIRECTORY===
	1.  =SIMPLIFIED CHINESE BRANCH
	2.  =ITALIAN BRANCH
	3.  =JAPANESE BRANCH
	4.  =KOREAN BRANCH
	5.  =POLISH BRANCH
	6.  =PORTUGESE BRANCH
	7.  =RUSSIAN BRANCH
	8.  =THAI BRANCH
	9.  =TRADITIONAL CHINESE BRANCH
	10. =UKRAINIAN BRANCH
	11. =SPANISH BRANCH
	12. =GERMAN BRANCH
	13. =CZECH BRANCH
*/

/* ===SIMPLIFIED CHINESE BRANCH=== */

/* ===ITALIAN BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(it) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(it) {
	flex-basis: 6rem;
}

/* ===JAPANESE BRANCH=== */

/* ===KOREAN BRANCH=== */
#main-content:lang(ko) .page-tags::before {
	content: "태그\0021b4";
}

/* ===POLISH BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pl) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pl) {
	flex-basis: 6rem;
}


/* ===PORTUGESE BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pt-br) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pt-br) {
	flex-basis: 6rem;
}

/* ===RUSSIAN BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(ru) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	flex-basis: 6rem;
	white-space: normal;
	height: auto;
	line-height: 1;
}

/* ===THAI BRANCH=== */

/* ===TRADITIONAL CHINESE BRANCH=== */

/* ===UKRAINIAN BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(uk) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	flex-basis: 6rem;
	white-space: normal;
	height: auto;
	line-height: 1;
}

/* ===FRENCH BRANCH=== */

/* ===SPANISH BRANCH=== */

/* ===GERMAN BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(de) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(de) {
	flex-basis: 6rem;
}

/* ===GREEK BRANCH=== */

/* ===CZECH BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(cs) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(cs) {
	flex-basis: 6rem;
}
