/* INT WIKIDOT STRUCTURE STYLING
   ============================= */

/* Styling specific to Int Branches' Wikidot Structure

/* ===DIRECTORY===
	1.  =CZECH BRANCH
	2.  =FRENCH BRANCH
	3.  =GERMAN BRANCH
	4.  =GREEK BRANCH
	5.  =ITALIAN BRANCH
	6.  =JAPANESE BRANCH
	7.  =KOREAN BRANCH
	8.  =POLISH BRANCH
	9.  =PORTUGESE BRANCH
	10. =RUSSIAN BRANCH
	11. =SIMPLIFIED CHINESE BRANCH
	12. =SPANISH BRANCH
	13. =THAI BRANCH
	14. =TRADITIONAL CHINESE BRANCH
	15. =UKRAINIAN BRANCH
	16. =VIETNAMESE BRANCH
*/

/* ===CZECH BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(cs) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	height: auto;
	line-height: 1;
	white-space: normal;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(cs) {
	flex-basis: 6rem;
}

form#edit-page-form:lang(cs) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Krátký popis změn:";
}

table.page-history:lang(cs) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "změny";
}

table.page-history:lang(cs) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "akce";
}

table.page-history:lang(cs) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "od";
}

table.page-history:lang(cs) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "datum";
}

#site-tools-box:lang(cs)::before {
	content: "Nástroje stránky";
}

/* ===FRENCH BRANCH=== */
#main-content:lang(fr) .page-tags::before {
	content: "étiquettes\0021b4";
	text-transform: uppercase;
}

form#edit-page-form:lang(fr) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Courte Description des Modifications:";
}

table.page-history:lang(fr) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "rév.";
}

table.page-history:lang(fr) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "drapeaux";
}

table.page-history:lang(fr) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "par";
}

#site-tools-box:lang(fr)::before {
	content: "Outils du Site";
}

/* ===GERMAN BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(de) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	flex-basis: max-content;
	height: auto;
	line-height: 1;
	white-space: normal;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(de) {
	flex-basis: 6rem;
}

form#edit-page-form:lang(de) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Kurze Beschreibung der Änderungen:";
}

table.page-history:lang(de) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "markierungen";
}

table.page-history:lang(de) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "aktionen";
}

table.page-history:lang(de) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "durch";
}

table.page-history:lang(de) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "datum";
}

#site-tools-box:lang(de)::before {
	content: "Site-Werkzeuge";
}

/* ===GREEK BRANCH=== */
#main-content:lang(el) .page-tags::before {
	content: "ΕΤΙΚΈΤΕΣ\0021b4";
}

form#edit-page-form:lang(el) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Σύντομη περιγραφή των αλλαγών:";
}

table.page-history:lang(el) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "ανα.";
}

table.page-history:lang(el) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "σημαίες";
}

table.page-history:lang(el) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "δράσεις";
}

table.page-history:lang(el) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "του";
}

table.page-history:lang(el) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "ημερομηνία";
}

#site-tools-box:lang(el)::before {
	content: "Εργαλεία Ιστοσελίδας";
}

/* ===ITALIAN BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(it) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	height: auto;
	line-height: 1;
	white-space: normal;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(it) {
	flex-basis: 6rem;
}

form#edit-page-form:lang(it) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Breve descrizione delle modifiche:";
}

table.page-history:lang(it) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "segnalazioni";
}

table.page-history:lang(it) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "azioni";
}

table.page-history:lang(it) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "da";
}

table.page-history:lang(it) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "data";
}

#site-tools-box:lang(it)::before {
	content: "Strumenti del Sito";
}

#main-content:lang(it) .page-tags::before {
	content: "TAG\0021b4";
}

/* ===JAPANESE BRANCH=== */
form#edit-page-form:lang(ja) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "変更の要旨";
}

table.page-history:lang(ja) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "フラグ";
}

table.page-history:lang(ja) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "アクション";
}

table.page-history:lang(ja) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "編集者";
}

table.page-history:lang(ja) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "日付";
}

#site-tools-box:lang(ja)::before {
	content: "サイトツール";
}

#main-content:lang(ja) .page-tags::before {
	content: "タグ\0021b4";
}

/* ===KOREAN BRANCH=== */
#main-content:lang(ko) .page-tags::before {
	content: "태그\0021b4";
}

form#edit-page-form:lang(ko) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "수정에 대한 짤막한 설명";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "수정";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "유형";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "활동";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "편집자";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "날짜";
}

#site-tools-box:lang(ko)::before {
	content: "사이트 도구";
}

/* ===POLISH BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pl) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	height: auto;
	line-height: 1;
	white-space: normal;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pl) {
	flex-basis: 6rem;
}

form#edit-page-form:lang(pt-br) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Krótki Opis Zmian:";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "wersja";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "flagi";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "opcje";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "przez";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "Data";
}

#site-tools-box:lang(pt-br)::before {
	content: "Narzędzia Witryny";
}

/* ===PORTUGESE BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pt-br) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	height: auto;
	line-height: 1;
	white-space: normal;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pt-br) {
	flex-basis: 6rem;
}

form#edit-page-form:lang(pt-br) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Resumo das Mudanças:";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "Revisão";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "Marcações";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "Ações";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "Por";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "Data";
}

#site-tools-box:lang(pt-br)::before {
	content: "Ferramentas do Site";
}

/* ===RUSSIAN BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(ru) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	flex-basis: 6rem;
	height: auto;
	line-height: 1;
	white-space: normal;
}

/* ===SIMPLIFIED CHINESE BRANCH=== */
form#edit-page-form:lang(cn) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "简要修改说明";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "版本";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "标记";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "操作";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "更新者";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "日期";
}

#site-tools-box:lang(cn)::before {
	content: "网站工具";
}

/* ===SPANISH BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(es) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	flex-basis: 6rem;
	height: auto;
	line-height: 1;
	white-space: normal;
}

#main-content:lang(es) .page-tags::before {
	content: "Etiquetas\0021b4";
}

form#edit-page-form:lang(es) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Breve descripción de los cambios:";
}

table.page-history:lang(es) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "marcas";
}

table.page-history:lang(es) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "acciones";
}

table.page-history:lang(es) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "por";
}

table.page-history:lang(es) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "fecha";
}

#site-tools-box:lang(es)::before {
	content: "Herramientas del Sitio";
}

/* ===THAI BRANCH=== */

/* ===TRADITIONAL CHINESE BRANCH=== */
form#edit-page-form:lang(zh-tr) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "本次編輯的簡要說明";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "修訂版本";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "標記";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "動作";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "由";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "日期";
}

#site-tools-box:lang(zh-tr)::before {
	content: "網站工具";
}

#main-content:lang(zh-tr) .page-tags::before {
	content: "標籤\0021b4";
}

/* ===UKRAINIAN BRANCH=== */
@media only screen and (min-width: 56.25rem) {
	#container:lang(uk) {
		width: calc((99vw - (99vw - 99%)));
	}

	#content-wrap:lang(uk) {
		grid-template-areas: "side-bar content";
		grid-template-columns:
			/* Sidebar Width */
			var(--sidebar-width-on-desktop)
			1fr;
	}

	#content-wrap:lang(uk) {
		margin: 0 !important; /* Overwriting branch's !important */
		padding: 0 !important; /* Overwriting branch's !important */
	}
}

#main-content:lang(uk) .page-tags::before {
	content: "Теґи\0021b4";
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(uk) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	flex-basis: 6rem;
	height: auto;
	line-height: 1;
	white-space: normal;
}

/* ===VIETNAMESE BRANCH=== */
#main-content:lang(vi) .page-tags::before {
	content: "TAG\0021b4";
}

form#edit-page-form:lang(vi) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Tóm tắt thay đổi:";
}

table.page-history:lang(vi) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "stt.";
}

table.page-history:lang(vi) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "nhãn";
}

table.page-history:lang(vi) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "chức năng";
}

table.page-history:lang(vi) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "bởi";
}

table.page-history:lang(vi) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "ngày";
}

#site-tools-box:lang(el)::before {
	content: "Công Cụ Trang";
}