/* INT WIKIDOT STRUCTURE STYLING
   ============================= */

/* Styling specific to Int Branches' Wikidot Structure

/* ===DIRECTORY===
	1.  =SIMPLIFIED CHINESE BRANCH
	2.  =ITALIAN BRANCH
	3.  =JAPANESE BRANCH
	4.  =KOREAN BRANCH
	5.  =POLISH BRANCH
	6.  =PORTUGESE BRANCH
	7.  =RUSSIAN BRANCH
	8.  =THAI BRANCH
	9.  =TRADITIONAL CHINESE BRANCH
	10. =UKRAINIAN BRANCH
	11. =SPANISH BRANCH
	12. =GERMAN BRANCH
	13. =CZECH BRANCH
	14. =FRENCH BRANCH
*/

/* ===SIMPLIFIED CHINESE BRANCH=== */
form#edit-page-form:lang(cn) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "简要修改说明";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "版本";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "标记";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "操作";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "更新者";
}

table.page-history:lang(cn) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "日期";
}

#site-tools-box:lang(cn)::before {
	content: "网站工具";
}

/* ===ITALIAN BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(it) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(it) {
	flex-basis: 6rem;
}

/* ===JAPANESE BRANCH=== */
form#edit-page-form:lang(ja) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "変更の要旨";
}

table.page-history:lang(ja) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "フラグ";
}

table.page-history:lang(ja) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "アクション";
}

table.page-history:lang(ja) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "編集者";
}

table.page-history:lang(ja) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "日付";
}

#site-tools-box:lang(ja)::before {
	content: "サイトツール";
}

#main-content:lang(ja) .page-tags::before {
	content: "タグ\0021b4";
}

/* ===KOREAN BRANCH=== */
#main-content:lang(ko) .page-tags::before {
	content: "태그\0021b4";
}

form#edit-page-form:lang(ko) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "수정에 대한 짤막한 설명";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "수정";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "유형";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "활동";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "편집자";
}

table.page-history:lang(ko) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "날짜";
}

#site-tools-box:lang(ko)::before {
	content: "사이트 도구";
}

/* ===POLISH BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pl) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pl) {
	flex-basis: 6rem;
}

form#edit-page-form:lang(pt-br) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Krótki Opis Zmian:";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "wersja";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "flagi";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "opcje";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "przez";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "Data";
}

#site-tools-box:lang(pt-br)::before {
	content: "Narzędzia Witryny";
}

/* ===PORTUGESE BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pt-br) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pt-br) {
	flex-basis: 6rem;
}

form#edit-page-form:lang(pt-br) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Resumo das Mudanças:";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "Revisão";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "Marcações";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "Ações";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "Por";
}

table.page-history:lang(pt-br) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "Data";
}

#site-tools-box:lang(pt-br)::before {
	content: "Ferramentas do Site";
}

/* ===RUSSIAN BRANCH=== */
@media only screen and (min-width: 56.25rem) {
	#container:lang(ru) {
		width: calc((99vw - (99vw - 99%)));
	}


	#content-wrap:lang(ru) {
		grid-template-areas: "side-bar content";
		grid-template-columns:
			/* Sidebar Width */
			var(--sidebar-width-on-desktop)
			1fr;
	}

	#content-wrap:lang(ru) {
		margin: 0 !important; /* Overwriting branch's !important */
		padding: 0 !important; /* Overwriting branch's !important */
	}
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(ru) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	flex-basis: 6rem;
	white-space: normal;
	height: auto;
	line-height: 1;
}

/* ===THAI BRANCH=== */

/* ===TRADITIONAL CHINESE BRANCH=== */
form#edit-page-form:lang(zh-tr) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "本次編輯的簡要說明";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "修訂版本";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "標記";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(4)::before {
	content: "動作";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "由";
}

table.page-history:lang(zh-tr) tr:nth-of-type(2) td:nth-of-type(6)::before {
	content: "日期";
}

#site-tools-box:lang(zh-tr)::before {
	content: "網站工具";
}

#main-content:lang(zh-tr) .page-tags::before {
	content: "標籤\0021b4";
}

/* ===UKRAINIAN BRANCH=== */
@media only screen and (min-width: 56.25rem) {
	#container:lang(uk) {
		width: calc((99vw - (99vw - 99%)));
	}

	#content-wrap:lang(uk) {
		grid-template-areas: "side-bar content";
		grid-template-columns:
			/* Sidebar Width */
			var(--sidebar-width-on-desktop)
			1fr;
	}

	#content-wrap:lang(uk) {
		margin: 0 !important; /* Overwriting branch's !important */
		padding: 0 !important; /* Overwriting branch's !important */
	}
}

#main-content:lang(uk) .page-tags::before {
	content: "Теґи\0021b4";
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(uk) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	flex-basis: 6rem;
	white-space: normal;
	height: auto;
	line-height: 1;
}

/* ===FRENCH BRANCH=== */

/* ===SPANISH BRANCH=== */

/* ===GERMAN BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(de) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(de) {
	flex-basis: 6rem;
}

/* ===GREEK BRANCH=== */

/* ===CZECH BRANCH=== */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(cs) {
	--button-padding: calc(var(--icon-size)/4) calc(var(--icon-size)/8);
	white-space: normal;
	height: auto;
	line-height: 1;
}

div#page-options-bottom-2:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(cs) {
	flex-basis: 6rem;
}

/* ===FRENCH BRANCH=== */
#main-content:lang(fr) .page-tags::before {
	content: "étiquettes\0021b4";
	text-transform: uppercase;
}

form#edit-page-form:lang(fr) .edit-page-bottomtable tr>td:nth-of-type(1)>div:nth-of-type(1)::before {
	content: "Courte Description des Modifications:";
}

table.page-history:lang(fr) tr:nth-of-type(2) td:nth-of-type(1)::before {
	content: "rév.";
}

table.page-history:lang(fr) tr:nth-of-type(2) td:nth-of-type(3)::before {
	content: "drapeaux";
}

table.page-history:lang(fr) tr:nth-of-type(2) td:nth-of-type(5)::before {
	content: "par";
}

#site-tools-box:lang(fr)::before {
	content: "Outils du Site";
}
