@font-face {
	font-family: PTRootUI;
	src:
		url("PT-Root-UI_VF.woff2") format('woff2'),
		url("PT-Root-UI_VF.woff") format('woff');
	font-weight: 300 700;
	font-display: swap;
	font-style: normal;	
}

@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-display: swap;
	src: url("Inter.var.woff2") format("woff2");
}
