/* INT BRANCHES ROOT VARS
   ============================= */

/* Root Vars specific to various languages targeted to int-branches

/* ===DIRECTORY===
	1.  =CZECH BRANCH
	2.  =FRENCH BRANCH
	3.  =GERMAN BRANCH
	4.  =GREEK BRANCH
	5.  =ITALIAN BRANCH
	6.  =JAPANESE BRANCH
	7.  =KOREAN BRANCH
	8.  =POLISH BRANCH
	9.  =PORTUGESE BRANCH
	10. =RUSSIAN BRANCH
	11. =SIMPLIFIED CHINESE BRANCH
	12. =SPANISH BRANCH
	13. =THAI BRANCH
	14. =TRADITIONAL CHINESE BRANCH
	15. =UKRAINIAN BRANCH
	16. =VIETNAMESE BRANCH
*/

/* ===CZECH BRANCH=== */

:where(:lang(cs)) {
	:root& {
		/* Header */
		--header-title: "SCP Nadace";
		--header-subtitle: "Česká Větev SCP Nadace";
	}
}

/* ===FRENCH BRANCH=== */

:where(:lang(fr)) {
	:root& {
		/* header */
		--header-title: "Fondation SCP";
		--header-subtitle: "Sécuriser, Contenir, Protéger";
	}
}

/* ===GERMAN BRANCH=== */

:where(:lang(de)) {
	:root& {
		/* Header */
		--header-title: "SCP Foundation";
		--header-subtitle: "auf Deutsch";
	}
}

/* ===GREEK BRANCH=== */

:where(:lang(el)) {
	:root& {
		/* Header */
		--header-title: "Το Ίδρυμα SCP";
		--header-subtitle: "Ελληνόφωνος κλάδος";
	}
}

/* ===ITALIAN BRANCH=== */

:where(:lang(it)) {
	:root& {
		/* Header */
		--header-title: "Fondazione SCP";
		--header-subtitle: "Branca Italiana - SCP Foundation";
	}
}

/* ===JAPANESE BRANCH=== */

:where(:lang(ja)) {
	:root& {
		/* Header */
		--header-title: "SCP財団";
		--header-subtitle: "確保、収容、保護";

		/* Fonts */
		--body-font: Inter, "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
		--UI-font: PTRootUI, 游ゴシック体, YuGothic, ヒラギノ丸ゴ, "Hiragino Sans", "Yu Gothic UI", "Meiryo UI", "MS Gothic", Roboto, Noto, "Noto Sans CJK JP", sans-serif;
		--header-font: var(--body-font);
		--title-font: var(--body-font);
		--mono-font: Recursive, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, monospace;
	}
}

/* ===KOREAN BRANCH=== */

:where(:lang(ko)) {
	:root& {
		/* Header */
		--header-title: "SCP 재단";
		--header-subtitle: "확보, 격리, 보호";

		/* Fonts */
		--body-font: Inter, NanumBarunCatsi, "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 굴림, Gulim, 돋움, Dotum, "Helvetica Neue", Helvetica, Arial, sans-serif;
		--UI-font: PTRootUI, "Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic", Roboto, Noto, "Noto Sans CJK KR", sans-serif;
		--header-font: var(--body-font);
		--title-font: var(--body-font);
		--mono-font: "Nanum Gothic Coding", Recursive, "Apple SD Gothic Neo", NanumBarunGothic, "맑은 고딕", "Malgun Gothic", 굴림, Gulim, 돋움, Dotum, "Helvetica Neue", Helvetica, Arial, monospace;
	}
}

/* ===POLISH BRANCH=== */

:where(:lang(pl)) {
	:root& {
		/* Header */
		--header-title: "Fundacja SCP";
		--header-subtitle: "Polska Filia SCP";
	}
}

/* ===PORTUGESE BRANCH=== */

:where(:lang(pt-br)) {
	:root& {
		/* Header */
		--header-title: "Fundação SCP";
		--header-subtitle: "Filial Lusófona";
	}
}

/* ===RUSSIAN BRANCH=== */

:where(:lang(ru)) {
	:root& {
		/* Header */
		--header-title: "SCP Foundation";
		--header-subtitle: "Russian Branch";

		/* Typefaces */
		--body-font: Inter, Charcoal, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
		--UI-font: PTRootUI, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		--header-font: Inter, Charcoal, "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
		--title-font: var(--header-font);
		--mono-font: Recursive, Consolas, monaco, monospace;
	}
}

/* ===SIMPLIFIED CHINESE BRANCH=== */

:where(:lang(cn)) {
	:root& {
		--theme-base: "黑色标记笔";
		--theme-id: "黑色标记笔";
		--theme-name: "黑色标记笔";

		/* Header */
		--header-title: "SCP基金会";
		--header-subtitle: "控制，收容，保护";

		/* Fonts */
		--body-font: Inter, "Noto Sans SC", Verdana, "Microsoft YaHei", 微软雅黑, Geneva, sans-serif, STXihei, 华文细黑;
		--UI-font: PTRootUI, 方体, "PingFang SC", 黑体, "Heiti SC", "Microsoft JhengHei UI", "Microsoft JhengHei", Roboto, Noto, "Noto Sans CJK SC", sans-serif;
		--header-font: var(--body-font);
		--title-font: var(--body-font);
		--mono-font: Recursive, "Noto Serif SC", "Microsoft YaHei", 微软雅黑, "Courier New", Courier, monospace, STXihei, 华文细黑;
	}
}

/* ===SPANISH BRANCH=== */

:where(:lang(es)) {
	:root& {
		/* Header */
		--header-title: "La Fundación SCP";
		--header-subtitle: "Rama Hispanohablante";
	}
}

/* ===THAI BRANCH=== */

:where(:lang(th)) {
	:root& {
		/* Header */
		--header-title: "สถาบัน SCP";
		--header-subtitle: "ควบคุม, กักกัน, ป้องกัน";

		/* Typefaces */
		--body-font: Inter, Kanit, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Verdana, Geneva, sans-serif;
		--UI-font: PTRootUI, Kanit, Thonburi, "Leelawadee UI", "Cordia New", Roboto, Noto, "Noto Sans Thai", sans-serif;
		--header-font: var(--body-font);
		--title-font: var(--body-font);
		--mono-font: Recursive, Kanit, Consolas, monaco, monospace;
	}
}

/* ===TRADITIONAL CHINESE BRANCH=== */

:where(:lang(zh-tr)) {
	:root& {
		/* Header */
		--header-title: "SCP基金會";
		--header-subtitle: "控制，收容，保護";

		/* Typefaces */
		--body-font: Inter, "Noto Sans TC", 微軟正黑體, "Microsoft JhengHei", "Microsoft JhengHei UI", “微軟雅黑”, "Microsoft YaHei", "Microsoft YaHei UI", sans-serif;
		--UI-font: PTRootUI, 方體, "PingFang HK", 方體, "PingFang TC", 黑體, "Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", Roboto, Noto, "Noto Sans CJK TC", sans-serif;
		--header-font: var(--body-font);
		--title-font: var(--body-font);
		--mono-font: Recursive, "Noto Serif TC", "Microsoft YaHei", 微软雅黑, "Courier New", Courier, monospace, STXihei, 华文细黑;
	}
}

/* ===UKRAINIAN BRANCH=== */

:where(:lang(uk)) {
	:root& {
		/* Header */
		--header-title: "Фонд SCP.";
		--header-subtitle: "Охороняти. Утримувати. Захищати.";

		/* Typefaces */
		--body-font: Inter, Charcoal, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
		--UI-font: PTRootUI, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		--header-font: Inter, Charcoal, "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
		--title-font: var(--header-font);
		--mono-font: Recursive, Consolas, monaco, monospace;

		--sidebar-width-on-desktop: calc(var(--base-font-size) * (266 / 15));
		--body-width-on-desktop: 75rem;
	}
}

/* ===VIETNAMESE BRANCH=== */

:where(:lang(vi)) {
	:root& {
		--header-title: "Tổ Chức SCP";
		--header-subtitle: "Quản thúc, Lưu trữ, Bảo vệ";
	}
}
