@import url('https://fonts.googleapis.com/css?family=Chicle|Overlock:400,900');

:root {
	/* Typefaces */
	--body-font: 'Overlock', monospace;
	--header-font: 'Chicle', cursive;
	--title-font: 'Chicle', cursive;

	/* Standard Colors */

	--white-monochrome: 245, 233, 239;
	--pale-gray-monochrome: 220, 226, 243;
	--light-gray-monochrome: 242, 243, 220;
	--gray-monochrome: 185, 224, 173;
	--dark-gray-monochrome: 160, 240, 205;
	--black-monochrome: 33, 0, 35;
	--bright-accent: 250, 140, 220;
	--medium-accent: 186, 237, 185;
	--dark-accent: 228, 123, 0;
	--newpage-color: 221, 102, 17;

	--background-gradient-color: 215, 215, 215;
	--background-gradient-distance: 40rem;

	scrollbar-color: rgba(var(--white-monochrome), 1) rgba(var(--bright-accent), 0.50);
}

#container-wrap-wrap {
	background-image:
		linear-gradient(to bottom,
		rgba(0, 0, 0, 0) 0rem,
		rgba(0, 0, 0, 0) 7.5rem,
		rgba(var(--black-monochrome), 1) 7.5rem,
		rgba(var(--gray-monochrome), 1) 7.625rem,
		rgba(var(--gray-monochrome), 1) calc(100% - 0.125rem),
		rgba(var(--gray-monochrome), 1) calc(100% - 0.125rem),
		rgba(var(--black-monochrome), 1) 100%),

		linear-gradient(to bottom,
		rgba(0, 0, 0, 0) 0rem,
		rgba(0, 0, 0, 0) 9.375rem,
		rgba(var(--white-monochrome),0.25) 9.375rem,
		rgba(var(--pale-gray-monochrome),0.25) 100%);
	background-size: 100% 9.375rem, 100% 100%;
	background-repeat: no-repeat;
}

#skrollr-body {
	background: linear-gradient(124deg, #f0c2d7, #d7c3da, #b5c5df, #b8c6df, #a7cbdf, #c4ddbd, #dae6ac, #e6eaab, #fff2a7);
	background-size: 100% 300%;
	-webkit-animation: rainbow 36s ease infinite;
	-z-animation: rainbow 36s ease infinite;
	-o-animation: rainbow 36s ease infinite;
	animation: rainbow 36s ease infinite;
}

a {
	font-weight: 900;
}

#header {
	background: url(http://kaktuskontainer.wdfiles.com/local--files/component%3Anu-mzl-theme/mzl_logo.svg) .625rem 2.50rem no-repeat;
	background-position: left .75rem top 1.1875rem;
	background-clip: border-box;
	background-size: 5.375rem;
}


#header h1 a::before {
	content: "MAN ZOO LEAGUE";
	letter-spacing: 0.1em;
	color: rgb(var(--light-gray-monochrome));
}

#header h2 span::before {
	content: "Well well well, how the turn tables";
	color: rgb(var(--bright-accent));
	font-weight: 900;
}

#top-bar * {
	font-size: calc(var(--base-font-size));
	color: rgb(var(--white-monochrome));
	text-shadow: .063rem .063rem .063rem rgb(var(--black-monochrome));
}

header h1 a::before,
#top-bar a,
#page-title,
#search-top-box-form input[type="submit"], 
#search-top-box-form input[type="submit"],
#top-bar ul li.sfhover a, 
#top-bar ul li:hover a,
#side-bar div.menu-item a {
	background: linear-gradient(0deg, rgba(var(--bright-accent),0), rgba(var(--bright-accent),0));
	transition: all 0.5s ease-in-out;
}

header h1 a:hover::before,
#top-bar a:hover,
#search-top-box-form input[type="submit"]:hover, 
#search-top-box-form input[type="submit"]:focus,
#top-bar ul li.sfhover a:hover, 
#top-bar ul li:hover a:hover,
#side-bar div.menu-item a:hover {
	background: linear-gradient(124deg, #f0c2d7, #d7c3da, #b5c5df, #b8c6df, #a7cbdf, #c4ddbd, #dae6ac, #e6eaab, #fff2a7);
	background-size: 100% 100%;
	-webkit-animation: rainbow 5s ease infinite;
	-z-animation: rainbow 5s ease infinite;
	-o-animation: rainbow 5s ease infinite;
	animation: rainbow 5s ease infinite;
}

#search-top-box-form input[type="submit"] {
	background: rgb(var(--bright-accent)) !important;
}

#search-top-box-form input[type="submit"]:hover, 
#search-top-box-form input[type="submit"]:focus {
	background: rgb(var(--dark-accent)) !important;
		background: linear-gradient(124deg, #f0c2d7, #d7c3da, #b5c5df, #b8c6df, #a7cbdf, #c4ddbd, #dae6ac, #e6eaab, #fff2a7);
	background-size: 100% 100%;
	-webkit-animation: rainbow 15s ease infinite;
	-z-animation: rainbow 15s ease infinite;
	-o-animation: rainbow 15s ease infinite;
	animation: rainbow 15s ease infinite;
}

#side-bar {
	font-variant: unset;
	background: linear-gradient(124deg, #f0c2d7, #d7c3da, #b5c5df, #b8c6df, #a7cbdf, #c4ddbd, #dae6ac, #e6eaab, #fff2a7);
	background-size: 300% 300%;
	-webkit-animation: rainbow 180s ease infinite;
	-z-animation: rainbow 180s ease infinite;
	-o-animation: rainbow 180s ease infinite;
	animation: rainbow 180s ease infinite;
}

#side-bar .heading {
	color: rgb(var(--bright-accent));
	background: linear-gradient(124deg, #f0c2d7, #d7c3da, #b5c5df, #b8c6df, #a7cbdf, #c4ddbd, #dae6ac, #e6eaab, #fff2a7);
	background-size: 300% 300%;
	-webkit-animation: rainbow 180s ease infinite;
	-z-animation: rainbow 180s ease infinite;
	-o-animation: rainbow 180s ease infinite;
	animation: rainbow 180s ease infinite;
}

#side-bar div.menu-item a,
#side-bar div.menu-item .text {
	font-size: calc(var(--base-font-size));
	color: rgb(var(--white-monochrome));
	text-shadow: .063rem .063rem .063rem rgb(var(--black-monochrome));
}

.page-rate-widget-box {
    background:
        linear-gradient(to bottom,
        rgb(var(--bright-accent)) 0%,
        rgb(var(--dark-accent)) 30%,
        rgb(var(--dark-accent)) 100%) !important;
}

.page-rate-widget-box > span.rate-points,
.page-rate-widget-box > span.rateup,
.page-rate-widget-box > span.ratedown,
.page-rate-widget-box > span.cancel,
.page-rate-widget-box > span.rate-points > a,
.page-rate-widget-box > span.rateup > a,
.page-rate-widget-box > span.ratedown > a,
.page-rate-widget-box > span.cancel > a {
    color: rgb(var(--white-monochrome));
    mix-blend-mode: unset;
    transition: all 0.2s ease-in-out;
}

.page-rate-widget-box > span.rate-points:hover,
.page-rate-widget-box > span.rate-points:active {
    color: rgb(var(--white-monochrome)) !important;
    mix-blend-mode: unset !important;
}

.page-rate-widget-box > span.rateup:hover,
.page-rate-widget-box > span.rateup:active,
.page-rate-widget-box > span.ratedown:hover,
.page-rate-widget-box > span.ratedown:active,
.page-rate-widget-box > span.cancel:hover,
.page-rate-widget-box > span.cancel:active {
	background: linear-gradient(124deg, #f0c2d7, #d7c3da, #b5c5df, #b8c6df, #a7cbdf, #c4ddbd, #dae6ac, #e6eaab, #fff2a7);
	background-size: 50% 50%;
	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;
}

#page-title {
	color: rgb(var(--light-gray-monochrome));
}

@media only screen and (max-width: 768px) {
	#header {
		background-image: url(http://kaktuskontainer.wdfiles.com/local--files/component%3Anu-mzl-theme/mzl_logo.svg);
		background-position: left calc(5vw + 5.5rem - 10.4rem) top calc(4% - var(--offset-from-page-top) / 2), top center;
		background-size: calc(8.75rem + var(--offset-from-page-top)), 100% 7.5rem;
		background-repeat: no-repeat, repeat;
	}
}

@-webkit-keyframes rainbow {
	0% {
		background-position: 0% 82%
	}

	50% {
		background-position: 100% 19%
	}

	100% {
		background-position: 0% 82%
	}
}

@-moz-keyframes rainbow {
	0% {
		background-position: 0% 82%
	}

	50% {
		background-position: 100% 19%
	}

	100% {
		background-position: 0% 82%
	}
}

@-o-keyframes rainbow {
	0% {
		background-position: 0% 82%
	}

	50% {
		background-position: 100% 19%
	}

	100% {
		background-position: 0% 82%
	}
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%
	}

	50% {
		background-position: 100% 19%
	}

	100% {
		background-position: 0% 82%
	}
}
