@import url('https://fonts.googleapis.com/css?family=Basic|IBM+Plex+Mono:400,700');

:root {
    /* Typefaces */
    --body-font: 'IBM Plex Mono', monospace;
    --header-font: 'IBM Plex Mono', sans-serif;
    --title-font: 'IBM Plex Mono', monospace;
    --mono-font: "IBM Plex Mono", monospace;

    /* Standard Colors */

    --white-monochrome: 238, 238, 216;
    --pale-gray-monochrome: 233, 231, 204;
    --light-gray-monochrome: 147, 147, 147;
    --gray-monochrome: 127, 127, 127;
    --dark-gray-monochrome: 101, 101, 101;
    --black-monochrome: 25, 20, 16;
    --bright-accent: 145, 179, 153;
    --medium-accent: 145, 179, 153;
    --dark-accent: 105, 133, 111;
    --newpage-color: 221, 102, 17;

    --background-gradient-color: 215, 215, 215;
    --background-gradient-distance: 40rem;

    scrollbar-color: rgba(var(--white-monochrome), 1) rgba(var(--bright-accent), 0.50);
}

#container-wrap-wrap {

    background-image:
        repeating-linear-gradient(180deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0) 0.25vh,
        rgba(88, 88, 88, 0.1) 0.35vh,
        rgba(88, 88, 88, 0.2) 0.5vh),

        linear-gradient(to bottom,
        rgba(var(--black-monochrome), 1) 7.5rem,
        rgba(var(--gray-monochrome), 1) 7.625rem,
        rgba(var(--gray-monochrome), 1) calc(100% - 0.125rem),
        rgba(var(--gray-monochrome), 1) calc(100% - 0.125rem),
        rgba(var(--black-monochrome), 1) 100%);
    background-size: 100% 7.5rem, 100% 9.375rem;
    background-repeat: no-repeat;
}

#skrollr-body {}

a {
    font-weight: 900;
}

#container {
    text-shadow: 0 0.2rem 1rem #7b7b7b
}

#header h2 span::before {
    color: rgb(var(--bright-accent));
}

#header h1 a,
#top-bar a,
#page-title {
    transition: all 0.2s ease-in-out;
}

#header h1 a:hover::before,
#top-bar a:hover,
#page-title:hover {
    -webkit-animation: flicker 20s linear infinite;
    -moz-animation: flicker 20s linear infinite;
    animation: flicker 20s linear infinite;
}

#search-top-box-form input[type="submit"] {
    background: rgb(var(--bright-accent)) !important;
}

#side-bar div.menu-item a,
#side-bar div.menu-item .text {
    font-weight: 900;
}

#side-bar div.menu-item a:hover {
    -webkit-animation: flicker 20s linear infinite;
    -moz-animation: flicker 20s linear infinite;
    animation: flicker 20s linear infinite;
}

.page-rate-widget-box {
    background:
        linear-gradient(to bottom,
        rgb(var(--bright-accent)) 0%,
        rgb(var(--dark-accent)) 30%,
        rgb(var(--dark-accent)) 100%) !important;
}

.page-rate-widget-box > span.rate-points,
.page-rate-widget-box > span.rateup,
.page-rate-widget-box > span.ratedown,
.page-rate-widget-box > span.cancel,
.page-rate-widget-box > span.rate-points > a,
.page-rate-widget-box > span.rateup > a,
.page-rate-widget-box > span.ratedown > a,
.page-rate-widget-box > span.cancel > a {
    color: rgb(var(--white-monochrome));
    mix-blend-mode: unset;
    transition: all 0.2s ease-in-out;
}

.page-rate-widget-box > span.rate-points:hover,
.page-rate-widget-box > span.rate-points:active {
    color: rgb(var(--white-monochrome)) !important;
    mix-blend-mode: unset !important;
}

.page-rate-widget-box > span.rateup:hover,
.page-rate-widget-box > span.rateup:active,
.page-rate-widget-box > span.ratedown:hover,
.page-rate-widget-box > span.ratedown:active,
.page-rate-widget-box > span.cancel:hover,
.page-rate-widget-box > span.cancel:active {
    color: rgb(var(--black-monochrome));
    -webkit-animation: flicker 20s linear infinite;
    -moz-animation: flicker 20s linear infinite;
    animation: flicker 20s linear infinite;
}

#page-content > p > iframe {
	filter: drop-shadow(-0.5rem 0.5rem 1rem rgb(var(black-monochrome)));
	-webkit-filter: drop-shadow(-0.5rem 0.5rem 1rem rgb(var(black-monochrome)));
	-moz-filter: drop-shadow(-0.5rem 0.5rem 1rem rgb(var(black-monochrome)));
}

@-webkit-keyframes flicker {
    0% {
        opacity: .2;
    }

    5% {
        opacity: .9;
    }

    6% {
        opacity: 1;
    }

    11% {
        opacity: .4;
    }

    11.25% {
        opacity: .6;
    }

    11.5% {
        opacity: .4;
    }

    18% {
        opacity: 1;
    }

    18.5% {
        opacity: .9;
    }

    22% {
        opacity: 1;
    }

    38.5% {
        opacity: 1;
    }

    39% {
        opacity: .8;
    }

    42% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    60.5% {
        opacity: 0;
    }

    62% {
        opacity: 0;
    }

    63% {
        opacity: .2;
    }

    63.25% {
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    73% {
        opacity: 1;
    }

    75% {
        opacity: .8;
    }

    79% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
