/* ===ELEMENTS=== */

/* Modules, IMG blocks, text blocks, and other elements used outside of the structural html */

/* TABVIEW */

.yui-navset * {
	transition: background-color 80ms cubic-bezier(0.4, 0.0, 0.2, 1), color 80ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
	--box-shadow: rgb(var(--swatch-primary-darker));
	zoom: unset;
	display: flex;
	flex-wrap: wrap;
	border-color: rgb(140, 20, 25);
	border-color: rgb(var(--swatch-primary-darker));
	width: calc(100% - 0.125rem);
	margin: 0 auto;
	border: 0;
	box-shadow: 0 calc(0.0625rem * 5) 0 0 rgb(140, 20, 25);
	box-shadow: 0 calc(0.0625rem * 5) 0 0 var(--box-shadow);
}

.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
	zoom: unset;
	background-image: none;
	background-color: rgb(244, 244, 244);
	background-color: rgb(var(--swatch-menubg-light-color));
	border: unset;
	color: rgb(12, 12, 12);
	color: rgb(var(--swatch-text-dark));
}

.yui-navset .yui-nav a:hover,
.yui-navset .yui-nav a:focus {
	zoom: unset;
	background-color: rgb(100, 3, 15);
	background-color: rgb(var(--swatch-primary-darkest));
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-light));
}

.yui-navset .yui-nav li,
.yui-navset .yui-navset-top .yui-nav li {
	--box-shadow: rgb(var(--swatch-primary-darker));
	background-color: rgb(244, 244, 244);
	background-color: rgb(var(--swatch-menubg-light-color));
	border-color: transparent;
	max-width: 100%;
	padding: 0;
	margin: 0;
	zoom: unset;
	display: flex;
	position: relative;
	flex-grow: 2;
	box-shadow: 0 0 0 0.0625rem rgb(140, 20, 25);
	box-shadow: 0 0 0 0.0625rem var(--box-shadow);
}

.yui-navset .yui-nav li a,
.yui-navset-top .yui-nav li a,
.yui-navset-bottom .yui-nav li a {
	display: flex;
	vertical-align: bottom;
	zoom: unset;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.yui-navset .yui-nav a em,
.yui-navset .yui-navset-top .yui-nav a em {
	padding: 0.35em 0.75em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.yui-navset .yui-nav li em {
	/* Undoes border set by wikidot's default layout */
	border: unset !important;
}

/* Selected Tab */

.yui-navset .yui-nav .selected,
.yui-navset .yui-navset-top .yui-nav .selected {
	padding: 0;
	margin: 0;
	flex-grow: 2;
	background-color: rgb(140, 20, 25);
	background-color: rgb(var(--swatch-primary-darker));
}

.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a em {
	border: none;
	border-color: transparent;

}

.yui-navset .yui-nav .selected a {
	/* Undoes a color set by wikidot's default layout */
	color: rgb(252, 252, 252) !important;
	color: rgb(var(--white-monochrome)) !important;
	width: 100%;
	background-image: none;
}

.yui-navset .yui-nav .selected a:focus,
.yui-navset .yui-nav .selected a:active {
	background-color: rgb(140, 20, 25);
	background-color: rgb(var(--swatch-primary-darker));
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-light));
}

.yui-navset .yui-nav .selected a:hover {
	/* Indicate that the currently selected tab is not clickable */
	cursor: default;
}


.yui-navset .yui-content {
	background-color: rgba(244, 244, 244, 0.25);
	background-color: rgba(var(--swatch-menubg-light-color), 0.25);
	/* content background color */
}

.yui-navset .yui-content,
.yui-navset .yui-navset-top .yui-content {
	border-color: rgb(170, 170, 170);
	border-color: rgb(var(--swatch-menubg-medium-color));
	/* content border */
}

.yui-navset-left .yui-content {
	border-left-color: rgb(244, 244, 244);
	border-left-color: rgb(var(--swatch-menubg-light-color));
	/* different border color */
}

/* Blockquote */

blockquote,
div.blockquote {
	--box-shadow: rgba(var(--swatch-menubg-black-color), 0.1);
	display: block;
	border-style: dashed;
	border-color: rgba(var(--swatch-border-color),0.25);
	border-width: 0.0625rem;
	background-color: rgb(244, 244, 244);
	background-color: rgb(var(--swatch-menubg-light-color));
	box-shadow: 0em 0.0625rem 0.125em rgba(0, 0, 0, 0.1);
	box-shadow: 0em 0.0625rem 0.125em var(--box-shadow);
	margin: 0.5em 40px;
	padding: 0 1em;
}

.curved {
	border-radius: 10px;
	margin: 0 10px;
}

/* Footnotes */

.footnotes-footer {
	width: 90%;
	margin: 1em auto;
	padding: 0.15em 1em;
	background-color: rgba(170, 170, 170, 0.25);
	background-color: rgba(var(--swatch-menubg-medium-color), 0.25);
	border-left: 0.5em solid rgba(140, 20, 25);
	border-left: 0.5em solid rgba(var(--swatch-primary-darker));
}

.footnote-footer {
	display: block;
	position: relative;
	width: 95%;
	margin: 0.5rem 1.5rem;
}

.footnote-footer > a:nth-of-type(1) {
	position: relative;
	display: initial;
	height: 100%;
	width: 1rem;
	margin-left: -1rem;
}

/* Hover Blocks */


.hovertip {
	width: 15% !important;
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 600ms;
	animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	animation-delay: 300ms;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hovertip[style="display:none;"] {
	transition:
		left 100ms cubic-bezier(0.4, 0.0, 0.2, 1),
		top 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* IMAGE BLOCK */

div.image-block {
	float: right;
	margin: 0 2em 1em 2em;
}

div.image-block,div.image-block img {
	width: 18.75rem;
}

/* RATING */

:root {
	--rating-module-height: 1.3125rem;
}

/* Plain, no-credit-button rating module */
.page-rate-widget-box {
	--box-shadow: rgba(var(--swatch-menubg-black-color), 0.15);
	/* position: static;
		margin-top: -3rem; */
	overflow: hidden;
	display: inline-flex;
	border-radius: 0;
	box-shadow: 0.0625rem 0.0625rem 0 rgba(12, 12, 12, 0.15);
	box-shadow: 0.0625rem 0.0625rem 0 var(--box-shadow);
	padding: 0 0.125rem;
	margin-bottom: 0.75rem;
	/*background: linear-gradient(to top, rgb(99, 33, 37) 0%, rgb(76, 25, 30) 70%, rgb(56, 37, 37) 100%);*/

	background: linear-gradient(to top,
		rgba(170, 170, 170, 0.25) 0%,
		rgba(170, 170, 170, 0.15) 100%);
	background: linear-gradient(to top,
		rgba(var(--swatch-menubg-medium-color), 0.25) 0%,
		rgba(var(--swatch-menubg-medium-color), 0.15) 100%);
	background-color: rgb(252, 252, 252);
	background-color: rgb(var(--swatch-background));
	border: 0.0625rem solid rgba(12, 12, 12, 0.25);
	border: 0.0625rem solid rgba(var(--swatch-menubg-black-color), 0.25);
	height: var(--rating-module-height);
}

/* Same rule as above, but specifically for the info module / credit button */
.rate-box-with-credit-button .page-rate-widget-box {
	border-radius: 0;
	box-shadow: none;
	background: none;
	border: none;
}

.page-rate-widget-box .rate-points,
.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown,
.page-rate-widget-box .cancel {
	display: block;
	border: none;
	margin: 0 0.125rem 0 0;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown,
.page-rate-widget-box .cancel,
.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a,
.page-rate-widget-box .cancel a,
/* Credit Button Rating Module Specific */
.rate-box-with-credit-button > .creditButton,
.rate-box-with-credit-button > .creditButton > p {
	padding: 0;
	width: calc(0.875rem * 1.5);
	width: calc((var(--base-font-size) * (14/15)) * 1.5);
	display: block;
	line-height: var(--rating-module-height);
	text-align: center;
	transition: background-color 0.1s ease-in-out;
	text-transform: uppercase;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
	background-color: none;
	background: unset;
	background-color: rgba(100, 3, 15, 0.1);
	background-color: rgba(var(--swatch-primary-darkest), 0.1);
}

.page-rate-widget-box .rate-points,
.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown,
.page-rate-widget-box .cancel,
.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a,
.page-rate-widget-box .cancel a {
	color: rgb(12, 12, 12);
	color: rgb(var(--rating-module-text-color));
	font-weight: 700;
	position: relative;
	background: transparent;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a,
.page-rate-widget-box .cancel a {
	color: rgb(12, 12, 12);
	color: rgb(var(--rating-module-button-color));
	font-weight: 700;
	position: relative;
}

.page-rate-widget-box .cancel {
	font-size: 85%;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover,
.page-rate-widget-box .cancel a:hover {
	text-decoration: none;
}

.page-rate-widget-box .rateup a:hover {
	background-color: rgba(var(--rating-module-button-plus-color), 0.8);
}

.page-rate-widget-box .ratedown a:hover {
	background-color: rgba(var(--rating-module-button-negative-color), 0.8);
}

.page-rate-widget-box .cancel a:hover {
	background-color: rgba(var(--rating-module-button-cancel-color), 0.8);
}

.page-rate-widget-box .rate-points {
	line-height: var(--rating-module-height);
	padding: 0 calc(0.875rem * 0.5);
	padding: 0 calc((var(--base-font-size) * (14/15)) * 0.5);
	text-transform: uppercase;
	font-size: calc(0.875rem * 0.8);
	font-size: calc((var(--base-font-size) * (14/15)) * 0.8);
	/* !important is needed here to override styles loaded when Rate is clicked */
	background-color: transparent !important;
	color: rgb(12, 12, 12) !important;
	color: rgb(var(--rating-module-text-color)) !important;
	display: flex;
}

.page-rate-widget-box .rate-points .number {
	font-size: calc(0.875rem * 1.2);
	font-size: calc((var(--base-font-size) * (14/15)) * 1.2);
}

@media screen {
	@media (min-width: 0px) {
		.page-rate-widget-box .rateup a,
		.page-rate-widget-box .ratedown a,
		.page-rate-widget-box .cancel a {
			font-size: 0;
		}

		.page-rate-widget-box .rateup a::before,
		.page-rate-widget-box .ratedown a::before,
		.page-rate-widget-box .cancel a::before {
			content: " ";
			position: absolute;
			width: calc(0.875rem * 1.5);
			width: calc((var(--base-font-size) * (14/15)) * 1.5);
			height: var(--rating-module-height);
			top: 0;
			left: 0;
			mask-size: calc(var(--rating-module-height) * 0.8);
			mask-position: center;
			mask-repeat: no-repeat;
			background-color: rgb(12, 12, 12);
			background-color: rgb(var(--rating-module-button-color));
			pointer-events: none;
		}

		.page-rate-widget-box .rateup a::before {
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
		}

		.page-rate-widget-box .ratedown a::before {
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 13H5v-2h14v2z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
		}

		.page-rate-widget-box .cancel a::before {
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
		}

		.page-rate-widget-box .rateup a:hover::before,
		.page-rate-widget-box .ratedown a:hover::before,
		.page-rate-widget-box .cancel a:hover::before {
			background-color: rgb(var(--rating-module-text-hover-color))
		}
	}
}

/* Heritage Rating Module */

.heritage-rating-module {
	display: inline-block;
	background-color: #633;
	border: solid 0.0625rem #ccc066;
	border-radius: 0.5rem;
	box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.25);
	margin-right: 2em;
	margin-bottom: 0.625rem;
	padding: 0.125rem 0.5rem 0.125rem 0.3125rem;
}

.heritage-rating-module .page-rate-widget-box {
	box-shadow: none;
	margin-bottom: 0;
	margin-right: 0;
}

.heritage-rating-module .heritage-emblem {
	float: left;
	position: relative;
	top: -0.125rem;
	left: 0.125rem;
	height: 1rem;
	width: 1rem;
	overflow: visible;
	margin-right: 0.125rem;
}

.heritage-rating-module .heritage-emblem img {
	width: 1.25rem;
	height: 1.25rem;
	border: 0;
}

/* Info module */
/* These override the styles provided by the base Info Module so have been given a higher specificity with #page-content */

#page-content .creditRate {
	margin-right: 0;
	margin-bottom: 0;
}

#page-content .rate-box-with-credit-button {
	--box-shadow: rgba(var(--swatch-menubg-black-color), 0.15);
	overflow: hidden;
	display: inline-flex;
	border-radius: 0;
	box-shadow: 0.0625rem 0.0625rem 0 rgba(12, 12, 12, 0.15);
	box-shadow: 0.0625rem 0.0625rem 0 var(--box-shadow);
	padding: 0 0.125rem;
	margin-bottom: 0.75rem;
	background: linear-gradient(to top,
		rgba(170, 170, 170, 0.25) 0%,
		rgba(170, 170, 170, 0.15) 100%);
	background: linear-gradient(to top,
		rgba(var(--swatch-menubg-medium-color), 0.25) 0%,
		rgba(var(--swatch-menubg-medium-color), 0.15) 100%);
	background-color: rgb(252, 252, 252);
	background-color: rgb(var(--swatch-background));
	border: 0.0625rem solid rgba(12, 12, 12, 0.25);
	border: 0.0625rem solid rgba(var(--swatch-menubg-black-color), 0.25);
	height: var(--rating-module-height);
}

#page-content .rate-box-with-credit-button > .creditButton:hover {
	background: rgba(50, 50, 50, 0.1);
}

#page-content .rate-box-with-credit-button > .creditButton > p {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}

#page-content .rate-box-with-credit-button > .creditButton > p,#page-content .rate-box-with-credit-button > .creditButton > p > a {
	width: calc(var(--rating-module-height) * 1.5);
	height: var(--rating-module-height);
}

#page-content .rate-box-with-credit-button > .creditButton > p > a {
	border-left: none;
	font-size: 1em;
	display: flex;
	margin-left: 0;
}

@media screen {
	@media (min-width: 0px) {
		#page-content .rate-box-with-credit-button > .creditButton > p > a::before {
			content: " ";
			position: absolute;
			width: calc(0.875rem * 1.5);
			width: calc((var(--base-font-size) * (14/15)) * 1.5);
			height: var(--rating-module-height);
			top: 0;
			left: 0;
			background-color: rgb(252, 252, 252);
			background-color: rgb(var(--swatch-menubg-black-color));
			mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 103 205.3' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M4.2,75.6c24.1-2.6,48.2-5.2,74.9-8.1c0,15.6,0,29.4,0,43.3c0,20.8,0.4,41.6-0.2,62.3 c-0.3,10.5,4,16.3,13.4,20c4,1.5,7.1,5.3,10.6,8c-0.8,1.4-1.6,2.8-2.4,4.3c-32.4,0-64.8,0-97.3,0c-0.9-1.1-1.7-2.3-2.6-3.4 c3.3-2.7,6.2-7,9.9-7.8c11.4-2.3,15.3-9,15.2-19.9c-0.2-20.3-0.6-40.5,0.1-60.8c0.4-11.8-4.4-18.1-15-22.3c-4.4-1.8-7.4-7.2-11-11 C1.4,78.6,2.8,77.1,4.2,75.6z'/%3E%3Cpath fill='%23FFFFFF' d='M79.6,27c0,16.3-11,26.9-27.5,26.7c-16.5-0.2-26.2-9.9-26.2-26c0-17,10.1-27.7,26.5-27.7 C68.6-0.1,79.6,10.8,79.6,27z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
			mask-size: calc(var(--rating-module-height) * 0.35);
			mask-position: 0.3em center;
			mask-repeat: no-repeat;
			pointer-events: none;
		}

		#page-content .rate-box-with-credit-button > .creditButton > p > a:hover::before {
			background-color: rgb(var(--rating-module-button-credit-color))
		}
	}
}

#page-content .rate-box-with-credit-button > .page-rate-widget-box {
	overflow: hidden;
	display: inline-flex;
	border-radius: 0;
	padding: 0 0.125rem;
	box-shadow: none;
}

/* Article Images */

.scp-image-block {
	--box-shadow: rgba(var(--swatch-menubg-black-color, 12, 12, 12));
	border: solid 0.0625rem rgb(var(--swatch-primary-darkest));
	box-shadow: 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.25);
	box-shadow: 0 0.0625rem 0.375rem var(--box-shadow);
	-webkit-box-shadow: 0 0.0625rem 0.375rem var(--box-shadow);
	width: 18.75rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	min-width: 100%;
}

.scp-image-block.block-right {
	float: right;
	clear: right;
	margin: 0 0 1em 2em;

}

.scp-image-block.block-left {
	float: left;
	clear: left;
	margin: 0 2em 1em 0;
}

.scp-image-block.block-center {
	margin-right: auto;
	margin-left: auto;
}

.scp-image-block img {
	border: 0;
	min-width: 100%;
}

.scp-image-block img[style*="width:"] {
	width: 100% !important;
}

.scp-image-caption {
	min-width: 100%;
}

.scp-image-block .scp-image-caption {
	background-color: rgb(244, 244, 244);
	background-color: rgb(var(--swatch-menubg-light-color));
	border-top: solid 0.0625rem rgb(12, 12, 12);
	border-top: solid 0.0625rem rgb(var(--swatch-menubg-black-color));
	font-size: 80%;
	font-weight: 700;
	letter-spacing: 0.016em;
	text-align: center;
	padding: 0.125rem 0;
}

.scp-image-block .scp-image-caption > p {
	margin: 0;
	padding: 0 0.625rem;
}

div.block-right,
div.block-left {
	min-width: 30%;
}

/* Tables */

table.wiki-content-table * {
	margin: 0;
	padding: 0;
}

table.wiki-content-table {
	border-spacing: 0;
	margin: 0.5em auto;
	display: table;
	background-color: transparent;
}

table.wiki-content-table th {
	background: rgb(170, 170, 170);
	background: rgb(var(--swatch-menubg-medium-color));
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-menutxt-light-color));
}

table.wiki-content-table th,
table.wiki-content-table tr {
	/* Override's border on wikidot's default layout */
	border: 0.0625rem solid rgba(66, 66, 72, 0.25) !important;
	border: 0.0625rem solid rgba(var(--swatch-menubg-medium-dark-color), 0.25) !important;
}

.translation-box-stylesheet {
	display: none;
}

/* Rating List Columns */

#who-rated-page-area > div {
	display: grid;
	grid-gap: 0.25em;
	grid-template-columns: repeat(4, 1fr auto);
	grid-auto-flow: row;
	justify-items: end;
}

#who-rated-page-area br {
	display: none;
}

#who-rated-page-area > div > span[style*="color"] {
	font-weight: 900;
	text-align: left;
}

#who-rated-page-area .printuser a {
	white-space: nowrap;
	font-size: 80%;
}


/* Mobile Elements */

@media only screen and (max-width: 768px) {
	:root {
		--rating-module-height: 1.5rem;
	}

	div.block-right,
	div.block-left {
		min-width: 40%;
		margin: 0 auto;
	}

	#who-rated-page-area > div {
		grid-template-columns: repeat(2, 1fr auto);
	}

	.hovertip {
		width: 90% !important;
	}

	.scp-image-block.block-right,
	.scp-image-block.block-left {
		max-width: 40vw !important;
	}

	.scp-image-block img[style*="width:"] {
		width: 100% !important;
	}

	blockquote,
	div.blockquote {
		margin-left: 0;
		margin-right: 0;
	}

	.curved {
		margin: 0;
	}
}

/* RATING MODULE ONLY TARGET */

#html-body:target .page-title,
#html-body:target #page-title,
#html-body:target #breadcrumbs,
#html-body:target .pseudocrumbs,
#html-body:target #page-options-container,
#html-body:target .page-header,
#html-body:target .page-info-break,
#html-body:target .page-options-container,
#html-body:target .action-area,
#html-body:target header,
#html-body:target #header,
#html-body:target footer,
#html-body:target #footer,
#html-body:target #navi-bar,
#html-body:target #navi-bar-shadow,
#html-body:target #page-option-bottom-tips,
#html-body:target #page-option-bottom-2-tips,
#html-body:target #odialog-hovertips,
#html-body:target #wd-ed-dialogs,
#html-body:target #odialog-container,
#html-body:target #license-area,
#html-body:target #side-bar,
#html-body:target .page-tags {
	display:none !important;
}

#html-body:target #page-content > *:not([style*="text-align:"]):not(.creditRate),
#html-body:target #page-content > *:not(.page-rate-widget-box):not(.creditRate) > *:not(.page-rate-widget-box):not(.creditRate) {
	display:none !important;
}
#html-body:target {
	color:rgba(0,0,0,0)
}
#html-body:target,
#html-body:target div#container-wrap {
	background:none!important
}
#html-body:target div#container-wrap,
#html-body:target #page-content ,
#html-body:target {
	background:none!important
}
#html-body:target #page-content {
	min-height:0
}
#html-body:target div[style*="text-align:"] .page-rate-widget-box,
#html-body:target div.creditRate {
	position:fixed;
	top:0;
	left:0
}

#html-body:target #page-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#html-body:target #container,
#html-body:target #container-wrap-wrap,
#html-body:target #container-wrap {
	background: rgba(0,0,0,0);
}
