/* HEADER
   ============================= */

/* Primary Header Coding. Includes Login Box, Search Box, and Top Bar Dropdown Menus */

/* ===DIRECTORY===
	1. =MAIN
	2. =SEARCH BOX
	3. =LOGIN BOX
	4. =TOP BAR
	5. =MOBILE HEADER
	6. =COMMON THEME COMPATABILITY
  =============== */

/* ===MAIN=== */

#header {
	position: relative;
	z-index: 10;
	grid-area: header;
	width: 90vw;
	height: var(--final-header-height-on-desktop);
	background-clip: border-box;
	background-image: url("https://nu-scptheme.github.io/Black-Highlighter/images/logo.svg");
	background-image: var(--logo-image);
	background-repeat: no-repeat;
	background-position: left 0.75rem top 1.1875rem;
	background-size: auto calc(var(--header-height-on-desktop) - 2rem);
}

/* Body Background Image: Includes header image, subtle gradient that extends into the content, and page background color */
body {
	background-image: linear-gradient(
			to top,
			rgb(100, 46, 44) 0%,
			rgb(12, 12, 12) 90%,
			rgb(12, 12, 12) 100%
		),
		linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0) 7.5rem,
			rgba(12, 12, 12, 1) 7.5rem,
			rgba(66, 66, 72, 1) 7.625rem,
			rgba(66, 66, 72, 0.95) calc(100% - 0.125rem),
			rgba(66, 66, 72, 1) calc(100% - 0.125rem),
			rgba(12, 12, 12, 1) 100%
		),
		linear-gradient(
			to bottom,
			rgba(215, 215, 215, 1) 0rem,
			rgba(215, 215, 215, 0.987) 0.32rem,
			rgba(215, 215, 215, 0.951) 1.16rem,
			rgba(215, 215, 215, 0.896) 2.56rem,
			rgba(215, 215, 215, 0.825) 4.4rem,
			rgba(215, 215, 215, 0.741) 6.64rem,
			rgba(215, 215, 215, 0.648) 9.24rem,
			rgba(215, 215, 215, 0.55) 12.16rem,
			rgba(215, 215, 215, 0.45) 15.32rem,
			rgba(215, 215, 215, 0.352) 18.68rem,
			rgba(215, 215, 215, 0.259) 22.16rem,
			rgba(215, 215, 215, 0.175) 25.76rem,
			rgba(215, 215, 215, 0.104) 29.4rem,
			rgba(215, 215, 215, 0.049) 33rem,
			rgba(215, 215, 215, 0.013) 36.56rem,
			rgba(215, 215, 215, 0) 40rem
		);
	background-image: var(--gradient-header), var(--gradient-topmenu),
		var(--gradient-background);
	/* 120px, 150px */
	background-repeat: repeat-x;
	background-size: 100% 7.5rem, 100% 9.375rem, 100% 40rem;
	background-size: var(--header-background-image-size),
		100% var(--final-header-height-on-desktop),
		100% var(--background-gradient-distance);
}

/* Diagonal Stripes in Header */
div#container-wrap {
	background-image: -webkit-repeating-linear-gradient(
		45deg,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 0) 0.25vh,
		rgba(88, 88, 88, 0.1) 0.35vh,
		rgba(88, 88, 88, 0.2) 0.5vh
	);
	background-image: repeating-linear-gradient(
		45deg,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 0) 0.25vh,
		rgba(88, 88, 88, 0.1) 0.35vh,
		rgba(88, 88, 88, 0.2) 0.5vh
	);
	background-image: var(--diagonal-stripes);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% var(--header-height-on-desktop);
}

#header,
#top-bar {
	--wght: var(--ui-wght);
	max-width: 61.25rem;
	/* 980px */
	margin: 0 auto;
}

#header h1,
#header h2 {
	position: absolute;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

#header h1 {
	position: absolute;
	height: 100%;
	max-height: var(--header-height-on-desktop);
}

#header h1 a {
	--wght: 800;
	display: block;
	z-index: 9999;
	margin-top: calc(0.3125rem + 1.2rem);
	margin-top: calc(((var(--header-height-on-desktop) / 2)) - 1em);
	margin-left: calc(var(--header-height-on-desktop) - 0.75rem);
	padding: 1.875rem 0 0;
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-headerh1-color));
	font-family: var(--header-font);
	font-size: var(--header-h1-font-size);
	line-height: 0;
	text-decoration: none;
	text-shadow: none;
}

#header h1 a::before {
	--text-shadow: rgb(var(--swatch-text-dark, 12, 12, 12));
	content: "SCP Foundation";
	content: var(--header-title);
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-headerh1-color));
	text-shadow: 0.0625rem 0.0625rem 0.0625rem rgb(12, 12, 12);
	text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--text-shadow);
}

#header h1 a > span {
	display: inline-table;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	width: calc(100% - 2rem);
	height: var(--header-height-on-desktop);
	color: transparent;
}

#header h2 {
	pointer-events: none;
}

#header h2 span {
	--wght: 500;
	display: block;
	margin-top: calc(
		(
			(var(--header-height-on-desktop) / 2) +
				(var(--header-h1-font-size) / 2) - var(--header-h2-font-size) +
				0.25rem
		)
	);
	margin-left: calc(var(--header-height-on-desktop) - 0.5rem);
	color: transparent;
	font-family: var(--title-font);
	font-size: var(--header-h2-font-size);
	line-height: 1;
	text-shadow: none;
}

#header h2 span::before {
	--text-shadow: rgb(var(--swatch-text-dark, 12, 12, 12));
	content: "SECURE, CONTAIN, PROTECT";
	content: var(--header-subtitle);
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-headerh2-color));
	text-shadow: 0.0625rem 0.0625rem 0.0625rem rgb(12, 12, 12);
	text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--text-shadow);
}

#header-extra-div-1,
#header-extra-div-2 {
	display: none;
}

/* ===SEARCH BOX=== */
/* Mobile Search Box by 7happy7 */
#search-top-box-input,
#navi-bar,
#navi-bar-shadow {
	display: inline-block;
}

#search-top-box {
	display: flex;
	position: absolute;
	z-index: 10;
	top: calc(50% - 0.5em);
	right: 3%;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 2em;
	transform: translateY(-50%);
	font-size: calc(var(--base-font-size) * (13 / 15));
}

#search-top-box,
#search-top-box * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
		font-variation-settings 300ms cubic-bezier(0.4, 0, 0.2, 1),
		font-weight 300ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
		color 300ms cubic-bezier(0.4, 0, 0.2, 1),
		width 600ms cubic-bezier(0.4, 0, 0.2, 1),
		max-width 600ms cubic-bezier(0.4, 0, 0.2, 1),
		right 600ms cubic-bezier(0.4, 0, 0.2, 1);
	border: none;
}

#search-top-box:focus-within {
	padding: 0 0 0 1em;
	background: rgba(var(--swatch-menubg-dark-color), 0.7);
	box-shadow: -1em 0 1em rgba(var(--swatch-menubg-dark-color), 0.7);
}

#search-top-box::before {
	--search-icon-mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22search%22%20class%3D%22svg-inline--fa%20fa-search%20fa-w-16%22%20role%3D%22img%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M505%20442.7L405.3%20343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3%2044-79.7%2044-128C416%2093.1%20322.9%200%20208%200S0%2093.1%200%20208s93.1%20208%20208%20208c48.3%200%2092.7-16.4%20128-44v16.3c0%206.4%202.5%2012.5%207%2017l99.7%2099.7c9.4%209.4%2024.6%209.4%2033.9%200l28.3-28.3c9.4-9.4%209.4-24.6.1-34zM208%20336c-70.7%200-128-57.2-128-128%200-70.7%2057.2-128%20128-128%2070.7%200%20128%2057.2%20128%20128%200%2070.7-57.2%20128-128%20128z%22%2F%3E%3C%2Fsvg%3E");
	content: " ";
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	width: 2em;
	height: 2em;
	background-color: rgb(var(--swatch-menubg-light-color));
	color: rgb(var(--swatch-tertiary-color));
	text-align: center;
	cursor: pointer;
	pointer-events: none;
	mask-size: 1em 1em;
	mask-position: center center;
	mask-repeat: no-repeat;
	mask-image: var(--search-icon-mask);
}

#search-top-box::after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	width: 2em;
	height: 2em;
	transition: clip-path 300ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--bright-accent));
	pointer-events: none;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#search-top-box:not(:focus-within)::after {
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

#search-top-box form[id="search-top-box-form"] {
	display: flex;
	visibility: hidden;
	position: relative;
	right: 0;
	max-width: 2em;
	height: 100%;
}

#search-top-box form[id="search-top-box-form"]:focus-within {
	visibility: visible;
	max-width: 100vw;
}

#search-top-box form[id="search-top-box-form"] input {
	height: 100%;
	outline: none;
	appearance: none;
}

#search-top-box form[id="search-top-box-form"] input[type="text"] {
	--wght: var(--ui-hvr-wght);
	visibility: visible;
	position: relative;
	right: 0;
	width: min(12em, 90vw);
	height: 2em;
	background-color: rgba(var(--swatch-menubg-dark-color), 1);
	color: rgb(var(--swatch-menutxt-light-color));
}

#search-top-box
	form[id="search-top-box-form"]:not(:focus-within)
	input[type="text"] {
	--wght: var(--ui-wght);
	right: 0;
	width: 2em;
	height: 2em;
	transform: translateY(0);
	background-color: rgba(var(--swatch-menubg-dark-color), 0);
	color: transparent;
	cursor: pointer;
}

#search-top-box
	form[id="search-top-box-form"]:not(:focus-within)
	input[type="text"]:hover {
	background-color: rgb(var(--gray-monochrome));
}

#search-top-box form[id="search-top-box-form"] input[type="submit"] {
	position: relative;
	right: 0;
	width: 2em;
	height: 2em;
	background-color: rgba(0, 0, 0, 0);
	color: transparent;
	font-size: 0;
	pointer-events: all;
}

#search-top-box form[id="search-top-box-form"]:not(:focus-within) input[type="submit"] {
	width: 2em;
	pointer-events: none;
}

/* ===LOGIN BOX=== */
#login-status {
	display: flex;
	position: absolute;
	z-index: 9;
	top: calc(50% - 0.5em);
	right: calc(7% - 3em);
	height: 2em;
	padding: 0 2.15em 0 0.5em;
	transform: translateY(-50%);
	box-shadow: 0 0 0 0.0625rem;
	color: rgb(var(--swatch-tertiary-color));
	font-family: var(--UI-font);
	font-size: 90%;
	white-space: nowrap;
}

#login-status span.printuser {
	margin-right: 0.5em;
}

#login-status #my-account {
	margin: 0 0.5em;
}

#login-status a {
	display: flex;
	align-items: center;
	background-color: transparent;
	color: rgb(var(--swatch-text-light));
}

#login-status a:hover,
#login-status a:active {
	text-decoration: none;
}

#login-status #account-topbutton {
	--arrow-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Right_Arrow' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 6' overflow='visible' xml:space='preserve'%3E%3Cpath d='M0,0l5,6l5-6H0z'/%3E%3C/svg%3E%0A");
	background: rgb(var(--swatch-text-light));
	color: rgb(var(--swatch-text-light));
	mask-image: var(--arrow-mask);
	mask-size: 1em 0.45em;
	mask-repeat: no-repeat;
	mask-position: center center;
}

#login-status #account-options {
	--wght: var(--ui-wght);
	display: none;
	position: absolute;
	top: 1.5rem;
	right: 0;
	max-height: 0;
	overflow: hidden;
	transition: font-weight 160ms cubic-bezier(0.4, 0, 0.2, 1),
		font-variation-settings 160ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
		max-height 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	background-color: rgb(var(--swatch-menubg-dark-color));
}

#login-status #account-options[style*="grid"],
#login-status #account-options[style*="block"] {
	display: grid !important;
	max-height: 100vh;
	opacity: 1;
}

#login-status #account-options a {
	display: flex;
	height: 100%;
}

#login-status #account-options li > *,
#login-status #account-options li > *:visited {
	color: rgb(var(--swatch-menutxt-light-color));
}

#login-status #account-options li > *:hover,
#login-status #account-options li > *:active {
	--wght: var(--ui-hvr-wght);
}

/* ===TOP BAR=== */
/* Hide Mobile Top Bar on Desktop */

div.mobile-top-bar {
	display: none;
	position: relative;
	z-index: 9999;
	bottom: 0;
	left: 1rem;
	filter: unset;
}

#header div#top-bar {
	--wght: var(--ui-wght);
	display: inline-flex;
	position: initial;
	z-index: 50;
	flex-wrap: nowrap;
	width: 100%;
	height: var(--topbar-height-on-desktop);
	margin: var(--header-height-on-desktop) 0 1.75rem 0;
	padding: 0;
	font-family: var(--UI-font, var(--header-font));
	font-size: calc(var(--base-font-size) * 0.85);
}

/* ul */

#header div[class*="top-bar"] > ul {
	display: flex;
	z-index: 20;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 90vw;
	max-width: 61.25rem;
	height: 100%;
	margin: 0;
	padding: 0;
	letter-spacing: 0.0625rem;
	line-height: 0;
	text-align: center;
}

/* ul > li */

#header div[class*="top-bar"] > ul > li {
	display: inline-flex;
	position: relative;
	flex-grow: 2;
	flex-shrink: 2;
	width: auto;
	margin: 0;
	padding: 0;
	transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	list-style: outside none none;
	cursor: pointer;
}

/* ul > li > a */

#header div[class*="top-bar"] > ul > li > a {
	--wght: calc(var(--ui-wght) + 100);
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100% - 0.6em);
	padding: 0.3em;
	overflow: hidden;
	border: none;
	background-color: transparent;
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-secondary-color));
	line-height: 1;
	text-decoration: none;
	white-space: normal;
}

#header div[class*="top-bar"] > ul > li:hover > a,
#header div[class*="top-bar"] > ul > li:active > a {
	--wght: var(--ui-hvr-wght);
}

#header div[class*="top-bar"] > ul > li:focus-within > a {
	--wght: var(--ui-hvr-wght);
}

/* Sliding top/bottom borders on top-bar links */
#header div[class*="top-bar"] > ul > li > a::before,
#header div[class*="top-bar"] > ul > li > a::after {
	content: " ";
	position: absolute;
	width: 0;
	height: calc(0.0625rem * 3);
	transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgba(180, 35, 35, 0.5);
	background-color: rgba(var(--swatch-primary), 0.5);
}

#header div[class*="top-bar"] > ul > li > a::before {
	top: 0;
	left: 0;
}

#header div[class*="top-bar"] > ul > li > a::after {
	right: 0;
	bottom: 0;
}

#header div[class*="top-bar"] > ul > li:hover > a::before,
#header div[class*="top-bar"] > ul > li:hover > a::after,
#header div[class*="top-bar"] > ul > li:active > a::before,
#header div[class*="top-bar"] > ul > li:active > a::after {
	width: 100%;
}

#header div[class*="top-bar"] > ul > li:focus-within > a::before,
#header div[class*="top-bar"] > ul > li:focus-within > a::after {
	width: 100%;
}

#header div[class*="top-bar"] > ul > li:hover > a,
#header div[class*="top-bar"] > ul > li:active > a {
	--wght: calc(var(--ui-hvr-wght) + 100);
	background-color: transparent;
}

#header div[class*="top-bar"] > ul > li:focus-within > a {
	background-color: transparent;
}

/* any ul after li */

#header div[class*="top-bar"] li ul {
	display: flex;
	visibility: hidden;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	opacity: 0;
}

/* any li after ul */

#header div[class*="top-bar"] > ul li:hover,
#header div[class*="top-bar"] > ul li:active {
	/* Adding a slight bg colour change before the :before obscures it */
	background-color: rgba(var(--dark-accent), 0.05);
}

#header div[class*="top-bar"] > ul li:focus-within {
	background-color: rgba(var(--dark-accent), 0.05);
}

/* any a after li */

#header div[class*="top-bar"] li a {
	transition: font-weight 160ms cubic-bezier(0.4, 0, 0.2, 1),
		font-variation-settings 160ms cubic-bezier(0.4, 0, 0.2, 1);
}

#header div[class*="top-bar"] li:hover a,
#header div[class*="top-bar"] li:active a {
	text-decoration: none;
}

#header div[class*="top-bar"] li a:focus-within {
	text-decoration: none;
}

/* DROPDOWN MENU */
/* ul > li > ul */

#header div[class*="top-bar"] > ul > li > ul {
	--box-shadow: rgba(var(--swatch-menutxt-dark-color, 12, 12, 12), 0.5);
	display: flex;
	position: absolute;
	z-index: 20;
	left: 0;
	box-sizing: border-box;
	flex-direction: column;
	flex-wrap: nowrap;
	align-self: flex-start;
	width: auto;
	min-width: 100%;
	max-width: 61.25rem;
	margin-top: var(--topbar-height-on-desktop);
	border-top: none;
	background: rgba(48, 48, 52, 0.93);
	background: rgba(var(--swatch-menubg-dark-color), 0.93);
	box-shadow: 0 0.125rem 0.375rem rgba(12, 12, 12, 0.5),
		inset 0 0 0 0.0625rem rgba(12, 12, 12, 0.5);
	box-shadow: 0 0.125rem 0.375rem var(--box-shadow),
		inset 0 0 0 0.0625rem var(--box-shadow);
}

#header div[class*="top-bar"] > ul > li:hover > ul,
#header div[class*="top-bar"] > ul > li:active > ul {
	visibility: visible;
	opacity: 1;
}

#header div[class*="top-bar"] > ul > li:focus-within > ul {
	visibility: visible;
	opacity: 1;
}

#header div[class*="top-bar"] > ul:first-of-type > li:last-of-type > ul {
	right: 0;
	left: auto;
}

/* any li > a after top-bar > ul > li > ul */
/* Background diagonal hover color on dropdown links */

#header div[class*="top-bar"] > ul > li > ul li > a {
	--wght: calc(var(--ui-wght) - 100);

	/* Text Positioning */
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0 1em;
	overflow: hidden;
	border: 0px solid rgba(0, 0, 0, 0);
	background: transparent;
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-secondary-color));
	font-size: 0.75rem;
	font-size: calc(var(--base-font-size) * (4 / 5));
	text-align: center;
	white-space: nowrap;
}

#header div[class*="top-bar"] > ul > li > ul li > a::before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	width: 125%;
	height: 100%;
	transform: translateX(-125%);
	transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
	background-color: rgb(var(--bright-accent));
	pointer-events: none;
	clip-path: polygon(0% 0%, 100% 0px, 90% 100%, 0px 100%);
}

#header div[class*="top-bar"] > ul > li > ul li:hover > a,
#header div[class*="top-bar"] > ul > li > ul li:active > a {
	--wght: var(--ui-hvr-wght);
}

#header div[class*="top-bar"] > ul > li > ul li:hover > a::before,
#header div[class*="top-bar"] > ul > li > ul li:active > a::before {
	right: -5rem;
}

#header div[class*="top-bar"] > ul > li > ul li:focus-within > a::before {
	right: -5rem;
}

/* ul > li ul > li */

#header div[class*="top-bar"] > ul > li ul > li {
	display: flex;
	position: relative;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	width: 100%;

	/* Text positioning */
	height: 2rem;
	margin: 0;
	padding: 0;
	overflow: visible;
	border-collapse: collapse;
	transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: inset 0 0 0 0.0625rem rgba(12, 12, 12, 0.5);
	box-shadow: inset 0 0 0 0.0625rem var(--box-shadow);
	word-break: normal;

	/* Prevent splitting in half onto the next column */
	break-inside: avoid;
}

/* ul > li > ul > li > ul */
/* Flyout Nested Menus */

#header div[class*="top-bar"] > ul > li > ul > li ul {
	display: flex;
	position: absolute;
	z-index: 5;
	top: 0;
	left: calc(100% - 0.0625rem);
	box-sizing: content-box;
	flex-direction: column;
	flex-wrap: nowrap;
	width: auto;
	height: auto;
	margin: 0;
	transition: opacity 80ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	background-color: rgb(178, 210, 180);
	background-color: rgba(var(--swatch-menubg-dark-color), 0.93);
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-secondary-color));
	pointer-events: none;
}

#header div[class*="top-bar"] > ul > li > ul > li:hover ul,
#header div[class*="top-bar"] > ul > li > ul > li:active ul,
#header div[class*="top-bar"] > ul > li > ul > li:hover ul:hover,
#header div[class*="top-bar"] > ul > li > ul > li:active ul:active {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}

#header div[class*="top-bar"] > ul > li > ul > li:focus-within ul,
#header div[class*="top-bar"] > ul > li > ul > li:focus-within ul:focus-within {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}

/*  ul > li > ul li > ul */
/* Prevent flyout menus from disappearing when moving to them diagonally */

#header div[class*="top-bar"] > ul > li > ul li > ul::before {
	content: " ";
	position: absolute;
	z-index: 5;
	top: 2rem;
	right: 100%;
	width: 50%;
	height: calc(100% - 2rem);
	clip-path: polygon(0 0, 100% 0px, 100% 100%, 0 0);
}

/* Images in Dropdown Menu Support */
#header div[class*="top-bar"] > ul > li > ul > li > img {
	position: initial;
	padding: 0 0.25rem;
	padding-left: 0;
}

#header div[class*="top-bar"] > ul > li > ul > li > a.topbar-link-w-img {
	justify-content: start;
	padding-left: 2.5rem;
	text-align: left;
}

#header div[class*="top-bar"] > ul > li > ul > li > a.topbar-link-w-img img {
	position: abslute;
	left: 0;
}

/* Backdrop Filter Blur Support */

@supports (
	(-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))
) {
	#header div[class*="top-bar"] > ul > li ul {
		-webkit-backdrop-filter: blur(0.125rem);
		backdrop-filter: blur(0.125rem);
	}
}

/* ===COMMON THEME COMPATABILITY=== */
.topbar_arrow {
	top: initial;
}

#top-bar ul li.homebutton-li,
#top-bar ul li.inline-switch {
	max-width: var(--topbar-height-on-desktop);
}

#top-bar ul li a.homebutton {
	background-image: initial;
}

#top-bar ul li .homebutton,
#top-bar ul li:hover .homebutton,
#top-bar ul li .lightbulb .lightbulb-mask,
#top-bar ul li:hover .lightbulb .lightbulb-mask,
#top-bar > .ct-theme-switch .lightbulb .lightbulb-mask,
#top-bar > .ct-theme-switch:hover .lightbulb .lightbulb-mask {
	width: 100%;
	background-color: rgb(var(--swatch-menutxt-light-color)) !important;
	background-image: initial;
	color: transparent !important;
	mask-repeat: no-repeat;
	mask-size: 1em 1em;
	mask-position: center center;
}

#top-bar ul li:focus-within .homebutton,
#top-bar ul li:focus-within .lightbulb .lightbulb-mask,
#top-bar > .ct-theme-switch:focus-within .lightbulb .lightbulb-mask {
	width: 100%;
	background-color: rgb(var(--swatch-menutxt-light-color)) !important;
	background-image: initial;
	color: transparent !important;
	mask-repeat: no-repeat;
	mask-size: 1em 1em;
	mask-position: center center;
}

#top-bar ul li .homebutton {
	--homebutton-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 7 7' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='3.5,0 0,4 1,4 1,7 2.5,7 2.5,5 4.5,5 4.5,7 6,7 6,4 7,4 '/%3E%3C/svg%3E%0A");
	mask-image: var(--homebutton-mask);
}

#top-bar ul li:hover .homebutton,
#top-bar ul li:active .homebutton {
	mask-image: var(--homebutton-mask);
}

#top-bar ul li:focus-within .homebutton {
	mask-image: var(--homebutton-mask);
}

#top-bar ul li .lightbulb .lightbulb-mask,
#top-bar > .ct-theme-switch .lightbulb .lightbulb-mask {
	--lightbulb-mask: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='lightbulb' class='svg-inline--fa fa-lightbulb fa-w-11' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='currentColor' d='M176 80c-52.94 0-96 43.06-96 96 0 8.84 7.16 16 16 16s16-7.16 16-16c0-35.3 28.72-64 64-64 8.84 0 16-7.16 16-16s-7.16-16-16-16zM96.06 459.17c0 3.15.93 6.22 2.68 8.84l24.51 36.84c2.97 4.46 7.97 7.14 13.32 7.14h78.85c5.36 0 10.36-2.68 13.32-7.14l24.51-36.84c1.74-2.62 2.67-5.7 2.68-8.84l.05-43.18H96.02l.04 43.18zM176 0C73.72 0 0 82.97 0 176c0 44.37 16.45 84.85 43.56 115.78 16.64 18.99 42.74 58.8 52.42 92.16v.06h48v-.12c-.01-4.77-.72-9.51-2.15-14.07-5.59-17.81-22.82-64.77-62.17-109.67-20.54-23.43-31.52-53.15-31.61-84.14-.2-73.64 59.67-128 127.95-128 70.58 0 128 57.42 128 128 0 30.97-11.24 60.85-31.65 84.14-39.11 44.61-56.42 91.47-62.1 109.46a47.507 47.507 0 0 0-2.22 14.3v.1h48v-.05c9.68-33.37 35.78-73.18 52.42-92.16C335.55 260.85 352 220.37 352 176 352 78.8 273.2 0 176 0z'%3E%3C/path%3E%3C/svg%3E");
	mask-image: var(--lightbulb-mask);
}

#top-bar ul li:hover .lightbulb .lightbulb-mask,
#top-bar ul li:active .lightbulb .lightbulb-mask,
#top-bar > .ct-theme-switch:hover .lightbulb .lightbulb-mask,
#top-bar > .ct-theme-switch:active .lightbulb .lightbulb-mask {
	mask-image: var(--lightbulb-mask);
}

#top-bar
	ul
	li:focus-within
	.lightbulb
	.lightbulb-mask
	#top-bar
	> .ct-theme-switch:focus-within
	.lightbulb
	.lightbulb-mask {
	mask-image: var(--lightbulb-mask);
}

#top-bar > .ct-theme-switch {
	position: absolute;
	top: 0.25rem;
	right: 0.25rem;
}

#top-bar > .ct-theme-switch .lightbulb {
	display: block;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

#top-bar > .ct-theme-switch .lightbulb,
#top-bar > .ct-theme-switch:hover .lightbulb,
#top-bar > .ct-theme-switch:active .lightbulb {
	border: 0.125rem solid rgb(var(--swatch-menubg-medium-color));
	border-radius: 17px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1),
		inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

#top-bar > .ct-theme-switch:focus-within .lightbulb {
	border: 0.125rem solid rgb(var(--swatch-menubg-medium-color));
	border-radius: 17px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1),
		inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

#top-bar > .ct-theme-switch .lightbulb {
	background: rgb(var(--swatch-menubg-medium-dark-color));
}

#top-bar > .ct-theme-switch:hover .lightbulb,
#top-bar > .ct-theme-switch:active .lightbulb {
	background: rgb(var(--swatch-menubg-black-color));
}

#top-bar > .ct-theme-switch:focus-within .lightbulb {
	background: rgb(var(--swatch-menubg-black-color));
}

#top-bar > .ct-theme-switch .lightbulb .lightbulb-mask,
#top-bar > .ct-theme-switch:hover .lightbulb .lightbulb-mask,
#top-bar > .ct-theme-switch:active .lightbulb .lightbulb-mask {
	background-color: rgb(var(--swatch-menutxt-light-color)) !important;
}

#top-bar > .ct-theme-switch:focus-within .lightbulb .lightbulb-mask {
	background-color: rgb(var(--swatch-menutxt-light-color)) !important;
}

/* ===MOBILE HEADER=== */
@media only screen and (max-width: 900px) {
	/* ===MOBILE DIRECTORY===
		1. *MAIN
		2. *SEARCH BOX
		3. *LOGIN BOX
		4. *TOP BAR
	=============== */

	/* Removing Scrollbar to deal with horizontal overflow and still allow sticky scrolling */
	:root {
		overflow: -moz-scrollbars-none;
		scrollbar-width: none;
	}

	::-webkit-scrollbar {
		width: 0;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: rgb(180, 35, 35);
		background: rgb(var(--bright-accent));
	}

	/* ***MAIN*** */
	:root {
		--header-h1-font-size: calc(
			1.15rem + (2.405 - 1.15) * ((100vw - 18.75rem) / (48 - 18.75))
		);
		--header-h2-font-size: calc(
			0.5rem + (0.945 - 0.5) * ((100vw - 18.75rem) / (48 - 18.75))
		);
	}

	body {
		background-size: 100% var(--header-height-on-mobile),
			100% var(--final-header-height-on-mobile),
			100% var(--background-gradient-distance);
	}

	div#container-wrap {
		background-size: 100% var(--header-height-on-mobile);
	}

	#header {
		position: sticky;
		top: calc(var(--header-height-on-mobile) * -1);
		width: 100vw;
		height: var(--header-height-on-mobile);
		margin: 0;
		background-image: url("https://nu-scptheme.github.io/Black-Highlighter/images/logo.svg");
		background-image: var(--logo-image);
		background-repeat: no-repeat, repeat;
		background-position: calc(
				(var(--header-height-on-mobile) - 0.75rem) - var(--size)
			)
			calc(
				(
						(var(--size) * -1) + var(--header-height-on-mobile) +
							var(--y-offset)
					) / 2
			);
		background-size: var(--size), 100% var(--header-height-on-mobile);
		--size: calc(var(--final-header-height-on-mobile) - 0.875rem);
		--y-offset: 1.5rem;
	}

	#header,
	div.mobile-top-bar {
		left: 0;
		max-width: 100%;
	}

	#header h1 {
		max-height: var(--header-height-on-mobile);
	}

	#header h1 a {
		margin-top: calc(((var(--header-height-on-mobile) / 2)) - 1.345rem);
	}

	#header > h1 > a > span {
		height: var(--header-height-on-mobile);
	}

	#header h2 span {
		margin-top: calc(
			(
				(var(--header-height-on-mobile) / 2) +
					(var(--header-h1-font-size) / 2) + 0.5rem
			)
		);
		line-height: 1;
	}

	/* ***SEARCH BOX*** */

	/* ***LOGIN BOX*** */

	#login-status {
		font-size: 70%;
	}

	/* ***TOP BAR*** */

	#header div#top-bar {
		height: var(--topbar-height-on-mobile);
		margin: calc(var(--header-height-on-mobile)) 0 1.75rem 0;
	}

	#header div.top-bar {
		display: none;
	}

	div.mobile-top-bar {
		display: flex;
		position: static;
		z-index: 9999;
		top: 0;
		right: 0;
		left: 0;
		align-items: center;
		width: 100vw;
		margin: 0;
		padding: 0;
		background: linear-gradient(
			to bottom,
			rgba(12, 12, 12, 1) 0,
			rgba(66, 66, 72, 1) 0.125rem,
			rgba(66, 66, 72, 1) calc(3rem - 0.125rem),
			rgba(66, 66, 72, 1) calc(3rem - 0.125rem),
			rgba(12, 12, 12, 1) 3rem
		);
		background: var(
			--gradient-topmenu-mobile,
			linear-gradient(
				to bottom,
				rgba(12, 12, 12, 1) 0,
				rgba(66, 66, 72, 1) 0.125rem,
				rgba(66, 66, 72, 1) calc(3rem - 0.125rem),
				rgba(66, 66, 72, 1) calc(3rem - 0.125rem),
				rgba(12, 12, 12, 1) 3rem
			)
		);
		background: var(
			--gradient-topmenu-mobile,
			linear-gradient(
				to bottom,
				rgba(var(--swatch-topmenu-border-color), 1) 0,
				rgba(var(--swatch-topmenu-bg-color), 1) 0.125rem,
				rgba(var(--swatch-topmenu-bg-color), 1)
					calc(var(--topbar-height-on-mobile) - 0.125rem),
				rgba(var(--swatch-topmenu-bg-color), 1)
					calc(var(--topbar-height-on-mobile) - 0.125rem),
				rgba(var(--swatch-topmenu-border-color), 1)
					var(--topbar-height-on-mobile)
			)
		);
	}

	/* ul */

	#header div[class*="top-bar"] > ul {
		width: calc(100% - var(--topbar-height-on-mobile));
	}

	/* ul > li */

	#header div[class*="top-bar"] > ul > li {
		position: inherit;
	}

	/* ul > li > a */

	#header div[class*="top-bar"] > ul > li > a {
		background: none;
		font-size: 125%;
	}

	/* DROPDOWN MENU */
	/* ul > li > ul */

	#header div[class*="top-bar"] > ul > li > ul {
		display: grid;
		left: 50%;
		grid-template-columns: repeat(2, 50%);
		max-height: calc(100vh - 8rem);
		margin-top: var(--topbar-height-on-mobile);
		transform: translate(-50%, 0);
	}

	#header div[class*="top-bar"] > ul > li:hover > ul,
	#header div[class*="top-bar"] > ul > li:active > ul,
	#header div[class*="top-bar"] > ul > li > ul:hover,
	#header div[class*="top-bar"] > ul > li > ul:active {
		transform: translate(-50%, 0);
	}

	#header div[class*="top-bar"] > ul > li:focus-within > ul,
	#header div[class*="top-bar"] > ul > li > ul:focus-within {
		transform: translate(-50%, 0);
	}

	#header div[class*="top-bar"]>ul:first-of-type>li:last-of-type>ul {
		right: 0;
		left: 50%;
	}

	/* ul > li ul > li */

	#header div[class*="top-bar"] > ul > li ul > li {
		max-width: calc(80vw + 0.0625rem);
		height: var(--topbar-height-on-mobile);
		max-height: calc((100vh - 15rem) / 10);
		text-align: center;
	}

	/* ul > li > ul li > a */

	#header div[class*="top-bar"] > ul > li > ul li > a {
		font-size: 0.875rem;
		font-size: calc(var(--base-font-size) * (14 / 15));
		line-height: 1em;
		white-space: inherit;
	}

	/* ul > li > ul > li ul */
	/* Mobile Nested Menus */

	#header div[class*="top-bar"] > ul > li > ul > li ul {
		top: 100%;
		width: 90%;
	}

	#header div[class*="top-bar"] > ul > li > ul > li:nth-of-type(odd) ul {
		left: 10%;
	}

	#header div[class*="top-bar"] > ul > li > ul > li:nth-of-type(even) ul {
		left: 0%;
	}

	/* Sidebar Menu Button */
	#header div[class*="top-bar"] > div.open-menu {
		display: flex;
		width: var(--topbar-height-on-mobile);
		height: var(--topbar-height-on-mobile);
	}

	#header div[class*="top-bar"] > div.open-menu > p {
		display: inline-flex;
		align-content: stretch;
		align-items: stretch;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		justify-items: stretch;
	}

	#header div[class*="top-bar"] > div.open-menu > p,
	#header div[class*="top-bar"] > div.open-menu > p > a {
		justify-content: center;
	}

	#header div[class*="top-bar"] > div.open-menu > p > a {
		--wght: 700;
		display: flex;
		flex: 2 0 100%;
		align-items: center;
		justify-content: center;
		/* Overriding Wikidot's Default Styling */
		border: none !important;
		background-color: transparent !important;
		color: rgb(252, 252, 252) !important;
		color: rgb(var(--swatch-text-secondary-color)) !important;
		font-family: var(--body-font);
		font-size: 3em;
		letter-spacing: 0.016em;
		text-align: center;
		text-decoration: none;
	}
}

/* IE11 Only */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#header {
		background-position: left -14rem top 1.1875rem;
	}
}
