/* Selection color */

::selection {
	background: rgba(180, 35, 35, 0.25);
	background: rgba(var(--swatch-primary, 180, 35, 35), 0.25);
	text-shadow: none;
}

/* Main css files, yet to be organized */

.browserupgrade {
	margin: 0.2em 0;
	padding: 0.2em 0;
	background: #ccc;
	color: #000;
}

.code {
	--MONO: 1;
	padding: 1em;
	border-width: 0.0625rem;
	border-style: dashed;
	border-color: rgba(var(--swatch-border-color), 0.25);
	background-color: rgb(244, 244, 244);
	background-color: rgb(var(--swatch-secondary-color, 244, 244, 244));
	font-family: "PT Mono", "Andale Mono", "Courier New", Courier, monospace;
	font-family: var(--mono-font);
}

.code * {
	--MONO: 1;
	--calt: 0;
	max-width: 90vw;
	font-family: "PT Mono", "Andale Mono", "Courier New", Courier, monospace;
	font-family: var(--mono-font);
}

.code,
.code * {
	font-variation-settings: "wght" var(--mono-wght), "slnt" var(--slnt),
		"CASL" var(--CASL), "CRSV" var(--CRSV), "MONO" var(--MONO);
}

.code i,
.code i *,
.code em,
.code em *,
.code .italic,
.code .italic *,
.code [style*="italic"],
.code [style*="italic"] *,
.code [style*="oblique"],
.code [style*="oblique"] * {
	--slnt: -15;
}

.code p,
.code pre {
	margin: 0;
}

.code pre {
	white-space: pre-wrap;
}

tt {
	white-space: pre-wrap;
}

pre,
pre *,
tt,
tt * {
	font-variation-settings: "wght" var(--mono-wght), "slnt" var(--slnt),
		"CASL" var(--CASL), "CRSV" var(--CRSV), "MONO" var(--MONO);
}

#container {
	display: grid;
	grid-template-areas:
		"header"
		"content-wrap"
		"footer"
		"license";
	grid-template-rows: auto;
	width: 100%;
	height: 100%;
	margin: 0;
}

#container,
#content-wrap {
	padding: 0;
}

#content-wrap {
	display: grid;
	position: initial;
	grid-area: content-wrap;
	grid-template-areas: "side-bar . content .";
	grid-template-columns:
		/* Sidebar Width */
		calc(var(--sidebar-width-on-desktop))
		/* Space Between Sidebar and Content Width */
		calc(
			(
					((100vw - (100vw - 100%)) - var(--body-width-on-desktop)) -
						(var(--sidebar-width-on-desktop)) * 3
				) / 2
		)
		/* Content Width */
		1fr
		/* Space Between Content and Scrollbar Width */
		calc(
			(
					(100vw - (100vw - 100%)) -
						(
							var(--body-width-on-desktop) +
								(var(--sidebar-width-on-desktop))
						)
				) / 2
		);
	flex-direction: column;
	width: calc(100vw - (100vw - 100%));
	height: auto;
	min-height: calc(100vh - calc(var(--final-header-height-on-desktop)));
	margin: 0 auto;
	margin: 0 auto;
	padding: 0;
}

#action-area-top {
	grid-area: action-area-top;
}

#action-area {
	grid-area: action-area-btm;
}

#page-title,
.meta-title {
	--wght: 700;
	display: flex;
	align-items: center;
	min-height: 1em;
	margin: 0.5em 0 1em 0;
	padding: 0;
	border: none;
	color: rgb(12, 12, 12);
	color: rgb(var(--swatch-text-general));
	font-family: var(--title-font);
	font-size: 1.5em;
	line-height: 1;
	text-align: left;
	text-align: left;
	font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
}

@media only screen and (min-width: 900px) {
	#page-title,
	.meta-title {
		font-size: 2em;
	}
}

#page-title {
	grid-area: page-title;
}

#page-title::after,
.meta-title::after {
	content: "";
	flex-grow: 1;
	height: 0.0625rem;
	margin: auto auto auto 1.25rem;
	background: rgb(var(--swatch-tertiary-color));
}

.form-control {
	width: 95%;
}

.info-container .collapsible-block-link,
.info-container:hover .collapsible-block-link,
.info-container:active .collapsible-block-link {
	line-height: 1.6em;
}

.info-container:focus-within .collapsible-block-link {
	line-height: 1.6em;
}

/* Wikidot User Icons */

span.printuser {
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-right: 0;
}

span.printuser a:first-of-type {
	width: 1.75em;
}

.printuser img.small {
	width: 1em;
	min-width: auto;
	height: 1em;
	margin: 0 0.25rem 0 0;
	margin-right: 0.0625rem;
	padding: 0 0 0 0.5625em;
	background-position: center left;
	object-fit: fill;
	object-position: center center;
}

#main-content {
	display: grid;
	grid-area: content;
	grid-template-areas:
		"action-area-top action-area-top action-area-top action-area-top action-area-top action-area-top"
		"page-title page-title page-title page-title page-title page-title"
		"breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
		"page-content page-content page-content page-content page-content page-content"
		"page-info-break page-info-break page-info-break page-info-break page-info-break page-info-break"
		"page-tags page-tags page-tags page-tags page-tags page-tags"
		"page-tags page-tags page-tags page-tags page-tags page-tags"
		". . pwatch pwatch pwatch pwatch"
		". . pinfo pinfo pinfo pinfo"
		"options-1 options-1 options-1 options-1 options-1 options-1"
		"options-2 options-2 options-2 options-2 options-2 options-2"
		"pbottom pbottom pbottom pbottom pbottom pbottom"
		"action-area-btm action-area-btm action-area-btm action-area-btm action-area-btm action-area-btm";
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(7, min-content) 1fr repeat(3, min-content);;
	flex-basis: var(--body-width-on-desktop);
	width: calc(100% - 3rem);
	max-width: var(--body-width-on-desktop);
	margin: 0 auto;
	padding: 2rem 1rem;
	padding-right: 0;
	padding-left: 0;
	background-color: transparent;
}

#breadcrumbs,
.pseudocrumbs {
	grid-area: breadcrumbs;
	margin: -1em 0 1em;
	font-size: 85%;
}

#footer {
	display: flex !important;
	position: relative;
	left: 0;
	box-sizing: border-box;
	grid-area: footer;
	flex-direction: row;
	align-items: center;
	align-items: center;
	align-self: auto;
	justify-content: flex-end;
	width: 100%;
	height: 1rem;
	margin: 0;
	padding: 0.2875rem 0;
	clear: both;
	background: rgb(100, 3, 15);
	background: rgb(var(--swatch-primary-darkest, 100, 3, 15));
	color: rgb(66, 66, 72);
	color: rgb(var(--swatch-tertiary-color, 66, 66, 72));
	font-size: 77%;
	line-height: 1;
	white-space: nowrap;
}

#footer > a {
	margin-right: auto;
	padding-right: 0.5em;
}

#footer .options {
	display: block;
	visibility: visible;
	width: auto;
	margin-right: 0.25em;
	margin-left: auto;
	padding-right: 0.25em;
	float: right;
	border-right: 0.125rem solid rgba(var(--swatch-primary));
	font-size: 100%;
	text-align: right;
}

#footer .options,
#footer .options * {
	white-space: normal;
}

#footer .options * {
	white-space: nowrap;
}

#license-area {
	position: relative;
	grid-area: license;
	align-self: flex-end;
	width: 100%;
	padding: 0;
}

div.sexy-box {
	margin: 0.4375rem 0.25rem 0.75rem;
	padding: 0 0.625rem 0.75rem;
	overflow: hidden;
	border: 0.0625rem solid rgba(12, 12, 12, 0.25);
	border: 0.0625rem solid rgba(var(--swatch-border-color, 12, 12, 12), 0.25);
	background: rgb(252, 252, 252);
	background: rgb(var(--swatch-background, 252, 252, 252));
}

div.sexy-box div.image-container img {
	margin: 0.3125rem;
	padding: 0.125rem;
	border: 0.0625rem solid rgba(12, 12, 12, 0.5);
	border: 0.0625rem solid rgba(var(--swatch-border-color, 12, 12, 12), 0.5);
}

#page-content {
	grid-area: page-content;
	max-width: 90vw;
	min-height: 45rem;
}

.unmargined > p {
	margin: 0;
	line-height: 100%;
}

.content-panel {
	--box-shadow-1: rgba(var(--swatch-text-dark, 12, 12, 12), 0.16);
	--box-shadow-2: rgba(var(--swatch-text-dark, 12, 12, 12), 0.23);
	--box-shadow-3: rgb(var(--swatch-tertiary-color, 170, 170, 170));
	margin: 0.625em 0 0.938em;
	border-radius: 0.625rem;
	background-color: rgba(66, 66, 72, 0.5);
	background-color: rgba(var(--gray-monochrome, 66, 66, 72), 0.5);
	box-shadow: 0 0.188em 0.375em rgba(12, 12, 12, 0.16),
		0 0.188em 0.375em rgba(12, 12, 12, 0.23),
		0 0 0.0625rem 0 rgb(170, 170, 170) inset,
		0 0 0.0625rem 0 rgb(170, 170, 170);
	box-shadow: 0 0.188em 0.375em var(--box-shadow-1),
		0 0.188em 0.375em var(--box-shadow-2),
		0 0 0.0625rem 0 var(--box-shadow-3) inset,
		0 0 0.0625rem 0 var(--box-shadow-3);
}

.content-panel.standalone {
	box-sizing: border-box;
	padding: 1em 2em 2em 2em !important;
	background: rgb(252, 252, 252);
	background: rgb(var(--swatch-background, 252, 252, 252));
}

.content-panel.series {
	margin-bottom: 1.25rem;
	padding: 0 1.25rem;
}

.content-panel.centered {
	text-align: center;
}

.content-panel.left-column {
	width: 48%;
	float: left;
}

.content-panel.right-column {
	width: 48%;
	float: right;
}

.content-panel .panel-heading {
	--wght: 700;
	--text-shadow: rgba(var(--swatch-menutxt-dark-color, 12, 12, 12), 0.35);
	padding: 0.313em 0.625em;
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-secondary-color, 252, 252, 252));
	font-size: 100%;
	text-align: center;
	text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(12, 12, 12, 0.35);
	text-shadow: 0.0625rem 0.0625rem 0.125rem var(--text-shadow);
	text-transform: uppercase;
}

.content-panel .panel-body {
	padding: 0.313em 0.625em;
	background: rgb(var(--swatch-tertiary-color));
}

.content-panel .panel-body > .news-title {
	--wght: 700;
	font-family: var(--title-font);
	font-size: 90%;
	text-transform: uppercase;
}

.content-panel .panel-footer {
	--text-shadow: rgba(var(--swatch-menutxt-dark-color, 12, 12, 12), 0.5);
	--wght: 700;
	padding: 0.0625rem 0.625rem;
	font-size: 80%;
	letter-spacing: 0.016em;
	text-align: right;
	text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(12, 12, 12, 0.5);
	text-shadow: 0.0625rem 0.0625rem 0.125rem var(--text-shadow);
}

.content-panel .panel-footer,
.content-panel .panel-footer a {
	color: rgb(var(--swatch-tertiary-color));
}

.content-panel .content-toc {
	--box-shadow: rgba(var(--swatch-menutxt-dark-color, 12, 12, 12), 0.15);
	margin: 1.25rem 0 0.313rem 0.313rem;
	padding: 0 1.25rem;
	float: right;
	border: solid 0.0625rem rgb(var(--swatch-menubg-medium-dark-color));
	border-radius: 0.625rem;
	background-color: rgb(var(--swatch-tertiary-color));
	box-shadow: inset 0.0625rem 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
	box-shadow: inset 0.0625rem 0.125rem 0.375rem var(--box-shadow);
	white-space: nowrap;
}

.alternate:nth-child(even) {
	background-color: rgba(var(--swatch-menubg-color), 0.9);
}

.footer-wikiwalk-nav {
	--wght: 700;
	font-size: 75%;
	letter-spacing: 0.016em;
}

.forum-thread-box .description-block {
	--box-shadow-1: rgba(var(--swatch-menubg-black-color), 0.15);
	--box-shadow-2: rgba(var(--swatch-menubg-black-color), 0.8);
	--box-shadow-3: rgba(var(--swatch-menubg-color), 0.25);
	--box-shadow-4: rgba(var(--swatch-menubg-black-color), 0.1);
	padding: 0.5em 1em;
	border-radius: 0.625rem;
	box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, 0.15),
		inset 0 0.0625rem 0 rgba(255, 255, 255, 0.8),
		inset 0 0.625rem 0.3125rem rgba(255, 255, 255, 0.25),
		inset 0 -0.9375rem 1.875rem rgba(0, 0, 0, 0.1);
	box-shadow: 0 0.0625rem 0.3125rem var(--box-shadow-1),
		inset 0 0.0625rem 0 var(--box-shadow-2),
		inset 0 0.625rem 0.3125rem var(--box-shadow-3),
		inset 0 -0.9375rem 1.875rem var(--box-shadow-4);
}

.thread-container .post .long {
	padding: 0.5em;
	border: 0.0625rem solid rgba(var(--gray-monochrome), 0.25);
	border-radius: 0.3125rem;
}

.thread-container .post .head {
	--box-shadow: rgba(var(--swatch-menubg-black-color), 0.15);
	padding: 0.5em 1em;
	border-radius: 0.3125rem 0.3125rem 0 0;
	background: linear-gradient(
			to right,
			rgba(244, 244, 244),
			rgba(170, 170, 170)
		),
		rgba(244, 244, 244);
	background: linear-gradient(
			to right,
			rgba(var(--swatch-secondary-color)),
			rgba(var(--swatch-tertiary-color))
		),
		rgba(var(--swatch-secondary-color));
	box-shadow: inset 0.125rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.15);
	box-shadow: inset 0.125rem 0.1875rem 0.375rem var(--box-shadow);
	background-blend-mode: screen;
}

.thread-container .post .long .content {
	padding: 0 1em;
}

.thread-container .post .long .head .title {
	--wght: 700;
	font-family: var(--title-font);
	font-size: 1.2em;
	letter-spacing: 0.05em;
}

#page-content > div.forum-thread-box > div.new-post {
	display: flex;
	justify-content: flex-start;
}

#page-content > div.forum-thread-box > div.options,
.post-container > .post > div.long > div.options {
	display: flex;
	justify-content: flex-end;
}

#page-content > div.forum-thread-box > div.new-post > a,
#page-content > div.forum-thread-box > div.options a,
.post-container > .post > div.long > div.options a {
	--wght: 700;
	display: flex;
	flex-grow: 0;
	justify-content: center;
	margin: 0.1rem;
	padding: 0.25rem;
	transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
		color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	border: 0.0625rem solid rgba(140, 20, 25, 1);
	border: 0.0625rem solid rgba(var(--swatch-primary-darker), 1);
	border-radius: 0.25rem;
	background-color: rgba(178, 210, 180, 0.25);
	background-color: rgba(var(--swatch-secondary-color), 0.25);
	color: #64030f;
	color: rgb(var(--swatch-primary-darkest));
	letter-spacing: 0.016em;
}

#page-content > div.forum-thread-box > div.new-post > a:hover,
#page-content > div.forum-thread-box > div.new-post > a:active,
#page-content > div.forum-thread-box > div.options > a:hover,
#page-content > div.forum-thread-box > div.options > a:active,
.post-container > .post > div.long > div.options a:hover,
.post-container > .post > div.long > div.options a:active {
	background-color: rgba(30, 55, 30, 1);
	background-color: rgba(var(--swatch-menubg-dark-color), 1);
	color: rgb(140, 20, 25);
	color: rgb(var(--swatch-primary-darker));
	text-decoration: none;
}

#page-content > div.forum-thread-box > div.new-post > a:focus-within,
#page-content > div.forum-thread-box > div.options > a:focus-within,
.post-container > .post > div.long > div.options a:focus-within {
	background-color: rgba(30, 55, 30, 1);
	background-color: rgba(var(--swatch-menubg-dark-color), 1);
	color: rgb(140, 20, 25);
	color: rgb(var(--swatch-primary-darker));
	text-decoration: none;
}

.ruby {
	display: inline-table;
	height: 1em;
	line-height: 1;
	vertical-align: text-bottom;
}

.ruby,
.rt {
	text-align: center;
	white-space: nowrap;
}

.rt {
	display: table-header-group;
	font-size: 0.6em;
	line-height: 1.1;
}

.keycap {
	padding: 0.0625rem 0.1875rem;
	border: 0.0625rem solid;
	border-bottom-width: 0.125rem;
	border-radius: 0.1875rem;
	border-color: rgb(244, 244, 244) rgb(244, 244, 244) rgb(244, 244, 244)
		rgb(244, 244, 244);
	border-color: rgb(var(--swatch-secondary-color, 244, 244, 244))
		rgb(var(--swatch-secondary-color, 244, 244, 244))
		rgb(var(--swatch-secondary-color, 244, 244, 244))
		rgb(var(--swatch-secondary-color, 244, 244, 244));
	background-color: rgb(252, 252, 252);
	background-color: rgb(var(--swatch-background, 252, 252, 252));
	font-family: inherit;
	font-size: 0.85em;
	white-space: nowrap;
}

.tags {
	display: inline-block;
	height: 0.8125rem;
	margin: 0 0 0 0.3125rem;
	padding: 0.1875rem 0.3125rem 0.1875rem 0;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	background: rgb(var(--swatch-menubg-dark-color, 48, 48, 52));
	color: rgb(var(--swatch-text-secondary-color, 252, 252, 252));
	font-size: 11px;
	font-size: 0.6875rem;
	line-height: 13px;
	line-height: 0.8125rem;
	text-decoration: none;
}

.tags:before {
	top: -0.1875rem;
	left: -0.625rem;
	width: 0;
	height: 0;
	padding: 0 0.0625rem 0.1875rem;
	border-width: 0.5rem 0.5rem 0.5rem 0;
	border-style: solid;
	border-color: transparent rgb(48, 48, 52) transparent transparent;
	border-color: transparent rgb(var(--swatch-menubg-dark-color, 48, 48, 52))
		transparent transparent;
}

.tags:before,
.tags:after {
	content: "";
	position: relative;
	float: left;
}

.tags:after {
	--box-shadow: rgb(var(--swatch-menubg-dark-color, 48, 48, 52));
	top: 0.28125rem;
	left: -0.5rem;
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 0.125rem;
	background-color: rgb(252, 252, 252);
	background-color: rgb(var(--swatch-background, 252, 252, 252));
	box-shadow: -0.0625rem -0.0625rem 0.125rem rgb(48, 48, 52);
	box-shadow: -0.0625rem -0.0625rem 0.125rem var(--box-shadow);
}

.bblock:hover,
.bblock:active {
	background-color: rgb(12, 12, 12);
	background-color: rgb(var(--swatch-menubg-black-color, 12, 12, 12));
	color: rgb(100, 3, 15);
	color: rgb(var(--swatch-primary-darkest, 100, 3, 15));
	text-decoration: none;
}

.bblock:focus-within {
	background-color: rgb(12, 12, 12);
	background-color: rgb(var(--swatch-menubg-black-color, 12, 12, 12));
	color: rgb(100, 3, 15);
	color: rgb(var(--swatch-primary-darkest, 100, 3, 15));
	text-decoration: none;
}

.emph {
	text-emphasis-style: dot;
}

.page-source {
	word-break: break-all;
}

.visuallyhidden {
	position: absolute;
	width: 0.0625rem;
	height: 0.0625rem;
	margin: -0.0625rem;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	clip-path: rect(0, 0, 0, 0);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	white-space: inherit;
	clip-path: none;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

div#container-wrap {
	background: none;
}

textarea {
	line-height: normal;
}

.title.modal-header,
.owindow {
	background-color: rgb(252, 252, 252);
	background-color: rgb(var(--swatch-background, 252, 252, 252));
	color: rgb(12, 12, 12);
	color: rgb(var(--swatch-text-general, 12, 12, 12));
}

.signature,
.hidden {
	display: none;
}

.bblock,
.dblock {
	transition: 2s;
	background-color: rgb(12, 12, 12);
	background-color: rgb(var(--swatch-menubg-black-color, 12, 12, 12));
	color: rgb(12, 12, 12);
	color: rgb(var(--swatch-text-dark, 12, 12, 12));
	text-decoration: none;
}

#page-content div,
#page-content div table {
	max-width: 100%;
}

/* Edit History Styling */

table.page-history tr td:nth-of-type(2) input {
	width: initial;
}

/* Edit Area Styling */

table.form {
	margin: 0.5rem -0.25rem;
}

table.form,
table.form > tbody {
	width: 100%;
}

form#edit-page-form {
	padding: 0 0.5rem;
	border-radius: 1rem;
	background-color: rgba(170, 170, 170, 0.25);
	background-color: rgba(var(--swatch-tertiary-color), 0.25);
}

.wd-editor-toolbar-panel {
	display: flex;
	box-sizing: content-box;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0.5rem 0;
}

.change-textarea-size {
	padding: 0.5rem;
	float: right;
	text-align: right;
}

.change-textarea-size a {
	--wght: 700;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1rem;
	height: 1rem;
	padding: 0.15rem;
	border: 0.0625rem solid rgba(12, 12, 12);
	border: 0.0625rem solid rgba(var(--swatch-border-color));
	background-color: rgba(170, 170, 170);
	background-color: rgba(var(--swatch-tertiary-color));
	color: rgba(12, 12, 12);
	color: rgba(var(--swatch-text-tertiary-color));
}

.edit-help-34 {
	margin: 0.5rem;
	text-transform: capitalize;
}

.edit-help-34 > a:nth-of-type(1)::after {
	content: " |";
}

table.edit-page-bottomtable td {
	padding: 0;
}

table.edit-page-bottomtable {
	width: 100%;
}

div.buttons {
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto 2.125rem auto;
	text-align: left;
}

div.buttons,
div.buttons input {
	display: flex;
}

#upload-userfile,
.owindow .button-bar a,
div.buttons input,
input.button,
button,
file,
a.button,
.btn:not(.rateup):not(.ratedown):not(.cancel) {
	--wght: var(--ui-wght);
	display: inline-flex;
	position: relative;
	z-index: 2;
	justify-content: flex-start;
	margin: 0;
	padding: 0.25rem 0.25rem 0.25rem 0.5rem;
	overflow: hidden;
	transition:
		color 300ms cubic-bezier(0.4, 0, 0.2, 1),
		font-weight 200ms cubic-bezier(0.4, 0, 0.2, 1),
		font-variation-settings 200ms cubic-bezier(0.4, 0, 0.2, 1);
	border: 0.0625rem solid rgba(var(--swatch-border-color), 0.15);
	background-color: transparent;
	box-shadow: inset 0.25rem 0 0 0 rgb(var(--bright-accent));
	color: rgb(var(--swatch-text-tertiary-color));
	font-family: var(--UI-font);
}

div.buttons input,
input.button,
button,
file {
	transition: 
		box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1),
		color 300ms cubic-bezier(0.4, 0, 0.2, 1),
		font-weight 200ms cubic-bezier(0.4, 0, 0.2, 1),
		font-variation-settings 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

#upload-userfile::before,
.owindow .button-bar a::before,
a.button::before,
.btn:not(.rateup):not(.ratedown):not(.cancel)::before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 125%;
	height: 100%;
	transform: translateX(-100%);
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: initial;
	background-color: rgb(var(--bright-accent));
	pointer-events: none;
	clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

#upload-userfile:hover,
#upload-userfile:active,
.owindow .button-bar a:hover,
.owindow .button-bar a:active,
div.buttons input:hover,
div.buttons input:active,
input.button:hover,
input.button:active,
button:hover,
button:active,
file:hover,
file:active,
a.button:hover,
a.button:active,
.btn:not(.rateup):not(.ratedown):not(.cancel):hover,
.btn:not(.rateup):not(.ratedown):not(.cancel):active {
	--wght: var(--ui-hvr-wght);
	color: rgb(var(--swatch-text-secondary-color, 252, 252, 252));
	text-decoration: none;
	cursor: pointer;
}

div.buttons input:hover,
div.buttons input:active,
input.button:hover,
input.button:active,
button:hover,
button:active,
file:hover,
file:active {
	box-shadow: inset 20vw 0 0 0 rgb(var(--bright-accent));
}

#upload-userfile:focus-within,
.owindow .button-bar a:focus-within,
div.buttons input:focus-within,
input.button:focus-within,
button:focus-within,
file:focus-within,
a.button:focus-within,
.btn:not(.rateup):not(.ratedown):not(.cancel):focus-within {
	--wght: var(--ui-hvr-wght);
	color: rgb(var(--swatch-text-secondary-color, 252, 252, 252));
	text-decoration: none;
	cursor: pointer;
}

div.buttons input:focus-within,
input.button:focus-within,
button:focus-within,
file:focus-within {
	box-shadow: inset 20vw 0 0 0 rgb(var(--bright-accent));
}

#upload-userfile:hover::before,
#upload-userfile:active::before,
.owindow .button-bar a:hover::before,
.owindow .button-bar a:active::before,
a.button:hover::before,
a.button:active::before,
.btn:not(.rateup):not(.ratedown):not(.cancel):hover::before,
.btn:not(.rateup):not(.ratedown):not(.cancel):active::before {
	transform: translateX(15%);
}

#upload-userfile:focus-within::before,
.owindow .button-bar a:focus-within::before,
a.button:focus-within::before,
.btn:not(.rateup):not(.ratedown):not(.cancel):focus-within::before {
	transform: translateX(15%);
}

div.buttons.alignleft > input {
	flex-grow: 2;
	padding: 0.25rem;
	border-radius: 0.25rem;
}

div.buttons.alignleft {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}

/* Page Tags */

#main-content .page-tags {
	display: block;
	position: relative;
	grid-area: page-tags;
	width: 100%;
	margin: 0.7rem 0 -0.35rem 0;
	padding: 0;
	font-family: var(--UI-font);
	font-size: 0.8em;
	justify-self: flex-start;
}

#main-content .page-tags span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0.9em;
}

#main-content .page-tags span::before {
	content: "";
	position: relative;
	top: 0;
	width: 50%;
	height: 100%;
	float: right;
	pointer-events: none;
	shape-outside: polygon(5% 100%, 4rem calc(100% - 2rem), 100% calc(100% - 2rem), 100% 100%);
}

#main-content .page-tags span a:any-link:not([href^="/system:page-tags/tag/_"]) {
	--wght: calc(var(--ui-wght));
	display: inline-flex;
	margin: 0.15rem;
	padding: 0.2rem 0.35rem;
	transition:
		color 300ms cubic-bezier(0.4, 0, 0.2, 1),
		font-weight 200ms cubic-bezier(0.4, 0, 0.2, 1),
		font-variation-settings 200ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: inset 0 -0.0625rem 0 0 rgb(var(--swatch-primary));
	line-height: 1;
}

#main-content .page-tags span a:not([href^="/system:page-tags/tag/_"]):hover,
#main-content .page-tags span a:not([href^="/system:page-tags/tag/_"]):active {
	--wght: calc(var(--ui-hvr-wght));
	text-decoration: none;
}

#page-info-break {
	grid-area: page-info-break;
}

/* Article Bottom Buttons */
#page-options-container {
	display: contents;
	font-family: var(--UI-font);
}

div#page-info {
	grid-area: pinfo;
	align-self: flex-end;
	height: min-content;
	padding-right: 1em;
	overflow: visible;
	font-size: 0.7em;
	text-align: right;
}

div.page-watch-options {
	grid-area: pwatch;
	align-self: flex-end;
	height: min-content;
	padding-right: 1em;
	overflow: visible;
	font-size: 0.7em;
}

div.page-watch-options a:any-link {
	--hover-link-color: var(--swatch-menutxt-light-color);
	--wght: calc(var(--ui-wght) + 200);
	margin: -0.15em 0;
	padding: 0.15em;
	transition:
		box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
		color 300ms cubic-bezier(0.4, 0, 0.2, 1),
		font-weight 200ms cubic-bezier(0.4, 0, 0.2, 1),
		font-variation-settings 200ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: inset 0 0 0 0 rgb(var(--swatch-primary));
	box-decoration-break: clone;
}

div.page-watch-options a:hover,
div.page-watch-options a:active {
	--wght: calc(var(--ui-hvr-wght) + 200);
	box-shadow: inset -30vw 0 0 0 rgb(var(--swatch-primary));
	color: rgb(var(--swatch-menutxt-light-color));
	text-decoration: none;
}

div#page-options-bottom {
	position: relative;
	grid-area: options-1;
	padding-top: 0.25rem;
	box-shadow: 0 -0.125rem 0 0 rgb(var(--swatch-primary-darkest));
}

div#page-options-bottom-2 {
	grid-area: options-2;
}

div#page-options-area-bottom {
	grid-area: pbottom;
}

div[id*="page-options-bottom"] {
	--wght: var(--ui-wght);
	display: grid;
	gap: 0.25em;
	grid-template-columns: repeat(10, 1fr);
	justify-content: space-between;
	font-family: var(--UI-font);
	text-align: left;
	white-space: nowrap;
}

div[id*="page-options-bottom"] > a.btn:not(.rateup):not(.ratedown):not(.cancel) {
	grid-column: span 2;
	padding-left: 2.5em;
	transition:
		box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
		color 300ms cubic-bezier(0.4, 0, 0.2, 1),
		font-weight 200ms cubic-bezier(0.4, 0, 0.2, 1),
		font-variation-settings 200ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: inset 2em 0 0 0 rgb(var(--dark-accent));
	line-height: 1.5;
}

div[id*="page-options-bottom"] > a.btn:not(.rateup):not(.ratedown):not(.cancel):hover,
div[id*="page-options-bottom"] > a.btn:not(.rateup):not(.ratedown):not(.cancel):active {
	box-shadow: inset 2em 0 0 0 rgb(var(--bright-accent));
}

div[id*="page-options-bottom"] > a.btn:not(.rateup):not(.ratedown):not(.cancel):focus-within {
	box-shadow: inset 2em 0 0 0 rgb(var(--bright-accent));
}

div[id*="page-options-bottom"] > a > * {
	text-indent: 0;
}

div[id*="page-options-bottom"] > a::after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	width: 2em;
	height: 2em;
	transform: translateY(-50%);
	background-color: rgb(var(--swatch-text-secondary-color));
	mask-image: var(--button-icon);
	mask-size: 1.5em 1.5em;
	mask-position: center center;
	mask-repeat: no-repeat;
}

div[id*="page-options-bottom"] > a#edit-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Crect x='103.1' y='36.1' transform='matrix(0.7071 0.7071 -0.7071 0.7071 88.3726 -69.4924)' width='50' height='71.7'/%3E%3Cpolygon points='60.3,139.7 78,86.7 113.3,122 '/%3E%3Crect x='146.1' y='13.9' transform='matrix(0.7071 0.7071 -0.7071 0.7071 70.5477 -112.5254)' width='50' height='30'/%3E%3Cpath d='M178.5,97.5c-0.5-3.6-1.2-7.2-2.2-10.8c-0.9-3.5-2.1-6.9-3.4-10.2l-15.8,15.8c0.7,2.6,1.2,5.3,1.6,7.9l1.3,9l7.6,5l2,1.3 l-7.7,28.9l-2.4,0.1l-9.1,0.5l-5.6,7.2c-9.3,12-22,20.4-36.6,24.3c-5.9,1.6-11.9,2.4-17.9,2.4c-8.9,0-17.6-1.7-25.9-5.1l-8.4-3.4 l-8.1,4.1l-2.1,1.1l-21.2-21.2l1.1-2.1l4.1-8.1l-3.4-8.4c-1.1-2.6-2-5.4-2.7-8.1c-7.2-26.9,2.3-55.3,24.3-72.5l7.2-5.6l0.5-9.1 l0.1-2.4l28.9-7.7l1.3,2l5,7.6l9,1.3c2.7,0.4,5.3,0.9,7.9,1.6l15.8-15.8c-6.7-2.7-13.7-4.6-21-5.6L93.3,7.4L36.4,22.6l-0.9,16.8 C8,60.8-5.4,97.2,4.1,132.9c1,3.6,2.1,7.1,3.5,10.4L0,158.4L41.6,200l15.1-7.6c10.5,4.3,21.8,6.6,33.5,6.6c7.6,0,15.4-1,23.1-3.1 c19.5-5.2,35.7-16.5,47.3-31.3l16.9-0.9l15.2-56.9L178.5,97.5z'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#pagerate-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpath d='M0,100c0,51.9,39.5,94.5,90,99.5v-20.2c-39.4-4.9-70-38.6-70-79.4c0-33.5,20.7-62.2,50-74.1V100H40l50,60v-60V20.6V20V0.5 C39.5,5.5,0,48.1,0,100z'/%3E%3Cpath d='M110,0.5v20.2c39.4,4.9,70,38.6,70,79.4c0,33.5-20.7,62.2-50,74.1V100h30l-50-60v60h0v79.4h0v20.2c50.5-5,90-47.7,90-99.5 S160.5,5.5,110,0.5z'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#tags-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='183.5,37 185.2,20.4 164.3,13.5 '/%3E%3Cg%3E%3Cpolygon points='124.4,0.3 0.2,82.4 54.7,166.3 77,151.5 83.2,123.5 60.6,138.6 55.1,130.2 86.2,109.5 90.9,88.3 47,117.7 41.5,109.3 94,74.2 98.6,53.1 33.3,96.7 27.9,88.3 101.7,39 102.3,36.4 154.4,10.2 '/%3E%3Cpath d='M159.5,7.7l-57.2,28.7L71,178.9l97.8,20.8l31.3-142.5L159.5,7.7z M143.4,35.2c2.6-12.8,22.4-8.5,19.6,4.2 C160.4,52.1,140.6,47.8,143.4,35.2z M161.2,187.8l-78.3-16.6l28.1-128l23-11.5c-7.2,27.3,34.5,36.1,39,8.3l16.3,19.9L161.2,187.8z' /%3E%3C/g%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#discuss-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='85.4,107 80,115 140,115 140,125 73.4,125 63.4,140 140,140 140,150 20,150 20,140 56.6,140 46.6,125 20,125 20,115 40,115 30,100 30,100 20,100 20,90 30,90 30,70 0,70 0,170 120,170 140,200 160,170 160,107 '/%3E%3Cpath d='M40,0v97l20,30l20-30h120V0H40z M121.8,56.8c0-5.3,4-10.6,10.6-10.6c5.3,0,7.9,5.3,7.9,5.3s2.6-5.3,7.9-5.3 c6.6,0,10.6,5.3,10.6,10.6c0,10.6-13.2,13.2-18.5,21.2C135.1,70.1,121.8,67.4,121.8,56.8z M152.8,10l-9.9,9.9l1.7-9.9H152.8z M74.6,87l-3,4.5L60,109L50,94V10h90.6l-1.5,8.6L110,39v44.7l-7.1,3.3H80H74.6z M190,87h-12.9l-7.1-3.3V39l-19.6-13.7l21.2-7.7 l-1.4-3.8l-23.8,8.7l-0.2-0.2l12.1-12.1l-0.2-0.2H190V87z'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#history-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='108.9,113.9 123.6,63.4 109.1,59.3 90.3,124.1 104.7,128.3 126.3,134.5 130.5,120.1 '/%3E%3Cpath d='M192.1,141.1c4.4-10.9,6.8-22.7,6.8-34.7c0-7.9-1-16-3.2-24c-5.4-20.2-17.2-37.1-32.5-49.1l-1-17.5L103.2,0l-9.6,14.7 c-3.7,0.5-7.5,1.3-11.2,2.3c-3.6,1-7.1,2.1-10.5,3.5l-10-10L43.6,65.5l55.1-18.4L88.4,36.8c2.7-0.7,5.4-1.2,8.1-1.6l9.3-1.3L111,26 l1.4-2.1l30,8l0.1,2.5l0.5,9.4l7.5,5.8c12.4,9.7,21.1,22.8,25.2,38c1.6,6.1,2.5,12.4,2.5,18.6c0,9.2-1.8,18.3-5.3,26.9l-3.6,8.8 l4.3,8.4l1.1,2.2l-22,22l-2.2-1.1l-8.4-4.3l-8.7,3.5c-2.7,1.1-5.6,2.1-8.4,2.8c-27.9,7.5-57.5-2.4-75.2-25.2l-5.8-7.4l-9.4-0.5 l-2.5-0.1l-8-30L26,111l7.9-5.2l1.3-9.3c0.4-2.8,0.9-5.5,1.6-8.2L20.5,71.9c-2.8,6.9-4.8,14.2-5.8,21.8L0,103.2l15.8,59.1l17.5,1 c22.2,28.4,60,42.4,97,32.5c3.7-1,7.4-2.2,10.8-3.6l15.6,7.9l43.2-43.2L192.1,141.1z'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#files-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='18.4,43.5 0.3,48.3 34.8,150.9 '/%3E%3Cg%3E%3Cpolygon fill='none' points='60,20 60,200 200,200 200,75 145,20 '/%3E%3Cg%3E%3Crect x='60' y='200' width='90.9' height='0'/%3E%3C/g%3E%3C/g%3E%3Cpath d='M145,20h-5H60v180h140V80v-5L145,20z M180.9,70H150V39.1L180.9,70z M190,190H70V30h70v50h50V190z'/%3E%3Cg%3E%3Cpolygon points='130,125 120,125 120,10 90,10 90,100 100,100 100,40 110,40 110,110 80,110 80,0 130,0 '/%3E%3C/g%3E%3Cg%3E%3Cpath d='M216.6,175.6c0.2-1.7,0.3-3.5,0.3-5.2c0-19.7-11.5-37.4-29.4-45.3l-3-9.1h-34.3l-3,9.1c-17.9,8-29.4,25.7-29.4,45.3 c0,1.7,0.1,3.5,0.3,5.2l-6.4,7.1l17.2,29.7l9.4-2c8.5,6.2,18.6,9.5,29.2,9.5s20.7-3.3,29.2-9.5l9.4,2l17.2-29.7L216.6,175.6z M201.8,203.7l-7.4-1.6l-0.7,0.6c-7.4,6.1-16.8,9.4-26.4,9.4s-19-3.3-26.4-9.4l-0.7-0.6l-7.4,1.6l-11.5-20l5.1-5.7l-0.2-0.9 c-0.4-2.2-0.5-4.4-0.5-6.7c0-17.2,10.8-32.9,26.9-39.1l0.9-0.3l2.4-7.2h23.1l2.4,7.2l0.9,0.3c16.1,6.1,26.9,21.8,26.9,39.1 c0,2.2-0.2,4.5-0.5,6.7l-0.2,0.9l5.1,5.7L201.8,203.7z'/%3E%3Cpath d='M200.5,170.4c0-16.9-12.7-31.1-29.3-33v-4.8h-7.8v4.8c-16.6,2-29.3,16.1-29.3,33c0,4.6,0.9,9,2.7,13.1l-4.1,2.4l3.9,6.8 l4.1-2.4c6.3,8.4,16.1,13.3,26.6,13.3s20.4-5,26.6-13.3l4.1,2.4l3.9-6.8l-4.1-2.4C199.6,179.4,200.5,175,200.5,170.4z M143.8,170.4 c0-11.5,8.4-21.3,19.6-23.2v7.2H158l7.3,14.7l-0.3,0l0.2,0.3l-16.4,1l2.7,4.6l-6.2,3.6C144.2,176,143.8,173.2,143.8,170.4z M167.2,193.9c-7,0-13.6-3.1-18.1-8.5l6.2-3.6l2.7,4.6l9-13.7l0.1,0.3l0.1-0.3l9,13.7l2.7-4.6l6.2,3.6 C180.9,190.7,174.3,193.9,167.2,193.9z M189.2,178.6L183,175l2.7-4.6l-16.4-1l0.2-0.3l-0.3,0l7.3-14.7h-5.3v-7.2 c11.1,1.9,19.6,11.7,19.6,23.2C190.7,173.2,190.2,176,189.2,178.6z'/%3E%3C/g%3E%3Cg%3E%3Cpolygon fill='none' points='200,200 60,200 60,20 145,20 200,75 '/%3E%3C/g%3E%3Cpolygon points='27,30 50,200 50,28 '/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#print-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M140,10v60H60V10H140 M150,0H50v80h100V0L150,0z'/%3E%3C/g%3E%3C/g%3E%3Cpath d='M40,120v80h120v-80H40z M150,190H50v-60h100V190z'/%3E%3Cpath d='M0,50v100h50v-20h100v20h50V50H0z M30,67h20v20H30V67z M170,115H30v-10h140V115z'/%3E%3Cg%3E%3Cg%3E%3Cpath d='M76.5,200h9.1l-9.4-16.3l5.1-5.7l-0.2-0.9c-0.4-2.2-0.5-4.4-0.5-6.7c0-17.2,10.8-32.9,26.9-39.1l0.9-0.3l2.4-7.2h23.1 l2.4,7.2l0.9,0.3c10.3,3.9,18.5,11.8,23,21.5v-14.6c-4.7-5.5-10.7-10.1-17.6-13.2l-3-9.1h-34.3l-3,9.1 c-17.9,8-29.4,25.7-29.4,45.3c0,1.7,0.1,3.5,0.3,5.2l-6.4,7.1L76.5,200z'/%3E%3C/g%3E%3Cg%3E%3Cpolygon points='158.9,200 160,200 160,198.1 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cpath d='M91.5,192.7l4.1-2.4c3.1,4.1,7,7.4,11.5,9.7h30.3c4.5-2.3,8.4-5.6,11.5-9.7l4.1,2.4l3.9-6.8l-4.1-2.4 c1.8-4.1,2.7-8.5,2.7-13.1c0-16.9-12.7-31.1-29.3-33v-4.8h-7.8v4.8c-16.6,2-29.3,16.1-29.3,33c0,4.6,0.9,9,2.7,13.1l-4.1,2.4 L91.5,192.7z M126.2,154.5v-7.2c11.1,1.9,19.6,11.7,19.6,23.2c0,2.8-0.5,5.6-1.5,8.2L138,175l2.7-4.6l-16.4-1l0.2-0.3l-0.3,0 l7.3-14.7H126.2z M122.2,173l0.1-0.3l9,13.7l2.7-4.6l6.2,3.6c-4.4,5.4-11.1,8.5-18.1,8.5c-7,0-13.6-3.1-18.1-8.5l6.2-3.6l2.7,4.6 l9-13.7L122.2,173z M118.3,147.3v7.2H113l7.3,14.7l-0.3,0l0.2,0.3l-16.4,1l2.7,4.6l-6.2,3.6c-1-2.6-1.5-5.3-1.5-8.2 C98.8,158.9,107.2,149.1,118.3,147.3z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#site-tools-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpath d='M66,186.6l-0.8-14.5l-0.7-0.6c-12.4-10.1-21.2-23.7-25.3-39.2c-1.7-6.5-2.6-13.1-2.6-19.7c0-9.2,1.7-18.3,4.9-26.9l0.3-0.8 l-6.6-13l36.6-36.6l13,6.6l0.8-0.3c2.4-0.9,4.8-1.7,7.2-2.3c6.5-1.7,13.1-2.6,19.7-2.6c22.5,0,44.5,10.4,58.8,27.9l0.6,0.7l14.5,0.8 l13.4,50l-12.2,8l-0.1,0.9c-0.9,5.5-2.4,10.9-4.5,16.1l-1.1,2.8L166,127.7l0.3-1.1c0.5-2.1,1-4.2,1.3-6.4l1.2-8.4l7.5-4.9l-5.7-21.2 l-9-0.5l-5.2-6.7c-10.6-13.6-26.5-21.4-43.7-21.4c-4.8,0-9.7,0.6-14.4,1.9c-2.2,0.6-4.4,1.3-6.5,2.2l-7.8,3.2l-8-4.1L60.4,75.9 l4.1,8l-3.2,7.8c-2.7,6.7-4.1,13.6-4.1,20.8c0,4.8,0.6,9.7,1.9,14.4c3.2,11.8,9.9,21.9,19.5,29.4l6.7,5.2l0.5,9l21.2,5.7l4.9-7.5 l8.4-1.2c2.1-0.3,4.2-0.7,6.3-1.3l1.1-0.3l16.1,16.1l-2.8,1.1c-2.8,1.1-5.8,2.1-8.7,2.9c-2.4,0.7-4.9,1.2-7.4,1.6l-0.9,0.1l-8,12.2 L66,186.6z'/%3E%3Cpath d='M144,112.9c0-2.4-0.3-4.7-0.8-6.9l8.8-7.9c-2-5.3-5-10.1-8.9-14.2l-11,4.4c-1.8-1.4-3.8-2.7-5.9-3.7l-0.7-11.8 c-2.6-0.9-5.4-1.5-8.2-1.8c-2.8-0.3-5.7-0.4-8.4-0.1l-3.4,11.4c-2.3,0.5-4.5,1.3-6.6,2.3l-9.7-6.8c-4.7,3.1-8.7,7.1-11.9,11.8 l6.8,9.7c-1,2.1-1.8,4.3-2.3,6.6l-11.4,3.3c-0.5,5.8,0.1,11.4,1.8,16.6l11.8,0.8c1,2.1,2.2,4.1,3.7,5.9l-4.5,11 c4,3.8,8.8,6.9,14.1,9l8-8.8c1.1,0.3,2.3,0.5,3.4,0.6c1.2,0.1,2.3,0.2,3.5,0.2l5.8,10.4c5.7-0.8,11-2.7,15.8-5.5l-1.9-11.7 c1.8-1.4,3.5-3.1,4.9-4.9l11.7,2c2.8-4.7,4.8-10,5.6-15.8L144,112.9z M110.9,127.5c-8.4-1-14.5-8.6-13.5-17c1-8.4,8.6-14.4,17-13.5 c8.4,1,14.5,8.6,13.5,17C126.9,122.4,119.3,128.4,110.9,127.5z'/%3E%3Crect x='21.1' y='8.1' transform='matrix(0.7071 0.7071 -0.7071 0.7071 48.305 -20.5051)' width='55.6' height='80'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#more-options-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M55,35v30H25V35H55 M65,25H55H25H15v10v30v10h10h30h10V65V35V25L65,25z'/%3E%3Cg%3E%3Crect y='40' width='15' height='20'/%3E%3Crect x='65' y='40' width='135' height='20'/%3E%3C/g%3E%3Cpath d='M165,85v30h-30V85H165 M175,75h-10h-30h-10v10v30v10h10h30h10v-10V85V75L175,75z'/%3E%3Cg%3E%3Crect x='175' y='90' width='25' height='20'/%3E%3Crect y='90' width='125' height='20'/%3E%3C/g%3E%3Cpath d='M105,135v30H75v-30H105 M115,125h-10H75H65v10v30v10h10h30h10v-10v-30V125L115,125z'/%3E%3Cg%3E%3Crect y='140' width='65' height='20'/%3E%3Crect x='115' y='140' width='85' height='20'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

div[id*="page-options-bottom"] > a#edit-sections-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cg%3E%3Cpolygon points='14.1,63.7 0,49.6 0,140 90,140 90,139.6 '/%3E%3C/g%3E%3Crect y='160' width='90' height='40'/%3E%3Cpolygon points='110,0 110,60.6 130,80.6 130,20 180,20 180,180 130,180 130,160.1 110,153.4 110,200 200,200 200,0 '/%3E%3Crect x='56.3' y='31.4' transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 196.4094 81.5396)' width='50' height='100'/%3E%3Cpolygon points='159.1,159.2 141.4,106.2 106.1,141.6 '/%3E%3Crect x='3.3' y='13.4' transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 68.3764 28.5066)' width='50' height='30'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#edit-append-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpolygon points='62.5,62.4 7.5,44 44.2,7.3 '/%3E%3Cpath d='M93.9,14.7c-3.7,0.5-7.5,1.3-11.2,2.3c-3.6,1-7.1,2.2-10.5,3.5l16.4,16.4c2.7-0.7,5.5-1.3,8.2-1.6l9.3-1.3l5.2-7.9l1.4-2.1 l30,8l0.1,2.5l0.5,9.4l7.5,5.8c12.4,9.7,21.1,22.8,25.2,38c1.6,6.1,2.5,12.4,2.5,18.6c0,9.2-1.8,18.3-5.3,26.9l-3.6,8.8l4.3,8.4 l1.1,2.2l-22,22l-2.2-1.1l-8.4-4.3l-8.7,3.5c-2.7,1.1-5.6,2.1-8.4,2.8c-27.9,7.5-57.5-2.4-75.2-25.2l-5.8-7.4l-9.4-0.5l-2.5-0.1 l-8-30l2.1-1.3l7.9-5.2l1.3-9.3c0.4-2.8,0.9-5.5,1.6-8.2L20.8,71.9C18,78.8,16,86.1,15,93.6l-14.6,9.6l15.8,59.1l17.5,1 c22.2,28.4,60,42.4,97,32.5c3.7-1,7.4-2.2,10.8-3.6l15.6,7.9l43.2-43.2l-7.9-15.6c4.4-10.9,6.8-22.7,6.8-34.7c0-7.9-1-16-3.2-24 c-5.4-20.2-17.2-37.1-32.5-49.1l-1-17.5L103.5,0L93.9,14.7z'/%3E%3Ccircle fill='none' cx='106.6' cy='106' r='72.5'/%3E%3Cpath d='M106.6,61c-24.9,0-45,20.1-45,45c0,24.9,20.1,45,45,45c24.9,0,45-20.1,45-45C151.6,81.1,131.4,61,106.6,61z M136.6,111h-25 v25h-10v-25h-25v-10h25V76h10v25h25V111z'/%3E%3Crect x='3.7' y='6.6' transform='matrix(0.7071 0.7071 -0.7071 0.7071 16.6282 -6.885)' width='25.8' height='20'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#edit-meta-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M78.4,20.7L7.7,91.5L110.2,194l63.6-7.1l7.1-63.6L78.4,20.7z M113.9,183.5L21.8,91.5l56.6-56.6l92.1,92.1l-5.7,50.9 L113.9,183.5z'/%3E%3Cg%3E%3Cpolygon points='180.9,123.3 175.6,170.7 192.4,140.3 136.9,6.3 85.3,27.7 '/%3E%3Cpolygon points='61.6,37.5 44.5,44.6 47.5,51.7 '/%3E%3Cpolygon points='141.4,190.5 161.5,196.4 166.2,187.8 '/%3E%3C/g%3E%3C/g%3E%3Cpath d='M154.4,153.9c2.6,0,5.1,1,7.1,2.9c3.9,3.9,3.9,10.2,0,14.1c-2,2-4.5,2.9-7.1,2.9s-5.1-1-7.1-2.9c-3.9-3.9-3.9-10.2,0-14.1 C149.3,154.9,151.8,153.9,154.4,153.9 M154.4,143.9c-5.3,0-10.4,2.1-14.1,5.9c-7.8,7.8-7.8,20.5,0,28.3c3.8,3.8,8.8,5.9,14.1,5.9 c5.3,0,10.4-2.1,14.1-5.9c7.8-7.8,7.8-20.5,0-28.3C164.8,146,159.7,143.9,154.4,143.9L154.4,143.9z'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-width='10' stroke-miterlimit='10' points='65,105.2 65,75.2 95,75.2 '/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-width='10' stroke-miterlimit='10' points='128.5,108.8 128.5,138.8 98.5,138.8 '/%3E%3Cline fill='none' stroke='%23000000' stroke-width='10' stroke-miterlimit='10' x1='87.2' y1='130.1' x2='106.3' y2='83.9'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#watchers-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M76.9,124.8c-5.8-10.1-5.7-22.7,0.1-32.9l8.7,5c-4.1,7.1-4.1,15.9-0.1,23L76.9,124.8z'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M9.6,125.3l-9.2-4C27.5,56.5,98.3,18,158.8,25.8l-1,10C101.3,28.4,34.8,64.6,9.6,125.3z'/%3E%3C/g%3E%3C/g%3E%3Cpath d='M111.8,51.2C47.9,63.9,10.6,136.8,8.2,167.1C89.8,198.2,188.3,131.5,200,54.6C185.7,49.7,152,40.4,111.8,51.2z M141,132.1 c-3.6,3.2-7.5,6.1-11.5,8.8l-9.4-16.6c6.2-7,3.8-19.4-5.1-23.2c-7.4-2.8-11.3-12.5-8-19.7c0,0,0,0,0,0c-20,9-21.3,48.7,4.4,47.9 l9.6,16.8c-25.9,14.8-57.2,19.6-86.4,13.3l2.1-9.8c12.7,3.1,38.2,4.3,59.4-3.3C62.9,139.6,55.9,90.7,86,74.5 c28-17.7,65,10.5,57,41.9c8.6-9.2,15.8-19.9,21-31.5l9.1,4.1C165.7,105.5,154.6,120.4,141,132.1z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#backlinks-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpath d='M192.1,141.1c4.4-10.9,6.8-22.7,6.8-34.7c0-7.9-1-16-3.2-24c-5.4-20.2-17.2-37.1-32.5-49.1l-1-17.5L103.2,0l-9.6,14.7 c-3.7,0.5-7.5,1.3-11.2,2.3c-3.6,1-7.1,2.1-10.5,3.5l-10-10L43.6,65.5l55.1-18.4L88.4,36.8c2.7-0.7,5.4-1.2,8.1-1.6l9.3-1.3L111,26 l1.4-2.1l30,8l0.1,2.5l0.5,9.4l7.5,5.8c12.4,9.7,21.1,22.8,25.2,38c1.6,6.1,2.5,12.4,2.5,18.6c0,9.2-1.8,18.3-5.3,26.9l-3.6,8.8 l4.3,8.4l1.1,2.2l-22,22l-2.2-1.1l-8.4-4.3l-8.7,3.5c-2.7,1.1-5.6,2.1-8.4,2.8c-27.9,7.5-57.5-2.4-75.2-25.2l-5.8-7.4l-9.4-0.5 l-2.5-0.1l-8-30L26,111l7.9-5.2l1.3-9.3c0.4-2.8,0.9-5.5,1.6-8.2L20.5,71.9c-2.8,6.9-4.8,14.2-5.8,21.8L0,103.2l15.8,59.1l17.5,1 c22.2,28.4,60,42.4,97,32.5c3.7-1,7.4-2.2,10.8-3.6l15.6,7.9l43.2-43.2L192.1,141.1z'/%3E%3Cpath d='M102.2,108.3c-4.4,5.7-13-1-8.6-6.7l3.3-4.3c7.1-9.1,17-9.9,24.8-6.1c2.9,1.3,5.7,3.5,7.7,6c5.6,6.6,7.2,16.5,0.1,25.6l0,0 c0,0-20.9,26.9-20.9,26.9c-4.8,6.2-11,8.4-17,7.9c-7.6,0-15.5-5.5-18.3-12.6c-3.9-8.1-1.7-16.1,5.2-23.9c2.1,2.9,5.3,5.3,8.6,6.7 c-1.5,2-4.1,4.8-4.4,7.4c-1.5,6.5,4.8,12.8,11.3,11.5c2.1-0.3,4.3-1.4,6-3.6c4.9-6.3,20.9-26.9,20.9-26.9c1.3-1.6,1.9-3.3,2-4.9 c1.1-9.8-11.4-14.8-17.4-7.1L102.2,108.3z'/%3E%3Cpath d='M117.3,113.5c4.4-5.7-4.1-12.5-8.6-6.7l-3.3,4.3c-6,7.7-18.5,2.7-17.4-7.1c0.1-1.6,0.7-3.3,2-4.9c0,0,16-20.6,20.9-26.9 c1.7-2.2,3.9-3.3,6-3.6c6.5-1.4,12.8,5,11.3,11.5c-0.3,2.6-2.9,5.4-4.4,7.4c3.3,1.3,6.5,3.8,8.6,6.7c6.9-7.8,9.2-15.8,5.2-23.9 c-2.8-7.2-10.7-12.6-18.3-12.6c-6-0.5-12.2,1.7-17,7.9c0,0-20.9,26.9-20.9,26.9l0,0c-7.1,9.1-5.4,18.9,0.1,25.6c2,2.5,4.8,4.7,7.7,6 c7.8,3.7,17.7,3,24.8-6.1L117.3,113.5z'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#view-source-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cg%3E%3Cpolyline fill='none' stroke='%23000000' stroke-width='10' stroke-miterlimit='10' points='69.2,139.9 54.2,139.9 54.2,79.9 69.2,79.9 '/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-width='10' stroke-miterlimit='10' points='39.2,139.9 24.2,139.9 24.2,79.9 39.2,79.9 '/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-width='10' stroke-miterlimit='10' points='130.8,79.9 145.8,79.9 145.8,139.9 130.8,139.9 '/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-width='10' stroke-miterlimit='10' points='160.8,79.9 175.8,79.9 175.8,139.9 160.8,139.9 '/%3E%3Cline fill='none' stroke='%23000000' stroke-width='10' stroke-miterlimit='10' x1='116' y1='69.9' x2='84' y2='149.9'/%3E%3C/g%3E%3Cpath d='M190,45v130H10V45H190 M200,35H0v150h200V35L200,35z'/%3E%3Cg%3E%3Cpath d='M0,45h200V15H0V45z M59.9,25H180v10H59.9V25z M39.9,25h10v10h-10V25z M20,25h10v10H20V25z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#parent-page-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M114.2,95.9c-0.5-3.7-1.3-7.5-2.3-11.2c-1-3.6-2.1-7.1-3.5-10.5l10-10L63.4,45.8l18.4,55.1L92,90.6 c0.7,2.7,1.2,5.4,1.6,8.1l1.3,9.3l7.9,5.2l2.1,1.4l-8,30l16.2,19.9l15.8-59.1L114.2,95.9z'/%3E%3Cpath d='M160,70V30V20V0H0v20v10v100h40v70h160V100V90V70H160z M59.9,10H140v10H59.9V10z M39.9,10h10v10h-10V10z M20,10h10v10H20 V10z M190,190H50v-90h20.9l-3.3-10H60V80h4.3l-3.3-10h-11H40h-0.1v10v40H10V30h37.6h0H150v40h-23.2l-1.2,1.2l-5.5,5.5 c0.4,1.1,0.7,2.2,1,3.2h39h20v10h-56.5l10.8,7.1l4.5,2.9H190V190z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#page-block-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpath d='M140,120c5.5,0,10,4.5,10,10v50c0,5.5-4.5,10-10,10H60c-5.5,0-10-4.5-10-10v-50c0-5.5,4.5-10,10-10H140 M140,110H60 c-11,0-20,9-20,20v50c0,11,9,20,20,20h80c11,0,20-9,20-20v-50C160,119,151,110,140,110L140,110z'/%3E%3Cpolygon points='0,40 0,180 40,180 40,170 10,170 10,50 190,50 190,170 160,170 160,180 200,180 200,40 '/%3E%3Cpath fill='none' stroke='%23000000' stroke-width='10' stroke-miterlimit='10' d='M130,113H70V83c0-5.5,4.5-10,10-10h40 c5.5,0,10,4.5,10,10V113z'/%3E%3Cg%3E%3Cpath d='M0,50h200V20H0V50z M59.9,30H180v10H59.9V30z M39.9,30h10v10h-10V30z M20,30h10v10H20V30z'/%3E%3C/g%3E%3Cpath d='M100,185L100,185c-2.8,0-5-2.2-5-5v-30c0-2.8,2.2-5,5-5h0c2.8,0,5,2.2,5,5v30C105,182.8,102.8,185,100,185z'/%3E%3Cpath d='M105,160H95c-5.5,0-10-4.5-10-10v-10c0-5.5,4.5-10,10-10h10c5.5,0,10,4.5,10,10v10C115,155.5,110.5,160,105,160z'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#rename-move-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Crect x='80' y='140' width='20' height='20'/%3E%3Crect x='50' y='140' width='20' height='20'/%3E%3Crect x='20' y='140' width='20' height='20'/%3E%3Cpolygon points='190,110 174,110 177.4,120 190,120 190,170 10,170 10,120 91.2,120 81.2,110 10,110 0,110 0,120 0,170 0,180 10,180 190,180 200,180 200,170 200,120 200,110 '/%3E%3Cpolygon points='179.9,159.2 126.8,141.5 162.2,106.1 '/%3E%3Crect x='24.1' y='13.4' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -5.6833 42.9942)' width='50' height='30'/%3E%3Crect x='76.8' y='31.1' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -27.5307 95.7386)' width='50' height='100'/%3E%3C/svg%3E%0A");
}

div[id*="page-options-bottom"] > a#delete-button {
	--button-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' overflow='visible' xml:space='preserve'%3E%3Cpath d='M150,70v120H50V70H150 M160,60h-10H50H40v10v120v10h10h100h10v-10V70V60L160,60z'/%3E%3Cpath d='M170,30v20H30V30H170 M180,20h-10H30H20v10v20v10h10h140h10V50V30V20L180,20z'/%3E%3Crect x='95' y='90' width='10' height='80'/%3E%3Crect x='125' y='90' width='10' height='80'/%3E%3Crect x='65' y='90' width='10' height='80'/%3E%3Cpath d='M120,10v10H80V10H120 M130,0H70v30h60V0L130,0z'/%3E%3C/svg%3E%0A");
}

/* 1% Height Firefox Fixes */

.page-options-bottom,
.owindow .title,
.math-equation,
.bibitem,
.thread-container .post .long .options {
	height: auto;
}

/* Hiding Hidden Tags */
#main-content .page-tags a[href^="/system:page-tags/tag/_"] {
	display: none;
}

.emph {
	text-emphasis-style: dot;
}

@media only screen and (max-width: 900px) {
	#page-content {
		font-size: 0.9em;
	}

	#main-content {
		max-width: 90vw;
		margin: 2.1em auto 0;
		padding: 0;
	}

	.mobile-top-bar > div > p {
		display: block;
	}

	.page-options-bottom {
		height: initial;
	}

	.page-options-bottom a {
		padding: 0 0.25rem;
	}

	blockquote,
	.blockquote,
	div.blockquote,
	[class*="blockquote"] {
		margin: 0.75em 0;
	}

	.license-area {
		font-size: 0.8em;
	}

	.page-history tbody tr td:last-child {
		width: 35%;
		font-size: 1.5rem;
	}

	.owindow {
		min-width: 80%;
		max-width: 99%;
	}

	.modal-body .table,
	.modal-body .table ~ div {
		float: left;
	}

	.owindow .button-bar {
		float: right;
	}

	.owindow div .btn-primary {
		width: 100%;
		float: left;
	}

	table.form td,
	table.form th {
		padding: 0;
		float: left;
	}

	td.name {
		width: 15em;
	}

	#edit-page-title {
		--wght: 700;
		width: 100%;
		max-width: 90%;
		font-family: var(--title-font);
	}

	.content-panel.left-column,
	.content-panel.right-column {
		width: 99%;
		float: left;
	}

	#page-content div,
	#page-content div table {
		clear: both;
	}

	#page-content div.title {
		--wght: 700;
		font-family: var(--title-font);
		word-break: keep-all;
	}

	#content-wrap {
		grid-template-areas: "content content content";
		margin: 2.875em auto 0 !important;
	}

	#footer {
		align-self: auto;
		width: auto;
		height: 2rem;
	}

	#license-area {
		bottom: -0.5em;
		width: 90%;
		height: 3rem;
		margin: 0 auto;
		font-size: 1em;
		line-height: 1;
	}

	#search-top-box-input,
	#navi-bar,
	#navi-bar-shadow {
		display: none;
	}

	#recent-posts-category,
	.owindow div .btn-primary ~ div {
		width: 100%;
	}

	#page-options-bottom {
		width: 100%;
	}
}

@media print {
	*,
	:before,
	:after {
		background: transparent;
		box-shadow: none;
		color: rgb(12, 12, 12);
		color: rgb(var(--swatch-text-dark, 12, 12, 12));
		text-shadow: none;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap;
	}

	pre,
	blockquote,
	.blockquote,
	[class*="blockquote"] {
		page-break-inside: avoid;
		border: 0.0625rem solid rgb(66, 66, 72);
		border: 0.0625rem solid rgb(var(--swatch-tertiary-color, 66, 66, 72));
	}

	/* See https://scp-wiki.wikidot.com/component:preview */
	div.preview {
		display: none;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
