#content-wrap {
	position: inherit;
	margin: inherit;
	max-width: inherit;
	min-height: inherit;
	height: inherit;
	height: inherit;
}
h1,
#page-title {
	color: inherit;
	margin: inherit;
}
h1,
#page-title,h1 {
	padding: inherit;
	font-weight: inherit;
}
h1 {
	margin-top: inherit;
}
h2,
h3,
h4,
h5,
h6,
h7 {
	margin: inherit;
	padding: inherit;
	letter-spacing: inherit;
}
#page-title {
	border-color: inherit;
}
ul {
	/* list-style-image: inherit;
	 */
	list-style: inherit;
}
#top-bar ul {
	/* list-style-image: inherit;
	/* IE ONLY! IF list-style-image IS SET */
}
li,
p {
	line-height: inherit;
}
a {
	text-decoration: inherit;
	background: inherit;
}
a,#side-bar a:visited,a:visited,a.newpage {
	color: inherit;
}
a.newpage {
	background: inherit;
}
a.newpage,a:hover {
	text-decoration: inherit;
}
a:hover {
	background-color: inherit;
}
.form-control {
	width: inherit;
}
/* GLOBAL WIDTH */
#header,
#top-bar {
	max-width: inherit;
}
#header,
#top-bar,#top-bar {
	width: inherit;
	margin: inherit;
}
.mobile-top-bar {
	display: inherit;
	position: inherit;
	left: inherit;
	bottom: inherit;
	z-index: inherit;
}
body {
	background-color: inherit;
	font-size: inherit;
	color: inherit;
}
div#container-wrap {
	background: inherit;
}
sup {
	vertical-align: inherit;
	top: inherit;
}
/* HEADER */
sup,#header {
	position: inherit;
}
#header {
	height: inherit;
	z-index: inherit;
	padding-bottom: inherit;
	/* FOR MENU */
	background: inherit;
}
#search-top-box {
	position: inherit;
	top: inherit;
	right: inherit;
	width: inherit;
	text-align: inherit;
}
#search-top-box-input {
	border: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
#search-top-box-input,#search-top-box-input:hover,
#search-top-box-input:focus {
	color: inherit;
	background-color: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}
#search-top-box-input:hover,
#search-top-box-input:focus {
	border: inherit;
}
#search-top-box-form input[type="submit"] {
	border: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	padding: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	background-color: inherit;
	background: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	cursor: inherit;
}
#search-top-box-form input[type="submit"]:hover,
#search-top-box-form input[type="submit"]:focus {
	border: inherit;
	color: inherit;
	text-shadow: inherit;
	background: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}
#login-status {
	color: inherit;
	font-size: inherit;
	z-index: inherit;
}
#login-status a,#login-status ul a,#account-topbutton {
	background: inherit;
	color: inherit;
}
.printuser img.small {
	margin-right: inherit;
}
#header h1,#header h2 {
	margin-left: inherit;
	padding: inherit;
	float: inherit;
	max-height: inherit;
}
#header h2 {
	clear: inherit;
	font-size: inherit;
}
#header h1 a {
	background: inherit;
	font-family: inherit;
	font-size: inherit;
	text-decoration: inherit;
	letter-spacing: inherit;
}
#header h1 a,#header h2 span {
	display: inherit;
	margin: inherit;
	padding: inherit;
	line-height: inherit;
	max-height: inherit;
	color: inherit;
	text-shadow: inherit;
}
#header h2 span {
	font-weight: inherit;
}
/* TOP MENU */
#top-bar {
	position: inherit;
	z-index: inherit;
	top: inherit;
	height: inherit;
	line-height: inherit;
	padding: inherit;
	z-index: inherit;
	font-size: inherit;
}
#top-bar ul {
	float: inherit;
}
#top-bar li {
	margin: inherit;
}
#top-bar a {
	color: inherit;
	background: inherit;
}
#top-bar ul li {
	border: inherit;
	position: inherit;
}
#top-bar ul li ul {
	border: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	border-top: inherit;
}
#top-bar ul li a {
	border-left: inherit;
	border-right: inherit;
	text-decoration: inherit;
	padding-top: inherit;
	padding-bottom: inherit;
	line-height: inherit;
	max-height: inherit;
	overflow: inherit;
}
#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
	background: inherit;
	color: inherit;
	border-left: inherit;
	border-right: inherit;
}
#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
	border-width: inherit;
	width: inherit;
	border-top: inherit;
	line-height: inherit;
	height: inherit;
	max-height: inherit;
	padding-top: inherit;
	padding-bottom: inherit;
}
#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
	background: inherit;
	text-decoration: inherit;
}
#top-bar ul li ul {
	width: inherit;
}
#top-bar ul li ul,#top-bar ul li ul li,
#top-bar ul li ul li.sfhover,
#top-bar ul li ul li,
#top-bar ul li ul li:hover,#top-bar ul li ul li a {
	border-width: inherit;
}
#top-bar ul li ul a,
#top-bar a:hover {
	color: inherit;
}
.top-bar ul li:last-of-type ul {
	right: inherit;
}
/* IE7 HACK */
#top-bar ul > li > ul {
	*margin-top: inherit;
}
/* SIDE MENU */
#side-bar {
	clear: inherit;
	position: inherit;
	top: inherit;
	left: inherit;
	display: inherit;
}
#side-bar,#side-bar .side-block {
	padding: inherit;
	border: inherit;
}
#side-bar .side-block {
	-webkit-border-radius: inherit;
	border-radius: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	background: inherit;
	margin-bottom: inherit;
}
#side-bar .side-area {
	padding: inherit;
}
#side-bar .heading {
	color: inherit;
	border-bottom: inherit;
	padding-left: inherit;
	margin-top: inherit;
	margin-bottom: inherit;
	font-size: inherit;
	font-weight: inherit;
}
#side-bar p,#side-bar div.menu-item {
	margin: inherit;
}
#side-bar div.menu-item img {
	width: inherit;
	height: inherit;
	border: inherit;
	margin-right: inherit;
	position: inherit;
	bottom: inherit;
}
#side-bar div.menu-item a {
	font-weight: inherit;
}
#side-bar div.menu-item.inactive img {
	opacity: inherit;
}
#side-bar div.menu-item.inactive a {
	color: inherit;
}
#side-bar div.menu-item .sub-text {
	font-size: inherit;
	color: inherit;
}

#side-bar .collapsible-block-folded {
	background: inherit;
}
#side-bar .collapsible-block-link {
	margin-left: inherit;
	font-weight: inherit;
}
#side-bar .collapsible-block-unfolded-link {
	border-bottom: inherit;
}
#side-bar .collapsible-block-unfolded-link .collapsible-block-link {
	margin-top: inherit;
	margin-bottom: inherit;
	font-size: inherit;
	color: inherit;
}
#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
	color: inherit;
	text-decoration: inherit;
}
#side-bar ul {
	list-style-type: inherit;
	padding: inherit;
}
/* CONTENT */
#main-content {
	margin: inherit;
	padding: inherit;
	position: inherit;
}
/* ACTUALLY HIDE HIDDEN TAGS */
#main-content .page-tags a[href^="/system:page-tags/tag/_"] {
	display: inherit;
}
#breadcrumbs {
	margin: inherit;
}
.psuedocrumbs {
	margin: inherit;
}
/* YUI-TABS */
.yui-navset .yui-content {
	background-color: inherit;
}
.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
	background-color: inherit;
	background-image: inherit;
}
.yui-navset .yui-nav .selected a, .yui-navset .yui-nav .selected a:focus,
/* no focus effect for selected */
 .yui-navset .yui-nav .selected a:hover {
	/* no hover effect for selected */
	background: inherit;
	/* selected tab background */
	color: inherit;
}
.yui-navset .yui-nav a:hover,
.yui-navset .yui-nav a:focus {
	background: inherit;
	text-decoration: inherit;
}
.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav,.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
	border-color: inherit;
}
.yui-navset li {
	line-height: inherit;
}
/* FOOTER */
#footer {
	clear: inherit;
	font-size: inherit;
	background: inherit;
	color: inherit;
	margin-top: inherit;
	padding: inherit;
}
#footer .options {
	visibility: inherit;
	display: inherit;
	float: inherit;
	width: inherit;
	font-size: inherit;
	text-align: inherit;
}
#footer a {
	color: inherit;
	background: inherit;
}
/* SOME NICE BOXES */
div.sexy-box {
	background: inherit;
	overflow: inherit;
}
div.sexy-box,div.sexy-box div.image-container img {
	border: inherit;
	padding: inherit;
	margin: inherit;
}
/* Custom page content classes */
#page-content {
	min-height: inherit;
}
.unmargined > p {
	margin: inherit;
	line-height: inherit;
}
.content-panel {
	border: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	background-color: inherit;
	margin: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	box-shadow: inherit;
}
.content-panel.standalone {
	background: inherit;
}
.content-panel.series {
	padding: inherit;
	margin-bottom: inherit;
}
.content-panel.centered {
	text-align: inherit;
}
.content-panel.left-column,.content-panel.right-column {
	float: inherit;
	width: inherit;
}
.content-panel .panel-heading {
	padding: inherit;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-shadow: inherit;
}
.content-panel .panel-heading > p,
.content-panel .panel-footer > p {
	margin: inherit;
}
.content-panel .panel-body {
	padding: inherit;
	background: inherit;
	/* box-shadow: inherit; */
}
.content-panel .panel-footer {
	padding: inherit;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-align: inherit;
	text-shadow: inherit;
}
.content-panel .panel-footer a {
	color: inherit;
}
.content-panel .content-toc {
	float: inherit;
	padding: inherit;
	background-color: inherit;
	border: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	margin: inherit;
	white-space: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}
.alternate:nth-child(even) {
	background-color: inherit;
}
/* Page Rating Module Customizations */
.page-rate-widget-box {
	display: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	margin-bottom: inherit;
	margin-right: inherit;
}
.page-rate-widget-box .rate-points {
	background-color: inherit;
	border: inherit;
	border-right: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
	background-color: inherit;
	border-top: inherit;
	border-bottom: inherit;
	font-weight: inherit;
}
.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
	background: inherit;
	color: inherit;
	padding: inherit;
	margin: inherit;
}
.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
	background: inherit;
	color: inherit;
	text-decoration: inherit;
}
.page-rate-widget-box .cancel {
	background-color: inherit;
	border: inherit;
	border-left: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
.page-rate-widget-box .cancel a {
	background: inherit;
	text-transform: inherit;
	color: inherit;
}
.page-rate-widget-box .cancel a:hover {
	-webkit-border-radius: inherit;
	border-radius: inherit;
	background: inherit;
	color: inherit;
	text-decoration: inherit;
}
/* Heritage Collection Rating Module */
.heritage-rating-module {
	display: inherit;
	background-color: inherit;
	padding: inherit;
	border: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
.heritage-rating-module,.heritage-rating-module .page-rate-widget-box {
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	margin-right: inherit;
	margin-bottom: inherit;
}
.heritage-rating-module .heritage-emblem {
	float: inherit;
	position: inherit;
	top: inherit;
	left: inherit;
	height: inherit;
	width: inherit;
	overflow: inherit;
	margin-right: inherit;
}
.heritage-rating-module .heritage-emblem img {
	width: inherit;
	height: inherit;
	border: inherit;
}
/* Fixes for multi-line page tags */
#main-content .page-tags {
	margin: inherit;
	padding: inherit;
}
#main-content .page-tags span {
	display: inherit;
	padding: inherit;
	max-width: inherit;
}
#main-content .page-tags a {
	display: inherit;
	white-space: inherit;
}
/* Standard Image Block */
.scp-image-block {
	border: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	width: inherit;
}
.scp-image-block.block-right,.scp-image-block.block-left {
	float: inherit;
	clear: inherit;
	margin: inherit;
}
.scp-image-block.block-center {
	margin-right: inherit;
	margin-left: inherit;
}
.scp-image-block img {
	border: inherit;
	width: inherit;
}
.scp-image-block .scp-image-caption {
	background-color: inherit;
	border-top: inherit;
	padding: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-align: inherit;
	width: inherit;
}
.scp-image-block > p {
	margin: inherit;
}
.scp-image-block .scp-image-caption > p {
	margin: inherit;
	padding: inherit;
}
/* Wikiwalk Navigation */
.footer-wikiwalk-nav {
	font-weight: inherit;
	font-size: inherit;
}
/* Forum Customizations */
.forum-thread-box .description-block,.thread-container .post .head {
	padding: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}
.thread-container .post .head {
	background-color: inherit;
	background: inherit;
}
/* Hide Forum Signatures */
.signature {
	display: inherit;
}
/* Ruby by Nanimono Demonai */
.ruby,
ruby {
	height: inherit;
	vertical-align: inherit;
}
.ruby,
ruby,.rt,
rt {
	display: inherit;
	text-align: inherit;
	white-space: inherit;
	line-height: inherit;
}
/* Keycap */
.rt,
rt,.keycap {
	font-size: inherit;
}
.keycap {
	border: inherit;
	border-color: inherit;
	border-bottom-width: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	background-color: inherit;
	font-family: inherit;
	white-space: inherit;
}
/* tag style */
.keycap,.tags {
	padding: inherit;
}
.tags {
	display: inherit;
	margin: inherit;
	height: inherit;
	line-height: inherit;
	font-size: inherit;
	background: inherit;
	color: inherit;
	text-decoration: inherit;
	-webkit-border-bottom-right-radius: inherit;
	border-bottom-right-radius: inherit;
	-webkit-border-top-right-radius: inherit;
	border-top-right-radius: inherit;
}
.tags:before {
	padding: inherit;
	border-color: inherit;
	border-style: inherit;
	border-width: inherit;
}
.tags:before,.tags:after {
	content: inherit;
	float: inherit;
	position: inherit;
	top: inherit;
	left: inherit;
	width: inherit;
	height: inherit;
}
.tags:after {
	-webkit-border-radius: inherit;
	border-radius: inherit;
	background: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}
/* Display Black Block by Nanimono Demonai */
.bblock {
	-webkit-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}
.bblock,.bblock:hover,.dblock {
	color: inherit;
	background-color: inherit;
	text-decoration: inherit;
}
.dblock {
	-webkit-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}
.dblock:hover {
	background-color: inherit;
	text-decoration: inherit;
}
/* 2011-11-13 Minobe Hiroyuki @ Marguerite Site www.marguerite.jp/Nihongo/WWW/CSSTips/EmphasizeDots-CSS3.html Edited for the SCP Foundation by Nanimono_Demonai */
.emph {
	-webkit-text-emphasis-style: inherit;
	text-emphasis-style: inherit;
}
/* For FireFox */
@document url-prefix() {
	.emph {
		/* For the environments which comply with CSS3. */
		font-family: inherit;
		font-style: inherit;
		font-weight: inherit;
		background-image: inherit;
		background-repeat: inherit;
		padding: inherit;
		background-color: inherit;
		background-clip: inherit;
		-webkit-background-size: inherit inherit;
		background-size: inherit;
	}
}
/* For IE10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.emph {
		/* For the environments which comply with CSS3. */
		font-family: inherit;
		font-style: inherit;
		font-weight: inherit;
		background-image: inherit;
		background-repeat: inherit;
		padding: inherit;
		background-color: inherit;
		background-clip: inherit;
		-webkit-background-size: inherit inherit;
		background-size: inherit;
	}
}
/* viewport */
@-ms-viewport {
	width: inherit;
	zoom: inherit;
}
@-o-viewport {
	width: inherit;
	zoom: inherit;
}
@viewport {
	width: inherit;
	zoom: inherit;
}
/* IE viewport */
/* opera viewport */
/* chrome viewport - maybe it isn't work... */
/* firefox viewport - maybe it isn't work too... */
/* webkit scrollbar */
::-webkit-scrollbar {
	width: inherit;
	/* for vertical scrollbars */
	height: inherit;
	/* for horizontal scrollbars */
	border: inherit;
	border-round: inherit;
}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
	background: inherit;
}
.page-source {
	word-break: inherit;
}
/* Responsive Web Design */
img,
embed,
video,
object,
iframe,
table,#page-content div,
#page-content div table {
	max-width: inherit;
}
#edit-page-comments {
	width: inherit;
}
/* basic Query for mobile devices */
@media (max-width: 767px) {
	.owindow {
		min-width: inherit;
		max-width: inherit;
	}
	.modal-body .table,
	.modal-body .table ~ div,.owindow .button-bar {
		float: inherit;
	}
	.owindow div a.btn-primary {
		width: inherit;
		float: inherit;
	}
	.mobile-top-bar ul li:last-of-type ul {
		right: inherit;
	}
	span,
	a {
		word-break: inherit;
	}
}
/* Mobile Media Query */
@media (max-width: 479px) {
	#search-top-box-input {
		display: inherit;
	}
	#page-content {
		font-size: inherit;
	}
	#main-content {
		margin: inherit;
	}
	#recent-posts-category {
		width: inherit;
	}
	#header,
	.mobile-top-bar {
		max-width: inherit;
	}
	#side-bar {
		width: inherit;
		position: inherit;
	}
	.top-bar,.mobile-top-bar {
		display: inherit;
	}
	.mobile-top-bar,.page-options-bottom a {
		padding: inherit;
	}
	#header h1 a {
		font-size: inherit;
	}
	blockquote,
	.blockquote {
		margin: inherit;
	}
	.license-area {
		font-size: inherit;
	}
	#header {
		background-position: inherit;
		-webkit-background-size: inherit inherit;
		background-size: inherit;
	}
	#header h1,
	#header h2 {
		margin-left: inherit;
	}
	table.form td,
	table.form th {
		float: inherit;
	}
	/* td.title {
		 width: inherit;
	}
	 */
	td.name {
		width: inherit;
	}
	table.form td,
	table.form th {
		padding: inherit;
	}
	#edit-page-title {
		max-width: inherit;
	}
	.content-panel.left-column,
	.content-panel.right-column {
		width: inherit;
		float: inherit;
	}
	#page-content div,
	#page-content div table {
		clear: inherit;
	}
	#page-content div.title {
		word-break: inherit;
	}
}
/* Note Media Query */
@media (min-width: 480px) and (max-width: 580px) {
	#search-top-box-input {
		width: inherit;
	}
	#main-content {
		margin: inherit;
	}
	#header,
	.mobile-top-bar {
		max-width: inherit;
	}
	#side-bar {
		width: inherit;
		position: inherit;
	}
	.top-bar,.mobile-top-bar {
		display: inherit;
	}
	.page-options-bottom a {
		padding: inherit;
	}
	#header h1 a {
		font-size: inherit;
	}
	blockquote,
	.blockquote {
		margin: inherit;
	}
	.license-area {
		font-size: inherit;
	}
	#header {
		background-position: inherit;
		-webkit-background-size: inherit inherit;
		background-size: inherit;
	}
	#header h1,
	#header h2 {
		margin-left: inherit;
	}
	/* td.title {
		 width: inherit;
	}
	 */
	#page-content div.title {
		word-break: inherit;
	}
	td.name {
		width: inherit;
	}
	.content-panel.left-column,
	.content-panel.right-column {
		width: inherit;
		float: inherit;
	}
	#page-content div,
	#page-content div table {
		clear: inherit;
	}
}
/* Mini Tablet Media Query */
@media (min-width: 581px) and (max-width: 767px) {
	#search-top-box-input,#side-bar {
		width: inherit;
	}
	#side-bar {
		position: inherit;
	}
	#main-content {
		margin: inherit;
	}
	#header,
	.mobile-top-bar {
		max-width: inherit;
	}
	.top-bar,.mobile-top-bar {
		display: inherit;
	}
	.page-options-bottom a {
		padding: inherit;
	}
	#header h1 a,.license-area {
		font-size: inherit;
	}
	#header {
		background-position: inherit;
		-webkit-background-size: inherit inherit;
		background-size: inherit;
	}
	#header h1,
	#header h2 {
		margin-left: inherit;
	}
}
/* Tablet Media Query */
@media (min-width: 768px) and (max-width: 979px) {
	#main-content {
		margin: inherit;
	}
	#header,
	#top-bar #side-bar {
		max-width: inherit;
	}
	.top-bar li {
		margin: inherit;
	}
	#top-bar ul li.sfhover ul li a,
	#top-bar ul li:hover ul li a {
		width: inherit;
	}
	.page-options-bottom a {
		padding: inherit;
	}
	#header h1 a,.license-area {
		font-size: inherit;
	}
	#header {
		background-position: inherit;
		-webkit-background-size: inherit inherit;
		background-size: inherit;
	}
	#header h1,
	#header h2 {
		margin-left: inherit;
	}
	.content-panel.left-column,
	.content-panel.right-column {
		width: inherit;
		float: inherit;
	}
	#page-content div,
	#page-content div table {
		clear: inherit;
	}
}
/* Desktop Media Query ----------- @media (min-width: 980px) and (max-width: 1399px) {
}
 ------------------------------------------ */
/* Wide Monitor Media Query ----- @media (min-width: 1400px) {
}
 ------------------------------------------ */
/* off-canvas */
.close-menu {
	display: inherit;
}
@media (max-width: 767px) {
	.page-history tbody tr td:last-child {
		width: inherit;
	}
	.owindow {
		min-width: inherit;
		max-width: inherit;
	}
	.modal-body .table,
	.modal-body .table ~ div,.owindow .button-bar {
		float: inherit;
	}
	.owindow div .btn-primary {
		width: inherit;
		float: inherit;
	}
	.owindow div .btn-primary ~ div {
		width: inherit;
	}
	.yui-navset {
		z-index: inherit;
	}
	#navi-bar,
	#navi-bar-shadow {
		display: inherit;
	}
	#top-bar .open-menu a {
		position: inherit;
		top: inherit;
		left: inherit;
		z-index: inherit;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		width: inherit;
		height: inherit;
		line-height: inherit;
		text-align: inherit;
		border: inherit;
		background-color: inherit;
		-webkit-border-radius: inherit;
		border-radius: inherit;
		color: inherit;
	}
	#top-bar .open-menu a:hover {
		text-decoration: inherit;
		-webkit-box-shadow: inherit;
		box-shadow: inherit;
	}
	#main-content {
		max-width: inherit;
		margin: inherit;
	}
	#main-content,#side-bar {
		padding: inherit;
		-webkit-transition: inherit;
		-o-transition: inherit;
		transition: inherit;
	}
	#side-bar {
		display: inherit;
		left: inherit;
		overflow-y: inherit;
		z-index: inherit;
	}
	#side-bar,#side-bar:after {
		position: inherit;
		top: inherit;
		width: inherit;
		height: inherit;
		background-color: inherit;
	}
	#side-bar:after {
		content: inherit;
	}
	#side-bar:target {
		display: inherit;
		left: inherit;
		width: inherit;
		margin: inherit;
		border: inherit;
		z-index: inherit;
	}
	#side-bar:target + #main-content {
		left: inherit;
	}
	#side-bar:target .close-menu {
		display: inherit;
		position: inherit;
		width: inherit;
		height: inherit;
		top: inherit;
		left: inherit;
		background: inherit;
		z-index: inherit;
	}
}

@media (max-width: 479px) {
	#search-top-box-input {
		width: inherit;
	}
}
