/* Int Branch Root Vars */

/* Chinese Branch */
:root:lang(cn) {
	--theme-base: "黑色标记笔";
	--theme-id: "黑色标记笔";
	--theme-name: "黑色标记笔";

	/* Header */
	--header-title: "SCP基金会";
	--header-subtitle: "控制，收容，保护";

	/* Fonts */
	--body-font: Inter, "Noto Sans SC", Verdana, "Microsoft YaHei", "微软雅黑",
		Geneva, sans-serif, STXihei, "华文细黑";
	--UI-font: PTRootUI, "方体", "PingFang SC", "黑体", "Heiti SC",
		"Microsoft JhengHei UI", "Microsoft JhengHei", Roboto, Noto,
		"Noto Sans CJK SC", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--mono-font: Recursive, "Noto Serif SC", "Microsoft YaHei", "微软雅黑",
		"Courier New", Courier, monospace, STXihei, "华文细黑";
}

/* Italian Branch */
:root:lang(it) {
	/* Header */
	--header-title: "Fondazione SCP";
	--header-subtitle: "Branca Italiana - SCP Foundation";
}

/* Japanese Branch */
:root:lang(ja) {
	/* Header */
	--header-title: "SCP財団";
	--header-subtitle: "確保、収容、保護";

	/* Fonts */
	--body-font: Inter, "M PLUS 1p", "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック",
		"MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP",
		TakaoPGothic, sans-serif;
	--UI-font: PTRootUI, "游ゴシック体", YuGothic, "ヒラギノ丸ゴ",
		"Hiragino Sans", "Yu Gothic UI", "Meiryo UI", "MS Gothic", Roboto, Noto,
		"Noto Sans CJK JP", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--mono-font: Recursive, "IBM Plex Mono", "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック",
		"MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP",
		TakaoPGothic, monospace;
}

/* Korean Branch */
:root:lang(ko) {
	/* Header */
	--header-title: "SCP 재단";
	--header-subtitle: "확보, 격리, 보호";

	/* Fonts */
	--body-font: Inter, "Gothic A1", "Apple SD Gothic Neo", "NanumBarunGothic",
		"맑은 고딕", "Malgun Gothic", "굴림", "Gulim", "돋움", "Dotum",
		"Helvetica Neue", "Helvetica", Arial, sans-serif;
	--UI-font: PTRootUI, "Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic",
		Roboto, Noto, "Noto Sans CJK KR", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--mono-font: Recursive, "IBM Plex Mono", "Gothic A1", "Apple SD Gothic Neo",
		"NanumBarunGothic", "맑은 고딕", "Malgun Gothic", "굴림", "Gulim",
		"돋움", "Dotum", "Helvetica Neue", "Helvetica", Arial, monospace;
}

/* Polish Branch */
:root:lang(pl) {
	/* Header */
	--header-title: "Fundacja SCP";
	--header-subtitle: "Polska Filia SCP";
}

/* Portugese Branch */
:root:lang(pt-br) {
	/* Header */
	--header-title: "Fundação SCP";
	--header-subtitle: "Filial Lusófona";
}

/* Russian Branch */
:root:lang(ru) {
	/* Header */
	--header-title: "The SCP Foundation";
	--header-subtitle: "Russian Branch";

	/* Typefaces */
	--body-font: Inter, Arimo, Charcoal, Geneva, "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	--UI-font: PTRootUI, -apple-system, system-ui, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--header-font: Inter, Charcoal, "Franklin Gothic Medium", "Franklin Gothic",
		"ITC Franklin Gothic", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	--title-font: var(--header-font);
	--mono-font: Recursive, Consolas, monaco, monospace;
}

/* Thai Branch */
:root:lang(th) {
	/* Header */
	--header-title: "สถาบัน SCP";
	--header-subtitle: "ควบคุม, กักกัน, ป้องกัน";

	/* Typefaces */
	--body-font: Inter, "Kanit", Arimo, -apple-system, system-ui,
		BlinkMacSystemFont, "Segoe UI", Verdana, Geneva, sans-serif;
	--UI-font: PTRootUI, "Kanit", "Thonburi", "Leelawadee UI", "Cordia New",
		Roboto, Noto, "Noto Sans Thai", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--mono-font: Recursive, "Kanit", Consolas, monaco, monospace;
}

/* Traditional Chinese Branch */
:root:lang(zh) {
	/* Header */
	--header-title: "SCP基金會";
	--header-subtitle: "控制，收容，保護";

	/* Typefaces */
	--body-font: Inter, "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei",
		"Microsoft JhengHei UI", “微軟雅黑”, "Microsoft YaHei",
		"Microsoft YaHei UI", sans-serif;
	--UI-font: PTRootUI, "方體", "PingFang HK", "方體", "PingFang TC", "黑體",
		"Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", Roboto, Noto,
		"Noto Sans CJK TC", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--body-font: InRecursiveer, "Noto Sans TC", "微軟正黑體",
		"Microsoft JhengHei", "Microsoft JhengHei UI", “微軟雅黑”,
		"Microsoft YaHei", "Microsoft YaHei UI", monospace;
}

/* Ukrainian Branch */
:root:lang(uk) {
	/* Header */
	--header-title: "SCP Foundation";
	--header-subtitle: "Ukrainian branch";

	/* Typefaces */
	--body-font: Inter, Arimo, Charcoal, Geneva, "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	--UI-font: PTRootUI, -apple-system, system-ui, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--header-font: Inter, Charcoal, "Franklin Gothic Medium", "Franklin Gothic",
		"ITC Franklin Gothic", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	--title-font: var(--header-font);
	--mono-font: Recursive, Consolas, monaco, monospace;
}

/* French Branch */
:root:lang(fr) {
	/* Header */
	--header-title: "Fondation SCP";
	--header-subtitle: "Sécuriser, Contenir, Protéger";
}

/* Spanish Branch */
:root:lang(es) {
	/* Header */
	--header-title: "La Fundación SCP";
	--header-subtitle: "Rama Hispanohablante";
}

/* German Branch */
:root:lang(de) {
	/* Header */
	--header-title: "SCP Foundation";
	--header-subtitle: "auf Deutsch";
}
