/* INT BRANCHES ROOT VARS
   ============================= */

/* Root Vars specific to various languages targeted to int-branches

/* ===DIRECTORY===
	1.  =SIMPLIFIED CHINESE BRANCH
	2.  =ITALIAN BRANCH
	3.  =JAPANESE BRANCH
	4.  =KOREAN BRANCH
	5.  =POLISH BRANCH
	6.  =PORTUGESE BRANCH
	7.  =RUSSIAN BRANCH
	8.  =THAI BRANCH
	9.  =TRADITIONAL CHINESE BRANCH
	10. =UKRAINIAN BRANCH
	11. =SPANISH BRANCH
	12. =GERMAN BRANCH
	13. =CZECH BRANCH
*/

/* ===SIMPLIFIED CHINESE BRANCH=== */
:root:lang(cn) {
	--theme-base: "黑色标记笔";
	--theme-id: "黑色标记笔";
	--theme-name: "黑色标记笔";

	/* Header */
	--header-title: "SCP基金会";
	--header-subtitle: "控制，收容，保护";

	/* Fonts */
	--body-font: Inter, "Noto Sans SC", Verdana, "Microsoft YaHei", "微软雅黑",
		Geneva, sans-serif, STXihei, "华文细黑";
	--UI-font: PTRootUI, "方体", "PingFang SC", "黑体", "Heiti SC",
		"Microsoft JhengHei UI", "Microsoft JhengHei", Roboto, Noto,
		"Noto Sans CJK SC", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--mono-font: Recursive, "Noto Serif SC", "Microsoft YaHei", "微软雅黑",
		"Courier New", Courier, monospace, STXihei, "华文细黑";
}

#side-bar:lang(cn) {
	--bilibili-icon-color: 0,161,214;
	display: grid;
	grid-template-columns: 5rem 1fr;
}

#side-bar:lang(cn) .heading {
	margin: 0;
}

#side-bar:lang(cn) div.side-block {
	grid-column: span 2;
}

#side-bar:lang(cn) div.side-block.media {
	flex-basis: 3.6875rem;
	grid-column: 1/ span 1;
}

#side-bar:lang(cn) div.side-block.media + div[style*="#f0f0f0"] {
	flex-basis: calc(var(--sidebar-width-on-desktop) - 3.6875rem);
	grid-column: 2/ span 1;
}

#side-bar:lang(cn) div.side-block.media + div[style*="#f0f0f0"] > div {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-auto-flow: row;
}

#side-bar:lang(cn) div.side-block.media + div[style*="#f0f0f0"] > div a {
	padding: 0.5em;
}

#side-bar:lang(cn) div.side-block.media div.menu-item {
	display: contents;
}

#side-bar:lang(cn) div.side-block.media .heading {
	align-items: center;
	justify-content: center;
	padding-left: 0;
}

#side-bar:lang(cn) div.side-block.media .menu-item div {
	border: none;
	align-items: center;
}

#side-bar:lang(cn) div.side-block.media a,
#side-bar:lang(cn) div.side-block.media a:visited {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	width: 1.6875rem;
	height: 1.6875rem;
	padding: 0;
	margin: 0;
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
	font-size: var(--base-font-size);
	line-height: 1;
	justify-content: center;
}

#side-bar:lang(cn) div.side-block.media a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(cn) div.side-block.media a:hover::before,
#side-bar:lang(cn) div.side-block.media a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cn) div.side-block.media a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cn) div.side-block.media a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(cn) div.side-block.media a[href*="bilibili"] {
	--social-logo-mask: var(--bilibili-mask);
	--social-color: var(--bilibili-icon-color);
}

/* ===ITALIAN BRANCH=== */
:root:lang(it) {
	/* Header */
	--header-title: "Fondazione SCP";
	--header-subtitle: "Branca Italiana - SCP Foundation";
}

side-bar:lang(it) div.menu-item {
	height: auto;
}

#side-bar:lang(it) .side-block.blue {
	margin: 0.5rem 0.5rem 0 0;
	padding: 0.5rem !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(it) .side-block.blue a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(it) .side-block.blue a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(it) .side-block.blue a:hover::before,
#side-bar:lang(it) .side-block.blue a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(it) .side-block.blue a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(it) .side-block.blue a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(it) .side-block.blue a[href*="facebook"] {
	--social-logo-mask: var(--facebook-mask);
	--social-color: var(--facebook-icon-color);
}

#side-bar:lang(it) .side-block.blue a[href*="twitter"] {
	--social-logo-mask: var(--twitter-mask);
	--social-color: var(--twitter-icon-color);
}

#side-bar:lang(it) .side-block.blue a[href*="instagram"] {
	--social-logo-mask: var(--instagram-mask);
	--social-color: var(--instagram-icon-color);
	background-image: var(--instagram-icon-gradient);
	background-size: contain;
}

#side-bar:lang(it) .side-block.blue a[href*="chat"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(it) .side-block.blue a[href*="reddit"] {
	--social-logo-mask: var(--reddit-mask);
	--social-color: var(--reddit-icon-color);
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(it) {
	flex-basis: 8rem;
}

/* ===JAPANESE BRANCH=== */
:root:lang(ja) {
	/* Header */
	--header-title: "SCP財団";
	--header-subtitle: "確保、収容、保護";

	/* Fonts */
	--body-font: Inter, "M PLUS 1p", "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック",
		"MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP",
		TakaoPGothic, sans-serif;
	--UI-font: PTRootUI, "游ゴシック体", YuGothic, "ヒラギノ丸ゴ",
		"Hiragino Sans", "Yu Gothic UI", "Meiryo UI", "MS Gothic", Roboto, Noto,
		"Noto Sans CJK JP", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--mono-font: Recursive, "IBM Plex Mono", "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック",
		"MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP",
		TakaoPGothic, monospace;
}

/* ===KOREAN BRANCH=== */
:root:lang(ko) {
	/* Header */
	--header-title: "SCP 재단";
	--header-subtitle: "확보, 격리, 보호";

	/* Fonts */
	--body-font: Inter, "Gothic A1", "Apple SD Gothic Neo", "NanumBarunGothic",
		"맑은 고딕", "Malgun Gothic", "굴림", "Gulim", "돋움", "Dotum",
		"Helvetica Neue", "Helvetica", Arial, sans-serif;
	--UI-font: PTRootUI, "Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic",
		Roboto, Noto, "Noto Sans CJK KR", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--mono-font: Recursive, "IBM Plex Mono", "Gothic A1", "Apple SD Gothic Neo",
		"NanumBarunGothic", "맑은 고딕", "Malgun Gothic", "굴림", "Gulim",
		"돋움", "Dotum", "Helvetica Neue", "Helvetica", Arial, monospace;
}

/* ===POLISH BRANCH=== */
:root:lang(pl) {
	/* Header */
	--header-title: "Fundacja SCP";
	--header-subtitle: "Polska Filia SCP";
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pl) {
	flex-basis: 8rem;
}

/* ===PORTUGESE BRANCH=== */
:root:lang(pt-br) {
	/* Header */
	--header-title: "Fundação SCP";
	--header-subtitle: "Filial Lusófona";
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(pt-br) {
	flex-basis: 8rem;
}

/* ===RUSSIAN BRANCH=== */
:root:lang(ru) {
	/* Header */
	--header-title: "The SCP Foundation";
	--header-subtitle: "Russian Branch";

	/* Typefaces */
	--body-font: Inter, Arimo, Charcoal, Geneva, "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	--UI-font: PTRootUI, -apple-system, system-ui, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--header-font: Inter, Charcoal, "Franklin Gothic Medium", "Franklin Gothic",
		"ITC Franklin Gothic", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	--title-font: var(--header-font);
	--mono-font: Recursive, Consolas, monaco, monospace;
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(ru) {
	flex-basis: 8rem;
}

/* ===THAI BRANCH=== */
:root:lang(th) {
	/* Header */
	--header-title: "สถาบัน SCP";
	--header-subtitle: "ควบคุม, กักกัน, ป้องกัน";

	/* Typefaces */
	--body-font: Inter, "Kanit", Arimo, -apple-system, system-ui,
		BlinkMacSystemFont, "Segoe UI", Verdana, Geneva, sans-serif;
	--UI-font: PTRootUI, "Kanit", "Thonburi", "Leelawadee UI", "Cordia New",
		Roboto, Noto, "Noto Sans Thai", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--mono-font: Recursive, "Kanit", Consolas, monaco, monospace;
}

/* ===TRADITIONAL CHINESE BRANCH=== */
:root:lang(zh) {
	/* Header */
	--header-title: "SCP基金會";
	--header-subtitle: "控制，收容，保護";

	/* Typefaces */
	--body-font: Inter, "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei",
		"Microsoft JhengHei UI", “微軟雅黑”, "Microsoft YaHei",
		"Microsoft YaHei UI", sans-serif;
	--UI-font: PTRootUI, "方體", "PingFang HK", "方體", "PingFang TC", "黑體",
		"Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", Roboto, Noto,
		"Noto Sans CJK TC", sans-serif;
	--header-font: var(--body-font);
	--title-font: var(--body-font);
	--body-font: InRecursiveer, "Noto Sans TC", "微軟正黑體",
		"Microsoft JhengHei", "Microsoft JhengHei UI", “微軟雅黑”,
		"Microsoft YaHei", "Microsoft YaHei UI", monospace;
}

/* ===UKRAINIAN BRANCH=== */
:root:lang(uk) {
	/* Header */
	--header-title: "SCP Foundation";
	--header-subtitle: "Ukrainian branch";

	/* Typefaces */
	--body-font: Inter, Arimo, Charcoal, Geneva, "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	--UI-font: PTRootUI, -apple-system, system-ui, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--header-font: Inter, Charcoal, "Franklin Gothic Medium", "Franklin Gothic",
		"ITC Franklin Gothic", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	--title-font: var(--header-font);
	--mono-font: Recursive, Consolas, monaco, monospace;
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(uk) {
	flex-basis: 8rem;
}


/* ===FRENCH BRANCH=== */
:root:lang(fr) {
	/* Header */
	--header-title: "Fondation SCP";
	--header-subtitle: "Sécuriser, Contenir, Protéger";
}

/* ===SPANISH BRANCH=== */
:root:lang(es) {
	/* Header */
	--header-title: "La Fundación SCP";
	--header-subtitle: "Rama Hispanohablante";
}

/* ===GERMAN BRANCH=== */
:root:lang(de) {
	/* Header */
	--header-title: "SCP Foundation";
	--header-subtitle: "auf Deutsch";
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(de) {
	flex-basis: 8rem;
}

/* ===GREEK BRANCH=== */
:root:lang(el) {
	/* Header */
	--header-title: "Το Ίδρυμα SCP";
	--header-subtitle: "Ελληνόφωνος κλάδος";
}

/* ===CZECH BRANCH=== */
:root:lang(cs) {
	/* Header */
	--header-title: "SCP Nadace";
	--header-subtitle: "Česká Větev SCP Nadace";
}

#side-bar:lang(cs) div.menu-item {
	height: auto;
}

#side-bar:lang(cs) .side-block.blue {
	margin: 0.5rem 0.5rem 0 0;
	padding: 0.5rem !important;
	background-color: rgba(var(--sidebar-media-bg-color)) !important;
}

#side-bar:lang(cs) .side-block.blue a {
	position: relative;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-color));
	mask-image: var(--social-logo-mask);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center center;
}

#side-bar:lang(cs) .side-block.blue a::before {
	--clip-path: 
		polygon(
			0 0, 
			0 0, 
			0 100%, 
			0 100%
		);
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgb(var(--social-icon-hover-color));
	pointer-events: none;
	clip-path: var(--clip-path);
}

#side-bar:lang(cs) .side-block.blue a:hover::before,
#side-bar:lang(cs) .side-block.blue a:active::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cs) .side-block.blue a:focus-within::before {
	--clip-path: 
		polygon(
			-15% 0, 
			115% 0, 
			100% 100%, 
			0 100%
		);
}

#side-bar:lang(cs) .side-block.blue a img {
	width: 1.6875rem;
	height: 1.6875rem;
	opacity: 0;
}

#side-bar:lang(cs) .side-block.blue a[href*="facebook"] {
	--social-logo-mask: var(--facebook-mask);
	--social-color: var(--facebook-icon-color);
}

#side-bar:lang(cs) .side-block.blue a[href*="instagram"] {
	--social-logo-mask: var(--instagram-mask);
	--social-color: var(--instagram-icon-color);
	background-image: var(--instagram-icon-gradient);
	background-size: contain;
}

#side-bar:lang(cs) .side-block.blue a[href*="discord"] {
	--social-logo-mask: var(--discord-mask);
	--social-color: var(--discord-icon-color);
}

#side-bar:lang(cs) .side-block.blue a[href*="github"] {
	--social-logo-mask: var(--github-mask);
	--social-color: var(--github-icon-color);
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:lang(cs) {
	flex-basis: 8rem;
}
