html {
	font-size: 1em;
	line-height: 1.5;
}

html,body {
	color: rgb(12, 12, 12);
	color: rgb(var(--swatch-text-general));
	font-variant-ligatures: none;
	scrollbar-color: rgba(var(--swatch-tertiary-color), 0.6) rgba(var(--swatch-tertiary-color), 0.1);
}

/* Webkit Scrollbar */

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
	background: rgba(170, 170, 170, 0.05);
	background: rgba(var(--swatch-tertiary-color), 0.1);
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
	background: rgba(170, 170, 170, 0.6);
	background: rgba(var(--swatch-tertiary-color), 0.6);
}

body {
	/* coloring */
	background-color: rgba(252, 252, 252, 1);
	background-color: rgba(var(--swatch-background), 1);

	/* font behavior */
	font-family: "Lato", sans-serif;
	font-family: var(--body-font);
	font-size: 0.875rem;
	font-size: var(--base-font-size);
	font-weight: 500;
	font-kerning: auto;
	font-variant-numeric: normal;
	font-feature-settings: "lnum", "kern", "clig", "calt";

	/* line behavior */
	orphans: 2;
	hyphens: manual;
	word-break: normal;
}

/* HTML5 Media Items */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

img,
embed,
video,
object,
iframe,
table {
	max-width: 100%;
}

input,
textarea,
select,
button,
meter,
progress {
	font-family: "Lato", sans-serif;
	font-family: var(--body-font);
}

table:not(.form) td > input {
	width: 100%;
}

/* User Input Items */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

#edit-page-comments {
	resize: both;
	line-height: 1.5;
	padding: 0 1rem;
	min-height: 3rem;
	width: calc(100% - 2rem);
}

textarea,
input.text,
input.checkbox,
div.note,
#lock-info {
	font-family: var(--body-font);
	border: 0.0625rem solid rgba(var(--swatch-border-color),0.25);
	background-color: rgb(var(--swatch-background));
	color: rgb(var(--swatch-text-general));
	scrollbar-color: rgba(var(--swatch-tertiary-color), 0.6) rgba(var(--swatch-tertiary-color), 0.1);
}

textarea::-webkit-scrollbar-track,
input.text::-webkit-scrollbar-track {
	background: rgba(170, 170, 170, 0.05);
	background: rgba(var(--swatch-tertiary-color), 0.1);
}

textarea::-webkit-scrollbar-thumb,
input.text::-webkit-scrollbar-thumb {
	background: rgba(170, 170, 170, 0.6);
	background: rgba(var(--swatch-tertiary-color), 0.6);
}

/* Standard Structure Elements */

pre * {
	font-family: "PT Mono", "Andale Mono", "Courier New", Courier, monospace;
	font-family: var(--mono-font);
	max-width: 90vw;
	white-space: pre;
	font-feature-settings: "calt" 0;
}

sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
	font-variant: sub;
}

hr {
	display: block;
	height: 0.063rem;
	border: 0;
	border-top: 0.063rem solid rgba(66, 66, 72);
	border-top: 0.063rem solid rgba(var(--swatch-tertiary-color, 66, 66, 72));
	margin: 1em 0;
	padding: 0;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	font-family: var(--title-font);
}

h1 {
	color: rgb(12, 12, 12);
	color: rgb(var(--swatch-text-general));
	font-weight: 700;
	margin: 0.7em 0 0.6em;
	padding: 0 0 0.25em;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	letter-spacing: 0.063rem;
	margin: 0.5em 0 0.4em;
	padding: 0;
}

ul {
	list-style: square;
}

/* Anchor Links */

a {
	color: rgb(180, 35, 35);
	color: rgb(var(--link-color));
}

a,a.newpage {
	text-decoration: none;
	background: transparent;
}

a.newpage {
	color: rgb(221, 102, 17);
	color: rgb(var(--newpage-color));
}

a:hover {
	text-decoration: underline;
	background-color: transparent;
	color: rgb(255, 52, 76);
	color: rgb(var(--hover-link-color));
}

a:visited {
	color: rgb(255, 52, 76);
	color: rgb(var(--visited-link-color));
}

/* Ruby Text */

ruby {
	display: inline-table;
	line-height: 1;
	height: 1em;
	vertical-align: text-bottom;
}

ruby,rt {
	text-align: center;
	white-space: nowrap;
}

rt {
	display: table-header-group;
	font-size: 0.6em;
	line-height: 1.1;
}

/* Teletype */

tt {
	overflow-wrap: break-word;
	hyphens: auto;
	font-family: "PT Mono", "Andale Mono", "Courier New", Courier, monospace;
	font-family: var(--mono-font);
	font-feature-settings: "calt" 0;
}

/* Chrome, Safari, Opera Scrollbar */

::-webkit-scrollbar {
	width: 1rem;
	width: var(--scrollbar-width);
	height: 0.5625rem;
	height: var(--scrollbar-width);
	border: solid 0.063rem rgba(12, 12, 12, 0.1);
	border: solid 0.063rem rgba(var(--swatch-menubg-black-color), 0.1);
	border-radius: 0.031rem;
}

::-webkit-scrollbar-track {
	background: rgba(12, 12, 12, 0.1);
	background: rgba(var(--swatch-menubg-black-color), 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(170, 170, 170, 0.4);
	background: rgba(var(--swatch-tertiary-color), 0.4);
}

/* Setting mobile body font size to 14px/0.875rem) */
@media only screen and (max-width: 320px) {
	body {
		font-size: calc(var(--base-font-size) * (14/15));
	}
}
