/* most of this is copied from the sidebar */

body#translations {
	background: rgb(var(--swatch-menubg-color));
}

#translations .interwiki__title {
	min-height: 1.5625rem;
	background: var(--gradient-sidemenu-header);
}

#translations .interwiki__title p {
	--wght: 900;
	font-weight: var(--wght);
	display: block;
	height: 1.5625rem;
	padding-right: 1rem;
	color: rgb(var(--swatch-text-secondary-color));
	font-size: calc(0.875rem * 0.95);
	letter-spacing: 0.2rem;
	line-height: 1.5625;
	text-align: right;
	text-shadow: none;
	text-transform: uppercase;
}

#translations .interwiki__entry {
	display: flex;
	flex-direction: row;
	flex-shrink: 2;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
	min-height: calc(2rem - var(--sidebar-internal-border-thickness));
	margin: 0;
	border-bottom: var(--sidebar-internal-border-thickness) solid rgba(var(--swatch-border-color), 0.08);
	font-size: 0;
	text-align: right;
}

#translations .interwiki__entry a {
	display: block;
	height: calc(2rem - var(--sidebar-internal-border-thickness));
	margin: 0;
	padding: 0 0.6em;
	transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);
	background-clip: padding-box;
	background-color: rgba(var(--swatch-menubg-hover-color), 0);
	color: rgb(var(--swatch-text-tertiary-color));
	font-size: calc(var(--base-font-size) * (14 / 15));
	letter-spacing: 0.04em;
	line-height: calc(2em - var(--sidebar-internal-border-thickness));
}
