/* Modules, IMG blocks, text blocks, and other elements used outside of the structural html */

/* TABVIEW */
 
.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
}
 
.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
    background-color:rgb(var(--light-gray-monochrome)); /* tab background */
    border-color:rgb(var(--gray-monochrome));
    color:rgb(var(--black-monochrome));
    transition: all 0.125s ease-in-out;
}
 
.yui-navset .yui-nav a em {
background-color: rgb(var(--light-grey-monochrome));
box-shadow: 0em 0.0625em 0.125em rgba(0,0,0,0.7);
border-color: #rgb(var(--gray-monochrome));
}
 
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a:focus,
.yui-navset .yui-nav .selected a:hover {
    background-image: none;
    background-color: rgb(var(--gray-monochrome)); /* selected tab background */
    color:rgb(var(--white-monochrome));
}
 
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a em {
    border-color: transparent;
    box-shadow: 0em 0.0625em 0.125em rgba(var(--dark-accent),0.5);
 background-color: rgb(var(--bright-accent)); 
}
 
.yui-navset .yui-content {
    background-color: rgb(var(--pale-gray-monochrome)); /* content background color */
}
 
.yui-navset .yui-content,
.yui-navset .yui-navset-top .yui-content {
    border-color: rgb(var(--light-gray-monochrome)); /* content border */
}
 
.yui-navset-left .yui-content {
    border-left-color: rgb(var(--light-gray-monochrome)); /* different border color */
}

/* BLOCKQUOTE */
 
blockquote {
  border-style: dashed;
  border-color: #a7a7a7;
  border-width: 0.063em;
  background-color: rgb(var(--pale-gray-monochrome));
  box-shadow: 0em 0.063em 0.125em rgba(0,0,0,0.1);
 }

/* IMAGE BLOCK */

div.image-block {
 float:right;
 margin:0 2em 1em 2em;
 width:300px;
}
 
div.image-block img {
width:300px;
}

/* RATING */

.page-rate-widget-box
{
    /* position: static;
	margin-top: -3rem; */
    overflow: hidden;
    display: inline-flex;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    padding: 0 0.5rem;
    text-transform: uppercase;
    background: linear-gradient(to top, rgb(99, 33, 37) 0%, rgb(76, 25, 30) 70%, rgb(56, 37, 37) 100%);
}

.page-rate-widget-box > span.rate-points,
.page-rate-widget-box > span.rateup,
.page-rate-widget-box > span.ratedown,
.page-rate-widget-box > span.cancel {
    padding: 0.25rem 0.15rem;
    display: block;
    border: none;
    font-size: .95em;
}

.page-rate-widget-box > span.rate-points,
.page-rate-widget-box > span.rateup,
.page-rate-widget-box > span.ratedown,
.page-rate-widget-box > span.cancel,
.page-rate-widget-box > span.rate-points > a,
.page-rate-widget-box > span.rateup > a,
.page-rate-widget-box > span.ratedown > a,
.page-rate-widget-box > span.cancel > a {
	color:rgb(var(--white-monochrome));
	font-weight:700;
	background: transparent !important;
}

.page-rate-widget-box .rateup a,.page-rate-widget-box .ratedown a
{
  margin:0 0.0625rem;
  padding:0 0.250rem;
}

.page-rate-widget-box .rateup a:hover,.page-rate-widget-box .ratedown a:hover
{
  background-color:rgb(var(--bright-accent));
  text-decoration:none;
}

.page-rate-widget-box .cancel a
{
  background:transparent;
}

.page-rate-widget-box .cancel a:hover
{
  background-color:rgb(var(--bright-accent));
  text-decoration:none;
}

.heritage-rating-module
{
  display:inline-block;
  background-color:#633;
  border:solid 1px #ccc066;
  border-radius:8px;
  box-shadow:0 1px 3px rgba(0,0,0,0.25);
  margin-right:2em;
  margin-bottom:10px;
  padding:2px 8px 2px 5px;
}

.heritage-rating-module .page-rate-widget-box
{
  box-shadow:none;
  margin-bottom:0;
  margin-right:0;
}

.heritage-rating-module .heritage-emblem
{
  float:left;
  position:relative;
  top:-2px;
  left:2px;
  height:16px;
  width:16px;
  overflow:visible;
  margin-right:2px;
}

.heritage-rating-module .heritage-emblem img
{
  width:20px;
  height:20px;
  border:0;
}

/* Article Images */

.scp-image-block
{
  border:solid 1px #000;
  box-shadow:0 1px 6px rgba(0,0,0,0.25);
  width:300px;
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  min-width:100%;
}

.scp-image-block.block-right
{
  float:right;
  clear:right;
  margin:0 2em 1em;
}

.scp-image-block.block-left
{
  float:left;
  clear:left;
  margin:0 2em 1em 0;
}

.scp-image-block.block-center
{
  margin-right:auto;
  margin-left:auto;
}

.scp-image-block img
{
  border:0;
  min-width:100%;
}

.scp-image-caption
{
  min-width:100%;
}

.scp-image-block .scp-image-caption
{
  background-color:silver;
  border-top:solid 1px #000;
  font-size:80%;
  font-weight:700;
  text-align:center;
  padding:2px 0;
}

.scp-image-block .scp-image-caption > p
{
  margin:0;
  padding:0 10px;
}

div.block-right,
div.block-left
{
  min-width:30% !important;
}

/* Mobile Elements */

@media only screen and (max-width: 768px) {
    div.block-right, div.block-left {
        min-width: 40% !important;
        margin: 0 auto;
    }
}
