/* Modules, IMG blocks, text blocks, and other elements used outside of the structural html */

/* TABVIEW */

.yui-navset * {
	transition: background-color 80ms cubic-bezier(0.4, 0.0, 0.2, 1), color 80ms cubic-bezier(0.4, 0.0, 0.2, 1); 	
}

.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
	zoom: unset;
	display: flex;
	flex-wrap: wrap;
	border-color: rgb(var(--swatch-primary-darker));
	width: calc(100% - 0.125rem);
	margin: 0 auto;
	border: 0;
	box-shadow: 0 calc(0.0625rem * 5) 0 0 rgb(var(--swatch-primary-darker));
}

.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
	zoom: unset;
	background-image: none;
	background-color: rgb(var(--swatch-menubg-light-color));
	/* tab background */
	border-color: transparent!important;
	border: unset;
	color: rgb(var(--black-monochrome));
}

.yui-navset .yui-nav a:hover, 
.yui-navset .yui-nav a:focus {
	zoom: unset;
	background-color: rgb(var(--swatch-primary-darkest));
	color: rgb(var(--white-monochrome));
}

.yui-navset .yui-nav li, 
.yui-navset .yui-navset-top .yui-nav li {
	background-color: rgb(var(--swatch-menubg-light-color));
	border-color: transparent;
	max-width: 100%;
	padding: 0;
	margin: 0;
	zoom: unset;
	display: flex;
	position: relative;
	flex-basis: 7vw;
	flex-grow: 2;
	box-shadow: 0 0 0 0.0625rem rgb(var(--swatch-primary-darker));
}

.yui-navset .yui-nav li a, 
.yui-navset-top .yui-nav li a, 
.yui-navset-bottom .yui-nav li a {
	display: flex;
	vertical-align: bottom;
	zoom: unset;
	width: 100%;
	align-items: center;
	justify-content: center;	
}

.yui-navset .yui-nav a em, 
.yui-navset .yui-navset-top .yui-nav a em {
	padding: 0.35em 0.75em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.yui-navset .yui-nav li em {
	border: unset!important;
}

/* Selected Tab */

.yui-navset .yui-nav .selected, 
.yui-navset .yui-navset-top .yui-nav .selected {
	padding: 0;
	margin: 0;
	flex-grow: 2;
	background-color: rgb(var(--swatch-primary-darker));
}

.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a em {
	border: none !important;
	border-color: transparent;

}
.yui-navset .yui-nav .selected a {
	color: rgb(var(--white-monochrome))!important;
	width: 100%;
	background-image: none;
}

.yui-navset .yui-nav .selected a:focus,
.yui-navset .yui-nav .selected a:active {
	background-color: rgb(var(--swatch-primary-darker));
	color: rgb(var(--white-monochrome));
}

.yui-navset .yui-nav .selected a:hover {
	background-color: rgb(var(--swatch-menubg-medium-color));
	color: rgb(var(--white-monochrome));
}


.yui-navset .yui-content {
	background-color: rgba(var(--swatch-menubg-light-color),0.25);
	/* content background color */
}

.yui-navset .yui-content,
.yui-navset .yui-navset-top .yui-content {
	border-color: rgb(var(--light-gray-monochrome));
	/* content border */
}

.yui-navset-left .yui-content {
	border-left-color: rgb(var(--light-gray-monochrome));
	/* different border color */
}

/* BLOCKQUOTE */

blockquote {
	border-style: dashed;
	border-color: #a7a7a7;
	border-width: 0.063em;
	background-color: rgb(var(--pale-gray-monochrome));
	box-shadow: 0em 0.063em 0.125em rgba(0, 0, 0, 0.1);
}

/* IMAGE BLOCK */

div.image-block {
	float: right;
	margin: 0 2em 1em 2em;
	width: 300px;
}

div.image-block img {
	width: 300px;
}

/* RATING */

:root {
	--rating-module-height: 1.3125rem;
}

/* Plain, no-credit-button rating module */
.page-rate-widget-box {
	/* position: static;
		margin-top: -3rem; */
	overflow: hidden;
	display: inline-flex;
	border-radius: 0;
	box-shadow: 0.0625rem 0.0625rem 0px rgba(0, 0, 0, 0.15);
	padding: 0 0.125rem;
	margin-bottom: 0.75rem;
	/*background: linear-gradient(to top, rgb(99, 33, 37) 0%, rgb(76, 25, 30) 70%, rgb(56, 37, 37) 100%);*/

	background: linear-gradient(to top, 
		rgba(var(--gray-monochrome),0.25) 0%, 
		rgba(var(--gray-monochrome), 0.15) 100%);
	background-color: rgb(var(--white-monochrome));
	border: 0.0625rem solid rgba(var(--black-monochrome),0.25);
	height: var(--rating-module-height);
	box-sizing: border-box;
}

/* Same rule as above, but specifically for the info module / credit button */
.rate-box-with-credit-button .page-rate-widget-box {
	border-radius: 0;
	box-shadow: none;
	background: none;
	border: none;
}

.page-rate-widget-box .rate-points,
.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown,
.page-rate-widget-box .cancel {
	display: block;
	border: none;
	margin: 0 0.125rem 0 0;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown,
.page-rate-widget-box .cancel,
.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a,
.page-rate-widget-box .cancel a,
/* Credit Button Rating Module Specific */
.rate-box-with-credit-button > .creditButton,
.rate-box-with-credit-button > .creditButton > p {
	padding: 0;
	width: calc(var(--base-font-size) * 1.5);
	display: block;
	line-height: var(--rating-module-height);
	text-align: center;
	transition: background-color var(--sidebar-transition-timing);
	text-transform: uppercase;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
	background-color: none;
	background: unset;
}

.page-rate-widget-box .rate-points,
.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown,
.page-rate-widget-box .cancel,
.page-rate-widget-box .rate-points a,
.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a,
.page-rate-widget-box .cancel a {
	color: rgb(var(--black-monochrome));
	font-weight: 700;
}

.page-rate-widget-box .cancel {
	font-size: 85%;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover,
.page-rate-widget-box .cancel a:hover {
	text-decoration: none;
}

.page-rate-widget-box .rateup a:hover {
	background-color: rgba(0, 200, 0, 0.8);
}

.page-rate-widget-box .ratedown a:hover {
	background-color: rgba(200, 0, 0, 0.8);
}

.page-rate-widget-box .cancel a:hover {
	background-color: rgba(200, 200, 200, 0.8);
}

.page-rate-widget-box .rate-points {
	line-height: var(--rating-module-height);
	padding: 0 calc(var(--base-font-size) * 0.5);
	text-transform: uppercase;
	font-size: calc(var(--base-font-size) * 0.8);
	/* !important is needed here to override styles loaded when Rate is clicked */
	background-color: transparent !important;
	color: rgb(var(--black-monochrome)) !important;
	display: flex;
}

.page-rate-widget-box .rate-points .number {
	font-size: calc(var(--base-font-size) * 1.2);
}

/* heritage Rating Module */

.heritage-rating-module {
	display: inline-block;
	background-color: #633;
	border: solid 1px #ccc066;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	margin-right: 2em;
	margin-bottom: 10px;
	padding: 2px 8px 2px 5px;
}

.heritage-rating-module .page-rate-widget-box {
	box-shadow: none;
	margin-bottom: 0;
	margin-right: 0;
}

.heritage-rating-module .heritage-emblem {
	float: left;
	position: relative;
	top: -2px;
	left: 2px;
	height: 16px;
	width: 16px;
	overflow: visible;
	margin-right: 2px;
}

.heritage-rating-module .heritage-emblem img {
	width: 20px;
	height: 20px;
	border: 0;
}

/* Info module */
/* These override the styles provided by the base Info Module so have been given a higher specificity with #page-content */

#page-content .creditRate {
	margin-right: 0;
	margin-bottom: 0;
}

#page-content .rate-box-with-credit-button {
	overflow: hidden;
	display: inline-flex;
	border-radius: 0;
	box-shadow: 0.0625rem 0.0625rem 0px rgba(0, 0, 0, 0.15);
	padding: 0 0.125rem;
	margin-bottom: 0.75rem;
	background: linear-gradient(to top, 
		rgba(var(--gray-monochrome),0.25) 0%, 
		rgba(var(--gray-monochrome), 0.15) 100%);
	background-color: rgb(var(--white-monochrome));
	border: 0.0625rem solid rgba(var(--black-monochrome),0.25);
	height: var(--rating-module-height);
	box-sizing: border-box;
}

#page-content .rate-box-with-credit-button > .creditButton:hover {
	background: rgba(50, 50, 50, 0.8);	
}

#page-content .rate-box-with-credit-button > .creditButton > p {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	width: calc(var(--rating-module-height) * 1.5);
	height: var(--rating-module-height);
}

#page-content .rate-box-with-credit-button > .creditButton > p > a {
	width: calc(var(--rating-module-height) * 1.5);
	height: var(--rating-module-height);
	border-left: none;
	font-size: 1em;
	display: flex;
}

#page-content .rate-box-with-credit-button > .creditButton > p > a::before {
	content: " ";
	position: absolute;
	width: calc(var(--base-font-size) * 1.5);
	height: var(--rating-module-height);
	top: 0;
	left: 0;
	background-color: rgb(var(--white-monochrome));
	-webkit-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 103 205.3' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M4.2,75.6c24.1-2.6,48.2-5.2,74.9-8.1c0,15.6,0,29.4,0,43.3c0,20.8,0.4,41.6-0.2,62.3 c-0.3,10.5,4,16.3,13.4,20c4,1.5,7.1,5.3,10.6,8c-0.8,1.4-1.6,2.8-2.4,4.3c-32.4,0-64.8,0-97.3,0c-0.9-1.1-1.7-2.3-2.6-3.4 c3.3-2.7,6.2-7,9.9-7.8c11.4-2.3,15.3-9,15.2-19.9c-0.2-20.3-0.6-40.5,0.1-60.8c0.4-11.8-4.4-18.1-15-22.3c-4.4-1.8-7.4-7.2-11-11 C1.4,78.6,2.8,77.1,4.2,75.6z'/%3E%3Cpath fill='%23FFFFFF' d='M79.6,27c0,16.3-11,26.9-27.5,26.7c-16.5-0.2-26.2-9.9-26.2-26c0-17,10.1-27.7,26.5-27.7 C68.6-0.1,79.6,10.8,79.6,27z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 103 205.3' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M4.2,75.6c24.1-2.6,48.2-5.2,74.9-8.1c0,15.6,0,29.4,0,43.3c0,20.8,0.4,41.6-0.2,62.3 c-0.3,10.5,4,16.3,13.4,20c4,1.5,7.1,5.3,10.6,8c-0.8,1.4-1.6,2.8-2.4,4.3c-32.4,0-64.8,0-97.3,0c-0.9-1.1-1.7-2.3-2.6-3.4 c3.3-2.7,6.2-7,9.9-7.8c11.4-2.3,15.3-9,15.2-19.9c-0.2-20.3-0.6-40.5,0.1-60.8c0.4-11.8-4.4-18.1-15-22.3c-4.4-1.8-7.4-7.2-11-11 C1.4,78.6,2.8,77.1,4.2,75.6z'/%3E%3Cpath fill='%23FFFFFF' d='M79.6,27c0,16.3-11,26.9-27.5,26.7c-16.5-0.2-26.2-9.9-26.2-26c0-17,10.1-27.7,26.5-27.7 C68.6-0.1,79.6,10.8,79.6,27z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	-webkit-mask-size: calc(var(--rating-module-height) * 0.35);
	mask-size: calc(var(--rating-module-height) * 0.35);
	-webkit-mask-position: top 0.3em center;
	mask-position: top 0.3em center;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	background-color: rgb(var(--black-monochrome));
	pointer-events: none;
}

#page-content .rate-box-with-credit-button > .page-rate-widget-box {
	overflow: hidden;
	display: inline-flex;
	border-radius: 0;
	padding: 0 0.125rem;
	box-shadow: none;
}

/* Article Images */

.scp-image-block {
	border: solid 1px #000;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
	width: 300px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	min-width: 100%;
}

.scp-image-block.block-right {
	float: right;
	clear: right;
	margin: 0 0 1em 2em;
}

.scp-image-block.block-left {
	float: left;
	clear: left;
	margin: 0 2em 1em 0;
}

.scp-image-block.block-center {
	margin-right: auto;
	margin-left: auto;
}

.scp-image-block img {
	border: 0;
	min-width: 100%;
}

.scp-image-caption {
	min-width: 100%;
}

.scp-image-block .scp-image-caption {
	background-color: silver;
	border-top: solid 1px #000;
	font-size: 80%;
	font-weight: 700;
	text-align: center;
	padding: 2px 0;
}

.scp-image-block .scp-image-caption > p {
	margin: 0;
	padding: 0 10px;
}

div.block-right,
div.block-left {
	min-width: 30% !important;
}

/* Tables */

table.wiki-content-table * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	border: 0.0625rem solid rgba(var(--swatch-menubg-medium-color),0.25)!important;
}

table.wiki-content-table, 
table.wiki-content-table tbody {
	border-collapse: unset;
	border-spacing: 0;
	margin: 0.5em auto;
	display: table;
	background-color: transparent;
}

table.wiki-content-table th {
	background: rgb(var(--swatch-menubg-light-color));
	color: rgb(var(--swatch-menutxt-light-color));
}

/* Mobile Elements */

@media only screen and (max-width: 768px) {
	:root {
		--rating-module-height: 1.5rem;
	}

	div.block-right,
	div.block-left {
		min-width: 40% !important;
		margin: 0 auto;
	}
}
