#header {
    width: 90vw;
    position: relative;
    z-index: 10;
    height: 9.375rem;
    background: url(https://nu-scptheme.github.io/Nu-SCP/images/logo.svg) 0.625rem 2.500rem no-repeat;
    background-position: left 0.75rem top 1.1875rem;
    background-clip: border-box;
    background-size: 5.375rem;
}

body {
  background-image: linear-gradient(to top,
                                    rgba(99, 33, 37, 0.97) 0%,
                                    rgb(76, 25, 30) 70%,
                                    rgb(56, 37, 37) 100%),
                    linear-gradient(to bottom,
                                    white 0%,
                                    white 7.5rem,
                                    rgba(var(--black-monochrome), 1) 7.5rem,
                                    rgba(var(--gray-monochrome), 1) 7.625rem,
                                    rgba(var(--gray-monochrome), 0.95) calc(100% - 0.125rem),
                                    rgba(var(--black-monochrome), 1) calc(100% - 0.125rem),
                                    rgba(var(--black-monochrome), 1) 100%),
                    linear-gradient(to bottom,
                                    rgba(var(--background-gradient-color), 1) calc(calc(0 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.987) calc(calc(0.8 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.951) calc(calc(2.9 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.896) calc(calc(6.4 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.825) calc(calc(11 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.741) calc(calc(16.6 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.648) calc(calc(23.1 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.55) calc(calc(30.4 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.45) calc(calc(38.3 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.352) calc(calc(46.7 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.259) calc(calc(55.4 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.175) calc(calc(64.4 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.104) calc(calc(73.5 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.049) calc(calc(82.5 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0.013) calc(calc(91.4 / 100) * var(--background-gradient-distance)),
                                    rgba(var(--background-gradient-color), 0) calc(calc(100 / 100) * var(--background-gradient-distance)));
    background-size: 100% 7.5rem, 100% 9.375rem, 100% var(--background-gradient-distance);
    /* 120px, 150px */
    background-repeat: no-repeat;
}

#header,
#top-bar {
    max-width: 61.25rem;
    /* 980px */
    font-weight: 600;
    margin: 0 auto;
}

#header > h1 > a > span {
    display: inline-table;
    z-index: 9999;
    color: transparent;
    width: 50vw;
    height: 7.5rem;
    position: absolute;
    left: 0;
    top: 0;
}

.mobile-top-bar {
    display: none;
    position: relative;
    left: 1rem;
    bottom: 0;
    z-index: 9999;
}

#header h1 {
    font-family: var(--header-font);
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    max-height: 7.75rem;
    position: absolute;
}

#header h1 a::before {
    content: "SCP Foundation";
    color: rgb(var(--white-monochrome));
    text-shadow: 0.063rem 0.063rem 0.063rem rgb(var(--black-monochrome));
}

#header h1,
#header h2 {
    font-family: var(--header-font);
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
}

#header h1 a {
    font-family: var(--header-font) !important;
    letter-spacing: -0.02em;
    display: block;
    line-height: 0;
    content: "The SCP Foundation";
    max-height: 0;
    color: rgb(var(--white-monochrome));
    font-size: 135%;
    text-decoration: none;
    text-shadow: none;
    z-index: 9999;
    padding: 1.875rem 0 0;
    margin-left: 6.75rem;
    margin-top: calc(0.3125rem + var(--offset-from-page-top));
}

#header h2 {
    font-size: 0.945rem;
}

#header h2 span {
    display: block;
    line-height: 0;
    font-weight: 400;
    color: transparent;
    text-shadow: none;
    margin-left: 6.75rem;
    margin-top: calc(3.8rem + var(--offset-from-page-top));
}

#header h2 span::before {
    content: "Secure, Contain, Protect";
    color: #fafafa;
    text-shadow: 0.063rem 0.063rem 0.063rem rgb(var(--black-monochrome));
}

#header-extra-div-1 {
    display: none;
}

#header-extra-div-2 {
    display: none;
}

#search-top-box {
    display: infline-flex;
    position: absolute;
    top: 47%;
    right: 0;
    width: auto;
    text-align: center;
}

#search-top-box-input {
    border: solid 0.063rem rgb(var(--black-monochrome));
    border-radius: 0.063rem;
    color: rgb(var(--white-monochrome));
    background-color: rgb(var(--gray-monochrome)) !important;
}

#search-top-box-input:hover,
#search-top-box-input:focus {
    border: solid 0.063rem rgb(var(--black-monochrome));
    border-radius: 0.063rem;
    color: rgb(var(--white-monochrome));
    background: #424242 !important;
}

#search-top-box-form input[type="submit"] {
    border: solid 0.063rem rgb(var(--black-monochrome));
    border-radius: 0.063rem;
    font-size: 90%;
    color: rgb(var(--white-monochrome));
    background: #590505 !important;
    box-shadow: none !important;
    cursor: pointer;
    padding: 0.188rem 0.313rem 0.125rem;
    /* 3px 5px 2px */
    margin-right: 0;
}

#search-top-box-form input[type="submit"]:hover,
#search-top-box-form input[type="submit"]:focus {
    border: solid 0.063rem rgb(var(--black-monochrome));
    border-radius: 0.063rem;
    color: rgb(var(--white-monochrome));
    text-shadow: 0 0 0.063rem rgba(255, 255, 255, 0.75);
    background: #590505 !important;
    box-shadow: none !important;
}

#login-status {
    color: rgb(var(--light-gray-monochrome));
    font-size: 90% !important;
    z-index: 10000;
    right: 0;
    top: 0.5rem;
}

#login-status a {
    background-color: transparent;
    color: rgb(var(--white-monochrome));
}

#login-status ul a {
    color: rgb(var(--black-monochrome));
    background-color: transparent;
}

#account-topbutton {
    background: silver;
    color: rgb(var(--black-monochrome));
}

#top-bar .mobile-top-bar {
    display: none;
    position: relative;
    left: 1rem;
    bottom: 0;
    z-index: 9999;
}

#top-bar {
    width: 100%;
    position: initial;
    z-index: 50;
    height: 1.625rem;
    line-height: 1.250rem;
    font-size: 90%;
    display: inline-flex;
    margin: calc(7.5rem + 0.125rem) 0 1.75rem 0;
    padding: 0 0 0.25rem;
    flex-wrap: nowrap;
}

/* In-Progress Top-Bar Implimentation */
#top-bar div.top-bar > ul,
#top-bar div.mobile-top-bar > ul {
	width: 90vw;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	max-width: 61.25rem;
	z-index: 20;
	height: 100%;
	display: flex;
	letter-spacing: 0.0625rem;
	text-align: center;
}

#top-bar div.top-bar > ul > li,
#top-bar div.mobile-top-bar > ul > li {
	flex-shrink: 2;
	flex-grow: 2;
	display: inline-flex;
	width: auto;
	margin: 0 0.25rem;
	list-style: outside none none;
    padding: 0;
    transition: background-color 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#top-bar div.top-bar > ul > li:hover,
#top-bar div.mobile-top-bar > ul > li:hover {
    background-color: rgb(var(--dark-gray-monochrome));
}

#top-bar div.top-bar > ul > li:hover > a,
#top-bar div.mobile-top-bar > ul > li:hover > a {
    background-color: transparent !important;
}

#top-bar div.top-bar > ul > li > a,
#top-bar div.mobile-top-bar > ul > li > a {
    padding: 0.3em;
	width: 100%;
	height: calc(100% - 0.6em);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: rgb(var(--white-monochrome)) !important;
	background-color: transparent !important;
	white-space: pre;
	border: none !important;
	position: relative;
}

#top-bar div.top-bar > ul > li:hover > a::before, 
#top-bar div.top-bar > ul > li:hover > a::after, 
#top-bar div.top-bar > ul > li.sfhover > a::before, 
#top-bar div.top-bar > ul > li.sfhover > a::after  {
	width: 100%;
}

#top-bar div.top-bar > ul > li > a:before, 
#top-bar div.top-bar > ul > li > a:after {
	height: calc(0.0625rem * 3);
	position: absolute;
	content: " ";
	background-color: rgba(var(--bright-accent),0.5);
	width: 0;
	transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#top-bar div.top-bar > ul > li > a:before {
	left: 0;
    top: 0;
}

#top-bar div.top-bar > ul > li > a:after {
	right: 0;
    bottom: 0;
}

#top-bar div.top-bar > ul > li > ul,
#top-bar div.mobile-top-bar > ul > li > ul {
    border: solid 0.0625rem rgb(var(--black-monochrome));
    background: rgba(var(--dark-gray-monochrome), 0.93);
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(var(--black-monochrome));
    border-top: none;
    z-index: 20;
    margin-top: 1.6875rem;
    position: absolute;
    width: 98vw;
    max-width: 61.25rem;
    align-self: flex-start;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-backdrop-filter: blur(0rem);
    backdrop-filter: blur(0rem);

    --top-bar-grid-height: 3rem;

    column-count: 4;
    column-gap: 0;
    column-rule: 1px solid rgb(var(--black-monochrome));

    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: stretch stretch;
    grid-gap: 0;
    gap: 0;
    grid-auto-flow: row;
    grid-auto-rows: var(--top-bar-grid-height);*/
}

#top-bar div.top-bar > ul > li > ul > li,
#top-bar div.mobile-top-bar > ul > li > ul > li {
    border: 0;
    position: relative;
    margin: 0;
    float: none;
    padding: 0;
    /*box-shadow: 0 0.0625rem 0 0 rgba(var(--black-monochrome));*/
    border-top: 0.0625rem solid rgb(var(--black-monochrome));
    transition: background-color 80ms cubic-bezier(0.4, 0.0, 0.2, 1);

    /* Prevent splitting in half onto the next column */
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;

    /* Text positioning */
    height: 3rem;
    display: table;
    width: 100%;
    word-break: normal;
}

#top-bar li ul {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -0.3rem);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0s linear 0.2s;
}

#top-bar li:hover ul,
#top-bar li ul:focus-within,
#top-bar li.sfhover ul {
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
    -webkit-backdrop-filter: blur(0.25rem) !important;
    backdrop-filter: blur(0.25rem) !important;
    transition: -webkit-backdrop-filter 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0s linear 0s;
}

#top-bar div.top-bar > ul > li > ul,
#top-bar div.mobile-top-bar > ul > li > ul {
    transform: translate(-50%, -0.3rem);
}

#top-bar div.top-bar > ul > li:hover > ul,
#top-bar div.top-bar > ul > li > ul:focus-within,
#top-bar div.top-bar > ul > li.sfhover > ul,
#top-bar div.mobile-top-bar > ul > li:hover > ul,
#top-bar div.mobile-top-bar > ul > li > ul:focus-within,
#top-bar div.mobile-top-bar > ul > li.sfhover > ul {
    transform: translate(-50%, 0);
}

#top-bar div.top-bar > ul > li > ul > li:hover,
#top-bar div.mobile-top-bar > ul > li > ul > li:hover {
    background: rgba(var(--white-monochrome), 0.15)
}

#top-bar div.top-bar > ul > li > ul > li:hover > a,
#top-bar div.top-bar > ul > li > ul > li > a:focus-within,
#top-bar div.mobile-top-bar > ul > li > ul > li:hover > a,
#top-bar div.mobile-top-bar > ul > li > ul > li > a:focus-within {
    text-decoration: none;
}

#top-bar div.top-bar > ul > li > ul > li > a,
#top-bar div.mobile-top-bar > ul > li > ul > li > a {
    background: transparent;
    color: rgb(var(--white-monochrome));
    width: auto;
    height: 100%;
    font-size: 120%;

    /* Text positioning */
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    /* Removing Scrollbar to deal with horizontal overflow and still allow sticky scrolling */

    :root {
        /* IE 10+ */
        -ms-overflow-style: none;
        /* Firefox */
        overflow: -moz-scrollbars-none;
        scrollbar-width: none;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(var(--bright-accent));
    }

    /* Mobile CSS */

    #header {
        background-image: url(var(--logo-image));
        --size: calc(8.75rem + var(--offset-from-page-top));
        --y-offset: 1.3125rem;
        background-position: calc(6.75rem - var(--size)) calc(((var(--size) * -1) + 7.5rem + var(--y-offset)) / 2);
        background-size: var(--size), 100% 7.5rem;
        background-repeat: no-repeat, repeat;
        width: 100vw;
        margin: 0;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: -7.5rem;
    }

    #header,
    .mobile-top-bar {
        max-width: 100%;
        left: 0;
    }

    #top-bar > div.top-bar {
        display: none !important;
    }

    #header h1 {
        font-size: calc(var(--base-font-size) * 1.35);
    }

    #header h2 {
        font-size: calc(var(--base-font-size) * 0.945);
    }

    #header h2 span::before {
        display: inline-block;
    }

    #login-status {
        font-size: 70%;
    }

    #top-bar {
        margin: 7.5rem 0 1.75rem 0;
        height: 3rem;
    }

    #top-bar .mobile-top-bar {
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100vw;
        background: linear-gradient(to bottom,
            rgba(var(--black-monochrome), 1) 0,
            rgba(var(--gray-monochrome), 1) 0.125rem,
            rgba(var(--gray-monochrome), 1) calc(3rem - 0.125rem),
            rgba(var(--black-monochrome), 1) calc(3rem - 0.125rem),
            rgba(var(--black-monochrome), 1) 3rem);
    }

    #top-bar .top-bar > ul {
        overflow: hidden;
    }

    #top-bar .mobile-top-bar {
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100vw;
        position: static;
        right: 0;
        left: 0;
        align-items: center;
        z-index: 9999;
    }

    #top-bar div.mobile-top-bar > ul {
        width: 100%;
    }

    #top-bar div.mobile-top-bar > ul > li > a {
        font-size: 125%;
        background: none;
    }

    #top-bar div.mobile-top-bar > ul > li > ul {
        margin-top: 2.938rem;
        column-count: 3;
    }

    #top-bar div.mobile-top-bar > ul > li > ul > li {
        max-height: 3rem;
    }

    #top-bar div.mobile-top-bar > ul > li > ul > li > a {
        font-size: var(--base-font-size)
    }

    #top-bar > div.mobile-top-bar > div.open-menu {
        width: 3rem;
        height: 3rem;
        display: flex;
    }

    #top-bar > div.mobile-top-bar > div.open-menu > p {
        display: inline-flex;
        align-items: stretch;
        justify-content: center;
        align-content: stretch;
        justify-items: stretch;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #top-bar > div.mobile-top-bar > div.open-menu > p > a {
        font-family: "Lato", san-serif;
        font-size: 3em;
        font-weight: 700;
        text-decoration: none;
        /* width: 100%; */
        text-align: center;
        color: rgb(var(--white-monochrome)) !important;
        flex: 2 0 100%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border: none !important;
        background-color: transparent !important;
    }

    #top-bar > div.mobile-top-bar > div.open-menu > p > a:hover {
        background-color: rgb(var(--dark-gray-monochrome));
        text-decoration: none;
    }
}
