#header {
	width: 90vw;
	position: relative;
	z-index: 10;
	height: 9.375rem;
	background-image: url("https://nu-scptheme.github.io/Nu-SCP/images/logo.svg");
	background-image: var(--logo-image);
	background-repeat: no-repeat;
	background-position: left 0.75rem top 1.1875rem;
	background-clip: border-box;
	-webkit-background-size: auto 5.375rem;
	background-size: auto 5.375rem;
	-webkit-filter: drop-shadow(.063rem .063rem .063rem rgb(12, 12, 12));
	filter: drop-shadow(.063rem .063rem .063rem rgb(12, 12, 12));
	-webkit-filter: drop-shadow(.063rem .063rem .063rem rgb(var(--black-monochrome)));
	filter: drop-shadow(.063rem .063rem .063rem rgb(var(--black-monochrome)));
}

body {
	background-image:
		-webkit-linear-gradient(bottom,
		rgb(100, 46, 44) 0%,
		rgb(12, 12, 12) 90%,
		rgb(12, 12, 12) 100%),
		-webkit-linear-gradient(top,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0) 7.5rem,
		rgba(12, 12, 12, 1) 7.5rem,
		rgba(66, 66, 72, 1) 7.625rem,
		rgba(66, 66, 72, 0.95) -webkit-calc(100% - 0.125rem),
		rgba(66, 66, 72, 1) -webkit-calc(100% - 0.125rem),
		rgba(12, 12, 12, 1) 100%),
		-webkit-linear-gradient(top,
		rgba(215, 215, 215, 1) 0rem,
		rgba(215, 215, 215, 0.987) 0.32rem,
		rgba(215, 215, 215, 0.951) 1.16rem,
		rgba(215, 215, 215, 0.896) 2.56rem,
		rgba(215, 215, 215, 0.825) 4.4rem,
		rgba(215, 215, 215, 0.741) 6.64rem,
		rgba(215, 215, 215, 0.648) 9.24rem,
		rgba(215, 215, 215, 0.55) 12.16rem,
		rgba(215, 215, 215, 0.45) 15.32rem,
		rgba(215, 215, 215, 0.352) 18.68rem,
		rgba(215, 215, 215, 0.259) 22.16rem,
		rgba(215, 215, 215, 0.175) 25.76rem,
		rgba(215, 215, 215, 0.104) 29.4rem,
		rgba(215, 215, 215, 0.049) 33rem,
		rgba(215, 215, 215, 0.013) 36.56rem,
		rgba(215, 215, 215, 0) 40rem);
	background-image:
		-webkit-gradient(linear,
		left bottom, left top,
		from(rgb(100, 46, 44)),
		color-stop(70%, rgb(12, 12, 12)),
		to(rgb(12, 12, 12))),
		-webkit-gradient(linear,
		left top, left bottom,
		from(rgba(255, 255, 255, 0)),
		color-stop(7.5rem, rgba(255, 255, 255, 0)),
		color-stop(7.5rem, rgba(12, 12, 12, 1)),
		color-stop(7.625rem, rgba(66, 66, 72, 1)),
		color-stop(rgba(66, 66, 72, 0.95)),
		color-stop(rgba(66, 66, 72, 1)),
		to(rgba(12, 12, 12, 1))),
		-webkit-gradient(linear,
		left top, left bottom,
		color-stop(0rem, rgba(215, 215, 215, 1)),
		color-stop(0.32rem, rgba(215, 215, 215, 0.987)),
		color-stop(1.16rem, rgba(215, 215, 215, 0.951)),
		color-stop(2.56rem, rgba(215, 215, 215, 0.896)),
		color-stop(4.4rem, rgba(215, 215, 215, 0.825)),
		color-stop(6.64rem, rgba(215, 215, 215, 0.741)),
		color-stop(9.24rem, rgba(215, 215, 215, 0.648)),
		color-stop(12.16rem, rgba(215, 215, 215, 0.55)),
		color-stop(15.32rem, rgba(215, 215, 215, 0.45)),
		color-stop(18.68rem, rgba(215, 215, 215, 0.352)),
		color-stop(22.16rem, rgba(215, 215, 215, 0.259)),
		color-stop(25.76rem, rgba(215, 215, 215, 0.175)),
		color-stop(29.4rem, rgba(215, 215, 215, 0.104)),
		color-stop(33rem, rgba(215, 215, 215, 0.049)),
		color-stop(36.56rem, rgba(215, 215, 215, 0.013)),
		color-stop(40rem, rgba(215, 215, 215, 0)));
	background-image:
		-o-linear-gradient(bottom,
		rgb(100, 46, 44) 0%,
		rgb(12, 12, 12) 90%,
		rgb(12, 12, 12) 100%),
		-o-linear-gradient(top,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0) 7.5rem,
		rgba(12, 12, 12, 1) 7.5rem,
		rgba(66, 66, 72, 1) 7.625rem,
		rgba(66, 66, 72, 0.95) calc(100% - 0.125rem),
		rgba(66, 66, 72, 1) calc(100% - 0.125rem),
		rgba(12, 12, 12, 1) 100%),
		-o-linear-gradient(top,
		rgba(215, 215, 215, 1) 0rem,
		rgba(215, 215, 215, 0.987) 0.32rem,
		rgba(215, 215, 215, 0.951) 1.16rem,
		rgba(215, 215, 215, 0.896) 2.56rem,
		rgba(215, 215, 215, 0.825) 4.4rem,
		rgba(215, 215, 215, 0.741) 6.64rem,
		rgba(215, 215, 215, 0.648) 9.24rem,
		rgba(215, 215, 215, 0.55) 12.16rem,
		rgba(215, 215, 215, 0.45) 15.32rem,
		rgba(215, 215, 215, 0.352) 18.68rem,
		rgba(215, 215, 215, 0.259) 22.16rem,
		rgba(215, 215, 215, 0.175) 25.76rem,
		rgba(215, 215, 215, 0.104) 29.4rem,
		rgba(215, 215, 215, 0.049) 33rem,
		rgba(215, 215, 215, 0.013) 36.56rem,
		rgba(215, 215, 215, 0) 40rem);
	background-image:
		linear-gradient(to top,
		rgb(100, 46, 44) 0%,
		rgb(12, 12, 12) 90%,
		rgb(12, 12, 12) 100%),
		linear-gradient(to bottom,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0) 7.5rem,
		rgba(12, 12, 12, 1) 7.5rem,
		rgba(66, 66, 72, 1) 7.625rem,
		rgba(66, 66, 72, 0.95) calc(100% - 0.125rem),
		rgba(66, 66, 72, 1) calc(100% - 0.125rem),
		rgba(12, 12, 12, 1) 100%),
		linear-gradient(to bottom,
		rgba(215, 215, 215, 1) 0rem,
		rgba(215, 215, 215, 0.987) 0.32rem,
		rgba(215, 215, 215, 0.951) 1.16rem,
		rgba(215, 215, 215, 0.896) 2.56rem,
		rgba(215, 215, 215, 0.825) 4.4rem,
		rgba(215, 215, 215, 0.741) 6.64rem,
		rgba(215, 215, 215, 0.648) 9.24rem,
		rgba(215, 215, 215, 0.55) 12.16rem,
		rgba(215, 215, 215, 0.45) 15.32rem,
		rgba(215, 215, 215, 0.352) 18.68rem,
		rgba(215, 215, 215, 0.259) 22.16rem,
		rgba(215, 215, 215, 0.175) 25.76rem,
		rgba(215, 215, 215, 0.104) 29.4rem,
		rgba(215, 215, 215, 0.049) 33rem,
		rgba(215, 215, 215, 0.013) 36.56rem,
		rgba(215, 215, 215, 0) 40rem);
	background-image:
		var(--gradient-header),
		var(--gradient-topmenu),
		var(--gradient-background);
	-webkit-background-size: 100% 7.5rem, 100% 9.375rem, 100% 40rem;
	background-size: 100% 7.5rem, 100% 9.375rem, 100% 40rem;
	-webkit-background-size: var(--header-background-image-size), 100% 9.375rem, 100% var(--background-gradient-distance);
	background-size: var(--header-background-image-size), 100% 9.375rem, 100% var(--background-gradient-distance);
	/* 120px, 150px */
	background-repeat: repeat-x;
}

div#container-wrap {
	background-image: -webkit-repeating-linear-gradient(45deg,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 0) 0.25vh,
		rgba(88, 88, 88, 0.1) 0.35vh,
		rgba(88, 88, 88, 0.2) 0.5vh);
	background-image: -o-repeating-linear-gradient(45deg,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 0) 0.25vh,
		rgba(88, 88, 88, 0.1) 0.35vh,
		rgba(88, 88, 88, 0.2) 0.5vh);
	background-image: repeating-linear-gradient(45deg,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 0) 0.25vh,
		rgba(88, 88, 88, 0.1) 0.35vh,
		rgba(88, 88, 88, 0.2) 0.5vh);
	background-image: var(--diagonal-stripes);
	-webkit-background-size: 100% 7.5rem;
	background-size: 100% 7.5rem;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#header,
#top-bar {
	max-width: 61.25rem;
	/* 980px */
	font-weight: 600;
	margin: 0 auto;
}

#header > h1 > a > span {
	display: inline-table;
	z-index: 9999;
	color: transparent;
	width: 50vw;
	max-width: 32rem;
	height: 7.5rem;
	position: absolute;
	left: 0;
	top: 0;
}

.mobile-top-bar {
	display: none;
	position: relative;
	left: 1rem;
	bottom: 0;
	z-index: 9999;
}

header h1 {
	font-family: 'Poppins', sans-serif;
	font-family: var(--header-font);
	text-transform: uppercase;
	width: 100%;
	height: 100%;
	max-height: 7.75rem;
	position: absolute;
}

#header h1 a::before {
	--text-shadow: rgb(var(--swatch-text-dark, 12, 12, 12, ));
	content: "SCP Foundation";
	content: var(--header-title);
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-light));
	text-shadow: 0.063rem 0.063rem 0.063rem rgb(12, 12, 12);
	text-shadow: 0.063rem 0.063rem 0.063rem var(--text-shadow);
}

#header h1,
#header h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	position: absolute;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

#header h1 a {
	font-family: 'Poppins', sans-serif !important;
	font-family: var(--header-font) !important;
	letter-spacing: -0.02em;
	display: block;
	line-height: 0;
	max-height: 0;
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-light));
	font-size: 135%;
	text-decoration: none;
	text-shadow: none;
	z-index: 9999;
	padding: 1.875rem 0 0;
	margin-left: 6.75rem;
	margin-top: -webkit-calc(0.3125rem + 1.2rem);
	margin-top: calc(0.3125rem + 1.2rem);
	margin-top: -webkit-calc(0.3125rem + var(--offset-from-page-top));
	margin-top: calc(0.3125rem + var(--offset-from-page-top));
}

#header h2 {
	font-size: 0.945rem;
	font-family: 'Poppins', sans-serif !important;
	font-family: var(--title-font);
	font-weight: 700;
}

#header h2 span {
	display: block;
	line-height: 0;
	font-weight: 400;
	color: transparent;
	text-shadow: none;
	margin-left: 6.75rem;
	margin-top: -webkit-calc(3.8rem + 1.2rem);
	margin-top: calc(3.8rem + 1.2rem);
	margin-top: -webkit-calc(3.8rem + var(--offset-from-page-top));
	margin-top: calc(3.8rem + var(--offset-from-page-top));
}

#header h2 span::before {
	--text-shadow: rgb(var(--swatch-text-dark, 12, 12, 12));
	content: "SECURE, CONTAIN, PROTECT";
	content: var(--header-subtitle);
	color: #fafafa;
	text-shadow: 0.063rem 0.063rem 0.063rem rgb(12, 12, 12);
	text-shadow: 0.063rem 0.063rem 0.063rem var(--text-shadow);
}

#header-extra-div-1,#header-extra-div-2 {
	display: none;
}

#search-top-box {
	position: absolute;
	top: 47%;
	right: 3%;
	width: auto;
}

form[id="search-top-box-form"] {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	text-align: center;
}

#search-top-box-input {
	border: 0.0625rem solid rgb(12, 12, 12);
	border: var(--border-styling);
	-webkit-border-radius: 0.0625rem;
	border-radius: 0.0625rem;
	-webkit-border-radius: var(--border-radius-width);
	border-radius: var(--border-radius-width);
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-light));
	background-color: rgb(66, 66, 72) !important;
	background-color: rgb(var(--gray-monochrome)) !important;
}

#search-top-box input.empty {
	color: rgba(12, 12, 12);
	color: rgba(var(--swatch-menutxt-dark-color));
	text-align: center;
}

#search-top-box-form > input,
#search-top-box-form > input[type="submit"] {
	min-height: -webkit-calc(0.875rem * 1.5);
	min-height: calc(0.875rem * 1.5);
	min-height: -webkit-calc(var(--base-font-size) * 1.5);
	min-height: calc(var(--base-font-size) * 1.5);
	padding: 0.25rem;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

#search-top-box-input:hover,
#search-top-box-input:focus {
	color: rgb(252, 252, 252);
	color: rgb(var(--white-monochrome));
	background: rgb(170, 170, 170) !important;
	background: rgb(var(--swatch-menubg-medium-color)) !important;
}

#search-top-box-input:hover,
#search-top-box-input:focus,#search-top-box-form input[type="submit"] {
	border: 0.0625rem solid rgb(12, 12, 12);
	border: var(--border-styling);
	-webkit-border-radius: 0.0625rem;
	border-radius: 0.0625rem;
	-webkit-border-radius: var(--border-radius-width);
	border-radius: var(--border-radius-width);
}

#search-top-box-form input[type="submit"] {
	font-size: -webkit-calc(0.875rem * .85);
	font-size: calc(0.875rem * .85);
	font-size: -webkit-calc(var(--base-font-size) * .85);
	font-size: calc(var(--base-font-size) * .85);
	cursor: pointer;
	margin-right: 0;
}

#search-top-box-form input[type="submit"],#search-top-box-form input[type="submit"]:hover,
#search-top-box-form input[type="submit"]:focus {
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-light));
	background: rgb(100, 3, 15) !important;
	background: rgb(var(--swatch-primary-darkest)) !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

#search-top-box-form input[type="submit"]:hover,
#search-top-box-form input[type="submit"]:focus {
	--text-shadow: rgba(var(--swatch-menutxt-dark-color, 12, 12, 12), 0.75);
	border: 0.0625rem solid rgb(12, 12, 12);
	border: var(--border-styling);
	-webkit-border-radius: 0.0625rem;
	border-radius: 0.0625rem;
	-webkit-border-radius: var(--border-radius-width);
	border-radius: var(--border-radius-width);
	text-shadow: 0 0 0.063rem rgba(12, 12, 12, 0.75);
	text-shadow: 0 0 0.063rem var(--swatch-menutxt-dark-color);
}

#login-status {
	color: rgb(170, 170, 170);
	color: rgb(var(--swatch-menubg-medium-color));
	font-size: 90% !important;
	z-index: 10000;
	right: 3%;
	top: 0.5rem;
}

#login-status a {
	background-color: transparent;
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-text-light));
}

#login-status ul a {
	color: rgb(12, 12, 12);
	color: rgb(var(--black-monochrome));
	background-color: transparent;
}

#account-topbutton {
	background: rgb(252, 252, 252);
	background: rgb(var(--swatch-text-light));
	color: rgb(12, 12, 12);
	color: rgb(var(--swatch-menutxt-dark-color));
}

#top-bar .mobile-top-bar {
	display: none;
	position: relative;
	left: 1rem;
	bottom: 0;
	z-index: 9999;
	-webkit-filter: unset;
	filter: unset;
}

#top-bar {
	width: 100%;
	position: initial;
	z-index: 50;
	height: 1.625rem;
	font-size: -webkit-calc(0.875rem * 0.85);
	font-size: calc(0.875rem * 0.85);
	font-size: -webkit-calc(var(--base-font-size) * 0.85);
	font-size: calc(var(--base-font-size) * 0.85);
	font-weight: 600;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 7.625rem 0 1.75rem 0;
	padding: 0 0 0.25rem;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}


/* In-Progress Top-Bar Implimentation */
#top-bar div.top-bar > ul,
#top-bar div.mobile-top-bar > ul {
	width: 90vw;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	max-width: 61.25rem;
	z-index: 20;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	letter-spacing: 0.0625rem;
	text-align: center;
}

#top-bar div.top-bar > ul > li,
#top-bar div.mobile-top-bar > ul > li {
	-webkit-flex-shrink: 2;
	-ms-flex-negative: 2;
	flex-shrink: 2;
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	-moz-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	width: auto;
	margin: 0;
	list-style: outside none none;
	padding: 0;
	-webkit-transition: background-color 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: background-color 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: background-color 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#top-bar div.top-bar > ul > li:hover,
#top-bar div.top-bar > ul > li:focus-within,
#top-bar div.mobile-top-bar > ul > li:hover #top-bar div.mobile-top-bar > ul > li:focus-within {
	background-color: rgb(48, 48, 52);
	background-color: rgb(var(--swatch-menubg-dark-color));
}

#top-bar div.top-bar > ul > li:hover > a,
#top-bar div.top-bar > ul > li:focus-within > a,
#top-bar div.mobile-top-bar > ul > li:hover > a #top-bar div.mobile-top-bar > ul > li:focus-within > a {
	background-color: transparent !important;
}

#top-bar div.top-bar > ul > li > a,
#top-bar div.mobile-top-bar > ul > li > a {
	padding: 0.3em;
	width: 100%;
	height: -webkit-calc(100% - 0.6em);
	height: calc(100% - 0.6em);
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: rgb(252, 252, 252) !important;
	color: rgb(var(--swatch-menutxt-light-color)) !important;
	background-color: transparent !important;
	white-space: pre;
	border: none !important;
	position: relative;
}

#top-bar div.top-bar > ul > li:hover > a::before,
#top-bar div.top-bar > ul > li:hover > a::after,
#top-bar div.top-bar > ul > li:focus-within > a::before,
#top-bar div.top-bar > ul > li:focus-within > a::after,
#top-bar div.top-bar > ul > li.sfhover > a::before,
#top-bar div.top-bar > ul > li.sfhover > a::after {
	width: 100%;
}

#top-bar div.top-bar > ul > li > a:before,
#top-bar div.top-bar > ul > li > a:after {
	height: -webkit-calc(0.0625rem * 3);
	height: calc(0.0625rem * 3);
	position: absolute;
	content: " ";
	background-color: rgba(180, 35, 35, 0.5);
	background-color: rgba(var(--swatch-primary), 0.5);
	width: 0;
	-webkit-transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#top-bar div.top-bar > ul > li > a:before {
	left: 0;
	top: 0;
}

#top-bar div.top-bar > ul > li > a:after {
	right: 0;
	bottom: 0;
}

#top-bar div.top-bar > ul > li > ul,
#top-bar div.mobile-top-bar > ul > li > ul {
	--box-shadow: rgba(var(--swatch-menutxt-dark-color, 12, 12, 12), 0.5);
	border: 0.0625rem solid rgb(12, 12, 12);
	border: var(--border-styling);
	background: rgba(48, 48, 52, 0.93);
	background: rgba(var(--swatch-menubg-dark-color), 0.93);
	-webkit-box-shadow: 0 0.125rem 0.375rem rgba(12, 12, 12, 0.5);
	box-shadow: 0 0.125rem 0.375rem rgba(12, 12, 12, 0.5);
	-webkit-box-shadow: 0 0.125rem 0.375rem var(--box-shadow);
	box-shadow: 0 0.125rem 0.375rem var(--box-shadow);
	border-top: none;
	z-index: 20;
	margin-top: 1.625rem;
	position: absolute;
	width: 200%;
	max-width: 61.25rem;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#top-bar div.top-bar > ul > li > ul > li,
#top-bar div.mobile-top-bar > ul > li > ul > li {
	border: 0.0625rem solid rgb(12, 12, 12);
	border: var(--border-styling);
	position: relative;
	margin: 0 -0.0625rem -0.0625rem 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-collapse: collapse;
	float: none;
	padding: 0;
	-webkit-transition: background-color 80ms cubic-bezier(0.4, 0.0, 0.2, 1);
	-o-transition: background-color 80ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: background-color 80ms cubic-bezier(0.4, 0.0, 0.2, 1);

	/* Prevent splitting in half onto the next column */
	-webkit-column-break-inside: avoid;
	break-inside: avoid;

	/* Text positioning */
	height: 2rem;
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
	width: 100%;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	word-break: normal;
}

#top-bar > div.top-bar > ul > li:last-of-type > ul,
#top-bar > div.mobile-top-bar > ul > li:last-of-type > ul {
    right: 0;
}

#top-bar li ul {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s, -webkit-transform 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s, -webkit-transform 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s, -o-transform 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0s linear 0.2s;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0s linear 0.2s, -webkit-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
}

#top-bar:not(:hover) li ul {
	-webkit-transform: translate(0, -0.3rem);
	-ms-transform: translate(0, -0.3rem);
	-o-transform: translate(0, -0.3rem);
	transform: translate(0, -0.3rem);
}

#top-bar div.top-bar > ul > li:hover > ul,
#top-bar div.top-bar > ul > li:focus-within > ul,
#top-bar div.top-bar > ul > li > ul:focus-within,
#top-bar div.top-bar > ul > li.sfhover > ul,
#top-bar div.mobile-top-bar > ul > li:hover > ul,
#top-bar div.mobile-top-bar > ul > li:focus-within > ul,
#top-bar div.mobile-top-bar > ul > li > ul:focus-within,
#top-bar div.mobile-top-bar > ul > li.sfhover > ul {
	width: 200%;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-in-out, visibility 0s linear 0s,
		-webkit-transform 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out, visibility 0s linear 0s,
		-webkit-transform 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out, visibility 0s linear 0s,
		-o-transform 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
		visibility 0s linear 0s;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
		visibility 0s linear 0s,
		-webkit-transform 0.2s ease-in-out,
		-o-transform 0.2s ease-in-out;
}

#top-bar div.top-bar > ul > li > ul > li:hover,
#top-bar div.mobile-top-bar > ul > li > ul > li:hover {
	background: rgba(252, 252, 252, 0.15);
	background: rgba(var(--swatch-menubg-color), 0.15);
}

#top-bar div.top-bar > ul > li > ul > li:hover > a,
#top-bar div.top-bar > ul > li > ul > li > a:focus-within,
#top-bar div.mobile-top-bar > ul > li > ul > li:hover > a,
#top-bar div.mobile-top-bar > ul > li > ul > li > a:focus-within {
	text-decoration: none;
}

#top-bar div.top-bar > ul > li > ul > li > a,
#top-bar div.mobile-top-bar > ul > li > ul > li > a {
	background: transparent;
	color: rgb(252, 252, 252);
	color: rgb(var(--swatch-menutxt-light-color));
	width: 100%;
	height: 100%;
	font-size: 0.875rem;
	font-size: var(--base-font-size);
	font-weight: normal;
	border: 0px solid rgba(0,0,0,0);

	/* Text positioning */
	-webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

#top-bar div.top-bar > ul > li > ul > li > a,
#top-bar div.top-bar > ul > li > ul > li > ul > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
	position: relative;
	text-align: center;
}

#top-bar div.top-bar > ul > li > ul > li > ul > li {
    color: rgb(252, 252, 252);
    color: rgb(var(--white-monochrome));
    font-size: 1em;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

#top-bar div.top-bar > ul > li > ul > li:hover,
#top-bar div.mobile-top-bar > ul > li > ul > li:hover,
#top-bar div.top-bar > ul > li > ul > li > ul > li:hover,
#top-bar div.mobile-top-bar > ul > li > ul > li > ul > li:hover {
    background-color: transparent;
}

#top-bar div.top-bar > ul > li > ul > li > ul > li > a {
    color: rgb(12, 12, 12);
    color: rgb(var(--swatch-menutxt-dark-color));
    font-size: 1em;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1em;
    margin: 0;
    border: none;
    white-space: nowrap;
    background: transparent;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#top-bar div.top-bar > ul > li > ul > li > ul > li > a:hover,
#top-bar div.mobile-top-bar > ul > li > ul > li > ul > li > a:hover {
    background: transparent;
}

#top-bar div.top-bar > ul > li > ul > li > a::before,
#top-bar div.top-bar > ul > li > ul > li > ul > li > a::before {
    right: 150%;
    -webkit-transition: right 500ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: right 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: right 500ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
 
#top-bar div.top-bar > ul > li > ul > li > a::before,
#top-bar div.top-bar > ul > li > ul > li > ul > li > a::before,
#top-bar div.top-bar > ul > li > ul > li > a:hover::before {
    content: " ";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(100, 3, 15);
    background-color: rgb(var(--dark-accent));
    opacity: 1;
    z-index: -1;
    -webkit-transform: skew(50deg, 0);
    -ms-transform: skew(50deg, 0);
    -o-transform: skew(50deg, 0);
    transform: skew(50deg, 0);
}
 
#top-bar div.top-bar > ul > li > ul > li > a:hover::before {
    right: -5rem;
}
 
#top-bar div.top-bar > ul > li > ul > li > ul > li > a:hover::before {
    content: " ";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -5rem;
    background-color: rgb(100, 3, 15);
    background-color: rgb(var(--dark-accent));
    opacity: 1;
    z-index: -1;
    -webkit-transform: skew(50deg, 0);
    -ms-transform: skew(50deg, 0);
    -o-transform: skew(50deg, 0);
    transform: skew(50deg, 0);
}
 
#top-bar div.top-bar > ul > li > ul > li > ul > li:hover {
    background: rgba(252, 252, 252, 0);
    background: rgba(var(--swatch-menubg-color), 0);
}
 
#top-bar div.top-bar > ul > li > ul > li > ul > li:focus-within {
    background: rgba(252, 252, 252, 0);
    background: rgba(var(--swatch-menubg-color), 0);
}

@media only screen and (max-width: 768px) {
	/* Removing Scrollbar to deal with horizontal overflow and still allow sticky scrolling */

	:root {
		/* IE 10+ */
		/* Firefox */
		overflow: -moz-scrollbars-none;
		scrollbar-width: none;
	}

	::-webkit-scrollbar {
		width: 0;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: rgb(180, 35, 35);
		background: rgb(var(--bright-accent));
	}

	/* Mobile CSS */

	#header {
		background-image: url("https://nu-scptheme.github.io/Nu-SCP/images/logo.svg");
		background-image: var(--logo-image);
		--size: 9.9rem;
		--size: -webkit-calc(8.75rem + var(--offset-from-page-top));
		--size: calc(8.75rem + var(--offset-from-page-top));
		--y-offset: 1.3125rem;
		background-position: -webkit-calc(6.75rem - var(--size)) -webkit-calc(((var(--size) * -1) + 7.5rem + var(--y-offset)) / 2);
		background-position: calc(6.75rem - var(--size)) calc(((var(--size) * -1) + 7.5rem + var(--y-offset)) / 2);
		-webkit-background-size: var(--size), 100% 7.5rem;
		background-size: var(--size), 100% 7.5rem;
		/* not sure what this 2nd size is doing here? - croque */
		background-repeat: no-repeat, repeat;
		width: 100vw;
		margin: 0;
		position: -webkit-sticky;
		position: sticky;
		top: -7.5rem;
	}

	#header,
	.mobile-top-bar {
		max-width: 100%;
		left: 0;
	}

	#top-bar > div.top-bar {
		display: none !important;
	}

	#header h1 {
		font-size: -webkit-calc(0.875rem * 1.35);
		font-size: calc(0.875rem * 1.35);
		font-size: -webkit-calc(var(--base-font-size) * 1.35);
		font-size: calc(var(--base-font-size) * 1.35);
	}

	#header h2 {
		font-size: -webkit-calc(0.875rem * 0.945);
		font-size: calc(0.875rem * 0.945);
		font-size: -webkit-calc(var(--base-font-size) * 0.945);
		font-size: calc(var(--base-font-size) * 0.945);
	}

	#header h2 span::before {
		display: inline-block;
	}

	#login-status {
		font-size: 70%;
	}

	#top-bar {
		margin: 7.5rem 0 1.75rem 0;
		height: 3rem;
	}

	#top-bar .mobile-top-bar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100vw;
		background: linear-gradient(to bottom,
			rgba(12, 12, 12, 1) 0,
			rgba(66, 66, 72, 1) 0.125rem,
			rgba(66, 66, 72, 1) -webkit-calc(3rem - 0.125rem),
			rgba(66, 66, 72, 1) -webkit-calc(3rem - 0.125rem),
			rgba(12, 12, 12, 1) 3rem);
		background: linear-gradient(to bottom,
			rgba(12, 12, 12, 1) 0,
			rgba(66, 66, 72, 1) 0.125rem,
			rgba(66, 66, 72, 1) calc(3rem - 0.125rem),
			rgba(66, 66, 72, 1) calc(3rem - 0.125rem),
			rgba(12, 12, 12, 1) 3rem);
		background: var(--gradient-topmenu-mobile, linear-gradient(to bottom,
			rgba(12, 12, 12, 1) 0,
			rgba(66, 66, 72, 1) 0.125rem,
			rgba(66, 66, 72, 1) -webkit-calc(3rem - 0.125rem),
			rgba(66, 66, 72, 1) -webkit-calc(3rem - 0.125rem),
			rgba(12, 12, 12, 1) 3rem));
		background: var(--gradient-topmenu-mobile, linear-gradient(to bottom,
			rgba(12, 12, 12, 1) 0,
			rgba(66, 66, 72, 1) 0.125rem,
			rgba(66, 66, 72, 1) calc(3rem - 0.125rem),
			rgba(66, 66, 72, 1) calc(3rem - 0.125rem),
			rgba(12, 12, 12, 1) 3rem));
		background: var(--gradient-topmenu-mobile, linear-gradient(to bottom,
			rgba(var(--swatch-topmenu-border-color), 1) 0,
			rgba(var(--swatch-topmenu-bg-color), 1) 0.125rem,
			rgba(var(--swatch-topmenu-bg-color), 1) -webkit-calc(3rem - 0.125rem),
			rgba(var(--swatch-topmenu-bg-color), 1) -webkit-calc(3rem - 0.125rem),
			rgba(var(--swatch-topmenu-border-color), 1) 3rem));
		background: var(--gradient-topmenu-mobile, linear-gradient(to bottom,
			rgba(var(--swatch-topmenu-border-color), 1) 0,
			rgba(var(--swatch-topmenu-bg-color), 1) 0.125rem,
			rgba(var(--swatch-topmenu-bg-color), 1) calc(3rem - 0.125rem),
			rgba(var(--swatch-topmenu-bg-color), 1) calc(3rem - 0.125rem),
			rgba(var(--swatch-topmenu-border-color), 1) 3rem));
		position: static;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		z-index: 9999;
	}

	#top-bar .top-bar > ul {
		overflow: hidden;
	}

	#top-bar div.mobile-top-bar > ul {
		width: 100%;
	}

	#top-bar div.mobile-top-bar > ul > li {
		position: inherit;
	}

	#top-bar div.mobile-top-bar > ul > li > a {
		font-size: 125%;
		background: none;
	}

	#top-bar div.mobile-top-bar > ul > li > ul {
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		left: 50%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 2.938rem;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		width: 85vw !important;
		max-height: calc(100vh - 12rem);
	}

	#top-bar div.mobile-top-bar > ul > li:hover > ul, 
	#top-bar div.mobile-top-bar > ul > li:focus-within > ul, 
	#top-bar div.mobile-top-bar > ul > li > ul:focus-within, 
	#top-bar div.mobile-top-bar > ul > li.sfhover > ul {
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}

	#top-bar div.mobile-top-bar > ul > li > ul > li {
		max-height: -webkit-calc((100vh - 12rem) / 15);
		max-height: calc((100vh - 12rem) / 15);
		max-width: -webkit-calc(80vw + 0.0625rem);
		max-width: calc(80vw + 0.0625rem);
		width: -webkit-calc(80vw + 0.0625rem);
		width: calc(80vw + 0.0625rem);
		-webkit-box-flex: 2;
		-webkit-flex-grow: 2;
		-moz-box-flex: 2;
		-ms-flex-positive: 2;
		flex-grow: 2;
		-webkit-flex-basis: -webkit-calc(80vw / 2);
		-ms-flex-preferred-size: calc(80vw / 2);
		flex-basis: calc(80vw / 2);
		text-align: center;
	}

	#top-bar div.mobile-top-bar > ul > li > ul > li,
	#top-bar div.mobile-top-bar > ul > li > ul > li > a {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
	}

	#top-bar div.mobile-top-bar > ul > li > ul > li > a {
		height: 100%;
		width: 100%;
		line-height: 1em;
		text-align: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-size: 0.875rem;
		font-size: var(--base-font-size);
	}

	#top-bar > div.mobile-top-bar > div.open-menu {
		width: 3rem;
		height: 3rem;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
	}

	#top-bar > div.mobile-top-bar > div.open-menu > p {
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: -moz-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-moz-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-ms-flex-pack: center;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		justify-items: stretch;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}

	#top-bar > div.mobile-top-bar > div.open-menu > p,#top-bar > div.mobile-top-bar > div.open-menu > p > a {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		justify-content: center;
	}

	#top-bar > div.mobile-top-bar > div.open-menu > p > a {
		font-family: 'Lato', sans-serif;
		font-family: var(--body-font);
		font-size: 3em;
		font-weight: 700;
		text-decoration: none;
		/* width: 100%; */
		text-align: center;
		color: rgb(252, 252, 252) !important;
		color: rgb(var(--swatch-menutxt-light-color)) !important;
		-webkit-box-flex: 2;
		-webkit-flex: 2 0 100%;
		-moz-box-flex: 2;
		-ms-flex: 2 0 100%;
		flex: 2 0 100%;
		display: -webkit-box !important;
		display: -webkit-flex !important;
		display: -moz-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		border: none !important;
		background-color: transparent !important;
	}
}

/* IE11 Only */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	#header {
		background-position: left -14rem top 1.1875rem;
	}
}

