:root {
  --offset-from-page-top: 1.2rem; /* space between the top of the page and the start of the header */
}

#header
{
  width:90vw;
  height:calc(4.375rem + var(--offset-from-page-top));
  position:relative;
  z-index:10;
}

body {
    background-color: rgb(var(--coolwhite));
    background-image: linear-gradient(to top, /* creates the red part of the header */
                                      rgb(70, 30, 32) 0%,
                                      rgb(78, 0, 12) 30%,
                                      rgb(var(--darkRed)) 100%),
                      linear-gradient(to bottom, /* creates the grey part of the header */
                                      rgba(var(--warmBlack),1) 7.5rem,
                                      rgba(var(--darkGray),1) 7.625rem,
                                      rgba(var(--darkGray),1) calc(100% - 0.125rem),
                                      rgba(var(--warmBlack),1) calc(100% - 0.125rem),
                                      rgba(var(--warmBlack),1) 100%);
    background-size: 100% 7.5rem, 100% 9.375rem; /* 120px, 150px */
    background-repeat: no-repeat;
}

#header,#top-bar
{
  max-width:61.25rem; /* 980px */
  font-weight:600;
  margin:0 auto;
}

#header > h1 > a > span
{
  position:relative;
  display:inline-table;
  width:25rem;
  height:5.75rem;
  z-index:9999;
  left:-23rem;
  top:-2rem;
}

.mobile-top-bar
{
  display:none;
  position:relative;
  left:1rem;
  bottom:0;
  z-index:9999;
}

#header h1
{
  margin-top:calc(0.3125rem + var(--offset-from-page-top));
  margin-bottom:0.1em;
  max-height:5.9375rem; /* 95px */
}

#header h1,#header h2
{
  font-family:var(--headerFont);
  margin-left:6.75rem; /* 108px */
  font-weight:900;
  text-transform:uppercase;
}

#header h2
{
  font-size:105%;
  margin-top: 0.5em;
  margin-bottom: -0.4em;
  max-height:2.375rem; /* 38px */
}

#header h1 a
{
  font-family: var(--headerFont) !important;
  letter-spacing: -0.02em;
  display: block;
  line-height: 0;
  content: "The SCP Foundation";
  max-height: 0;
  color: transparent;
  background: transparent;
  font-size: 135%;
  text-decoration: none;
  text-shadow: none;
  z-index: 9999;
  padding: 1.875rem 0 0;
}

#header-extra-div-1
{
  display: none; 
}

#header-extra-div-2 /* SCP logo */
{
  content:" ";
  position:absolute;
  top:0;
  background:url(https://nu-scptheme.github.io/Nu-SCP/images/logo.svg) 
              0.625rem /* 10px */ 
              2.500rem /* 40px */ 
              no-repeat;
  background-position:center left;
  background-clip:border-box;
  /*background-size:contain;*/
  background-size:5.375rem; /* 86px */ /* appears to be the same as "contain" when the height is 80px */
  z-index:9999;
  margin-top:0;
  height:7.5rem;
  width:100%;
  pointer-events:none;
  /*left: calc(calc(100vw - 61.25rem) / 2); /* undo header margin to match page width */
}

#search-top-box
{
  display:infline-flex;
  position:absolute;
  top:70%;
  right:-2%;
  width:15.625rem; /* 250px */
  text-align:center;
}

#search-top-box-input
{
  border:solid 0.063rem rgb(var(--warmBlack));
  border-radius:0.063rem;
  color:rgb(var(--coolwhite));
  background-color:rgb(var(--darkGray)) !important;
}

#search-top-box-input:hover,#search-top-box-input:focus
{
  border:solid 0.063rem rgb(var(--warmBlack));
  border-radius:0.063rem;
  color:rgb(var(--coolwhite));
  background:#424242 !important;
}

#search-top-box-form input[type="submit"]
{
  border:solid 0.063rem rgb(var(--warmBlack));
  border-radius:0.063rem;
  font-size:90%;
  color:rgb(var(--coolwhite));
  background:#590505 !important;
  box-shadow:none !important;
  cursor:pointer;
  padding: 0.188rem 0.313rem 0.125rem; /* 3px 5px 2px */
}

#search-top-box-form input[type="submit"]:hover,#search-top-box-form input[type="submit"]:focus
{
  border:solid 0.063rem rgb(var(--warmBlack));
  border-radius:0.063rem;
  color:rgb(var(--coolwhite));
  text-shadow:0 0 0.063rem rgba(255,255,255,0.25);
  background:#590505 !important;
  box-shadow:none!important;
}

#login-status
{
  color:rgb(var(--coolwhite));
  font-size:90% !important;
  z-index:10000;
  right:1rem;
  top:0.5rem;
}

#login-status a
{
  background-color:transparent;
  color:rgb(var(--coolwhite));
}

#login-status ul a
{
  color:rgb(var(--warmBlack));
  background-color:transparent;
}

#account-topbutton
{
  background:silver;
  color:rgb(var(--warmBlack));
}

#header h1 a::before
{
  content:"The SCP Foundation";
  color:rgb(var(--coolwhite));
  text-shadow:0.063rem 0.063rem 0.063rem rgb(var(--warmBlack));
}

#header h2 span
{
  display:block;
  line-height:0;
  max-height:0;
  font-weight:400;
  color:transparent;
  text-shadow:none;
  padding:1.188rem 0; /* 19px 9 */
}

#header h2 span::before
{
  content:"Secure, Contain, Protect";
  color:#fafafa;
  text-shadow:0.063rem 0.063rem 0.063rem rgb(var(--warmBlack));
  width:100vw;
}

#top-bar
{
  width:100%;
  position:initial;
  z-index:50;
  height:1.625rem;
  line-height:1.250rem; /* 20px */
  font-size:90%;
  display:inline-flex;
  margin:1.5625rem 0 1.75rem 0;
  padding:0 0 0.25rem;
}

#top-bar ul
{
  float:right;
}

#top-bar ul li
{
  border:0;
  position:relative;
}

#top-bar ul li ul
{
  border:solid 0.063rem rgb(var(--warmBlack));
  box-shadow:0 0.125rem 0.375rem rgba(0,0,0,0.5);
  border-top:0;
  width:auto;
  border-width:0 0.063rem 1px;
}

#top-bar ul li a
{
  border-left:solid 0.063rem rgba(64,64,64,0.1);
  border-right:solid 0.063rem rgba(64,64,64,0.1);
  text-decoration:none;
  padding-top:9px;
  padding-bottom:10px;
  line-height:0.063rem;
  max-height:0.063rem;
  overflow:hidden;
}

#top-bar ul li.sfhover a,#top-bar ul li:hover a
{
  color:rgb(var(--warmBlack));
  border-left:solid 0.063rem rgba(64,64,64,1);
  border-right:solid 0.063rem rgba(64,64,64,1);
  background:rgb(var(--coolWhite));
}

#top-bar ul li.sfhover ul li a,#top-bar ul li:hover ul li a
{
  width:150px;
  border-top:0.063rem solid rgb(var(--coolWhite));
  line-height:160%;
  height:auto;
  max-height:none;
  padding-top:0;
  padding-bottom:0;
  border-width:0;
}

#top-bar ul li.sfhover a:hover,#top-bar ul li:hover a:hover
{
  background:rgba(var(--coolWhite),0.25);
  text-decoration:none;
}

#top-bar ul li ul a,#top-bar a:hover
{
  color:rgb(var(--brightRed));
}

.top-bar ul li:last-of-type ul
{
  right:0;
}

#top-bar .top-bar,#top-bar .top-bar > ul,#top-bar .top-bar > ul > li > ul
{
  display:flex;
  z-index:20;
}

#top-bar .top-bar
{
  align-content:stretch;
  justify-content:space-around;
}

#top-bar .top-bar > ul
{
  width:90vw;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:stretch;
  max-width:61.25rem;
  height:auto;
  z-index:20;
}

#top-bar .top-bar > ul > li > a,#top-bar .mobile-top-bar > ul > li > a
{
  white-space:pre;
  padding-top:1.25em;
}

#top-bar .top-bar > ul > li,#top-bar .top-bar > ul > li > a,#top-bar .mobile-top-bar > ul,#top-bar .mobile-top-bar > ul > li,#top-bar .mobile-top-bar > ul > li > a
{
  width:auto;
  flex-grow:2;
  flex-shrink:2;
}

#top-bar .top-bar > ul > li > ul,#top-bar .mobile-top-bar > ul > li > ul
{
  flex-direction:column;
  margin-top:0;
}

#top-bar .top-bar > ul > li > ul > li > a,#top-bar .mobile-top-bar > ul > li > ul > li > a
{
  white-space:pre-wrap;
  line-height:140%;
  padding:.5em 1em!important;
}

#top-bar ul > li > ul
{
  margin-top:-0.250rem; /* -4px */
}

@media only screen and (max-width: 1024px) {
  #header,.mobile-top-bar
  {
    max-width:90vw;
  }
  
  .top-bar
  {
    display:none!important;
  }
  
  .mobile-top-bar
  {
    display:flex;
    position:relative;
    width:100vw;
    padding:0;
  }
  
  #header h1
  {
    font-size:1.5em;
    margin-top:1em!important;
    margin-bottom:-1em!important;
  }
  
  #header h2
  {
    margin-top:1.5em!important;
    margin-bottom:-1.5em!important;
  }
  
  #header h1,#header h2
  {
    margin-left:5.5rem;
  }
  
  #header h2 span::before
  {
    display:inline-block;
    width:100vw;
  }
  
  #header > h1 > a > span
  {
    top:-3.2rem;
  }
  
  #login-status
  {
    font-size:70%;
  }
  
  #header-extra-div-2
  {
    background-image: url(https://nu-scptheme.github.io/Nu-SCP/images/logo.svg);
    background-position: calc(5vw + 5.5rem - 10.4rem) calc(4% - var(--offset-from-page-top) / 2);
    background-size: calc(8.75rem + var(--offset-from-page-top));
    background-repeat: no-repeat;
    width:100vw;
    left:calc(-50vw + 50%);
  }
  
}
