@charset utf-8;
@import url(https://nu-scptheme.github.io/Nu-SCP/styles/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:400,700,900|PT+Mono);

#account-topbutton {
background:silver;
color:#000;
}

#breadcrumbs {
font-weight:85%;
margin:-1em 0 1em;
}

#container {
display:flex;
flex-direction:column;
height:100%;
margin:0;
padding:0;
width:100%;
}

#content-wrap {
display:flex;
height:100%;
margin:3em auto 0;
min-height:1300px;
position:initial;
width:auto;
}

#edit-page-comments {
width:100%;
}

#footer {
clear:both;
color:#bbb;
font-size:77%;
margin-top:15px;
padding:3px 10px;
}

#footer .options {
display:block;
float:right;
font-size:100%;
text-align:right;
visibility:visible;
width:50%;
}

#header {
height:70px;
position:relative;
width:90%;
z-index:10;
}

#header > h1 > a > span {
display:inline-table;
height:5.75rem;
left:-23rem;
position:relative;
top:-2rem;
width:25rem;
z-index:9999;
}

#header h1 {
margin-bottom:-.7em;
margin-top:.7em;
max-height:95px;
}

#header h1 a {
color:transparent;
content:"The SCP Foundation";
display:block;
font-family:"Martel Sans", sans-serif!important;
font-size:100%;
letter-spacing:.9px;
line-height:0;
margin:0;
max-height:0;
padding:30px 0 0;
text-decoration:none;
text-shadow:none;
z-index:9999;
}

#header h1 a::before {
color:#fff;
content:"The SCP Foundation";
text-shadow:1px 1px 1px #000;
}

#header h1,#header h2 {
font-family:"Martel Sans", sans-serif!important;
font-weight:900;
margin-left:6.75rem;
text-transform:uppercase;
}

#header h2 {
font-size:105%;
margin-bottom:-1em;
margin-top:1.5em;
max-height:38px;
}

#header h2 span {
color:transparent;
display:block;
font-weight:400;
line-height:0;
max-height:0;
padding:19px 0;
text-shadow:none;
}

#header h2 span::before {
color:#fafafa;
content:"Secure, Contain, Protect";
text-shadow:1px 1px 1px #000;
width:100vw;
}

#header,#top-bar {
font-weight:600;
margin:0 auto;
max-width:980px;
}

#header-extra-div-1 {
background:rgba(48,7,7,1),rgba(255,255,255,0.1);
height:105px;
margin:0 -9999rem;
padding:0 9999rem;
position:absolute;
top:0;
z-index:-1;
}

#header-extra-div-2 {
background:url(https://nu-scptheme.github.io/Nu-SCP/images/logo.svg) (contain) no-repeat center left border-box;
content:" ";
height:80px;
margin-top:10px;
pointer-events:none;
position:absolute;
top:0;
width:100%;
z-index:9999;
}

#login-status {
color:#fff;
font-size:90%!important;
right:1em;
top:1em;
z-index:10000;
}

#login-status a {
color:#fff;
}

#login-status ul a {
color:#000;
}

#main-content {
flex-basis:47.188rem;
margin:2.5em 0 0 1em;
max-width:47.188rem;
padding:1em;
}

#main-content .page-tags {
margin:1em 0 0;
padding:0;
}

#main-content .page-tags a {
display:inline-block;
white-space:nowrap;
}

#main-content .page-tags span {
display:inline-block;
max-width:60%;
padding:0;
}

#page-content {
max-width:90vw;
min-height:720px;
}

#page-title {
border-color:#bbb;
}

#search-top-box {
display:infline-flex;
position:absolute;
right:-2%;
text-align:center;
top:70%;
width:250px;
}

#search-top-box-form input[type="submit"] {
border:solid 1px #000;
border-radius:1px;
box-shadow:none!important;
color:#fff;
cursor:pointer;
font-size:90%;
padding:3px 5px 2px;
}

#search-top-box-form input[type="submit"]:hover,#search-top-box-form input[type="submit"]:focus {
border:solid 1px #000;
border-radius:1px;
box-shadow:none!important;
color:#fff;
text-shadow:0 0 1px rgba(255,255,255,0.25);
}

#search-top-box-input {
background:#424242 !important;
border:solid 1px #000;
border-radius:1px;
color:#fff;
}

#search-top-box-input:hover,#search-top-box-input:focus {
border:solid 1px #000;
border-radius:1px;
color:#fff;
}

#side-bar {
border:none;
clear:none;
display:flex;
flex-basis:13.5rem;
flex-direction:column;
flex-shrink:0.1;
float:none;
margin:1em 0 0 1em;
padding:2.5em 0 0;
position:initial;
width:17em;
}

#side-bar
div.side-block:nth-child(7)
> div:nth-child(1)
> div:nth-child(1)
img {
-webkit-filter:none;
filter:none;
}

#side-bar .collapsible-block-link {
font-weight:700;
margin-left:15px;
}

#side-bar .collapsible-block-unfolded-link {
border-bottom:solid 1px #000;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link {
color:#d20000;
font-size:8pt;
margin-bottom:5px;
margin-top:10px;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
color:#b01;
text-decoration:none;
}

#side-bar .heading {
border-bottom:solid 1px #000;
color:#000;
font-size:8pt;
font-weight:700;
margin-bottom:5px;
margin-top:10px;
padding-left:15px;
}

#side-bar .side-area {
padding:10px;
}

#side-bar .side-block {
background:#fff;
border:1px solid #000;
border-radius:.25vw;
box-shadow:0 2px 6px silver;
margin-bottom:15px;
padding:10px;
}

#side-bar > div:nth-child(3) {
background:rgba(178,248,243,0.25) !important;
}

#side-bar > div:nth-child(5) {
background:rgba(118,97,80,0.2) !important;
}

#side-bar > div:nth-child(6) {
background:rgba(204,104,104,0.15) !important;
}

#side-bar > div:nth-child(7) {
background:rgba(163,204,199,0.25) !important;
}

#side-bar div.menu-item {
margin:2px 0;
}

#side-bar div.menu-item .sub-text {
color:#d20000;
font-size:80%;
}

#side-bar div.menu-item a {
font-weight:700;
}

#side-bar div.menu-item img {
border:0;
bottom:-2px;
height:13px;
margin-right:2px;
position:relative;
width:13px;
}

#side-bar div.menu-item.inactive a,#side-bar a:visited {
color:#d20000;
}

#side-bar div.menu-item.inactive img {
opacity:0.25;
}

#side-bar img {
-webkit-filter:brightness(120%);
filter:brightness(120%);
}

#side-bar ul {
list-style-type:none;
padding:0 5px;
}

#top-bar {
background:rgba(66,66,66,1);
border:1px solid #000;
display:inline-flex;
font-size:90%;
height:auto;
line-height:20px;
margin:20px -9999em;
padding:0 9999em .25em;
position:initial;
width:100%;
z-index:50;
}

#top-bar .top-bar {
align-content:stretch;
justify-content:space-around;
}

#top-bar .top-bar > ul {
align-items:stretch;
flex-direction:row;
flex-wrap:wrap;
height:auto;
justify-content:center;
max-width:61.25rem;
width:90vw;
z-index:20;
}

#top-bar .top-bar > ul > li > a,#top-bar .mobile-top-bar > ul > li > a {
padding-top:1.25em;
white-space:pre;
}

#top-bar .top-bar > ul > li > ul > li > a,#top-bar .mobile-top-bar > ul > li > ul > li > a {
line-height:140%;
padding:.5em 1em!important;
white-space:pre-wrap;
}

#top-bar .top-bar > ul > li > ul,#top-bar .mobile-top-bar > ul > li > ul {
flex-direction:column;
margin-top:0;
}

#top-bar .top-bar > ul > li,#top-bar .top-bar > ul > li > a,#top-bar .mobile-top-bar > ul,#top-bar .mobile-top-bar > ul > li,#top-bar .mobile-top-bar > ul > li > a {
flex-grow:2;
flex-shrink:2;
width:auto;
}

#top-bar .top-bar,#top-bar .top-bar > ul,#top-bar .top-bar > ul > li > ul {
display:flex;
z-index:20;
}

#top-bar a,#footer a {
color:#fff;
}

#top-bar li,#side-bar p,.content-panel .panel-heading > p,.content-panel .panel-footer > p,.scp-image-block > p {
margin:0;
}

#top-bar ul {
float:right;
}

#top-bar ul > li > ul {
margin-top:-4px;
}

#top-bar ul li {
border:0;
position:relative;
}

#top-bar ul li a {
border-left:solid 1px rgba(64,64,64,0.1);
border-right:solid 1px rgba(64,64,64,0.1);
line-height:1px;
max-height:1px;
overflow:hidden;
padding-bottom:10px;
padding-top:9px;
text-decoration:none;
}

#top-bar ul li ul {
border:solid 1px #000;
border-top:0;
border-width:0 1px 1px;
box-shadow:0 2px 6px rgba(0,0,0,0.5);
width:auto;
}

#top-bar ul li ul a,#top-bar a:hover {
color:#a01;
}

#top-bar ul li ul li,#top-bar ul li ul li.sfhover,#top-bar ul li ul li,#top-bar ul li ul li:hover,#top-bar ul li ul li a {
border-width:0;
}

#top-bar ul li.sfhover a,#top-bar ul li:hover a {
background:#dedede;
border-left:solid 1px rgba(64,64,64,1);
border-right:solid 1px rgba(64,64,64,1);
color:#000;
}

#top-bar ul li.sfhover a:hover,#top-bar ul li:hover a:hover {
background:silver;
text-decoration:none;
}

#top-bar ul li.sfhover ul li a,#top-bar ul li:hover ul li a {
border-top:1px solid #ddd;
border-width:0;
height:auto;
line-height:160%;
max-height:none;
padding-bottom:0;
padding-top:0;
width:150px;
}

.alternate:nth-child(even) {
background:rgba(255,255,255,0.9);
}

.bblock,.dblock {
background:#000;
color:#000;
text-decoration:none;
transition:2s;
}

.bblock:hover {
background:#000;
color:#060;
text-decoration:none;
}

.browserupgrade {
background:#ccc;
color:#000;
margin:.2em 0;
padding:.2em 0;
}

.clearfix:after {
clear:both;
}

.clearfix:before,.clearfix:after {
content:" ";
display:table;
}

.code {
background:#f6f6f6;
}

.code *,pre * {
font-family:"PT Mono", "Andale Mono", "Courier New", Courier, monospace;
max-width:90vw;
white-space:pre-wrap;
}

.content-panel {
background:rgba(66,66,66,0.5);
border-radius:10px;
box-shadow:0 .188em .375em rgba(0,0,0,0.16), 0 .188em .375em rgba(0,0,0,0.23), 0 0 .063em 0 #888880 inset, 0 0 .063em 0 #888880;
margin:.625em 0 .938em;
}

.content-panel .content-toc {
background:silver;
border:solid 1px #ccc;
border-radius:10px;
box-shadow:inset 1px 2px 6px rgba(0,0,0,0.15);
float:right;
margin:20px 0 5px 5px;
padding:0 20px;
white-space:nowrap;
}

.content-panel .panel-body {
background:rgba(201,201,201,1);
padding:.313em .625em;
}

.content-panel .panel-body > .news-title {
font-size:90%;
font-weight:900;
text-transform:uppercase;
}

.content-panel .panel-footer {
color:silver;
font-size:80%;
font-weight:700;
padding:1px 10px;
text-align:right;
text-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

.content-panel .panel-footer a {
color:silver;
}

.content-panel .panel-heading {
color:#fff;
font-size:90%;
font-weight:700;
padding:.313em .625em;
text-shadow:1px 1px 2px rgba(0,0,0,0.35);
text-transform:uppercase;
}

.content-panel.centered {
text-align:center;
}

.content-panel.left-column {
float:left;
width:48%;
}

.content-panel.right-column {
float:right;
width:48%;
}

.content-panel.series {
margin-bottom:20px;
padding:0 20px;
}

.content-panel.standalone {
background:#fcfdfb;
}

.dblock:hover {
text-decoration:none;
}

.emph {
-webkit-text-emphasis-style:dot;
text-emphasis-style:dot;
}

.footer-wikiwalk-nav {
font-size:75%;
font-weight:700;
}

.footnote-footer {
padding-bottom:1em;
}

.form-control {
width:95%;
}

.forum-thread-box .description-block {
border-radius:10px;
box-shadow:0 1px 5px rgba(0,0,0,0.15), inset 0 1px 0 rgba(255,255,255,0.8), inset 0 10px 5px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
padding:.5em 1em;
}

.heritage-rating-module {
background:#633;
border:solid 1px #ccc066;
border-radius:8px;
box-shadow:0 1px 3px rgba(0,0,0,0.25);
display:inline-block;
margin-bottom:10px;
margin-right:2em;
padding:2px 8px 2px 5px;
}

.heritage-rating-module .heritage-emblem {
float:left;
height:16px;
left:2px;
margin-right:2px;
overflow:visible;
position:relative;
top:-2px;
width:16px;
}

.heritage-rating-module .heritage-emblem img {
border:0;
height:20px;
width:20px;
}

.heritage-rating-module .page-rate-widget-box {
box-shadow:none;
margin-bottom:0;
margin-right:0;
}

.info-container .collapsible-block-link,.info-container:hover .collapsible-block-link {
line-height:1.6em;
}

.invisible {
visibility:hidden;
}

.keycap {
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:#f9f9f9;
border:1px solid;
border-bottom-width:2px;
border-color:#ddd #bbb #bbb #ddd;
border-radius:3px;
font-family:inherit;
font-size:.85em;
padding:1px 3px;
white-space:nowrap;
}

.mobile-top-bar {
bottom:0;
display:none;
left:1em;
position:relative;
z-index:9999;
}

.mobile-top-bar > div > p,#main-content .page-tags a[href^="/system:page-tags/tag/_"] {
display:none;
}

.page-rate-widget-box {
border-radius:0;
box-shadow:1px 1px 3px rgba(0,0,0,0.5);
display:inline-block;
margin-bottom:10px;
margin-right:2em;
overflow:hidden;
padding:4px 0;
}

.page-rate-widget-box .cancel {
background:#590505;
border:solid 1px #000;
border-left:0;
border-radius:0;
}

.page-rate-widget-box .cancel a {
color:#fff;
text-transform:uppercase;
}

.page-rate-widget-box .cancel a:hover {
background:#6c1616;
border-radius:0 3px 3px 0;
color:#fff;
text-decoration:none;
}

.page-rate-widget-box .rate-points {
background:#590505 !important;
border:solid 1px #000;
border-radius:0;
border-right:0;
color:#fff;
}

.page-rate-widget-box .rateup a,.page-rate-widget-box .ratedown a {
background:#590505;
color:#fff;
margin:0 1px;
padding:0 4px;
}

.page-rate-widget-box .rateup a:hover,.page-rate-widget-box .ratedown a:hover {
background:#6c1616;
color:#fff;
text-decoration:none;
}

.page-rate-widget-box .rateup,.page-rate-widget-box .ratedown {
background:#590505;
border-bottom:solid 1px #000;
border-top:solid 1px #000;
font-weight:700;
}

.page-source {
word-break:break-all;
}

.printuser img.small {
margin-right:1px;
}

.rt,rt {
display:table-header-group;
font-size:.6em;
line-height:1.1;
text-align:center;
white-space:nowrap;
}

.ruby,ruby {
display:inline-table;
height:1em;
line-height:1;
text-align:center;
vertical-align:text-bottom;
white-space:nowrap;
}

.scp-image-block {
align-items:center;
border:solid 1px #000;
box-shadow:0 1px 6px rgba(0,0,0,0.25);
display:flex;
flex-flow:column nowrap;
min-width:100%;
width:300px;
}

.scp-image-block .scp-image-caption {
background:silver;
border-top:solid 1px #000;
font-size:80%;
font-weight:700;
padding:2px 0;
text-align:center;
}

.scp-image-block .scp-image-caption > p {
margin:0;
padding:0 10px;
}

.scp-image-block img {
border:0;
min-width:100%;
}

.scp-image-block.block-center {
margin-left:auto;
margin-right:auto;
}

.scp-image-block.block-left {
clear:left;
float:left;
margin:0 2em 1em 0;
}

.scp-image-block.block-right {
clear:right;
float:right;
margin:0 2em 1em;
}

.scp-image-caption {
min-width:100%;
}

.signature,.hidden {
display:none!important;
}

.tags {
-moz-border-radius-bottomright:4px;
-moz-border-radius-topright:4px;
-webkit-border-bottom-right-radius:4px;
-webkit-border-top-right-radius:4px;
border-bottom-right-radius:4px;
border-top-right-radius:4px;
color:#fff;
display:inline-block;
font-size:11px;
height:13px;
line-height:13px;
margin:0 0 0 5px;
padding:3px 5px 3px 0;
text-decoration:none;
}

.tags:after {
-moz-border-radius:2px;
-moz-box-shadow:-1px -1px 2px #004977;
-webkit-border-radius:2px;
-webkit-box-shadow:-1px -1px 2px #333;
background:#fff;
border-radius:2px;
box-shadow:-1px -1px 2px #333;
content:"";
float:left;
height:4px;
left:-8px;
position:relative;
top:4.5px;
width:4px;
}

.tags:before {
border-color:transparent #666 transparent transparent;
border-style:solid;
border-width:8px 8px 8px 0;
content:"";
float:left;
height:0;
left:-10px;
padding:0 1px 3px;
position:relative;
top:-3px;
width:0;
}

.thread-container .post .head {
background:linear-gradient(toright,#eee,#eeecec);
border-radius:5px 5px 0 0;
box-shadow:inset 2px 3px 6px rgba(0,0,0,0.15);
padding:.5em 1em;
}

.title.modal-header,.owindow {
background:#fff;
}

.top-bar ul li:last-of-type ul {
right:0;
}

.unmargined > p {
line-height:100%;
margin:0;
}

.visuallyhidden {
border:0;
clip:rect(0000);
height:1px;
margin:-1px;
overflow:hidden;
padding:0;
position:absolute;
white-space:nowrap;
width:1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
clip:auto;
height:auto;
margin:0;
overflow:visible;
position:static;
white-space:inherit;
width:auto;
}

.yui-navset .yui-content {
background:#f5f5f5;
}

.yui-navset .yui-nav .selected a,.yui-navset .yui-nav .selected a:focus,/* no focus effect for selected */
.yui-navset .yui-nav .selected a:hover {
background:url(http://d3g0gp89917ko0.cloudfront.net/v--3b8418686296/common--theme/shiny/images/yuitabs.png) repeat-x #700 left;
color:#fff;
}

.yui-navset .yui-nav a,.yui-navset .yui-navset-top .yui-nav a {
background:#d8d8d8 url(http://d3g0gp89917ko0.cloudfront.net/v--3b8418686296/common--theme/shiny/images/yuitabs.png);
}

.yui-navset .yui-nav a:hover,.yui-navset .yui-nav a:focus {
background:#d88 url(http://d3g0gp89917ko0.cloudfront.net/v--3b8418686296/common--theme/shiny/images/yuitabs.png) repeat-x left -1300px;
text-decoration:none;
}

.yui-navset .yui-nav,.yui-navset .yui-navset-top .yui-nav {
border-color:#444;
}

::-moz-selection,::selection {
background:#fcb3b3;
text-shadow:none;
}

::-webkit-scrollbar {
border:solid 1px rgba(0,0,0,0.1);
border-round:.5px;
height:9px;
width:9px;
}

::-webkit-scrollbar-thumb {
background:rgba(175,175,175,0.4);
}

::-webkit-scrollbar-track {
background:rgba(0,0,0,0.1);
}

a {
color:#da0d0d;
text-decoration:none;
}

a.newpage {
color:#a3ccc7;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

a:visited {
color:#2e0000;
}

audio,canvas,iframe,img,svg,video {
vertical-align:middle;
}

body {
background:#fcfcfc;
color:#000;
font-size:.82em;
overflow-x:hidden;
}

div.block-right,div.block-left {
min-width:20%;
}

div.sexy-box {
background:#eee;
border:1px solid #ccc;
margin:7px 4px 12px;
overflow:hidden;
padding:0 10px 12px;
}

div.sexy-box div.image-container img {
border:1px solid #999;
margin:5px;
padding:2px;
}

fieldset {
border:0;
margin:0;
padding:0;
}

h1 {
font-weight:700;
margin-top:.7em;
padding:0;
}

h1,#page-title {
color:#000;
font-weight:600;
margin:0 0 .6em;
padding:0 0 .25em;
}

h2,h3,h4,h5,h6,h7 {
letter-spacing:1px;
margin:.5em 0 .4em;
padding:0;
}

hr {
border:0;
border-top:1px solid #ccc;
display:block;
height:1px;
margin:1em 0;
padding:0;
}

html {
color:#222;
font-size:1em;
line-height:1.5;
}

img,embed,video,object,iframe,table,#page-content div,#page-content div table {
max-width:100%;
}

p,span,div,li {
-moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
font-family:"Martel Sans", sans-serif;
font-kerning:auto;
hyphens:auto;
orphans:2;
text-rendering:optimizeLegibility;
word-break:break-word;
}

sup {
position:relative;
top:-.5em;
vertical-align:top;
}

text-area,.yui-navset li {
line-height:normal;
}

textarea {
line-height:1.5;
resize:vertical;
}

ul {
list-style:square;
}

@media screen and -ms-high-contrast active,-ms-high-contrast none{
.emph {
background:url(http://www.kaktuskontainer.wikidot.com/local--files/component%3Atheme/dot.png) (1em 1.3em auto) repeat-x padding-box, none  content-box;
font-family:monospace;
font-style:normal;
font-weight:400;
padding:.5em 0 0;
}
}

@media max-width 1024px{
#content-wrap {
margin:4.5em auto 0;
}

#edit-page-title {
max-width:90%;
}

#header > h1 > a > span {
top:-3.2rem;
}

#header h1 {
font-size:1.5em;
margin-bottom:-1em!important;
margin-top:1em!important;
}

#header h1,#header h2 {
margin-left:5.5rem;
}

#header h2 {
margin-bottom:-1.5em!important;
margin-top:1.5em!important;
}

#header h2 span::before {
display:inline-block;
width:100vw;
}

#header,.mobile-top-bar {
max-width:90vw;
}

#header-extra-div-2 {
height:70px;
}

#login-status {
font-size:70%;
}

#main-content {
-moz-transition:.5s ease-in-out .1s;
-ms-transition:.5s ease-in-out .1s;
-o-transition:.5s ease-in-out .1s;
-webkit-transition:.5s ease-in-out .1s;
margin:0 5%;
max-width:90vw;
padding:0;
transition:.5s ease-in-out .1s;
}

#page-content {
font-size:.9em;
}

#page-content div,#page-content div table {
clear:both;
}

#page-content div.title {
word-break:keep-all;
}

#recent-posts-category,.owindow div .btn-primary ~ div {
width:100%;
}

#search-top-box-input,#search-top-box,#navi-bar,#navi-bar-shadow {
display:none;
}

#side-bar {
-moz-transition:left .5s ease-in-out .1s;
-ms-transition:left .5s ease-in-out .1s;
-o-transition:left .5s ease-in-out .1s;
-webkit-transition:left .5s ease-in-out .1s;
background:#b88686;
display:block;
height:100%;
left:-25em;
overflow-y:auto;
padding:1em 1em 0;
position:fixed;
top:0;
transition:left .5s ease-in-out .1s;
width:17em;
z-index:10;
}

#side-bar:after {
background:rgba(0,0,0,0.2);
content:"";
height:100%;
position:absolute;
top:0;
width:0;
}

#side-bar:target {
border:1px solid #dedede;
display:block;
left:0;
margin:0;
width:17em;
z-index:10;
}

#side-bar:target + #main-content {
left:0;
}

#side-bar:target .close-menu {
background:rgba(0,0,0,0.3);
display:block;
height:100%;
left:0;
position:fixed;
top:0;
width:100%;
z-index:-1;
}

.content-panel.left-column,.content-panel.right-column {
float:left;
width:99%;
}

.license-area {
font-size:.8em;
}

.mobile-top-bar {
display:flex;
padding:0;
position:relative;
width:100vw;
}

.mobile-top-bar > div > p {
display:block;
}

.modal-body .table,.modal-body .table ~ div {
float:left;
}

.open-menu a {
background:#fff !important;
border:.2em solid #888!important;
border-radius:3em;
color:#888!important;
font-family:"Nanum Gothic", san-serif;
font-size:30px;
font-weight:700;
height:30px;
left:85%;
line-height:.9em;
position:fixed;
text-align:center;
top:10%;
width:30px;
z-index:150;
}

.open-menu a:hover {
-moz-box-shadow:0 0 20px 3px rgba(153,153,153,1);
-ms-box-shadow:0 0 20px 3px rgba(153,153,153,1);
-o-box-shadow:0 0 20px 3px rgba(153,153,153,1);
-webkit-box-shadow:0 0 20px 3px rgba(153,153,153,1);
box-shadow:0 0 20px 3px rgba(153,153,153,1);
text-decoration:none!important;
}

.owindow {
max-width:99%;
min-width:80%;
}

.owindow .button-bar {
float:right;
}

.owindow div .btn-primary {
float:left;
width:100%;
}

.page-history tbody tr td:last-child {
font-side:1.5rem;
width:35%;
}

.page-options-bottom a {
padding:0 4px;
}

.top-bar {
display:none!important;
}

.yui-navset {
z-index:1;
}

blockquote {
margin:1em 0;
}

body,html {
overflow-x:hidden;
}

table.form td,table.form th {
float:left;
padding:0;
}

td.name {
width:15em;
}
}

@media max-width 450px{
div.block-right,div.block-left {
margin:0 auto;
min-width:100%;
}
}

@media print{
*,:before,:after {
-webkit-box-shadow:none!important;
box-shadow:none!important;
color:#000!important;
text-shadow:none!important;
}

a,a:visited {
text-decoration:underline;
}

a[href]:after {
content:" (" attr(href) ")";
}

a[href^="#"]:after,a[href^="javascript:"]:after {
content:"";
}

abbr[title]:after {
content:" (" attr(title) ")";
}

h2,h3 {
page-break-after:avoid;
}

p,h2,h3 {
orphans:3;
widows:3;
}

pre {
white-space:pre-wrap!important;
}

pre,blockquote {
border:1px solid #999;
page-break-inside:avoid;
}

thead {
display:table-header-group;
}

tr,img {
page-break-inside:avoid;
}
}
