@charset "utf-8";

@import url(https://nu-scptheme.github.io/Nu-SCP/styles/root.css);
@import url(https://nu-scptheme.github.io/Nu-SCP/styles/normalize.css);
@import url(https://nu-scptheme.github.io/Nu-SCP/styles/structure.css);
@import url(https://nu-scptheme.github.io/Nu-SCP/styles/sidebar.css);
@import url(https://nu-scptheme.github.io/Nu-SCP/styles/header.css);
@import url(https://nu-scptheme.github.io/Nu-SCP/styles/elements.css);
@import url(https://nu-scptheme.github.io/Nu-SCP/styles/translation-import.css);

/*
Styles in main.css will override styles in sidebar.css
Consider having a stylesheet whose sole function is to @import sub stylesheets (including main.css) in the correct order?
*/

/* Selection color */

::-moz-selection {
	background: #FCB3B3;
	text-shadow: none;
}

::selection {
	background: #FCB3B3;
	text-shadow: none;
}

/* main css files, yet to be organized */

.browserupgrade {
	background: #ccc;
	color: #000;
	margin: .2em 0;
	padding: .2em 0;
}

.code {
	background-color: #f6f6f6;
}

.code * {
	font-family: var(--mono-font);
	max-width: 90vw;
	white-space: pre-wrap;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#content-wrap {
	width: 98vw;
	min-height: calc(100vh - 9.375rem);
	height: 100% !important;
	position: initial;
	/* display: flex; */
	flex-direction: row;
	justify-content: center;
	margin: 0 auto -4.1em auto;
	padding: 0;
}

#page-title {
	min-height: 2rem;
	font-family: var(--title-font);
	color: #000;
	font-weight: 600;
	/* Counteracting Aers' dropdown. Remove later when Aers fixes it */
	margin: 0 0 .6em !important;
	padding: 0 0 .25em !important;
	border-color: #bbb;
	text-align: left !important;
}

.form-control {
	width: 95%;
}

/* no idea what this does - croque */
.info-container .collapsible-block-link,
.info-container:hover .collapsible-block-link {
	line-height: 1.6em;
}

.printuser img.small {
	margin-right: 1px;
}

#main-content {
	background-color: transparent;
	flex-basis: var(--body-width-on-desktop);
	max-width: var(--body-width-on-desktop);
	padding: 2em 1.5em 1em 1em;
	margin-bottom: 3rem;
	flex-grow: 2;
	margin-left: calc(50vw - (var(--body-width-on-desktop) / 2));
	margin-right: 1.5rem;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

#breadcrumbs {
	font-weight: 85%;
	margin: -1em 0 1em;
}

.footnote-footer {
	padding-bottom: 1em;
}

#footer {
	clear: both;
	font-size: 77%;
	background: #444;
	color: #bbb;
	margin-top: 15px;
	padding: 3px 10px;
	width: calc(98.7vw - var(--sidebar-width-on-desktop));
	height: 1rem;
	position: absolute;
	bottom: -1rem;
	right: 0;
}

#footer .options {
	visibility: visible;
	display: block;
	float: right;
	width: 50%;
	font-size: 100%;
	text-align: right;
}

#license-area {
	padding: 0;
	position: relative;
	right: 0;
	bottom: -2.35em;
	height: 1rem;
}

div.sexy-box {
	background: #eee;
	border: 1px solid #ccc;
	overflow: hidden;
	margin: 7px 4px 12px;
	padding: 0 10px 12px;
}

div.sexy-box div.image-container img {
	border: 1px solid #999;
	margin: 5px;
	padding: 2px;
}

#page-content {
	min-height: 720px;
	max-width: 90vw;
}

.unmargined > p {
	line-height: 100%;
	margin: 0;
}

.content-panel {
	border-radius: 10px;
	background-color: rgba(66, 66, 66, 0.5);
	box-shadow: 0 .188em .375em rgba(0, 0, 0, 0.16), 0 .188em .375em rgba(0, 0, 0, 0.23), 0 0 .063em 0 #888880 inset, 0 0 .063em 0 #888880;
	margin: .625em 0 .938em;
}

.content-panel.standalone {
	background: #fcfdfb;
}

.content-panel.series {
	margin-bottom: 20px;
	padding: 0 20px;
}

.content-panel.centered {
	text-align: center;
}

.content-panel.left-column {
	float: left;
	width: 48%;
}

.content-panel.right-column {
	float: right;
	width: 48%;
}

.content-panel .panel-heading {
	text-transform: uppercase;
	color: #fff;
	font-size: 100%;
	font-weight: 900;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
	padding: .313em .625em;
	text-align: center;
}

.content-panel .panel-body {
	background: rgba(201, 201, 201, 1);
	padding: .313em .625em;
}

.content-panel .panel-body > .news-title {
	font-family: var(--title-font);
	font-weight: 900;
	text-transform: uppercase;
	font-size: 90%;
}

.content-panel .panel-footer {
	color: silver;
	font-size: 80%;
	font-weight: 700;
	text-align: right;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	padding: 1px 10px;
}

.content-panel .panel-footer a {
	color: silver;
}

.content-panel .content-toc {
	float: right;
	background-color: silver;
	border: solid 1px #ccc;
	border-radius: 10px;
	white-space: nowrap;
	box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.15);
	margin: 20px 0 5px 5px;
	padding: 0 20px;
}

.alternate:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.9);
}

#main-content .page-tags {
	margin: 1em 0 0;
	padding: 0;
}

#main-content .page-tags span {
	display: inline-block;
	max-width: 60%;
	padding: 0;
}

#main-content .page-tags a {
	display: inline-block;
	white-space: nowrap;
}

.footer-wikiwalk-nav {
	font-weight: 700;
	font-size: 75%;
}

.forum-thread-box .description-block {
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 10px 5px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
	padding: .5em 1em;
}

.thread-container .post .head {
	background-color: #eee;
	background: linear-gradient(to right, #eee, #eeecec);
	box-shadow: inset 2px 3px 6px rgba(0, 0, 0, 0.15);
	border-radius: 5px 5px 0 0;
	padding: .5em 1em;
}



.ruby {
	display: inline-table;
	text-align: center;
	white-space: nowrap;
	line-height: 1;
	height: 1em;
	vertical-align: text-bottom;
}

.rt {
	display: table-header-group;
	font-size: .6em;
	line-height: 1.1;
	text-align: center;
	white-space: nowrap;
}

.keycap {
	border: 1px solid;
	border-bottom-width: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
	font-family: inherit;
	font-size: .85em;
	white-space: nowrap;
	border-color: #ddd #bbb #bbb #ddd;
	padding: 1px 3px;
}

.tags {
	display: inline-block;
	height: 13px;
	line-height: 13px;
	font-size: 11px;
	background: #666;
	color: #fff;
	text-decoration: none;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	margin: 0 0 0 5px;
	padding: 3px 5px 3px 0;
}

.tags:before {
	content: "";
	float: left;
	position: relative;
	top: -3px;
	left: -10px;
	width: 0;
	height: 0;
	border-color: transparent #666 transparent transparent;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	padding: 0 1px 3px;
}

.tags:after {
	content: "";
	position: relative;
	top: 4.5px;
	left: -8px;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	-moz-box-shadow: -1px -1px 2px #004977;
	-webkit-box-shadow: -1px -1px 2px #333;
	box-shadow: -1px -1px 2px #333;
}

.bblock:hover {
	background-color: #000;
	color: #060;
	text-decoration: none;
}

.dblock:hover {
	background-color: transparent;
	text-decoration: none;
}

.emph {
	text-emphasis-style: dot;
	-webkit-text-emphasis-style: dot;
}

.page-source {
	word-break: break-all;
}

#edit-page-comments {
	width: 100%;
}

.visuallyhidden {
	border: 0;
	clip: rect(0000);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
	white-space: nowrap;
	margin: -1px;
	padding: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
	margin: 0;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

::-moz-selection,
::selection {
	background: #fcb3b3;
	text-shadow: none;
}

div#container-wrap {
	background: none;
}

text-area,
.yui-navset li {
	line-height: normal;
}

.title.modal-header,
.owindow {
	background-color: #fff;
}

.signature,
.hidden {
	display: none !important;
}

.bblock,
.dblock {
	color: #000;
	background-color: #000;
	transition: 2s;
	text-decoration: none;
}

#page-content div,
#page-content div table {
	max-width: 100%;
}

/* 1% Height Firefox Fixes */

.footnotes-footer, 
.page-options-bottom,
.owindow .title,
.math-equation,
.bibitem,
.thread-container .post  .long  .options
{
	height: auto !important;	
}


@media screen and -ms-high-contrast active,
-ms-high-contrast none {
	.emph {
		font-family: monospace;
		font-style: normal;
		font-weight: 400;
		background-image: url(http://www.kaktuskontainer.wikidot.com/local--files/component%3Atheme/dot.png), none;
		background-repeat: repeat-x;
		background-color: transparent;
		background-clip: padding-box, content-box;
		background-size: 1em 1.3em auto;
		padding: .5em 0 0;
	}
}

@media only screen and (max-width: 768px) {
	#page-content {
		font-size: .9em;
	}

	#main-content {
		max-width: 90vw;
		-webkit-transition: .5s ease-in-out .1s;
		-moz-transition: .5s ease-in-out .1s;
		-ms-transition: .5s ease-in-out .1s;
		-o-transition: .5s ease-in-out .1s;
		transition: .5s ease-in-out .1s;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
	}

	.mobile-top-bar > div > p {
		display: block;
	}

	.page-options-bottom {
		height: initial;
	}

	.page-options-bottom a {
		padding: 0 4px;
	}

	blockquote {
		margin: 1em 0;
	}

	.license-area {
		font-size: .8em;
	}

	.page-history tbody tr td:last-child {
		width: 35%;
		font-size: 1.5rem;
	}

	.owindow {
		min-width: 80%;
		max-width: 99%;
	}

	.modal-body .table,
	.modal-body .table ~ div {
		float: left;
	}

	.owindow .button-bar {
		float: right;
	}

	.owindow div .btn-primary {
		width: 100%;
		float: left;
	}

	.yui-navset {
		z-index: 1;
	}

	table.form td,
	table.form th {
		float: left;
		padding: 0;
	}

	td.name {
		width: 15em;
	}

	#edit-page-title {
		font-family: var(--title-font);
		max-width: 90%;
	}

	.content-panel.left-column,
	.content-panel.right-column {
		width: 99%;
		float: left;
	}

	#page-content div,
	#page-content div table {
		clear: both;
	}

	#page-content div.title {
		font-family: var(--title-font);
		word-break: keep-all;
	}

	#content-wrap {
		margin: 2.875em auto 0;
	}

	#footer {
		width: auto;
		bottom: 1rem;
	}

	#license-area {
		font-size: 1em;
		bottom: -1.5em;
		width: 90%;
		margin: 0 auto;
		line-height: 1;
		height: 2rem;
	}

	#search-top-box-input,
	#search-top-box,
	#navi-bar,
	#navi-bar-shadow {
		display: none;
	}

	#recent-posts-category,
	.owindow div .btn-primary ~ div {
		width: 100%;
	}
}

@media print {

	*,
	:before,
	:after {
		background: transparent !important;
		color: #000 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " ("attr(href) ")";
	}

	abbr[title]:after {
		content: " ("attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
