/* All Vars Used */

:root {
  /* Typefaces */
  --bodyFont: 'Lato', sans-serif;
  --headerFont: 'GlacialIndifferenceBold', sans-serif;
  --titleFont: din-1451-lt-pro-engschrift, sans-serif;
  --monoFont: "PT Mono", "Andale Mono", "Courier New", Courier, monospace;
  
  /* Colors */
  --coolWhite: 252,252,252;
}
