@charset "utf-8";

/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Lato:400,900|PT+Mono|Poppins:600,800");

/* All Vars Used */

:root {
	/* S-CSS-P Integration */
	/* If you're making a new CSS theme, please include the following three variables at minimum. */
	--theme-base: "black-highlighter";
	/* must be either "black-highlighter" or "sigma9" */
	--theme-id: "black-highlighter";
	/* set this to the URL of your theme's page - eg for "component:ar-theme", set it to "ar-theme" */
	--theme-name: "nu-SCP Theme";
	/* set this to your theme's full name */

	/* Header */
	--logo-image: url("https://nu-scptheme.github.io/Black-Highlighter/images/logo.svg");
	--header-title: "SCP Foundation";
	--header-subtitle: "SECURE, CONTAIN, PROTECT";

	/* Typefaces */
	--body-font: "Lato", sans-serif;
	--header-font: "Poppins", sans-serif;
	--title-font: "Poppins", sans-serif;
	--mono-font: "PT Mono", "Andale Mono", "Courier New", Courier, monospace;

	/* Standard Colors */
	--white-monochrome: 252, 252, 252;
	/* white */
	--pale-gray-monochrome: 244, 244, 244;
	/* v light gray for blockquotes and stuff */
	--light-pale-gray-monochrome: 244, 244, 244;
	/* very light pale gray for misc. use */
	--very-light-gray-monochrome: 215, 215, 215;
	/* light accent gray for login status */
	--gray-monochrome: 66, 66, 72;
	/* gray */
	--dark-gray-monochrome: 48, 48, 52;
	/* dark accent gray for sidebar background */
	--black-monochrome: 12, 12, 12;
	/* black */
	--bright-accent: 133, 0, 5;
	/* bright red */
	--medium-accent: 100, 46, 44;
	/* medium red */
	--dark-accent: 100, 3, 15;
	/* dark red */
	--newpage-color: 221, 102, 17;
	/* pale orange */

	/* Background and Header Colors */
	--background-gradient-color: var(--very-light-gray-monochrome, 215, 215, 215);
	--header-gradient-color-bottom: var(--medium-accent);
	--header-gradient-color-middle: var(--black-monochrome);
	--header-gradient-color-top: var(--black-monochrome);

	/* Primary Theme Colors */
	--swatch-background: var(--white-monochrome, 252, 252, 252);
	--swatch-primary: var(--bright-accent, 180, 35, 35);
	--swatch-primary-darker: var(--medium-accent, 140, 20, 25);
	--swatch-primary-darkest: var(--dark-accent, 100, 3, 15);
	/* Primary Text Colors */
	--swatch-text-dark: var(--black-monochrome, 12, 12, 12);
	--swatch-text-light: var(--white-monochrome, 252, 252, 252);
	--swatch-important-text: var(--bright-accent, 180, 35, 35);

	/* Primary Menu Colors */
	--swatch-menubg-color: var(--white-monochrome, 252, 252, 252);
	--swatch-menubg-light-color: var(--pale-gray-monochrome, 244, 244, 244);
	--swatch-menubg-medium-color: var(--light-gray-monochrome, 170, 170, 170);
	--swatch-menubg-medium-dark-color: var(--gray-monochrome, 66, 66, 72);
	--swatch-menubg-dark-color: var(--dark-gray-monochrome, 48, 48, 52);
	--swatch-menubg-black-color: var(--black-monochrome, 12, 12, 12);
	--swatch-menubg-hover-color: var(--black-monochrome, 12, 12, 12);
	--swatch-menutxt-dark-color: var(--black-monochrome, 12, 12, 12);
	--swatch-menutxt-light-color: var(--white-monochrome, 252, 252, 252);
	--swatch-border-color: var(--black-monochrome, 12, 12, 12);
	/* Primary Header Colors */
	--swatch-headerh1-color: var(--white-monochrome, 252, 252, 252);
	--swatch-headerh2-color: var(--white-monochrome, 252, 252, 252);
	--swatch-topmenu-border-color: var(--black-monochrome, 12, 12, 12);
	--swatch-topmenu-bg-color: var(--gray-monochrome, 66, 66, 72);

	--rating-module-button-color: var(--black-monochrome, 12, 12, 12);
	--rating-module-text-color: var(--swatch-menutxt-dark-color, 12, 12, 12);

	/* Header Gradients */

	--gradient-header: linear-gradient(
		to top,
		rgb(var(--header-gradient-color-bottom)) 0%,
		rgb(var(--header-gradient-color-middle)) 90%,
		rgb(var(--header-gradient-color-top)) 100%
	);
	--gradient-topmenu: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0) 7.5rem,
		rgba(var(--swatch-topmenu-border-color, var(--black-monochrome, 12, 12, 12)),1)	7.5rem,
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1) 7.625rem,
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 0.95) -webkit-calc(100% - 0.125rem),
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1) -webkit-calc(100% - 0.125rem),
		rgba(var(--swatch-topmenu-border-color, var(--black-monochrome, 12, 12, 12)), 1) 100%);
	--gradient-topmenu: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0) 7.5rem,
		rgba(var(--swatch-topmenu-border-color, var(--black-monochrome, 12, 12, 12)),1) 7.5rem,
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1) 7.625rem,
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 0.95) calc(100% - 0.125rem),
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1) calc(100% - 0.125rem),
		rgba(var(--swatch-topmenu-border-color, var(--black-monochrome, 12, 12, 12)), 1) 100%);
	--gradient-topmenu-mobile: linear-gradient(
		to bottom,
		rgba(
				var(--swatch-topmenu-border-color, var(--black-monochrome, 12, 12, 12)),
				1
			)
			0,
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1)
			0.125rem,
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1) -webkit-calc(
				3rem - 0.125rem
			),
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1) -webkit-calc(
				3rem - 0.125rem
			),
		rgba(
				var(--swatch-topmenu-border-color, var(--black-monochrome, 12, 12, 12)),
				1
			)
			3rem
	);
	--gradient-topmenu-mobile: linear-gradient(
		to bottom,
		rgba(
				var(--swatch-topmenu-border-color, var(--black-monochrome, 12, 12, 12)),
				1
			)
			0,
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1)
			0.125rem,
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1)
			calc(3rem - 0.125rem),
		rgba(var(--swatch-topmenu-bg-color, var(--gray-monochrome, 66, 66, 72)), 1)
			calc(3rem - 0.125rem),
		rgba(
				var(--swatch-topmenu-border-color, var(--black-monochrome, 12, 12, 12)),
				1
			)
			3rem
	);
	--diagonal-stripes: repeating-linear-gradient(
		45deg,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 0) 0.25vh,
		rgba(88, 88, 88, 0.1) 0.35vh,
		rgba(88, 88, 88, 0.2) 0.5vh
	);
	--gradient-sidemenu-header: linear-gradient(
		10deg,
		rgba(var(--medium-accent, 140, 20, 25), 0.45) 0%,
		rgba(var(--medium-accent, 140, 20, 25), 0.55) 100%
	);
	--background-gradient-distance: 40rem;
	--gradient-background: linear-gradient(
		to bottom,
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				1
			) -webkit-calc(-webkit-calc(0 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.987
			) -webkit-calc(-webkit-calc(0.8 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.951
			) -webkit-calc(-webkit-calc(2.9 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.896
			) -webkit-calc(-webkit-calc(6.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.825
			) -webkit-calc(-webkit-calc(11 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.741
			) -webkit-calc(-webkit-calc(16.6 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.648
			) -webkit-calc(-webkit-calc(23.1 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.55
			) -webkit-calc(-webkit-calc(30.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.45
			) -webkit-calc(-webkit-calc(38.3 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.352
			) -webkit-calc(-webkit-calc(46.7 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.259
			) -webkit-calc(-webkit-calc(55.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.175
			) -webkit-calc(-webkit-calc(64.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.104
			) -webkit-calc(-webkit-calc(73.5 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.049
			) -webkit-calc(-webkit-calc(82.5 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.013
			) -webkit-calc(-webkit-calc(91.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0
			) -webkit-calc(-webkit-calc(100 / 100) * var(--background-gradient-distance, 40rem))
	);
	--gradient-background: linear-gradient(
		to bottom,
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				1
			)
			calc((0 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.987
			)
			calc((0.8 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.951
			)
			calc((2.9 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.896
			)
			calc((6.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.825
			)
			calc((11 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.741
			)
			calc((16.6 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.648
			)
			calc((23.1 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.55
			)
			calc((30.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.45
			)
			calc((38.3 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.352
			)
			calc((46.7 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.259
			)
			calc((55.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.175
			)
			calc((64.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.104
			)
			calc((73.5 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.049
			)
			calc((82.5 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0.013
			)
			calc((91.4 / 100) * var(--background-gradient-distance, 40rem)),
		rgba(
				var(
					--background-gradient-color,
					var(--very-light-gray-monochrome, 215, 215, 215)
				),
				0
			)
			calc((100 / 100) * var(--background-gradient-distance, 40rem))
	);
	--header-background-image-size: 100% 7.5rem;

	/* Spacing Measurements */
	--offset-from-page-top: 1.2rem;
	/* space between the top of the page and the start of the header */
	--body-width-on-desktop: 44.25rem;
	--sidebar-width-on-desktop: -webkit-calc(
		var(--base-font-size, var(--font-calc, 0.875rem)) * 19
	);
	--sidebar-width-on-desktop: calc(
		var(--base-font-size, var(--font-calc, 0.875rem)) * 19
	);
	--sidebar-width-on-mobile: 14rem;
	--scrollbar-width: 1rem;
	--border-styling: solid 0.0625rem
		rgb(var(--swatch-border-color, var(--black-monochrome, 12, 12, 12)));
	--border-radius-width: 0.0625rem;

	/* Box-Shadow 1px Borders */
	--box-border-bottom: 0 0.0625rem 0 0
		rgb(var(--swatch-border-color, var(--black-monochrome, 12, 12, 12)));
	--box-border-top: 0 -0.0625rem 0 0 rgb(var(--swatch-border-color, var(--black-monochrome, 12, 12, 12)));
	--box-border-left: -0.0625rem 0 0 0
		rgb(var(--swatch-border-color, var(--black-monochrome, 12, 12, 12)));
	--box-border-right: 0.0625rem 0 0 0
		rgb(var(--swatch-border-color, var(--black-monochrome, 12, 12, 12)));
	--box-border-all: 0 0 0 0.0625rem
		rgb(var(--swatch-border-color, var(--black-monochrome, 12, 12, 12)));

	/* Sidebar */
	--sidebar-transition-timing: 0.5s ease-in-out 0.1s;
	--sidebar-internal-border-thickness: 0.125rem;

	/* Dynamic Font Sizing */
	/* This set of vars will make the base font size vary with screen width */
	/* base font size ranges */
	--unitless-min-font-size: 0.8;
	--unitless-max-font-size: 1;
	/* base viewport size ranges */
	--unitless-min-viewport: 768;
	--unitless-max-viewport: 900;
	/* base line height size ranges */
	--min-lineheight: 1.2;
	--max-lineheight: 1.5;
	/* calculating size differences */
	--font-size-difference: -webkit-calc(
		var(--unitless-max-font-size) - var(--unitless-min-font-size)
	);
	--font-size-difference: calc(
		var(--unitless-max-font-size) - var(--unitless-min-font-size)
	);
	--lineheight-difference: -webkit-calc(
		var(--max-lineheight) - var(--min-lineheight)
	);
	--lineheight-difference: calc(var(--max-lineheight) - var(--min-lineheight));
	--viewport-range-difference: -webkit-calc(
		var(--unitless-max-viewport) - var(--unitless-min-viewport)
	);
	--viewport-range-difference: calc(
		var(--unitless-max-viewport) - var(--unitless-min-viewport)
	);
	--min-viewport-difference: -webkit-calc(
		100vw - (var(--unitless-min-viewport) * 0.0625rem)
	);
	--min-viewport-difference: calc(
		100vw - (var(--unitless-min-viewport) * 0.0625rem)
	);
	/* responsive fluid type formula */
	--font-calc: -webkit-calc(
		(var(--unitless-min-font-size) * 1rem) + var(--font-size-difference) *
			var(--min-viewport-difference) / var(--viewport-range-difference)
	);
	--font-calc: calc(
		(var(--unitless-min-font-size) * 1rem) + var(--font-size-difference) *
			var(--min-viewport-difference) / var(--viewport-range-difference)
	);
	--line-calc: -webkit-calc(
		var(--min-lineheight) + var(--lineheight-difference) *
			var(--min-viewport-difference) / var(--viewport-range-difference)
	);
	--line-calc: calc(
		var(--min-lineheight) + var(--lineheight-difference) *
			var(--min-viewport-difference) / var(--viewport-range-difference)
	);
	/* final values */
	--base-font-size: 0.875rem;
	--base-line-height: 1.313rem;
}
