/* sidebar css */

#side-bar {
    border: none;
    display: flex;
    flex-direction: column;
    background: rgb(var(--dark-gray-monochrome));
    box-shadow: inset -0.094em 0 0 rgb(var(--dark-accent)), 0 0.188em 0.375em rgba(0,0,0,0.16), 0 0.188em 0.375em rgba(0,0,0,0.23), 0 0 0.0625em 0 #888880 inset, 0 0 0.0625em 0 #888880, inset 0 -0.625em 0 0 var(--dark-accent);
    flex-basis: var(--sidebar-width-on-desktop);
    min-width: var(--sidebar-width-on-desktop);
    flex-shrink: 0;
    padding: 0 0 6rem 0;
    margin: 0 0 0 -1vw;
    font-variant: all-petite-caps;
    position: sticky;
    top: -1rem;
    max-height: calc(100vh - (3.9rem + var(--offset-from-page-top)));
    overflow: auto;
}

#side-bar::-webkit-scrollbar-track
{
  background:rgba(var(--white-monochrome),0.5);
}

#side-bar img {
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}

#side-bar > div:nth-child(3) {
    background-color: rgba(178, 248, 243, 0.25) !important;
}

#side-bar > div:nth-child(5) {
    background-color: rgba(var(--dark-accent), 1) !important;
    padding: 0.5rem 0;
}

#side-bar > div:nth-child(6) {
    background-color: rgba(204, 104, 104, 0.15) !important;
    padding: 1rem 0;
}

#side-bar > div:nth-child(7) {
    background-color: rgba(163, 204, 199, 0.25) !important;
}

#side-bar div.side-block:nth-child(7) > div:nth-child(1) > div:nth-child(1) img {
    filter: none;
    -webkit-filter: none;
}

#side-bar .side-block {
    border: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

#side-bar .side-area {
    padding: 0.625rem;
}

#side-bar .heading {
    color: rgb(var(--white-monochrome));
    box-shadow: inset 0 -0.0625rem 0 0 rgb(var(--red-monochrome));
    letter-spacing: 0.2rem;
    padding-right: 1rem;
    margin-top: 0.500rem;
    padding-bottom: 0.250rem;
    font-size: calc(var(--base-font-size) * 1.25);
    font-weight: 700;
    text-align: right;
    background: rgba(var(--dark-accent),0.35);
}

#side-bar div.menu-item {
    margin: 0;
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    /*color: transparent;*/
    font-size:0;
    height: 2rem;
    box-shadow: inset 0 -0.0625rem 0 0 rgb(var(--black-monochrome));
    flex-shrink: 2;
}

#side-bar div.collapsible-block {
    text-align: right;
}

#side-bar div.menu-item a {
    padding: 0 0.6em;
    margin: 0;
    color: rgb(var(--white-monochrome));
    font-size: calc(var(--base-font-size)*1.15);
    letter-spacing: 0.04em;
    background-color: rgba(var( --dark-accent),0);
    transition: background-color 80ms cubic-bezier(0.4, 0.0, 0.2, 1);
    line-height: 1.85rem;
    vertical-align: middle;
    display: block;
    height: 2rem;
}

/* SCP Series Specific */

#side-bar div.menu-item > a:nth-child(2){
    padding-left: calc(var(--base-font-size) * 0.75);
    flex-grow: 2;
    text-align: right;
}

#side-bar div.menu-item > a:last-child {
    padding-right: calc(var(--base-font-size) * 0.75);
    margin-right: 0.0625rem;
}

#side-bar div.menu-item a + a {
    border-left: 0.0625rem solid rgba(var(--black-monochrome),1);
    border-radius: 0.0625rem;
}

#side-bar div.menu-item a:hover
{
  background-color: rgba(var( --white-monochrome),0.15);
  text-decoration: none;
}


#side-bar div.menu-item img {
    display: none; 
}

/* Staff Sidebar Elements */

#side-bar div.menu-item.inactive a,
#side-bar div.collapsible-block-folded > a,
#side-bar a:visited {
    font-size: 1em;
    color: rgb(var(--white-monochrome));
    letter-spacing: 0.1em;
}

#side-bar div.collapsible-block-unfolded:not([style*="display: none;"]) > div.collapsible-block-unfolded-link > a {
    color: rgba(var(--white-monochrome),0.5);
}

#side-bar div.menu-item.inactive img {
    opacity: 0.25;
}

#side-bar div.menu-item .sub-text {
    font-size: 0.8em;
    color: rgb(var(--bright-accent));
}

#side-bar .collapsible-block-link {
    padding-right: 1rem;
    font-weight: 700;
}

#side-bar .collapsible-block-folded {
    background: none;
}

#side-bar .collapsible-block-unfolded-link {
    box-shadow: inset 0 -0.0625rem 0 0 rgb(var(--black-monochrome));
    padding-right: 1rem;
    padding-bottom: 0.25rem;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link {
    padding-top: 0.500rem;
    padding-bottom: 0.250rem;
    padding-right: 0;
    font-size: 1em;
    color: rgb(var(--white-monochrome));
    letter-spacing: 0.1em;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
    color: rgb(var(--dark-accent));
    text-decoration: none;
}

#side-bar div.collapsible-block-content > div.heading {
    margin-top: 0;
    padding-top: 0.15rem;
    background: rgba(var(--white-monochrome),0.15);
}

#side-bar ul {
    list-style-type: none;
    padding: 0 0.250rem;
}

#side-bar p {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    #side-bar {
        display: block;
        position: fixed;
        top: 0;
        left: -25rem;
        width: 17rem;
        height: 100%;
        background-color: #b88686;
        overflow-y: auto;
        z-index: 10;
        -webkit-transition: left .5s ease-in-out .1s;
        -moz-transition: left .5s ease-in-out .1s;
        -ms-transition: left .5s ease-in-out .1s;
        -o-transition: left .5s ease-in-out .1s;
        transition: left .5s ease-in-out .1s;
        padding: 1rem 1rem 0;
    }

    #side-bar:after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }

    #side-bar:target {
        display: block;
        left: 0;
        width: 75vw;
        box-shadow: inset 0 0 0 -0.0625rem rgb(var(--white-monochrome));
        z-index: 10;
        margin: 0;
    }

    #side-bar:target + #main-content {
        left: 0;
    }

    #side-bar:target .close-menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3) 0.0625rem 0.0625rem repeat;
        z-index: -1;
    }
}
