html {
	color: rgb(12, 12, 12);
	color: rgb(var(--swatch-text-dark));
	font-size: 1em;
	line-height: 1.5;
}

body {
	/* coloring */
	background-color: rgba(252, 252, 252, 1);
	background-color: rgba(var(--swatch-background), 1);
	color: rgb(12, 12, 12);
	color: rgb(var(--swatch-text-dark));

	/* font behavior */
	font-family: 'Lato', sans-serif;
	font-family: var(--body-font);
	font-size: 0.875rem;
	font-size: var(--base-font-size);
	-webkit-font-kerning: normal;
	        font-kerning: normal;
	font-variant-numeric: normal;
	-ms-font-feature-settings: "lnum", "kern", "liga", "clig", "alt";
	-webkit-font-feature-settings: "lnum", "kern", "liga", "clig", "calt";
	font-feature-settings: "lnum", "kern", "liga", "clig", "calt";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* line behavior */
	orphans: 2;
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
	word-break: normal;
}

/* HTML5 Media Items */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

img,
embed,
video,
object,
iframe,
table {
	max-width: 100%;
}

input,
textarea,
select,
button,
meter,
progress {
	font-family: 'Lato', sans-serif;
	font-family: var(--body-font);
}

/* User Input Items */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: auto;
	line-height: 1.5;
	padding: 0 1rem;
	min-height: 3rem;
	min-width: calc(100% - 2rem);
}

/* Standard Structure Elements */

pre * {
	font-family: "PT Mono", "Andale Mono", "Courier New", Courier, monospace;
	font-family: var(--mono-font);
	max-width: 90vw;
	white-space: pre-wrap;
}

sup {
	vertical-align: top;
	position: relative;
	top: -.5em;
}

hr {
	display: block;
	height: 0.063rem;
	border: 0;
	border-top: 0.063rem solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-family: var(--title-font);
}

h1 {
	color: rgb(12, 12, 12);
	color: rgb(var(--black-monochrome));
	font-weight: 700;
	margin: .7em 0 .6em;
	padding: 0 0 .25em;
}

h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0.063rem;
	margin: .5em 0 .4em;
	padding: 0;
}

ul {
	list-style: square;
}

/* Anchor Links */

a {
	color: rgb(180, 35, 35);
	color: rgb(var(--swatch-primary));
	text-decoration: none;
	background: transparent;
}

a.newpage {
	color: rgb(221, 102, 17);
	color: rgb(var(--newpage-color));
	text-decoration: none;
	background: transparent;
}

a:hover {
	text-decoration: underline;
	background-color: transparent;
}

a:visited {
	color: rgb(100, 3, 15);
	color: rgb(var(--swatch-primary-darkest));
}

/* Ruby Text */

ruby {
	display: inline-table;
	text-align: center;
	white-space: nowrap;
	line-height: 1;
	height: 1em;
	vertical-align: text-bottom;
}

rt {
	display: table-header-group;
	font-size: .6em;
	line-height: 1.1;
	text-align: center;
	white-space: nowrap;
}

/* Teletype */

tt {
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}

/* Chrome, Safari, Opera Scrollbar */

::-webkit-scrollbar {
	width: 0.5625rem;
	width: var(--scrollbar-width);
	height: 0.5625rem;
	height: var(--scrollbar-width);
	border: solid 0.063rem rgba(12, 12, 12, 0.1);
	border: solid 0.063rem rgba(var(--swatch-menubg-black-color), 0.1);
	border-radius: 0.031rem;
}

::-webkit-scrollbar-track {
	background: rgba(12, 12, 12, 0.1);
	background: rgba(var(--swatch-menubg-black-color), 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(170, 170, 170, 0.4);
	background: rgba(var(--swatch-menubg-medium-color), 0.4);
}